<{* ---------- BLOCK Center-Right *}>

<{if $xoops_showcblock==1}>

<{foreach item=block from=$xoops_crblocks}>

<div class="block-center-right">
	<h3>
		<{if $xoops_isadmin}>
		<a href="<{$xoops_url}>/modules/legacy/admin/index.php?action=BlockEdit&amp;bid=<{$block.id}>" class="admin"><{$block.title}></a>
		<{else}>
		<{$block.title}>
		<{/if}>
	</h3>
	<div><{$block.content}></div>
</div>

<{/foreach}>

<{/if}>

