

 <{ include file="$xoops_theme/component/callout_large.html" }>


 <div class="grid-container">


     <{ include file="$xoops_theme/component/blocks3col.html" }>


   <hr>


    <div class="grid-y grid-padding-x">
        <ul class="vertical medium-horizontal menu expanded text-center">
            <li><a href="#"><div class="stat">28</div><span>Websites</span></a></li>
            <li><a href="#"><div class="stat">43</div><span>Apps</span></a></li>
            <li><a href="#"><div class="stat">95</div><span>Ads</span></a></li>
            <li><a href="#"><div class="stat">59</div><span>Cakes</span></a></li>
            <li><a href="#"><div class="stat">18</div><span>Logos</span></a></li>
        </ul>
    </div>


     <hr>


     <{ include file="$xoops_theme/component/blocks4col.html" }>

 <hr>
 <h4>Row column</h4>
 <hr>

    <div class="row column">
      <ul class="menu">
        <li><a href="#">One</a></li>
        <li><a href="#">Two</a></li>
        <li><a href="#">Three</a></li>
        <li><a href="#">Four</a></li>
      </ul>
    </div>




 </div><!-- grid-container 1200 -->
