<div class="ui-dev-mode"><{$smarty.template}></div>


<h2><{$smarty.const._MD_A_BULLETIN_H2_GROUPPERMS}> : <{$topic_title}></h2>


<{* ////— ACTION-CONTROL —\\\\ *}>
<section layout="row center-justify" class="action-control">
    <div>
        <form name="selectcategory" action="<{$mod_url}>/admin/index.php" method="get">
            <input type="hidden" name="page" value="category_access">
            <label><{$smarty.const._MD_A_BULLETIN_LABEL_SELECTCATEGORY}></label>:
            <{$topicselbox}>
            <{*
            <label for="select_topic_id"><{$smarty.const._MD_A_BULLETIN_LABEL_SELECTCATEGORY}></label>:
            <select name="topic_id" id="select_topic_id">
                <{html_options options=$topic_options selected=$topic_id}>
            </select>
            *}>
            <input type="submit" value="<{$smarty.const._SUBMIT}>">
        </form>
    </div>
    <div class="control-view">
		<a class="button" href="<{$mod_url}>/admin/index.php?topic_id=<{$topic_id}>&amp;op=modTopic&mode=admin"><{$smarty.const._EDIT}></a>
        <a class="button" href="<{$mod_url}>/admin/index.php?op=topicsmanager"><{$smarty.const._AM_ADDMTOPIC}></a>
        <button class="help-admin button" type="button" data-id="4" data-module="<{$mydirname}>"
                data-help-article="#help-bulletin-category" title="<{$smarty.const._HELP}>">
            <b>?</b>
        </button>
    </div>
</section>


<form name="groupperms" action="<{$mod_url}>/admin/index.php?page=category_access&amp;topic_id=<{$topic_id}>" method="post">
	<{$gticket_hidden}>
	<table class="outer">
        <thead>
		<tr>
			<th>
				<{$smarty.const._MD_A_BULLETIN_TH_GROUPNAME}>
			</th>
			<th>
				<{$smarty.const._MD_A_BULLETIN_TH_CAN_READ}>
				<input type="checkbox" onclick="with(document.groupperms){for(i=0;i<length;i++){if(elements[i].type=='checkbox'&&elements[i].id.indexOf('gcol_1_')>=0){elements[i].checked=this.checked;}}}">
			</th>
			<th>
				<{$smarty.const._MD_A_BULLETIN_TH_CAN_POST}>
				<input type="checkbox" onclick="with(document.groupperms){for(i=0;i<length;i++){if(elements[i].type=='checkbox'&&elements[i].id.indexOf('gcol_2_')>=0){elements[i].checked=this.checked;}}}">
			</th>
			<th>
				<{$smarty.const._MD_A_BULLETIN_TH_CAN_EDIT}>
				<input type="checkbox" onclick="with(document.groupperms){for(i=0;i<length;i++){if(elements[i].type=='checkbox'&&elements[i].id.indexOf('gcol_3_')>=0){elements[i].checked=this.checked;}}}">
			</th>
			<th>
				<{$smarty.const._MD_A_BULLETIN_TH_CAN_DELETE}>
				<input type="checkbox" onclick="with(document.groupperms){for(i=0;i<length;i++){if(elements[i].type=='checkbox'&&elements[i].id.indexOf('gcol_4_')>=0){elements[i].checked=this.checked;}}}">
			</th>
			<th>
				<{$smarty.const._MD_A_BULLETIN_TH_POST_AUTO_APPROVED}>
				<input type="checkbox" onclick="with(document.groupperms){for(i=0;i<length;i++){if(elements[i].type=='checkbox'&&elements[i].id.indexOf('gcol_5_')>=0){elements[i].checked=this.checked;}}}">
			</th>
		</tr>
        </thead>
        <tbody>
		<{$group_trs}>
        </tbody>
        <tfoot>
        <tr>
            <td colspan="7">
            <input type="submit" name="group_update" value="<{$smarty.const._SUBMIT}>">
            </td>
        </tr>
        </tfoot>
	</table>

</form>


<!-- user form -->
<h2 class="head"><{$smarty.const._MD_A_BULLETIN_H2_USERPERMS}></h2>
<div class="tips"><{$smarty.const._MD_A_BULLETIN_NOTICE_ADDUSERS}></div>

<form name="userperms" action="<{$mod_url}>/admin/index.php?page=category_access&amp;topic_id=<{$topic_id}>" method="post">
	<{$gticket_hidden}>
	<table class="outer">
        <thead>
		<tr>
			<th><{$smarty.const._MD_A_BULLETIN_TH_UID}></th>
			<th><{$smarty.const._MD_A_BULLETIN_TH_UNAME}></th>
			<th><{$smarty.const._MD_A_BULLETIN_TH_CAN_READ}></th>
			<th>
				<{$smarty.const._MD_A_BULLETIN_TH_CAN_POST}>
				<input type="checkbox" onclick="with(document.userperms){for(i=0;i<length;i++){if(elements[i].type=='checkbox'&&(elements[i].id.indexOf('ucol_2_')>=0||elements[i].id.indexOf('ncol_2_')>=0)){elements[i].checked=this.checked;}}}">
			</th>
			<th>
				<{$smarty.const._MD_A_BULLETIN_TH_CAN_EDIT}>
				<input type="checkbox" onclick="with(document.userperms){for(i=0;i<length;i++){if(elements[i].type=='checkbox'&&(elements[i].id.indexOf('ucol_3_')>=0||elements[i].id.indexOf('ncol_3_')>=0)){elements[i].checked=this.checked;}}}">
			</th>
			<th>
				<{$smarty.const._MD_A_BULLETIN_TH_CAN_DELETE}>
				<input type="checkbox" onclick="with(document.userperms){for(i=0;i<length;i++){if(elements[i].type=='checkbox'&&(elements[i].id.indexOf('ucol_4_')>=0||elements[i].id.indexOf('ncol_4_')>=0)){elements[i].checked=this.checked;}}}">
			</th>
			<th>
				<{$smarty.const._MD_A_BULLETIN_TH_POST_AUTO_APPROVED}>
				<input type="checkbox" onclick="with(document.userperms){for(i=0;i<length;i++){if(elements[i].type=='checkbox'&&(elements[i].id.indexOf('ucol_5_')>=0||elements[i].id.indexOf('ncol_5_')>=0)){elements[i].checked=this.checked;}}}">
			</th>
		</tr>
        </thead>
        <tbody>
		<{$user_trs}>
		<{$newuser_trs}>
        </tbody>
        <tfoot>
        <tr>
            <td colspan="7">
                <input type="submit" name="user_update" value="<{$smarty.const._SUBMIT}>">
            </td>
        </tr>
        </tfoot>
	</table>

</form>
