<div class="ui-dev-mode"><{$smarty.template}></div>


<section layout="column my-4 sm-first" class="itemHead">

    <div layout="row center-justify p-2">
        <h3 class="itemTitle">
            <a href="<{$mydirurl}>/index.php?storytopic=<{$story.topicid}>" title="<{$story.topic}>"><{$story.topic}></a>
            &nbsp;:&nbsp;
            <{if $story.title_link}>
                <a href="<{$mydirurl}>/index.php?page=article&amp;storyid=<{$story.id}>" title="<{$story.title}>"><{$story.title}></a>
            <{else}>
                <{$story.title}>
            <{/if}>
        </h3>

        <{if $story.type == 0}>
        <a class="button" href="<{$mydirurl}>/index.php?page=submit&amp;storyid=<{$story.id}>" title="<{$smarty.const._MD_APPROVE}>">&#10003; <{$smarty.const._MD_APPROVE}></a>
        <{/if}>
    </div>

    <div layout="row center-justify p-2" class="activity">
        <div class="size-x1">
            <{if $story.uid}>
                <a href="<{$xoops_url}>/userinfo.php?uid=<{$story.uid}>" title="<{$smarty.const._PROFILE}>">
                <img src="<{$story.uname|xoops_user_avatarize}>" width="20px" height="20px" self="radius-circle mr-2" alt="<{$story.uname}>">
                    <{$smarty.const._MD_POSTEDBY}> <{$story.uname}>
                </a>
            <{else}>
                <{$story.uname|xoops_user_avatarize}>
                <{$story.uname}>
            <{/if}>
            <img class="svg date-time" src="<{$xoops_url}>/images/icons/date-time.svg" width="1em" height="1em" alt="date-time">
            <{$smarty.const._ON}> <span class="badge"><{$story.posttime}></span>
            <img class="svg view" src="<{$xoops_url}>/images/icons/view.svg" width="1em" height="1em" alt="view">
            <{$smarty.const._READS}> <span class="badge"><{$story.hits}></span>
        </div>
    </div>

</section>


<article layout="column p-2 my-6" class="itemBody">
    <{if $story.topic_url}>
    <div style="float:<{$story.align}>;padding:0 3px 0 3px;">
        <a href="<{$mydirurl}>/index.php?storytopic=<{$story.topicid}>" title="<{$story.topic}>">
            <img src="<{$story.topic_url}>" alt="<{$story.topic}>" style="hspace:'10'; vspace:'0';">
        </a>
    </div>
    <{/if}>
    <div self="size-x1 p-2" class="itemText"><{$story.text}></div>
</article>


<{* ----- ADMIN CONTROL ----- *}>

<section class="itemFoot" self="center-left ml-1">

    <{if $story.can_edit or $story.can_delete}>
        <span class="itemAdminLink">
        <{if $story.can_edit}>
        <a self="mr-2 center-left" class="button" href="<{$mydirurl}>/index.php?page=submit&amp;storyid=<{$story.id}>" title="<{$smarty.const._EDIT}>">
            <img class="svg edit" src="<{$xoops_url}>/images/icons/edit.svg" alt="edit"> <{$smarty.const._EDIT}></a>
        <{/if}>
        <{if $story.can_delete}>
        <a self="mx-2 center-left" class="button" href="<{$mydirurl}>/index.php?page=submit&amp;op=delete&amp;storyid=<{$story.id}>" title="<{$smarty.const._DELETE}>">
            <img class="svg delete" src="<{$xoops_url}>/images/icons/delete.svg" alt="delete"> <{$smarty.const._DELETE}></a>
        <{/if}>
        </span>
    <{/if}>

    <span class="itemPermaLink">
    <{if $mod_config.comment_dirname != '' && $mod_config.comment_forum_id > 0}>

	    <{d3comment class="BulletinD3commentStory" mydirname=$mydirname mode="count" var="comments_count"}>

	    <{if $comments_count}>
		<a href="<{$mydirurl}>/index.php?page=article&amp;storyid=<{$story.id}>" title="<{$smarty.const._COMMENTS}>"><{$comments_count|string_format:$smarty.const._MD_NUMCOMMENTS}></a>
	    <{else}>
		<a href="<{$mydirurl}>/index.php?page=article&amp;storyid=<{$story.id}>" title="<{$smarty.const._COMMENTS}>"><{$smarty.const._MD_COMMENTS}></a>
	    <{/if}>

    <{else}>

	<a class="button" href="<{$mydirurl}>/index.php?page=article&amp;storyid=<{$story.id}>" title="<{$smarty.const._COMMENTS}>">
        <img class="svg" src="<{$xoops_url}>/images/icons/comments.svg" alt="comments"> <{$story.comentstotal}>
    </a>

    <{/if}>
    </span>

    <{if $disp_print_icon or $disp_tell_icon}>

        <{if $disp_print_icon}>
        <a class="button" href="<{$story.print_link}>" title="<{$smarty.const._MD_PRINTERFRIENDLY}>">
            <img class="svg" src="<{$xoops_url}>/images/icons/print.svg" alt="print"> <{$smarty.const._MD_PRINTERFRIENDLY}>
        </a>
        <{/if}>

        <{if $disp_tell_icon}>
        <a class="button" href="<{$story.mail_link}>" target="_top" title="<{$smarty.const._MD_SENDSTORY}>">
            <img class="svg" src="<{$xoops_url}>/images/icons/share.svg" alt="share"> <{$smarty.const._MD_SENDSTORY}>
        </a>
        <{/if}>

    <{/if}>

    <{if $story.readmore}>
    <a self="ml-2" class="button" href="<{$mydirurl}>/index.php?page=article&amp;storyid=<{$story.id}>" title="<{$smarty.const._MD_READMORE}> - <{$story.bytes}>">
        <{$smarty.const._MD_READMORE}></a>
    <{/if}>

</section>


<{*
<div id="iine"><{iine_button dirname=bulletin id=$story.id}></div>
*}>
