<div class="ui-dev-mode"><{$smarty.template}></div>

<{* ----- BREADCRUMBS ----- *}>
<ul class="breadcrumb" aria-label="breadcrumb">
    <li title="<{$smarty.const._MB_LEGACY_HOME}> : <{$smarty.const._YOURHOME}>">
        <a href="<{$xoops_url}>/"><img class="svg home" src="<{$xoops_url}>/images/icons/home.svg" width="1em" height="1em" alt="home"></a>
    </li>
    <{if !empty($xoops_breadcrumbs)}>
    <{foreach name=breadcrumbs item=item from=$xoops_breadcrumbs}>
        <{if $item.url}>
            <li><a href="<{$item.url}>"><{$item.name|xoops_escape}></a></li>
        <{else}>
            <li aria-current="page"><{$item.name|xoops_escape}>
        <{/if}>
    <{/foreach}>
    <{/if}>
</ul>


<{if $error}>
    <div class="errorMsg"><{$error}></div>
<{/if}>


<{if $preview.title}>
    <h2><{$preview.title}></h2>
    <div><{$preview.hometext}></div>
<{/if}>


<h2><{$smarty.const._MD_SUBMITNEWS}></h2>

<form name="storyform" id="storyform" action="?page=submit" method="post"
      onsubmit="return xoopsFormValidate_storyform();">

    <{$gticket}>
    <{if $storyid}><input type="hidden" name="storyid" value="<{$storyid}>"><{/if}>
    <{if $return}><input type="hidden" name="return" value="<{$return}>"><{/if}>

    <table class="outer">
        <tbody>
        <tr>
            <td><{$smarty.const._MD_POSTEDBY}></td>
            <td><{$poster}></td>
        </tr>
        <tr>
            <td><{$smarty.const._MD_TITLE}></td>
            <td><input type="text" name="title" value="<{$title}>" size="50" maxlength="80"/></td>
        </tr>
        <tr>
            <td><{$smarty.const._MD_TOPIC}></td>
            <td><{$topic_selbox}></td>
        </tr>
        <tr>
            <td><{$smarty.const._MD_TOPIC_IMAGE}></td>
            <td>
                <select name="topicimg">
                    <option value="1" <{if $topicimg==1}> selected="selected"<{/if}>><{$smarty.const._MD_TOPIC_RIGHT}></option>
                    <option value="2" <{if $topicimg==2}> selected="selected"<{/if}>><{$smarty.const._MD_TOPIC_LEFT}></option>
                    <option value="0" <{if $topicimg==0}> selected="selected"<{/if}>><{$smarty.const._MD_TOPIC_DISABLE}></option>
                </select>
            </td>
        </tr>
        <tr>
            <td><{$smarty.const._MD_THESCOOP}></td>
            <td>
                <{if $use_fckeditor}>
                <label><input type="checkbox" name="using_fck" checked="checked"
                              onclick="var td=xoopsGetElementById('area_dhtmltarea');var tf=xoopsGetElementById('area_fckxoops');if(this.checked){tf.style.display='block';td.style.display='none';}else{td.style.display='block';tf.style.display='none';};"/><{$smarty.const._MD_FCKXOOPS_ONOFF}></label>
                <{/if}>
                <div id="area_dhtmltarea">
                    <{if $smarty.const.LEGACY_BASE_VERSION|version_compare:'2.2':'>=' && (!$common_fck_installed ||
                    !$use_fckeditor)}>
                    <{if $use_html && ($html || !$text)}>
                    <{assign var=editor value=html}>
                    <{elseif $xcode}>
                    <{assign var=editor value=bbcode}>
                    <{else}>
                    <{assign var=editor value=none}>
                    <{/if}>
                    <{xoops_dhtmltarea class=$editor name=text cols=$bulletin_post_tray_col rows=$bulletin_post_tray_row
                    value=$text|htmlspecialchars_decode:$smarty.const.ENT_QUOTES editor=$editor}>
                    <{if !$text && $editor == 'html' && $legacy_module != 'legacy'}>
                    <{assign var=html value=1}>
                    <{assign var=br value=0}>
                    <{assign var=xcode value=0}>
                    <{/if}>
                    <{else}>
                    <label><input type="checkbox"
                                  onclick="var pre=xoopsGetElementById('text_bbcode_buttons_pre');var post=xoopsGetElementById('text_bbcode_buttons_post');if(this.checked){pre.style.display='block';post.style.display='block'}else{pre.style.display='none';post.style.display='none'};"/><{$smarty.const._MD_INPUTHELPER}></label>
                    <br/>
                    <{xoopsdhtmltarea name="text" cols=$bulletin_post_tray_col rows=$bulletin_post_tray_row value=$text pre_style="display:none;" post_style="display:none;"}>
                    <{/if}>
                </div>
                <{if $use_fckeditor && $common_fck_installed}>
                <div id="area_fckxoops">
                    <script type="text/javascript" src="<{$xoops_url}>/common/fckeditor/fckeditor.js"></script>
                    <script type="text/javascript">
                        function fckeditor_exec() {
                            var oFCKeditor = new FCKeditor("text_fck", "100%", "500", "Default");
                            oFCKeditor.BasePath = "<{$xoops_url}>/common/fckeditor/";
                            oFCKeditor.ReplaceTextarea();
                        }
                    </script>
                    <textarea id="text_fck" name="text_fck"><{$text}></textarea>
                    <script>
                        fckeditor_exec();
                        xoopsGetElementById('area_dhtmltarea').style.display = 'none';
                    </script>
                </div>
                <{/if}>
                <div><{$smarty.const._MULTIPAGE}></div>
            </td>
        </tr>

        <{if $can_use_date}>
        <tr>
            <td class="head"><{$smarty.const._MD_PUBLISHED}></td>
            <td class="even">
                <p><label><input type="checkbox" value="1" name="autodate" <{if $autodate}>checked="checked"<{/if}>> <{$smarty.const._MD_SETDATETIME}></label>&nbsp;
                <small><{$smarty.const._MD_SETDATETIME_DESC}></small>
                </p>
                <p><{$post_date_selector}></p>
            </td>
        </tr>
        <tr>
            <td><{$smarty.const._MD_EXPIRED}></td>
            <td>
                <p><label><input type="checkbox" value="1" name="autoexpdate" <{if $autoexpdate}>checked="checked"<{/if}>> <{$smarty.const._MD_SETEXPDATETIME}></label>&nbsp;
                <small><{$smarty.const._MD_SETEXPDATETIME_DESC}></small>
                </p>
                <p><{$expire_date_selector}></p>
            </td>
        </tr>
        <{/if}>

        <{if $use_relation}>
        <tr>
            <td class="head"><{$smarty.const._MD_RELATION}></td>
            <td>
                <div id="relation">
                    <{foreach item=i from=$relations}>
                    <input type="checkbox" name="storyidR[]" value="<{$i.linkedid}>">
                    <input type="hidden" name="titleR[]" value="<{$i.title}>">
                    <input type="hidden" name="dirnameR[]" value="<{$i.dirname}>">
                    <input type="hidden" name="storyidRH[]" value="<{$i.linkedid}>">
                    <{$i.title}><br>
                    <{/foreach}>
                </div>

                <input type="button" value="<{$smarty.const._MD_ADD_RELATION}>" name="opensub"
                       onclick="window.open('index.php?page=search','sub','width=400,height=500');">

                <input class="button-delete" type="button" value="<{$smarty.const._DELETE}>" name="updatevar"
                       onclick="updateRelations('storyform', false)">
            </td>
        </tr>
        <{/if}>

        <tr>
            <td class="head"><{$smarty.const._OPTIONS}></td>
            <td>
                <{if $use_notify}>
                <label><input type="checkbox" value="1" name="notifypub" <{if $notifypub}>checked="checked"<{/if}>>
                    <{$smarty.const._MD_NOTIFYPUBLISH}></label><br>
                <{/if}>
                <{if $use_html}>
                <label><input type="checkbox" value="1" name="html" <{if $html}>checked="checked"<{/if}>>
                    <{$smarty.const._MD_USE_HTML}></label><br>
                <{/if}>
                <label><input type="checkbox" value="1" name="br" <{if $br}>checked="checked"<{/if}>>
                    <{$smarty.const._MD_USE_BR}></label><br>
                <label><input type="checkbox" value="1" name="smiley" <{if $smiley}>checked="checked"<{/if}>>
                    <{$smarty.const._MD_USE_SMILEY}></label><br>
                <label><input type="checkbox" value="1" name="xcode" <{if $xcode}>checked="checked"<{/if}>>
                    <{$smarty.const._MD_USE_XCODE}></label><br>
                <label><input type="checkbox" value="1" name="block" <{if $block}>checked="checked"<{/if}>>
                    <{$smarty.const._MD_DISP_BLOCK}></label><br>
                <label><input type="checkbox" value="1" name="ihome" <{if $ihome}>checked="checked"<{/if}>>
                    <{$smarty.const._MD_PUBINHOME}></label><br>
                <{if $use_approve}>
                <label><input type="checkbox" value="1" name="approve" <{if $approve}>checked="checked"<{/if}>>
                    <{$smarty.const._MD_APPROVE}></label><br>
                <{/if}>
            </td>
        </tr>
        </tbody>

        <tfoot>
        <tr>
            <td>&nbsp;</td>
            <td>
                <input class="button" name="preview" id="preview" value="<{$smarty.const._PREVIEW}>" type="submit">&nbsp;
                <input class="button" name="post" id="post" value="<{$smarty.const._MD_GO}>" type="submit">
            </td>
        </tr>
        </tfoot>
    </table>
</form>


<script type="text/javascript">
    function xoopsFormValidate_storyform() {
        myform = window.document.storyform;
        if (myform.title.value == "") {
            window.alert("<{'{0}'|str_replace:$smarty.const._MD_TITLE:$smarty.const._MD_ERROR_REQUIRED}>");
            myform.title.focus();
            return false;
        }
        if (myform.topicid.options.item(myform.topicid.selectedIndex).value == 0) {
            window.alert("<{'{0}'|str_replace:$smarty.const._MD_TOPIC:$smarty.const._MD_ERROR_REQUIRED}>");
            myform.topicid.focus();
            return false;
        }
        return true;
    }
</script>
