<div class="adminnavi" aria-label="breadcrumb">
    <a href="<{$xoops_url}>/admin.php">Dashboard</a> &raquo;&raquo;
    <a href="./index.php"><{$smarty.const._MI_LEGACY_NAME}></a>
&raquo;&raquo; <span class="adminnaviTitle"><a href="./index.php?action=BlockList" aria-current="page"><{$smarty.const._MI_LEGACY_MENU_BLOCKLIST}></a></span>
</div>


<{ include file="./components/block-overview.html" }>

    <h2 class="admintitle"><{$smarty.const._MI_LEGACY_MENU_BLOCKLIST}></h2>

    <div class="ui-dev-mode"><{$smarty.template}></div>

    <div class="tips">
        <p><{$smarty.const._AD_LEGACY_TIPS_ADD_CUSTOM_BLOCK}> <{$smarty.const._AD_LEGACY_TIPS_BLOCK}></p>
        <div class="ui-flex-row">
            <div class="ui-flex-column-2">
        <p><input class="switch" type="checkbox" id="block-search" onclick="slideToggle('.block-search', this)" value="0">
            <label for="block-search"> Display block search</label>
         <input class="switch" type="checkbox" id="block-filter" onclick="slideToggle('.block-filter', this)" value="0">
            <label for="block-filter"> Display block filter</label></p>
            </div>
            <div class="ui-flex-column">
                <p><a class="ui-btn ui-btn-small" href="index.php?action=BlockInstallList"><{$smarty.const._AD_LEGACY_LANG_BLOCK_INSTALL}></a>
                    <a class="ui-btn ui-btn-small" href="index.php?action=CustomBlockEdit"><{$smarty.const._AD_LEGACY_LANG_ADD_CUSTOM_BLOCK}></a></p></div>
        </div>
    </div>

    <{if $actionForm->hasError()}>
    <div class="error">
    <ul>
    <{foreach item=message from=$actionForm->getErrorMessages()}>
        <li><{$message|xoops_escape}></li>
    <{/foreach}>
    </ul>
    </div>
    <{/if}>

<{*  display block search *}>
<div class="block-search" style="display: none">
    <{ include file="./components/block-search.html" }>
</div>

<{*  display block filer *}>
<div class="block-filter" style="display: none">
    <{ include file="./components/block-filter.html" }>
</div>

    <form id="blockform" name="blockform" method="post" action="./index.php?action=BlockList">
    <{xoops_token form=$actionForm}>

    <{* ---------- ---------- ---------- ---------- ---------- UI-GRID-BLOCKS *}>
    <div class="ui-grid-blocks">


        <{foreach item=obj from=$objects}>

        <{ include file="./components/block-card.html" }>

        <{/foreach}>


    </div><{* ui-grid-blocks *}>

    <div class="ui-card-full foot">
    <input type="submit" value="<{$smarty.const._SUBMIT}>" class="button-submit">
    </div>

    </form>

<{ include file="./components/pagenavi.html" }>
