<div class="adminnavi" aria-label="breadcrumb">
  <a href="./index.php"><{$smarty.const._MI_LEGACY_NAME}></a>
  &raquo;&raquo; <a href="./index.php?action=ModuleList"><{$smarty.const._MI_LEGACY_MENU_MODULELIST}></a>
  &raquo;&raquo; <span class="adminnaviTitle" aria-current="page"><a href="./index.php?action=InstallList"><{$smarty.const._AD_LEGACY_LANG_MODINSTALL}></a></span>
</div>



<div class="ui-card-full">
<div class="ui-dev-mode"><{$smarty.template}></div>


<h2 class="admintitle"><{$smarty.const._AD_LEGACY_LANG_MODINSTALL}></h2>

<div class="tips"><{$smarty.const._AD_LEGACY_LANG_MODINSTALL_LIST_ADVICE}></div>

<table class="outer">

<thead>
  <tr>
    <th><{$smarty.const._AD_LEGACY_LANG_MOD_NAME}></th>
    <th><{$smarty.const._AD_LEGACY_LANG_VERSION}></th>
    <th><{$smarty.const._AD_LEGACY_LANG_CONTROL}></th>
	</tr>
</thead>

<tbody>
  <{foreach item=module from=$moduleObjects}>
    <tr class="<{cycle values='odd,even'}>">
      <td class="ui-card-block-image">
        <img src="<{$xoops_url}>/modules/<{$module->getShow('dirname')}>/<{$module->modinfo.image}>" alt="<{$module->getShow('name','e')}>" title="<{$module->getShow('name','e')}>" class="svg">
        <div class="legacy_list_imagetitle"><{$module->getShow('name')}></div>
      </td>
      <td class="legacy_list_order"><{$module->getRenderedVersion()}></td>
      <td class="legacy_list_control">
        <a href="index.php?action=ModuleInstall&amp;dirname=<{$module->getShow('dirname')}>" title="<{$smarty.const._AD_LEGACY_LANG_INSTALL}>">
          <img src="<{"icons/icon-package.svg"|theme}>" class="svg" aria-label="<{$smarty.const._AD_LEGACY_LANG_INSTALL}>">
        </a>
        <a href="index.php?action=ModuleInfo&amp;dirname=<{$module->getShow('dirname')}>" title="<{$smarty.const._AD_LEGACY_LANG_INFORMATION}>" class="blue">
          <img src="<{"icons/icon-info.svg"|theme}>" class="svg" aria-label="<{$smarty.const._AD_LEGACY_LANG_INFORMATION}>">
        </a>
      </td>
    </tr>
	<{/foreach}>
</tbody>

</table>

</div>
