<div class="adminnavi" aria-label="breadcrumb">
  <a href="<{$xoops_url}>/admin.php"><{$smarty.const._MI_LEGACY_NAME}></a>
  &raquo;&raquo; <span class="adminnaviTitle" aria-current="page"><{$smarty.const._CPHOME}></span>
</div>

<div class="ui-dev-mode"><{$smarty.template}></div>

<div id="ui-style-guide">
<{ include file="./components/ui-guide.html" }>
</div>
<hr>
<div id="ui-component">Select UI Component to load.</div>
<script>
    $(document).ready(function(){
        $("#ui-style-guide").on('click', 'a', function() {
            var URL = $(this).attr('href');
            var GUIDE = '<{$xoops_url}>/modules/legacy/admin/templates/components/';
            $('#ui-component').load(GUIDE + URL);
            return false;
        });
    });
</script>
<hr>
