<div class="adminnavi" aria-label="breadcrumb">
  <a href="<{$xoops_url}>/admin.php"><{$smarty.const._MI_LEGACY_NAME}></a>
  &raquo;&raquo; <span class="adminnaviTitle" aria-current="page"><{$smarty.const._CPHOME}></span>
</div>

<div class="ui-dev-mode"><{$smarty.template}></div>


<div class="ui-tab-wrap">

	<{* Active ui-Tab on page load with attribute checked *}>
	<input type="radio" id="ui-tab1" name="ui-tabGroup1" class="ui-tab" checked>
	<label for="ui-tab1">Overview</label>

	<input type="radio" id="ui-tab2" name="ui-tabGroup1" class="ui-tab">
	<label for="ui-tab2">Features</label>

	<input type="radio" id="ui-tab3" name="ui-tabGroup1" class="ui-tab">
	<label for="ui-tab3">Smarty</label>

	<input type="radio" id="ui-tab4" name="ui-tabGroup1" class="ui-tab">
	<label for="ui-tab4">Usage</label>

	<input type="radio" id="ui-tab5" name="ui-tabGroup1" class="ui-tab">
	<label for="ui-tab5">Development</label>

	<{* ui-Tab Overview *}>
	<div class="ui-tab-content">

		<h3>Overview</h3>
		<p>This module aims to provide a quick access to most common tasks of the application platform.</p>
		<p>Briefly, you have different smarty variables for the front-end and back-end. These terms refer to the separation of concerns between the presentation layer to the client side or the web design in the web industry, and Back-end refers to the server side or the site management.
			<div class="tips">
				<{if $title}>
					<h4 class="admintitle"><b><{$title}></b></h4>
				<{/if}>

				<{if is_array($messages)}>
					<{foreach item=msg from=$messages}>
						<{$msg}><br/>
					<{/foreach}>
				<{else}>
					<{$messages}>
				<{/if}>
			</div>
	</div>

	<{* ui-Tab Features *}>
	<div class="ui-tab-content">

		<h3>Features</h3>

		<p>creation of custom blocks (HTML, PHP and BBCode), modules block management, advanced templates design, custommization of language translations and localization.</p>
		<hr>
		<p>
			<a href ="#help-custom-block">Custom Blocks</a>
			<a href ="#help-module-block" class="ui-btn">Modules Blocks</a>
			<a href ="#help-templates" class="ui-btn">Templates</a>
			<a href ="#help-advanced" class="ui-btn">Advanced Templates</a>
			<a href ="#help-language" class="ui-btn">Language</a>
		</p>
		<div class="ui-flex-row">

			<div class="ui-flex-column">
				<ul>
					<li><a href="modules/legacy/admin/index.php?action=Help&dirname=legacy">legacy</a><br>This base module provides compatibility between XCL and XOOPS Cube Legacy. You can manage modules, blocks, comments, images, preferences and general settings.
					<li><a href="modules/legacy/admin/index.php?action=Help&dirname=legacyRender">render</a><br>This XCL rendering engine (renderer) uses Smarty Template Engine to render template files and generate valid HTML. You can manage templates, banner and htacess settings.
					<li><a href="modules/legacy/admin/index.php?action=Help&dirname=user">User Group</a><br>This authentication module provides user management and group-based permissions system. You can manage users, groups, avatars, user's rank and mailjob (mailing).
					<li><a href="modules/legacy/admin/index.php?action=Help&dirname=profile">profile</a>The Profile editor module provides features to create and manage custom fields.
					<li><a href="modules/legacy/admin/index.php?action=Help&dirname=stdCache">cache</a>This module manages the Standard Cache Policy of XCL Web Application Platform.
					<li><a href="modules/legacy/admin/index.php?action=Help&dirname=protector">protector</a>This module protects your application platform from various attacks like DoS, SQL Injection, and contamination of global variables.
					<li><a href="modules/legacy/admin/index.php?action=Help&dirname=altsys">altsys</a>This module runs as a library to provide quickly and effectively management of common tasks. You can create and manage custom blocks, templates, localization and translation.
					<li><a href="modules/legacy/admin/index.php?action=Help&dirname=ckeditor4">ckeditor</a>CKEditor Wysiwig Editor for XCL. Full version with plugins for BBCode and XelFinder - File Manager.
					<li><a href="modules/legacy/admin/index.php?action=Help&dirname=d3forum">forum</a>
					<li><a href="modules/legacy/admin/index.php?action=Help&dirname=xelfinder">xelfinder</a>
					<li><a href="modules/legacy/admin/index.php?action=Help&dirname=xupdate">xupdate</a><br>X-Update Manager is a user-friendly interface to deploy and manage the core system, modules, themes and preloads (plugin extension). You can add, update, disable and uninstall from a web interface to customize your web application platform.
					<li><a href="modules/legacy/admin/index.php?action=Help&dirname=pico">pico</a>
				</ul>
			</div>
			<hr>
			<div class="ui-flex-column">
				<div class="ui-card-small">Getting Started</div>
				<p>The topics in this section provide getting started information about the modules features and concepts
					used by the Web Application Platform administrator.</p>
				<div class="ui-card-small">Blocks with Components</div>
				<p>This section features samples to build a front-end layout with blocks including HTML and CSS samples.</p>
				<div class="ui-card-small">Theme Design</div>
				<p>Refer to the section of Smarty Template engine for PHP.</p>
			</div>
		</div>

	</div>

	<{* ui-Tab Smarty *}>
	<div class="ui-tab-content">

		<h3>Smarty</h3>
		<p>These smarty variables can be used in the Admin Theme. A theme is a collection of single template files (HTML, CSS, JS, Smarty).</p>
		<p>XCL uses custom left and right delimiters <code>< { } ></code> (without spaces). Every module can have its own templates and smarty variables. Briefly, you have different smarty variables for the front-end and back-end.</p>
		<p>You can also use <code>< {$smarty.const.NAME} ></code> to access PHP constants. And use <a href="https://www.smarty.net/docs/en/language.function.assign.tpl" target="_blank"><code>{assign}</code></a> for assigning template variables during the execution of a template.
			The <a href="https://www.smarty.net/docs/en/language.function.assign.tpl" target="_blank">scope</a> of the assigned variable can be : 'parent', 'root' or 'global'. Assignment of variables in-template is essentially placing application logic into the presentation that may be better handled in PHP. Use at your own discretion.</p>

		<table class="outer">
			<thead>
				<th>< { $Smarty } ></th>
				<th>Output</th>
			</thead>
			<tbody>
				<tr>
					<td>$smarty.const._CPHOME</td>
					<td><{$smarty.const._CPHOME}></td>
				</tr>
				<tr>
					<td>$legacy_sitename</td>
					<td><{$legacy_sitename|xoops_escape}></td>
				</tr>
				<tr>
					<td>$legacy_pagetitle</td>
					<td><{$legacy_pagetitle}></td>
				</tr>
				<tr>
					<td>$legacy_slogan</td>
					<td><{$legacy_slogan}></td>
				</tr>
				<tr>
					<td>$xoops_url</td>
					<td><{$xoops_url}></td>
				</tr>
				<tr>
					<td>$xoops_rootpath</td>
					<td><{$xoops_rootpath}></td>
				</tr>
				<tr>
					<td>$xoops_langcode</td>
					<td><{$xoops_langcode}></td>
				</tr>
				<tr>
					<td>$xoops_charset</td>
					<td><{$xoops_charset}></td>
				</tr>
				<tr>
					<td>$xoops_version</td>
					<td><{$xoops_version}></td>
				</tr>
				<tr>
					<td>$xoops_upload_url</td>
					<td><{$xoops_upload_url}></td>
				</tr>
				<tr>
					<td>$xoops_modulename</td>
					<td><{$xoops_modulename}></td>
				</tr>
				<tr>
					<td>$xoops_dirname</td>
					<td><{$xoops_dirname}></td>
				</tr>
				<tr>
					<td>$xoops_isadmin</td>
					<td><{$xoops_isadmin}></td>
				</tr>
				<tr>
					<td>$uid</td>
					<td><{$uid}></td>
				</tr>
				<tr>
					<td>$uid|xoops_user:"uname"</td>
					<td><{$uid|xoops_user:"uname"}></td>
				</tr>
				<tr>
					<td>$uid|xoops_user:"name"</td>
					<td><{$uid|xoops_user:"name"}></td>
				</tr>
				<tr>
					<td>$uid|xoops_user:"email"</td>
					<td><{$uid|xoops_user:"email"}></td>
				</tr>
				<tr>
					<td>$uid|xoops_user:"last_login"</td>
					<td><{$uid|xoops_user:"last_login"}></td>
				</tr>
			</tbody>
			</table>
			<p>Learn more: <a href="https://www.smarty.net/" target="_blank">Smarty Template Engine</a></p>
	</div>

	<{* ui-Tab Usage *}>
	<div class="ui-tab-content">

		<h3>Usage</h3>

		<p>Praesent nonummy mi in odio. Nullam accumsan lorem in dui. Vestibulum turpis sem, aliquet eget, lobortis pellentesque, rutrum eu, nisl. Nullam accumsan lorem in dui. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.</p>
	</div>

	<{* ui-Tab Development *}>
	<div class="ui-tab-content">
		<h3>Development</h3>
		<p>Praesent nonummy mi in odio. Nullam accumsan lorem in dui. Vestibulum turpis sem, aliquet eget, lobortis pellentesque, rutrum eu, nisl. Nullam accumsan lorem in dui. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.</p>
	</div>

</div><{* /UI-Tabs *}>


<hr>

<h2>Theme Components</h2>

<div class="ui-card-full">
<ul>
	<li>Dashboard
	<li>Typography
	<li>Widgets
	<li>Tables
	<li>Normal Tables
	<li>Data Tables
	<li>Forms
	<li>User Interface
	<li>Javascript Components
	<li>Charts and Maps
	<li>Photo Gallery
	<li>Calendar
	<li>Sample Pages
</ul>
</div>

<hr>
