<{ include file="./components/module-overview.html" }>

<div class="adminnavi" aria-label="breadcrumb">
  <a href="./index.php"><{$smarty.const._MI_LEGACY_NAME}></a>
  &raquo;&raquo; <span class="adminnaviTitle" aria-current="page"><a href="./index.php?action=ModuleList"><{$smarty.const._MI_LEGACY_MENU_MODULELIST}></a></span>
</div>


<div class="ui-card-full">

  <div class="ui-dev-mode"><{$smarty.template}></div>


<h2 class="admintitle"><{$smarty.const._MI_LEGACY_MENU_MODULELIST}></h2>

<div class="tips">
<{$smarty.const._AD_LEGACY_TIPS_MOD}>
</div>


<{if $actionForm->hasError()}>
<div class="error">
  <ul>
    <{foreach item=message from=$actionForm->getErrorMessages()}>
      <li><{$message|xoops_escape}></li>
    <{/foreach}>
  </ul>
</div>
<{/if}>
</div><{*  /ui-card-full *}>


<{ include file="./components/module-filter.html" }>




<{* ---------- ---------- ---------- ---------- ---------- UI-GRID-BLOCKS *}>
<div class="ui-grid-blocks">


<{foreach item=module from=$moduleObjects}>

<{ include file="./components/module-card.html" }>

<{/foreach}>

</div><{* /ui-grid-blocks *}>

  <div class="foot">
    <input type="submit" value="<{$smarty.const._AD_LEGACY_LANG_UPDATE}>" class="formButton">
  </div>

</form>
