<div class="adminnavi" aria-label="breadcrumb">
  <a href="./index.php"><{$smarty.const._MI_LEGACY_NAME}></a>
  &raquo;&raquo; <span class="adminnaviTitle" aria-current="page"><{$smarty.const._MI_LEGACY_MENU_PREFERENCE}></span>
</div>


<h2 class="admintitle"><{$smarty.const._MI_LEGACY_MENU_PREFERENCE}></h2>

<div class="ui-dev-mode"><{$smarty.template}></div>

<table class="outer">
  <tr>
    <th><{$smarty.const._AD_LEGACY_LANG_CONFCAT_ID}></th>
    <th><{$smarty.const._AD_LEGACY_LANG_CONFCAT_NAME}></th>
    <th><{$smarty.const._AD_LEGACY_LANG_CONTROL}></th>
  </tr>
  <{foreach item=obj from=$objects}>
    <tr class="<{cycle values='odd,even'}>">
      <td class="legacy_list_id"><{$obj->getVar('confcat_id')}></td>
      <td class="legacy_list_title"><{$obj->getName()|xoops_escape}></td>
      <td class="legacy_list_control">
        <a href="./index.php?action=PreferenceEdit&amp;confcat_id=<{$obj->getVar('confcat_id')}>" title="<{$smarty.const._EDIT}>">
          <img src="<{"icons/icon-edit.svg"|theme}>" class="svg" aria-label="<{$obj->getName()|xoops_escape}> - <{$smarty.const._EDIT}>">
        </a>
      </td>
    </tr>
  <{/foreach}>

  <!-- 2008-12-7 Gigamaster, Test Accessibility-->
  <tfoot>
  <tr class="odd">
  <td class="legacy_list_id">-</td>
  <td class="legacy_list_title">User</td>
      <td class="legacy_list_control">
        <a href="./index.php?action=PreferenceEdit&confmod_id=4" title="<{$smarty.const._EDIT}>">
          <img src="<{"icons/icon-edit.svg"|theme}>" class="svg" aria-label="Users - <{$smarty.const._EDIT}>">
        </a>
      </td>
      </tr>
  <tr class="even">
  <td class="legacy_list_id">-</td>
  <td class="legacy_list_title">Meta Keywords</td>
      <td class="legacy_list_control">
        <a href="./index.php?action=PreferenceEdit&confmod_id=3" title="<{$smarty.const._EDIT}>">
          <img src="<{"icons/icon-edit.svg"|theme}>" class="svg" aria-label="Meta Keywords - <{$smarty.const._EDIT}>">
        </a>
      </td>
      </tr>
    </tfoot>
</table>
