<div class="adminnavi">
  <a href="./index.php"><{$smarty.const._MI_USER_NAME}></a>
  &raquo;&raquo; <span class="adminnaviTitle"><a href="./index.php?action=GroupList"><{$smarty.const._AD_USER_LANG_GROUP_LIST}></a></span>
</div>

<h3 class="admintitle"><{$smarty.const._AD_USER_LANG_GROUP_LIST}></h3>


<{* ////— ACTION-CONTROL —\\\\ *}>
<section layout="row center-justify" class="action-control">

  <div>
  <a class="button"  href="index.php?action=GroupEdit&amp;type=xoonips"><{"`$constpref`_USER_LANG_GROUP_NEW"|constant}></a>
  <a class="button"  href="index.php?action=GroupEdit"><{$smarty.const._AD_USER_LANG_GROUP_NEW}></a>
  </div>

  <div class="control-view">
    <button id="list" class="button" data-id="1" type="button" title="View List">
      <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24">
        <path d="M9 5v4h12V5M9 19h12v-4H9m0-1h12v-4H9M4 9h4V5H4m0 14h4v-4H4m0-1h4v-4H4v4z" fill="currentColor"></path></svg>
    </button>

    <button id="grid" class="button" data-id="2" type="button" title="View Grid">
      <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24">
        <path d="M16 5v6h5V5m-11 6h5V5h-5m6 13h5v-6h-5m-6 6h5v-6h-5m-6 6h5v-6H4m0-1h5V5H4v6z" fill="currentColor"></path></svg>
    </button>

    <button id="filter" class="button" type="button" data-id="3" onclick="slideToggle('.module-filter', this)" title="View Filter">
      <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24">
        <path d="M7 11h10v2H7zM4 7h16v2H4zm6 8h4v2h-4z" fill="currentColor"></path></svg>
    </button>

    <button class="help-admin button" type="button" data-id="4" data-module="altsys" data-help-article="#help-module-block" title="<{$smarty.const._HELP}>">
      <b>?</b>
    </button>
  </div>

</section>


<table class="outer">
  <tr>
    <th>&nbsp;</th>
    <th><{$smarty.const._AD_USER_LANG_GROUP_GID}>
      <a href="<{$pageNavi->renderUrlForSort()|xoops_escape}>&amp;sort=<{$smarty.const.GROUP_SORT_KEY_GROUPID}>"><img src="<{"icons/up.png"|theme}>" alt="<{$smarty.const._ASCENDING}>" title="<{$smarty.const._ASCENDING}>"></a>
      <a href="<{$pageNavi->renderUrlForSort()|xoops_escape}>&amp;sort=-<{$smarty.const.GROUP_SORT_KEY_GROUPID}>"><img src="<{"icons/down.png"|theme}>" alt="<{$smarty.const._DESCENDING}>" title="<{$smarty.const._DESCENDING}>"></a></th>
    <th><{$smarty.const._AD_USER_LANG_GROUP_NAME}>
      <a href="<{$pageNavi->renderUrlForSort()|xoops_escape}>&amp;sort=<{$smarty.const.GROUP_SORT_KEY_NAME}>"><img src="<{"icons/up.png"|theme}>" alt="<{$smarty.const._ASCENDING}>" title="<{$smarty.const._ASCENDING}>"></a>
      <a href="<{$pageNavi->renderUrlForSort()|xoops_escape}>&amp;sort=-<{$smarty.const.GROUP_SORT_KEY_NAME}>"><img src="<{"icons/down.png"|theme}>" alt="<{$smarty.const._DESCENDING}>" title="<{$smarty.const._DESCENDING}>"></a></th>
    <th><{$smarty.const._AD_USER_LANG_GROUP_DESC}>
      <a href="<{$pageNavi->renderUrlForSort()|xoops_escape}>&amp;sort=<{$smarty.const.GROUP_SORT_KEY_DESCRIPTION}>"><img src="<{"icons/up.png"|theme}>" alt="<{$smarty.const._ASCENDING}>" title="<{$smarty.const._ASCENDING}>"></a>
      <a href="<{$pageNavi->renderUrlForSort()|xoops_escape}>&amp;sort=-<{$smarty.const.GROUP_SORT_KEY_DESCRIPTION}>"><img src="<{"icons/down.png"|theme}>" alt="<{$smarty.const._DESCENDING}>" title="<{$smarty.const._DESCENDING}>"></a></th>
    <th><{$smarty.const._AD_USER_LANG_GROUP_TYPE}>
      <a href="<{$pageNavi->renderUrlForSort()|xoops_escape}>&amp;sort=<{$smarty.const.GROUP_SORT_KEY_GROUP_TYPE}>"><img src="<{"icons/up.png"|theme}>" alt="<{$smarty.const._ASCENDING}>" title="<{$smarty.const._ASCENDING}>"></a>
      <a href="<{$pageNavi->renderUrlForSort()|xoops_escape}>&amp;sort=-<{$smarty.const.GROUP_SORT_KEY_GROUP_TYPE}>"><img src="<{"icons/down.png"|theme}>" alt="<{$smarty.const._DESCENDING}>" title="<{$smarty.const._DESCENDING}>"></a></th>
    <th><{$smarty.const._AD_USER_LANG_GROUP_AMMO}></th>
    <th><{$smarty.const._AD_USER_LANG_CONTROL}></th>
  </tr>
  <{foreach item=group from=$objects}>
    <tr>
      <td class="user_list_image"><img src="<{"icons/group.png"|theme}>" alt="<{$smarty.const._AD_USER_LANG_GROUP}>" title="<{$smarty.const._AD_USER_LANG_GROUP}>"></td>
      <td class="user_list_id"><{$group->getShow('groupid')|xoops_escape}></td>
      <td class="user_list_title"><{$group->getShow('name')|xoops_escape}></td>
      <td class="user_list_description"><{$group->getShow('description')|xoops_escape}></td>
      <td class="user_list_type"><{$group->getShow('group_type')|xoops_escape}></td>
      <td class="user_list_number"><{$group->getUserCount()|xoops_escape}></td>
      <td class="user_list_control">
        <a href="index.php?action=GroupEdit&amp;groupid=<{$group->getShow('groupid')|xoops_escape}>"><img src="<{"icons/edit.png"|theme}>" alt="<{$smarty.const._EDIT}>" title="<{$smarty.const._EDIT}>"></a>
        <{if $group->get('groupid') > $smarty.const.XOOPS_GROUP_ANONYMOUS }>
          <a href="index.php?action=GroupDelete&amp;groupid=<{$group->getShow('groupid')|xoops_escape}>"><img src="<{"icons/delete.png"|theme}>" alt="<{$smarty.const._DELETE}>" title="<{$smarty.const._DELETE}>"></a>
        <{/if}>
        <a href="index.php?action=GroupProperty&amp;groupid=<{$group->getShow('groupid')|xoops_escape}>"><img src="<{"icons/property.png"|theme}>" alt="<{$smarty.const._AD_USER_LANG_GROUP_PROPERTY}>" title="<{$smarty.const._AD_USER_LANG_GROUP_PROPERTY}>"></a>
        <a href="index.php?action=GroupPerm&amp;groupid=<{$group->getShow('groupid')|xoops_escape}>"><img src="<{"icons/permission.png"|theme}>" alt="<{$smarty.const._AD_USER_LANG_GROUP_PERMISSION}>" title="<{$smarty.const._AD_USER_LANG_GROUP_PERMISSION}>"></a>
        <a href="index.php?action=GroupMember&amp;groupid=<{$group->getShow('groupid')|xoops_escape}>"><img src="<{"icons/members.png"|theme}>" alt="<{$smarty.const._AD_USER_LANG_GROUP_ASSIGN}>" title="<{$smarty.const._AD_USER_LANG_GROUP_ASSIGN}>"></a>
      </td>
    </tr>
  <{/foreach}>
</table>

<div class="pagenavi"><{xoops_pagenavi pagenavi=$pageNavi}></div>
