<div class="adminnavi">
  <a href="./index.php"><{$smarty.const._MI_USER_NAME}></a>
  &raquo;&raquo; <span class="adminnaviTitle"><a href="./index.php?action=UserList"><{$smarty.const._AD_USER_LANG_USER_LIST}></a></span>
</div>

<h3 class="admintitle"><{$smarty.const._AD_USER_LANG_USER_LIST}></h3>

<div class="tips">
<ul>
<li>
<{$smarty.const._AD_USER_LANG_USER_TOTAL}>: <{$UserTotal|xoops_escape}><br>
<{$smarty.const._AD_USER_LANG_LEVEL_ACTIVE}>: <{$activeUserTotal|xoops_escape}>&nbsp;&nbsp;|&nbsp; <{$smarty.const._AD_USER_LANG_LEVEL_PENDING}>: <{$inactiveUserTotal|xoops_escape}>
</li>
<li>
<{$smarty.const._AD_USER_TIPS_USER_ADMIN}>
</li>
<li><a href="<{$xoops_url}>/modules/legacy/admin/index.php?action=Help&amp;dirname=user"><{$smarty.const._HELP}></a></li>
</ul>
</div>

<ul class="toptab">
<li class="addUser"><a href="index.php?action=UserEdit"><{$smarty.const._AD_USER_LANG_USER_NEW}></a></li>
<li class="group"><a href="index.php?action=GroupList"><{$smarty.const._AD_USER_LANG_GROUP_LIST}></a></li>
<li class="addField"><a href="<{$smarty.const.XOOPS_URL}>/modules/profile/admin/index.php?action=DefinitionsList"><{$smarty.const._AD_USER_LANG_USER_NEW_FIELD}></a></li>
</ul>

<{if $actionForm->hasError()}>
<div class="error">
  <ul>
    <{foreach item=message from=$actionForm->getErrorMessages()}>
      <li><{$message|xoops_escape}></li>
    <{/foreach}>
  </ul>
</div>
<{/if}>

<div>
<form action="./index.php" method="get">
  <input type="hidden" name="action" value="UserList">
  <{$smarty.const._SEARCH}> : 
  <input type="text" name="search" value="<{$filterForm->mKeyword|xoops_escape}>">
  <{$smarty.const._AD_USER_LANG_DISPLAY_USER_LEVEL}> : 
  <select name="option_field">
    <option value="all" <{if $filterForm->mOptionField == 'all'}>selected="selected"<{/if}>><{$smarty.const._AD_USER_LANG_ALL_OF_USERS}></option>
    <option value="inactive" <{if $filterForm->mOptionField == 'inactive'}>selected="selected"<{/if}>><{"`$constpref`_USER_LANG_INACTIVATE_USERS_ONLY"|constant}></option>
    <option value="active" <{if $filterForm->mOptionField == 'active'}>selected="selected"<{/if}>><{$smarty.const._AD_USER_LANG_PENDING_USERS_ONLY}></option>
    <option value="certified" <{if $filterForm->mOptionField == 'certified'}>selected="selected"<{/if}>><{$smarty.const._AD_USER_LANG_APPROVE_USERS_ONLY}></option>
  </select>
  <{$smarty.const._VIEW}> : 
  <select name="perpage">
    <option value="<{$smarty.const.XCUBE_PAGENAVI_DEFAULT_PERPAGE}>"><{$smarty.const._SELECT}></option>
    <{foreach item=page from=$pageArr}>
      <{if $pageNavi->mPerpage == $page && $page != 0}>
        <option value="<{$page|xoops_escape}>" selected="selected"><{$page|xoops_escape}></option>
      <{elseif $pageNavi->mPerpage == $page && $page == 0}>
        <option value="<{$page|xoops_escape}>" selected="selected"><{$smarty.const._ALL}></option>
      <{elseif $pageNavi->mPerpage != $page && $page == 0}>
        <option value="<{$page|xoops_escape}>"><{$smarty.const._ALL}></option>
      <{else}>
        <option value="<{$page|xoops_escape}>"><{$page|xoops_escape}></option>
      <{/if}>
    <{/foreach}>
  </select>
  <input class="button submit" type="submit" value="<{$smarty.const._SUBMIT}>">
</form>
</div>

<form name="userlistform" method="post" action="./index.php?action=UserList">
  <{xoops_token form=$actionForm}>
<table class="outer">
  <tr>
    <th>&nbsp;</th>
    <th><{$smarty.const._MD_USER_LANG_UID}>
      <a href="<{$pageNavi->renderUrlForSort()|xoops_escape}>&amp;sort=<{$smarty.const.USER_SORT_KEY_UID}>">
        <img src="<{"icons/up.png"|theme}>" alt="<{$smarty.const._ASCENDING}>" title="<{$smarty.const._ASCENDING}>"></a>
      <a href="<{$pageNavi->renderUrlForSort()|xoops_escape}>&amp;sort=-<{$smarty.const.USER_SORT_KEY_UID}>">
        <img src="<{"icons/down.png"|theme}>" alt="<{$smarty.const._DESCENDING}>" title="<{$smarty.const._DESCENDING}>"></a></th>
    <th><{$smarty.const._MD_USER_LANG_UNAME}>
      <a href="<{$pageNavi->renderUrlForSort()|xoops_escape}>&amp;sort=<{$smarty.const.USER_SORT_KEY_UNAME}>">
        <img src="<{"icons/up.png"|theme}>" alt="<{$smarty.const._ASCENDING}>" title="<{$smarty.const._ASCENDING}>"></a>
      <a href="<{$pageNavi->renderUrlForSort()|xoops_escape}>&amp;sort=-<{$smarty.const.USER_SORT_KEY_UNAME}>">
        <img src="<{"icons/down.png"|theme}>" alt="<{$smarty.const._DESCENDING}>" title="<{$smarty.const._DESCENDING}>"></a></th>
    <th><{$smarty.const._MD_USER_LANG_NAME}>
      <a href="<{$pageNavi->renderUrlForSort()|xoops_escape}>&amp;sort=<{$smarty.const.USER_SORT_KEY_NAME}>">
        <img src="<{"icons/up.png"|theme}>" alt="<{$smarty.const._ASCENDING}>" title="<{$smarty.const._ASCENDING}>"></a>
      <a href="<{$pageNavi->renderUrlForSort()|xoops_escape}>&amp;sort=-<{$smarty.const.USER_SORT_KEY_NAME}>">
        <img src="<{"icons/down.png"|theme}>" alt="<{$smarty.const._DESCENDING}>" title="<{$smarty.const._DESCENDING}>"></a></th>
    <th><{$smarty.const._AD_USER_LANG_REGDATE}>
      <a href="<{$pageNavi->renderUrlForSort()|xoops_escape}>&amp;sort=<{$smarty.const.USER_SORT_KEY_USER_REGDATE}>">
        <img src="<{"icons/up.png"|theme}>" alt="<{$smarty.const._ASCENDING}>" title="<{$smarty.const._ASCENDING}>"></a>
      <a href="<{$pageNavi->renderUrlForSort()|xoops_escape}>&amp;sort=-<{$smarty.const.USER_SORT_KEY_USER_REGDATE}>"><img src="<{"icons/down.png"|theme}>" alt="<{$smarty.const._DESCENDING}>" title="<{$smarty.const._DESCENDING}>"></a></th>
    <th><{$smarty.const._AD_USER_LANG_LASTLOGIN}>
      <a href="<{$pageNavi->renderUrlForSort()|xoops_escape}>&amp;sort=<{$smarty.const.USER_SORT_KEY_LAST_LOGIN}>">
        <img src="<{"icons/up.png"|theme}>" alt="<{$smarty.const._ASCENDING}>" title="<{$smarty.const._ASCENDING}>"></a>
      <a href="<{$pageNavi->renderUrlForSort()|xoops_escape}>&amp;sort=-<{$smarty.const.USER_SORT_KEY_LAST_LOGIN}>">
        <img src="<{"icons/down.png"|theme}>" alt="<{$smarty.const._DESCENDING}>" title="<{$smarty.const._DESCENDING}>"></a></th>
    <th><{$smarty.const._MD_USER_LANG_POSTS}>
      <a href="<{$pageNavi->renderUrlForSort()|xoops_escape}>&amp;sort=<{$smarty.const.USER_SORT_KEY_POSTS}>">
        <img src="<{"icons/up.png"|theme}>" alt="<{$smarty.const._ASCENDING}>" title="<{$smarty.const._ASCENDING}>"></a>
      <a href="<{$pageNavi->renderUrlForSort()|xoops_escape}>&amp;sort=-<{$smarty.const.USER_SORT_KEY_POSTS}>">
        <img src="<{"icons/down.png"|theme}>" alt="<{$smarty.const._DESCENDING}>" title="<{$smarty.const._DESCENDING}>"></a></th>
    <th><{$smarty.const._MD_USER_LANG_LEVEL}>
      <a href="<{$pageNavi->renderUrlForSort()|xoops_escape}>&amp;sort=<{$smarty.const.USER_SORT_KEY_LEVEL}>">
        <img src="<{"icons/up.png"|theme}>" alt="<{$smarty.const._ASCENDING}>" title="<{$smarty.const._ASCENDING}>"></a>
      <a href="<{$pageNavi->renderUrlForSort()|xoops_escape}>&amp;sort=-<{$smarty.const.USER_SORT_KEY_LEVEL}>">
        <img src="<{"icons/down.png"|theme}>" alt="<{$smarty.const._DESCENDING}>" title="<{$smarty.const._DESCENDING}>"></a></th>
    <th><{$smarty.const._DELETE}><br>
      <input name="allbox" id="allbox" onclick="with(document.userlistform){for(i=0;i<length;i++){if(elements[i].type=='checkbox'&&elements[i].disabled==false&&elements[i].name.indexOf('delete')>=0){elements[i].checked=this.checked;}}}" type="checkbox" value="Check All"></th>
    <th><{$smarty.const._AD_USER_LANG_CONTROL}></th>
  </tr>
  <{foreach item=user from=$objects}>
    <tr>
      <td class="user_list_image"><img src="<{"icons/user.png"|theme}>" alt="<{$smarty.const._AD_USER_LANG_USER}>" title="<{$smarty.const._AD_USER_LANG_USER}>"></td>
      <td class="user_list_id"><{$user->getShow('uid')|xoops_escape}></td>
      <td class="user_list_title"><a href="<{$smarty.const.XOOPS_URL}>/userinfo.php?uid=<{$user->getShow('uid')|xoops_escape}>"><{$user->getShow('uname')|xoops_escape}></a></td>
      <td class="user_list_name"><{$user->getShow('name')|xoops_escape}></td>
      <td class="user_list_date"><{$user->get('user_regdate')|xoops_formattimestamp|xoops_escape}></td>
      <td class="user_list_date"><{$user->get('last_login')|xoops_formattimestamp:l|xoops_escape}></td>
      <td class="user_list_number"><{if $user->get('uid') != 1 }><input type="text" size="4" maxlength="6" name="posts[<{$user->getShow('uid')|xoops_escape}>]" value="<{$user->getShow('posts')|xoops_escape}>" class=user_list_number><{else}><{$user->getShow('posts')|xoops_escape}><{/if}></td>
      <!-- <td class="user_list_order"><{if $user->get('uid') != 1 }><input type="text" size="2" maxlength="4" name="level[<{$user->getShow('uid')|xoops_escape}>]" value="<{$user->getShow('level')|xoops_escape}>" class=user_list_number><{else}><{$user->getShow('level')|xoops_escape}><{/if}></td>-->
      <td class="user_list_order">
        <{if $user->get('level') == 0}>
          <{"`$constpref`_USER_LANG_LEVEL_INACTIVATE"|constant}>
        <{elseif $user->get('level') == 1}>
          <{$smarty.const._AD_USER_LANG_LEVEL_PENDING}>
        <{elseif $user->get('level') == 2}>
          <{$smarty.const._AD_USER_LANG_LEVEL_ACTIVE}>
        <{elseif $user->get('level') == 5}>
          <{$smarty.const._AD_USER_LANG_LEVEL_ROOT}>
        <{/if}>
      </td>
      <td class="user_list_select"> <{if $user->get('uid') != 1 }><input type="checkbox" name="delete[<{$user->getShow('uid')|xoops_escape}>]" value="1"> <{/if}></td>
      <td class="user_list_control">
        <a href="./index.php?action=UserView&amp;uid=<{$user->getShow('uid')|xoops_escape}>">
          <img src="<{"icons/property.png"|theme}>" alt="<{$smarty.const._VIEW}>" title="<{$smarty.const._VIEW}>"></a>
        <a href="./index.php?action=UserEdit&amp;uid=<{$user->getShow('uid')|xoops_escape}>">
          <img src="<{"icons/edit.png"|theme}>" alt="<{$smarty.const._EDIT}>" title="<{$smarty.const._EDIT}>"></a>
        <{if $user->get('uid') != 1 }>
          <a href="index.php?action=UserDelete&amp;uid=<{$user->getShow('uid')|xoops_escape}>">
            <img src="<{"icons/delete.png"|theme}>" alt="<{$smarty.const._DELETE}>" title="<{$smarty.const._DELETE}>"></a>
        <{/if}>
      </td>
    </tr>
  <{/foreach}>
    <tr>
      <td colspan="10" class="foot">
        <input class="button submit" type="submit" value="<{$smarty.const._SUBMIT}>">
      </td>
    </tr>
</table>
</form>

<div class="pagenavi"><{xoops_pagenavi pagenavi=$pageNavi}></div>
