<{include file="file:admin_header.html"}>
<div style="text-align:right; margin-left: 10px; margin-bottom: 10px;">
</div>
<form name="<{$dirname}>_policy_itemtype_registerform" id="<{$dirname}>_policy_itemtype_registerform" action="policy_itemtype.php" method="post" enctype="multipart/form-data">
<input type="hidden" name="op" value="importsave">
<input type="hidden" name="mode" value="">
<{$token_ticket}>
<{if $import_success}>
<div class="tips">
<{foreach item=msg from=$import_success_msg}>
<li><{$msg|xoops_escape}></li>
<{/foreach}>
</div>
<{/if}>
<table width="100%" cellspacing="1" class="outer">
  <tr>
    <td style="width: 25%; text-align: left;" class="head">
       <{$smarty.const._AM_XOONIPS_LABEL_ITEMTYPE_IMPORT_FILE}>
     </td>
    <td style="width: 75%; text-align: left;" class="even">&nbsp;&nbsp;
      <input type="file" name="import_file" size="60">
    </td>
  </tr>
</table>
<div style="text-align: right; margin-left: 10px; margin-bottom: 10px;">
</div>
<div style="text-align: right; margin-left: 10px; margin-bottom: 10px;">
</div>
<div style="text-align: left">
  <input class="button" type="button" value="<{$smarty.const._AM_XOONIPS_LABEL_BACK}>" onclick="window.location='policy_itemtype.php'">&nbsp;&nbsp;
  <input class="button" type="button" value="<{$smarty.const._AM_XOONIPS_LABEL_IMPORT_CHECK}>" onclick="op.value='importsave'; mode.value=0; submit();">
  <input class="ui-button" type="button" value="<{$smarty.const._AM_XOONIPS_LABEL_IMPORT_SAVE}>" onclick="op.value='importsave'; mode.value=1; submit();">
</div>
</form>
<{include file="file:admin_footer.inc.html"}>
