<{include file="file:admin_header.inc.html"}>

<table width="100%" cellspacing="1" class="outer">
<tbody>
  <tr>
    <th style="width: 80%; text-align: center;"><{"`$constpref`_POLICY_ITEM_SORT_LABEL"|constant}></th>
    <th style="width: 15%; text-align: center;"><{"`$constpref`_LANG_ACTION"|constant}></th>
  </tr>
<{if !empty($sortTitles) }>
<{foreach item=title key=sort_id from=$sortTitles}>
  <tr class= "<{cycle values='odd,even'}>">
    <td><{$title|xoops_escape}></td>
    <td style="text-align: center;">
      <a href="index.php?action=PolicyItemSortEdit&amp;sort_id=<{$sort_id|xoops_escape}>"><img src="<{"icons/edit.png"|theme}>" alt="<{"`$constpref`_LANG_MODIFY"|constant}>" title="<{"`$constpref`_LANG_MODIFY"|constant}>"></a>
<{if $sort_id != 1}>
      <a href="index.php?action=PolicyItemSortDelete&amp;sort_id=<{$sort_id|xoops_escape}>"><img src="<{"icons/delete.png"|theme}>" alt="<{"`$constpref`_LANG_DELETE"|constant}>" title="<{"`$constpref`_LANG_DELETE"|constant}>"></a>
<{/if}>
    </td>
  </tr>
<{/foreach}>
<{else}>
  <tr>
    <td class="even" colspan="2" style="text-align: center;">
    <span class="notice"><{"`$constpref`_MESSAGE_EMPTY"|constant}></span>
    </td>
  </tr>
<{/if}>
</tbody>
</table>

<{include file="file:admin_footer.inc.html"}>
