<{* Dev-Mode Toggle *}>
<div class="ui-dev-mode"><{$smarty.template}></div>


<{include file="db:`$mydirname`_inc_breadcrumbs.html"}>

<div class="pico_container" id="<{$mydirname}>_container">


    <{* ------- top message *}>

    <div class="card my-4">

        <!-- card header -->
        <div class="card-header">

            <h3>
            <svg class="bi bi-folder" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path d="M9.828 4a3 3 0 0 1-2.12-.879l-.83-.828A1 1 0 0 0 6.173 2H2.5a1 1 0 0 0-1 .981L1.546 4h-1L.5 3a2 2 0 0 1 2-2h3.672a2 2 0 0 1 1.414.586l.828.828A2 2 0 0 0 9.828 3v1z"/>
            <path fill-rule="evenodd" d="M13.81 4H2.19a1 1 0 0 0-.996 1.09l.637 7a1 1 0 0 0 .995.91h10.348a1 1 0 0 0 .995-.91l.637-7A1 1 0 0 0 13.81 4zM2.19 3A2 2 0 0 0 .198 5.181l.637 7A2 2 0 0 0 2.826 14h10.348a2 2 0 0 0 1.991-1.819l.637-7A2 2 0 0 0 13.81 3H2.19z"/>
            </svg> <{$category.title}></h3>

            <{* ------- Activity Overview *}>
            <{* if $category.isadminormod *}>

            <div class="d-flex justify-content-end align-items-center flex-wrap">
                <div class="d-inline small mr-2"><{$smarty.const._MD_PICO_CONTENTS_TOTAL}>: <span class="badge secondary px-2"><{$category.redundants.contents_total}></span></div>
                <div class="d-inline small mr-2"><{$smarty.const._MD_PICO_SUBCATEGORIES_TOTAL}>: <span class="badge secondary px-2"><{$category.redundants.subcategories_total}></span></div>

                <!-- RSS -->
                <div class="d-inline m-2">
                    <a class="float-right" href="<{$mod_url}>/index.php?page=rss&amp;cat_id=<{$category.id}>">
                    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 16 16">
                    <g fill="darkorange">
                    <path fill-rule="evenodd" d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm1.5 2.5a1 1 0 0 0 0 2a8 8 0 0 1 8 8a1 1 0 1 0 2 0c0-5.523-4.477-10-10-10zm0 4a1 1 0 0 0 0 2a4 4 0 0 1 4 4a1 1 0 1 0 2 0a6 6 0 0 0-6-6zm.5 7a1.5 1.5 0 1 0 0-3a1.5 1.5 0 0 0 0 3z"/></g>
                    </svg></a>
                </div>
            </div>
            <{* /if *}>
            <{* ------- /Activity Overview *}>


        </div><!-- /card header -->


        <div class="card-body">

            <{if $category.id == 0}>
            <div class="card-text">{$mod_config.top_message}></div>
            <hr><!-- cat desc -->
            <{/if}>

            <div class="card-text"><{$category.desc}>
            <hr><!-- cat desc -->
            </div>


                <{* ------- start subcategories *}>

                <{if $subcategories}>

                <ul class="list-group list-group-flush bg-light shadow-sm">

                <{foreach from=$subcategories item="subcategory"}>
                    <li class="list-group-item">

                        <div class="d-flex justify-content-between">
                            <h5><a href="<{$mod_url}>/<{$subcategory.link}>">
                            <svg class="bi bi-folder mr-2" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path d="M9.828 4a3 3 0 0 1-2.12-.879l-.83-.828A1 1 0 0 0 6.173 2H2.5a1 1 0 0 0-1 .981L1.546 4h-1L.5 3a2 2 0 0 1 2-2h3.672a2 2 0 0 1 1.414.586l.828.828A2 2 0 0 0 9.828 3v1z"/>
                            <path fill-rule="evenodd" d="M13.81 4H2.19a1 1 0 0 0-.996 1.09l.637 7a1 1 0 0 0 .995.91h10.348a1 1 0 0 0 .995-.91l.637-7A1 1 0 0 0 13.81 4zM2.19 3A2 2 0 0 0 .198 5.181l.637 7A2 2 0 0 0 2.826 14h10.348a2 2 0 0 0 1.991-1.819l.637-7A2 2 0 0 0 13.81 3H2.19z"/>
                            </svg> <{$subcategory.title}></a></h5>
                        </div>

                        <div class="card-body"><{$subcategory.desc}></div>

                        <{* ------- Subcategories Activity Overview *}>
                        <div class="d-flex justify-content-end align-items-center flex-wrap">

                        <{if $category.isadminormod}>
                            <div class="d-inline small mr-2"><{$smarty.const._MD_PICO_CONTENTS_TOTAL}>: <span class="badge secondary px-2"><{$subcategory.redundants.contents_total}></span></div>
                            <div class="d-inline small mr-2"><{$smarty.const._MD_PICO_SUBCATEGORIES_TOTAL}>: <span class="badge secondary px-2"><{$subcategory.redundants.subcategories_total > 0}></span></div>
                         <{/if}>

                            <!-- RSS -->
                            <div class="ml-2">
                                <a href="<{$mod_url}>/index.php?page=rss&amp;cat_id=<{$category.id}>">
                                <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 16 16">
                                <g fill="darkorange">
                                <path fill-rule="evenodd" d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm1.5 2.5a1 1 0 0 0 0 2a8 8 0 0 1 8 8a1 1 0 1 0 2 0c0-5.523-4.477-10-10-10zm0 4a1 1 0 0 0 0 2a4 4 0 0 1 4 4a1 1 0 1 0 2 0a6 6 0 0 0-6-6zm.5 7a1.5 1.5 0 1 0 0-3a1.5 1.5 0 0 0 0 3z"/></g>
                                </svg></a>
                            </div>
                        </div>

                    </li>

                    <{/foreach}>

                 </ul>

                <{/if}>


                <{* ------- start content *}>

                <{if $contents}>

                <ul class="list-group list-group-flush bg-light shadow-sm">

                    <{foreach from=$contents item="content"}>
                    <li class="list-group-item d-flex justify-content-between bg-light border-right-0 border-left-0 border-top-0">
                        <a class="ml-4" href="<{$mod_url}>/<{$content.link}>">
                        <svg class="bi bi-file-earmark mr-2" width="1.25em" height="1.25em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path d="M4 1h5v1H4a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V6h1v7a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2z"/>
                         <path d="M9 4.5V1l5 5h-3.5A1.5 1.5 0 0 1 9 4.5z"/>
                        </svg>
                            <{if $content.public}>
                                <{$content.subject}>
                                <{elseif $category.isadminormod}>
                                <em class="pico_notice  badge warning"><{$content.subject}></em>
                                <{if ! $content.approval}>
                                <em class="pico_notice  badge warning"><{$content.poster_uname}> <{$content.created_time_formatted}> </em>
                                <{/if}>
                            <{/if}>
                        </a>

                        <{if $category.can_edit}>
                        <a class="float-lg-right px-1 mr-4" href="<{$mod_url}>/index.php?page=contentmanager&amp;content_id=<{$content.id}>&amp;ret=mc<{$category.id}>" title="<{$smarty.const._MD_PICO_LINK_EDITCONTENT}>">
                        <svg class="bi bi-pencil-square mr-2" width="1.25em" height="1.25em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                        </svg></a>
                        <{/if}>
                    </li>
                    <{/foreach}>

                </ul>
            <{/if}>





        </div><{* ------- card body *}>



        <{* ------- card-footer - controllers *}>
        <div class="pico_controllers card-footer">

            <div class="d-sm-flex align-items-center justify-content-between">

                <div class="btn btn-group btn-group-sm" role="group" aria-label="Admin Category">
                    <{if $category.isadminormod}>

                    <a class="btn btn-outline-secondary btn-sm" href="<{$mod_url}>/index.php?page=categorymanager&amp;cat_id=<{$category.id}>">
                        <svg class="bi bi-pencil" width="1.25em" height="1.25em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M11.293 1.293a1 1 0 0 1 1.414 0l2 2a1 1 0 0 1 0 1.414l-9 9a1 1 0 0 1-.39.242l-3 1a1 1 0 0 1-1.266-1.265l1-3a1 1 0 0 1 .242-.391l9-9zM12 2l2 2-9 9-3 1 1-3 9-9z"/>
                            <path fill-rule="evenodd" d="M12.146 6.354l-2.5-2.5.708-.708 2.5 2.5-.707.708zM3 10v.5a.5.5 0 0 0 .5.5H4v.5a.5.5 0 0 0 .5.5H5v.5a.5.5 0 0 0 .5.5H6v-1.5a.5.5 0 0 0-.5-.5H5v-.5a.5.5 0 0 0-.5-.5H3z"/>
                        </svg> <{$smarty.const._MD_PICO_LINK_EDITCATEGORY}></a>
                    <{/if}>

                    <{if $xoops_isadmin}>
                    <a class="btn btn-outline-secondary btn-sm" href="<{$mod_url}>/admin/index.php?page=category_access&amp;cat_id=<{$category.id}>">
                        <svg class="bi bi-unlock" width="1.25em" height="1.25em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M9.655 8H2.333c-.264 0-.398.068-.471.121a.73.73 0 0 0-.224.296 1.626 1.626 0 0 0-.138.59V14c0 .342.076.531.14.635.064.106.151.18.256.237a1.122 1.122 0 0 0 .436.127l.013.001h7.322c.264 0 .398-.068.471-.121a.73.73 0 0 0 .224-.296 1.627 1.627 0 0 0 .138-.59V9c0-.342-.076-.531-.14-.635a.658.658 0 0 0-.255-.237A1.122 1.122 0 0 0 9.655 8zm.012-1H2.333C.5 7 .5 9 .5 9v5c0 2 1.833 2 1.833 2h7.334c1.833 0 1.833-2 1.833-2V9c0-2-1.833-2-1.833-2zM8.5 4a3.5 3.5 0 1 1 7 0v3h-1V4a2.5 2.5 0 0 0-5 0v3h-1V4z"/>
                        </svg> <{$smarty.const._MD_PICO_LINK_CATEGORYPERMISSIONS}></a>
                    <{/if}>

                    <{if $xoops_isadmin}>
                    <a class="btn btn-outline-secondary btn-sm" href="<{$mod_url}>/admin/index.php?page=contents&amp;cat_id=<{$category.id}>">
                        <svg class="bi bi-collection mr-2" width="1.25em" height="1.25em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M14.5 13.5h-13A.5.5 0 0 1 1 13V6a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-.5.5zm-13 1A1.5 1.5 0 0 1 0 13V6a1.5 1.5 0 0 1 1.5-1.5h13A1.5 1.5 0 0 1 16 6v7a1.5 1.5 0 0 1-1.5 1.5h-13zM2 3a.5.5 0 0 0 .5.5h11a.5.5 0 0 0 0-1h-11A.5.5 0 0 0 2 3zm2-2a.5.5 0 0 0 .5.5h7a.5.5 0 0 0 0-1h-7A.5.5 0 0 0 4 1z"/>
                        </svg> <{$smarty.const._MD_PICO_LINK_BATCHCONTENTS}></a>
                    <{/if}>

                    <{if $category.can_makesubcategory}>
                    <a class="btn btn-outline-secondary btn-sm" href="<{$mod_url}>/index.php?page=makecategory&amp;pid=<{$category.id}>">
                        <svg class="bi bi-folder-plus" width="1.25em" height="1.25em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M9.828 4H2.19a1 1 0 0 0-.996 1.09l.637 7a1 1 0 0 0 .995.91H9v1H2.826a2 2 0 0 1-1.991-1.819l-.637-7a1.99 1.99 0 0 1 .342-1.31L.5 3a2 2 0 0 1 2-2h3.672a2 2 0 0 1 1.414.586l.828.828A2 2 0 0 0 9.828 3h3.982a2 2 0 0 1 1.992 2.181L15.546 8H14.54l.265-2.91A1 1 0 0 0 13.81 4H9.828zm-2.95-1.707L7.587 3H2.19c-.24 0-.47.042-.684.12L1.5 2.98a1 1 0 0 1 1-.98h3.672a1 1 0 0 1 .707.293z"/>
                            <path fill-rule="evenodd" d="M13.5 10a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1H13v-1.5a.5.5 0 0 1 .5-.5z"/>
                            <path fill-rule="evenodd" d="M13 12.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0v-2z"/>
                        </svg> <{$smarty.const._MD_PICO_LINK_MAKESUBCATEGORY}></a>
                    <{/if}>
                </div>

                <{if $category.can_post}>
                <div class="btn-group btn-group-sm" role="group" aria-label="Forum and List Topics">

                    <a class="btn btn-primary btn-sm" href="<{$mod_url}>/index.php?page=makecontent&amp;cat_id=<{$category.id}>&amp;ret=mc<{$category.id}>">
                        <svg class="bi bi-file-earmark-plus" width="1.25em" height="1.25em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path d="M9 1H4a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h5v-1H4a1 1 0 0 1-1-1V3a1 1 0 0 1 1-1h5v2.5A1.5 1.5 0 0 0 10.5 6H13v2h1V6L9 1z"/>
                            <path fill-rule="evenodd" d="M13.5 10a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1H13v-1.5a.5.5 0 0 1 .5-.5z"/>
                            <path fill-rule="evenodd" d="M13 12.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0v-2z"/>
                        </svg> <{$smarty.const._MD_PICO_LINK_MAKECONTENT}></a>

                </div>
                <{/if}>

            </div>

        </div>


    </div><{* ------- card *}>

<hr class="notification">
<{include file='db:system_notification_select.html'}>

</div>
<!-- end module contents -->
