<{* Dev-Mode Toggle *}>
<div class="ui-dev-mode"><{$smarty.template}></div>


<{include file="db:`$mydirname`_inc_breadcrumbs.html"}>

<div class="pico_container" id="<{$mydirname}>_container">


<{* admin controllers *}>
<{capture name="controllers"}>
    <div class="d-flex align-items-center justify-content-end">

        <div class="btn btn-group btn-group-sm" role="group" aria-label="Admin Category">

        <{if $content.can_edit}>
            <a class="btn btn-outline-primary btn-sm" href="<{$mod_url}>/index.php?page=contentmanager&amp;content_id=<{$content.id}>" title="<{$smarty.const._MD_PICO_LINK_EDITCONTENT}>">
                <svg class="bi bi-pencil-square mr-2" width="1.25em" height="1.25em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                </svg> <{$smarty.const._MD_PICO_LINK_EDITCONTENT}></a>
        <{/if}>

        <{if $xoops_isadmin}>
            <a class="btn btn-outline-secondary btn-sm" href="<{$mod_url}>/admin/index.php?page=contents&amp;cat_id=<{$category.id}>" title="<{$smarty.const._MD_PICO_LINK_BATCHCONTENTS}>">
                <svg class="bi bi-collection mr-2" width="1.25em" height="1.25em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M14.5 13.5h-13A.5.5 0 0 1 1 13V6a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-.5.5zm-13 1A1.5 1.5 0 0 1 0 13V6a1.5 1.5 0 0 1 1.5-1.5h13A1.5 1.5 0 0 1 16 6v7a1.5 1.5 0 0 1-1.5 1.5h-13zM2 3a.5.5 0 0 0 .5.5h11a.5.5 0 0 0 0-1h-11A.5.5 0 0 0 2 3zm2-2a.5.5 0 0 0 .5.5h7a.5.5 0 0 0 0-1h-7A.5.5 0 0 0 4 1z"/>
                </svg>
                <{$smarty.const._MD_PICO_LINK_BATCHCONTENTS}></a>
        <{/if}>

        <!-- print icon -->
        <{if $mod_config.show_printicon}>
        <a class="ml-2" href="<{$mod_url}>/<{$content.link}><{if $mod_config.use_wraps_mode || $mod_config.use_rewrite}>?<{else}>&amp;<{/if}>page=print" title="<{$smarty.const._MD_PICO_LINK_PRINTERFRIENDLY}>">
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-printer" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path d="M11 2H5a1 1 0 0 0-1 1v2H3V3a2 2 0 0 1 2-2h6a2 2 0 0 1 2 2v2h-1V3a1 1 0 0 0-1-1zm3 4H2a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h1v1H2a2 2 0 0 1-2-2V7a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v3a2 2 0 0 1-2 2h-1v-1h1a1 1 0 0 0 1-1V7a1 1 0 0 0-1-1z"/>
                <path fill-rule="evenodd" d="M11 9H5a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1v-3a1 1 0 0 0-1-1zM5 8a2 2 0 0 0-2 2v3a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2v-3a2 2 0 0 0-2-2H5z"/>
                <path d="M3 7.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0z"/>
            </svg> <{$smarty.const._MD_PICO_LINK_PRINTERFRIENDLY}></a>
        <{/if}>

        <!-- tell a friend -->
        <{if $mod_config.show_tellafriend && $content.tellafriend_uri}>
            <a class="ml-2" href="<{$content.tellafriend_uri}>" target="_top" title="<{$smarty.const._MD_PICO_LINK_TELLAFRIEND}>">
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-envelope" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2zm13 2.383l-4.758 2.855L15 11.114v-5.73zm-.034 6.878L9.271 8.82 8 9.583 6.728 8.82l-5.694 3.44A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.739zM1 11.114l4.758-2.876L1 5.383v5.73z"/>
                </svg> <{$smarty.const._MD_PICO_LINK_TELLAFRIEND}></a>
        <{/if}>

        </div>

    </div>
<{/capture}>


    <{if trim($smarty.capture.controllers)}>
        <!-- controllers -->
        <div class="pico_controllers">
            <{$smarty.capture.controllers}>
        </div>
    <{/if}>


    <!-- content (body)
    <a name="top_of_pico_body" id="top_of_pico_body"></a>-->

    <div class="card card-body pico_body" id="<{$mydirname}>_body">
    <{$content.body}>
    </div>





    <{* ------- vote *}>
    <div class="d-flex justify-content-between align-items-center btn-toolbar my-2" role="toolbar" aria-label="Post vote action">

        <!-- informations for admin -->
        <{if $category.isadminormod}>
        <p class="small"> <{$smarty.const._MD_PICO_CREATED}>: <span class="badge secondary"><{$content.created_time_formatted}></span> <{$content.poster_uname}>
            <{if $content.modified_time > $content.created_time}>
            <{$smarty.const._MD_PICO_MODIFIED}>: <span class="badge secondary"><{$content.modified_time_formatted}></span> <{$content.modifier_uname}>
            <{/if}>
            <{$smarty.const._MD_PICO_VIEWED}>: <span class="badge secondary"><{$content.viewed}></span>
        </p>
        <{/if}>

        <{* ------- tags *}>
        <{if $content.tags_array}>
        <div class="pico_tags mt-2">
            <{foreach from=$content.tags_array item="tag"}>
            <span class="small border border-secondary rounded-sm px-1"><{$tag}></span>
            <{/foreach}>
            <select name="pid" id="category_pid">
                <{html_options options=$categories_can_read selected=$category.id}>
            </select>
        </div>
        <{/if}>



        <{if $mod_config.use_vote && $content.id}>
        <div class="btn-group btn-group-sm mr-2" role="group" aria-label="Vote group">

            <{if $content.can_vote}>
            <form action="<{$mod_url}>/index.php" method="get" name="pico_vote_best" id="pico_vote_best">
                <input type="hidden" name="page" value="vote_to_content">
                <input type="hidden" name="content_id" value="<{$content.id}>">
                <input type="hidden" name="point" value="10">

                <button class="btn btn-outline-success btn-sm" type="submit" value="<{$smarty.const._MD_PICO_VOTEPOINTDSCBEST}>"><{$smarty.const._MD_PICO_VOTEPOINTDSCBEST}></button>
            </form>
            <{/if}>

            <span class="small ml-2 py-1">
            <svg class="bi bi-bar-chart" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M4 11H2v3h2v-3zm5-4H7v7h2V7zm5-5h-2v12h2V2zm-2-1a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h2a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1h-2zM6 7a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v7a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V7zm-5 4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1v-3z"/>
            </svg>
                <{$smarty.const._MD_PICO_VOTECOUNT}>
                <span class="badge secondary px-2"> <{$content.votes_count}></span>
                <{$smarty.const._MD_PICO_VOTEPOINTAVG}>
                <span class="badge secondary px-2"><{$content.votes_avg|string_format:"%.2f"}></span>
            </span>


        </div>
        <{/if}>



        <{if trim($smarty.capture.controllers)}>
        <!-- controllers -->
        <div class="pico_controllers">
            <{$smarty.capture.controllers}>
        </div>
        <{/if}>





        <!-- jump to top
        <div class="bottom_of_content_body"><a href="#top_of_pico_body"><{$smarty.const._MD_PICO_JUMPTOTOPOFPICOBODY}></a></div> -->
    </div>

    <!-- page navigation -->
    <{if $mod_config.show_pagenavi && $content.id}>
    <div class="d-flex align-items-center justify-content-between my-4">

        <div class="<{$smarty.const._ALIGN_START}>">
        <{if $prev_content.id}>

            <a href="<{$mod_url}>/<{$prev_content.link}>" accesskey="F" title="<{$smarty.const._MD_PICO_PREV}>">
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-left-short" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M7.854 4.646a.5.5 0 0 1 0 .708L5.207 8l2.647 2.646a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 0 1 .708 0z"/>
                    <path fill-rule="evenodd" d="M4.5 8a.5.5 0 0 1 .5-.5h6.5a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5z"/>
                </svg> <{$prev_content.subject}></a>


        <{/if}>
        </div>
        <div align="center">
            <a href="<{$mod_url}>/<{$category.link}>" accesskey="P" title="<{$smarty.const._MD_PICO_CATEGORYINDEX}>">
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-up-short" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M8 5.5a.5.5 0 0 1 .5.5v5a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5z"/>
                    <path fill-rule="evenodd" d="M7.646 4.646a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8 5.707 5.354 8.354a.5.5 0 1 1-.708-.708l3-3z"/>
                </svg> <{$category.title}></a>


        </div>
        <div class="<{$smarty.const._ALIGN_END}>">
        <{if $next_content.id}>
            <a href="<{$mod_url}>/<{$next_content.link}>" accesskey="F" title="<{$smarty.const._MD_PICO_NEXT}>">
                <{$next_content.subject}> <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-right-short" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M8.146 4.646a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.793 8 8.146 5.354a.5.5 0 0 1 0-.708z"/>
                    <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5H11a.5.5 0 0 1 0 1H4.5A.5.5 0 0 1 4 8z"/>
                </svg></a>


        <{/if}>
        </div>

    </div>
    <{/if}>


<!-- d3forum comment integration -->
<{if $mod_config.comment_dirname && $mod_config.comment_forum_id && $content.allow_comment}>
	<{d3comment mydirname=$mydirname class="PicoD3commentContent"}>
<{/if}>

<hr class="notification">
<{include file='db:system_notification_select.html'}>

</div>
