/*
    Theme : XCL Flex Grid Admin
    Distribution : XCL 2.3 Alpha
    Version : 0.0.2
    Author : Nuno Luciano aka Gigamaster
    Date : 2019-11-01
	URL : https://github.com/xoopscube/xcl/

    -------------------- -------------------- -------------------- -------------------- IMPORT DEV */

@import "./css/ui-root.css";	/*  Theme colorscheme 	 */
@import "./css/ui-body.css";	/*  UI Body and legacy 	 */
@import "./css/ui-layout.css";	/*  UI Layout Grid-Flex  */
@import "./css/ui-card.css";	/*  Ui Card elements	 */
@import "./css/ui-form.css";	/*  UI Form Elements 	 */
@import "./css/ui-menunav.css";	/*  UI Menu Navigation	 */
@import "./css/ui-module.css";	/*  UI Modules CSS  	 */
@import "./css/ui-media.css";	/*  UI Media Queries	 */
@import "./css/ui-svg.css";	    /*  UI SVG settings 	 */
