/*
    Theme : XCL Flex Grid Admin
    Distribution : XCL 2.3 Alpha
    Version : 0.0.3
    Author : Nuno Luciano aka Gigamaster
    Date : 2019-11-01
	URL : https://github.com/xoopscube/xcl/

    -------------------- -------------------- -------------------- IMPORT */

    @import "./css/ui-root.css";	    /*      UI Default Settings 	*/
    @import "./css/ui-body.css";	    /*      Body and legacy        */
    @import "./css/ui-layout.css";	    /*      Layout Grid-Flex      */
    @import "./css/ui-card.css";	    /*      Card elements   	 */
    @import "./css/ui-form.css";	    /*      Form Elements    	*/
    @import "./css/ui-menunav.css";	    /*      Menu Navigation    */
    @import "./css/ui-module.css";	    /*      Modules CSS       */
    @import "./css/ui-media.css";	    /*      Media Queries    */
    @import "./css/ui-svg.css";	        /*      SVG settings    */
