/*
 * Theme XCL DEFAULT
 * @version   2.3.1
 * @author    Nuno Luciano ( https://github.com/gigamaster )
 * @copyright 2005-2022 The XOOPSCube Project
*  @license   BSD
 * @link      https://github.com/xoopscube
 */

/* -------------------- ROOT DEFAULT */

@font-face {
    font-family     : 'Nunito'; /*'Nunito';  nunito-300 - latin */
    font-style      : normal;
    font-weight     : 300;
    src             : url('../fonts/nunito-v16-latin-300.woff2') format('woff2'); /*local(''),Chrome 26+, Opera 23+, Firefox 39+ */
}

:root {
    /* -------------------- Development Mode */
    --dev-mode      : none; /* [block] : [none] Display Smarty Template Name */

    /* -------------------- FONT-FAMILY */
    --font-family   : "Segoe UI", sans-serif, -apple-system, BlinkMacSystemFont, Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --font-round    : 'Nunito', Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;  /* Web Safe font-family rounded */
    --font-mono     : SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    --font-serif    : serif;
    /* calc([minimum size] + ([maximum size] - [minimum size]) * ((100vw - [minimum viewport width]) / ([maximum viewport width] - [minimum viewport width]))); */
    --font-scale    : calc(14px + (20 - 14) * ((100vw - 600px) / (1600 - 600)));
    /* Fixed */
    --font-size     : 16px;

    --font-24       : 24px;
    --font-20       : 20px;
    --font-16       : 16px;
    --font-14       : 14px;
    --font-12       : 12px;
    --font-8        : 8px;

    --font-weight   : lighter; /*lighter; normal or 300 */
    --line-height   : calc(3px + 2ex + 3px);

    /* -------------------- SPACING - MARGIN & PADDING  */
    /* Override default value in X-layout */
    --space-no   : 0; /* Remove any element space  */
    /*--space-unit : var( --font-size ); /* Default */

    --space-unit : var(--font-size);
    /* Space unit 16px * 1, 2, 3,  4,  5,  6,  7,  8,  9 */
    /* Space in pixels = 4, 6, 8, 10, 12, 16, 24, 32, 40 */
    --space-1       : calc(var(--space-unit) * 0.25);
    --space-2       : calc(var(--space-unit) * 0.375);
    --space-3       : calc(var(--space-unit) * 0.5);
    --space-4       : calc(var(--space-unit) * 0.625);
    --space-5       : calc(var(--space-unit) * 0.75);
    --space-6       : calc(var(--space-unit) * 1);
    --space-7       : calc(var(--space-unit) * 1.5);
    --space-8       : calc(var(--space-unit) * 2);
    --space-9       : calc(var(--space-unit) * 2.5);

    /* -------------------- -------------------- COLOR-SCHEME */
    /* hue, saturation, lightness */
    --H: 217;
    --S: 15%;
    --L: 10%;
    --color-1       : hsl(var(--H), var(--S), calc(var(--L) * 0.5) );
    --color-2       : hsl(var(--H), var(--S), calc(var(--L) * 1) );
    --color-3       : hsl(var(--H), var(--S), calc(var(--L) * 1.5) );
    --color-4       : hsl(var(--H), var(--S), calc(var(--L) * 2) );
    --color-5       : hsl(var(--H), var(--S), calc(var(--L) * 3) );
    --color-6       : hsl(var(--H), var(--S), calc(var(--L) * 4.5) );
    --color-7       : hsl(var(--H), var(--S), calc(var(--L) * 7) );
    --color-8       : hsl(var(--H), var(--S), calc(var(--L) * 8) );
    --color-9       : hsl(var(--H), var(--S), calc(var(--L) * 9) );

    /* -------------------- -------------------- COLORS */

    --mono-1        : hsl(0, 0%, 10%);
    --mono-2        : hsl(0, 0%, 20%);
    --mono-3        : hsl(0, 0%, 30%);
    --mono-4        : hsl(0, 0%, 40%);
    --mono-5        : hsl(0, 0%, 50%);
    --mono-6        : hsl(0, 0%, 60%);
    --mono-7        : hsl(0, 0%, 70%);
    --mono-8        : hsl(0, 0%, 80%);
    --mono-9        : hsl(0, 0%, 90%);

    --red-1         : hsl(0, 100%, 40%);
    --red-2         : hsl(0, 100%, 50%);
    --red-3         : hsl(0, 100%, 60%);
    --orange-1      : hsl(30, 100%, 40%);
    --orange-2      : hsl(30, 100%, 50%);
    --orange-3      : hsl(30, 100%, 60%);
    --pink          : hsl(340, 82%, 52%);
    --purple-1      : hsl(300, 100%, 15%);
    --purple-2      : hsl(300, 100%, 20%);
    --purple-3      : hsl(300, 100%, 25%);
    --purple-4      : hsl(300, 100%, 30%);
    --indigo        : hsl(231, 48%, 48%);
    --blue-1        : hsl(215, 80%, 40%);
    --blue-2        : hsl(207, 90%, 54%);
    --blue-3        : hsl(199, 98%, 48%);
    --cyan          : hsl(187, 100%, 42%);
    --teal          : hsl(174, 100%, 29%);
    --green         : hsl(122, 40%, 40%);
    --green-light   : hsl(90, 50%, 45%);
    --lime          : hsl(65, 70%, 44%);
    --amber         : hsl(40, 93%, 74%);
    --white         : hsl(0, 0%, 90%);

    /* -------------------- -------------------- BODY */

    --body-bg       : var( --color-1 );
    --body-color    : var( --color-8 );
    --body-font     : var( --font-family );
    --body-width    : 100%;

    --layout-main-width   : 1242px;
    --layout-footer-width : 1242px;

    --link          : var(--color-9);
    --link-active   : var(--amber);
    --link-hover    : var(--amber);
    --link-visited  : var(--color-9);
    --link-focus    : var(--amber);

    --bg-linear     : linear-gradient(145deg, var(--color-2), var(--color-1) );


    /* -------------------- -------------------- ACCORDION */

    --accordion-bg              : var(--color-2);
    --accordion-border          : var(--border);
    --accordion-cursor          : pointer;
    --accordion-font            : 300 16px var(--font-family);
    --accordion-margin          : 2px 0 0 0;
    --accordion-radius          : var(--border-radius);
    --accordion-shadow          : inherit;
    --accordion-space           : var(--space-4) var(--space-5);

    /*background      : linear-gradient(145deg, hsl(220, 15%, 15%), hsl(220, 21%, 15%));*/

    --accordion-content-bg      : var(--color-2);
    --accordion-content-border  : var(--border);
    --accordion-content-color   : var(--color-8);
    --accordion-content-radius  : var(--border-radius);
    --accordion-content-space   : 1em 2.2em;

    /* -------------------- -------------------- ASIDE LEFT [ column ] */

    --aside-left-animation      : left 1s .4s both;
    --aside-left-bg             : none; /*transparent ;*/
    --aside-left-border         : none;
    --aside-left-height         : auto;
    --aside-left-radius         : none;
    --aside-left-shadow         : none;
    --aside-left-space          : var( --space-4 );
    --aside-left-width          : auto; /* 320px !important;  size-xsmall */
    /* state action */
    --aside-left-shadow-on      : none;

    /* -------------------- -------------------- BLOCK ASIDE RIGHT */

    --aside-right-bg            : transparent ;
    --aside-right-border        : none;
    --aside-right-height        : auto;
    --aside-right-radius        : none;
    --aside-right-shadow        : none;
    --aside-right-space         : var( --space-4 );
    --aside-right-width         : auto;
    /* state action */
    --aside-right-shadow-on     : none;

    /* -------------------- -------------------- BADGE */

    --badge-bg                  : var(--color-2);
    --badge-border              : var(--border);
    --badge-display             : inline-block;
    --badge-font                : var(--font-family);
    --badge-radius              : var(--border-radius);
    --badge-shadow              : none;
    --badge-size                : var(--font-12);
    --badge-space               : var(--space-1) var(--space-3); /* padding */

    /* -------------------- -------------------- BLOCK [div] */

    --block-bg                  : var( --color-2 );
    --block-border              : var( --border );
    --block-content             : var( --font-16 );
    --block-footer              : var( --font-16 );
    --block-hover               : var( --color-4 );
    --block-image               : none;
    --block-radius              : var( --border-radius );
    --block-shadow              : none;
    --block-space               : var( --space-4 ); /* padding */
    --block-subtitle            : var( --font-14 );
    /* state action */
    --block-shadow-on           : none;

    --block-title-color         : var( --color-7);
    --block-title-font          : bold 20px var(--font-round);
    --block-title-space         : var( --space-2 );

    --block-left-title-bg       : none;
    --block-left-title-border   : none;
    --block-left-title-color    : var(--color-7);
    --block-left-title-size     : var(--font-16);
    --block-left-title-space    : var(--space-2) var(--space-2) var(--space-2) var(--space-6);

    --block-right-title-bg      : none;
    --block-right-title-border  : none;
    --block-right-title-color   : var(--color-6);
    --block-right-title-size    : var(--font-16);
    --block-right-title-space   : var(--space-2) var(--space-2) var(--space-6) var(--space-6);

    /* -------------------- -------------------- BLOCK MENU [ul] [li] [a] */

    --b-menu-transition         : all var(--transition-time) var(--transition-cube);
    --b-menu-bg                 : transparent; /* var( --color-2 ); */
    --b-menu-border             : 1px solid transparent;
    --b-menu-color              : var( --font-16 );
    --b-menu-image              : none;
    --b-menu-radius             : none;
    --b-menu-shadow             : none; /* 0 0 3px 1px rgba(44, 98, 246, .5); */
    --b-menu-space              : var( --space-3 ) var( --space-6 );
    --b-menu-subtitle           : var( --font-14 );
    /* state action */
    --b-menu-bg-on              : var( --color-2 );
    --b-menu-border-on          : 1px solid transparent;
    --b-menu-color-on           : var( --link-hover );
    --b-menu-radius-on          : none;
    --b-menu-shadow-on          : none;

    /* -------------------- -------------------- BORDER */

    --border                    : var(--border-width) var(--border-style) var(--border-color);
    --border-color              : var( --color-4);
    --border-style              : solid;
    --border-radius             : 5px;
    --border-width              : 1px;

    /* -------------------- -------------------- BREADCRUMBS */

    --breadcrumbs-bg            : var(--bg-linear);
    --breadcrumbs-border        : none; /* var( --border); */
    --breadcrumbs-margin        : 0 auto var(--space-7) 0; /* refer to div.content py-7 */
    --breadcrumbs-radius        : var(--border-radius);
    --breadcrumbs-shadow        : none; /* 1px 2px 3px 1px hsl(0, 10%, 10%); */
    --breadcrumbs-space         : var(--space-1);
    /* state action */
    --breadcrumbs-bg-on         : var(--bg-linear);

    --bc-link-bg                : var(--color-3);
    --bc-link-border            : var(--border);
    --bc-link                   : var(--color-8);
    --bc-link-radius            : var(--border-radius );
    --bc-link-shadow            : 0 0 4px 1px rgba(44, 98, 246, 0);
    --bc-link-space             : var(--space-1) var(--space-6);
    --bc-transition             : all var(--transition-time) var(--transition-cube);
    /* state action */
    --bc-link-bg-on             : var(--color-4);
    --bc-link-border-on         : var(--border);
    --bc-link-on                : var(--link-hover);
    --bc-link-shadow-on         : 0 0 4px 1px hsla(40, 93%, 74%, 0);

    /* -------------------- -------------------- BUTTON */

    --button-bg                 : var(--color-4); /* linear-gradient(145deg, var(--blue-1), var(--blue-2)); */
    --button-color              : var(--color-9);
    --button-border             : var(--border); /*1px solid hsl(219, 17%, 21%); */
    --button-font               : 100 var(--font-14)/1.5 var(--font-family);
    --button-margin             : var(--space-1) var(--space-2);
    --button-shadow             : 0 0 3px 1px rgba(44, 98, 246, 0);
    --button-padding            : var(--space-2) var(--space-5); /* 0.25em 1em; */
    --button-radius             : var(--border-radius);
    --button-transition         : all var(--transition-time) var(--transition-cube);
    /* state action */
    --button-bg-on              : var(--blue-1); /* linear-gradient(145deg, var(--color-3), var(--color-5) ); */
    --button-border-on          : 1px solid var(--blue-1);
    --button-color-on           : var( --link );
    --button-shadow-on          : 0 0 4px 2px rgba(44, 93, 247, .85);
    /* state action */
    --button-bg-active          : var(--blue-1);
    --button-border-active      : 1px solid var(--blue-2);
    --button-color-active       : var( --link );
    --button-shadow-active      : 0 0 4px 2px rgba(44, 93, 247, .85);

    /* -------------------- -------------------- CARD */

    --card-bg                   : var( --bg-linear );
    --card-border               : var( --border );
    --card-content              : var( --font-16 );
    --card-footer               : var( --font-16 );
    --card-full-bg              : var( --color-7 );
    --card-image                : none;
    --card-radius               : var( --border-radius );
    --card-shadow               : var( --shadow-1);
    --card-space                : var( --space-4 ) var( --space-5 );
    --card-subtitle             : var( --font-14 );
    --card-title                : var( --font-24 );
    --card-transition           : all var(--transition-time) var(--transition-cube);
    /* state action */
    --card-hover                : var( --color-9);
    --card-shadow-on            : var( --shadow-4);

    /* -------------------- -------------------- DROPDOWN */

    --d-toggle-bg               : none; /*var(--color-2); */
    --d-toggle-border           : none; /*var(--border);*/
    --d-toggle-color            : var(--link);
    --d-toggle-font             : inherit;
    --d-toggle-radius           : var(--border-radius);
    --d-toggle-shadow           : 0 0 3px 1px rgba(44, 98, 246, .5);
    --d-toggle-space            : var(--space-2 ) var(--space-2);
    --d-toggle-transition       : all var(--transition-time) var(--transition-cube);
    /* state action */
    --d-toggle-bg-on            : var(--color-3); /* link [div][a] */

    /* dropdown menu */
    --dropdown-bg               : var(--color-3);
    --dropdown-border           : var(--border);
    --dropdown-font             : 100 var(--font-14)/2 sans-serif;
    --dropdown-radius           : 7px;
    --dropdown-shadow           : 0px 2px 4px 1px rgba(0, 0, 0, 0.75);
    --dropdown-space            : var(--space-2);
    --dropdown-transition       : all var(--transition-time) var(--transition-cube);
    --dropdown-width            : 180px;
    /* state action */
    --dropdown-bg-on            : var(--color-2);

    /* -------------------- -------------------- FIELDSET LEGEND  */

    --fieldset-bg               : linear-gradient(145deg, var(--color-2), var(--color-1)); /*linear-gradient(145deg, #252b34, #20242c);*/
    --fieldset-border           : var(--border);
    --fieldset-radius           : var(--border-radius);
    --fieldset-display          : block;
    --fieldset-space            : var(--space-6);
    --fieldset-transition       : all 0.2s ease;

    --legend-bg                 : var(--color-3);
    --legend-border             : var(--border);
    --legend-color              : var(--color-8);
    --legend-radius             : var(--border-radius);
    --legend-shadow             : 0 1px 3px 0 rgba(0, 0, 0, 0.5);
    --legend-space              : var(--space-2 ) var(--space-4 );

    /* -------------------- -------------------- FOOTER */

    --footer-bg                 : transparent; /* var(--color-2); */
    --footer-border             : 1px solid var(--color-3);
    --footer-color              : var(--color-6);
    --footer-link               : var(--color-7);

    --footer-font               : var(--font-round); /* font-family */
    --footer-size               : var(--font-14);
    --footer-weight             : var(--font-weight);
    --footer-height             : auto;
    --footer-margin             : 0 auto;
    --footer-space              : 0 var(--space-8) var(--space-8); /* padding */
    --footer-width              : var(--layout-footer-width);

    /* -------------------- -------------------- HEADER */

    --header-bg                 : var(--color-2);
    --header-color              : var(--color-8);
    --header-font               : var(--font-round); /* font-family */
    --header-size               : var(--font-16);
    --header-weight             : var(--font-weight);
    --header-height             : auto;
    --header-margin             : 0 auto;
    --header-space              : var(--space-4); /* padding */
    --header-width              : 100%;

    /* -------------------- -------------------- HEADING [h1] to [h6] */

    --head-color                : var(--color-8);
    --head-font                 : var(--font-round);
    --head-space                : var(--space-2) 0;

    /* -------------------- -------------------- INPUT */

    --input-bg                  : var(--color-2);
    --input-border              : var(--border);
    --input-color               : var(--link);
    --input-radius              : var(--border-radius);
    --input-shadow              : 0 0 0 5px hsla(var(--H), var(--S), calc(var(--L) * 2.0), .25 );/*0 0 0 .25em var(--color4); hsl(219, 17%, 21%);*/
    --input-font                : var(--font-16);
    --input-padding             : var(--space-2) var(--space-5);
    --input-margin              : var(--space-1);
    --input-max-width           : 100%;
    --input-transition          : 0.4s;
    --input-width               : auto;
    /* state action */
    --input-bg-on               : var(--color-1);
    --input-border-on           : 1px dotted var(--blue-1); /*hsl(216, 85%, 34%); */
    --input-color-on            : var(--link-hover);
    --input-shadow-on           : 0 0 0 5px hsla(216, 98%, 52%, 0.25);

    /* -------------------- -------------------- MAIN */

    --main-bg       : none;
    --main-border   : none;
    --main-radius   : none;
    --main-padding  : 0;
    --main-margin   : 1em auto;
    --main-width    : var(--layout-main-width);

    /* -------------------- -------------------- NOTIFICATION */


    --notify-bg             : var( --color-3 );


    --notify-border-color   : var( --color-4 );
    --notify-border-radius  : var( --border-radius );
    --notify-border-style   : solid ;
    --notify-border-width   : 7px ;
    --notify-color          : var(  --color-8  );
    --notify-shadow         : var(	--shadow-1 );


    --notify-margin         : var(--space-6) auto;
    --notify-padding        : 1em 1em 1em 3em;
    --notify-width-max      : 98%;

    --notify-bg-on          : var( --color-3 );
    --notify-color-on       : var( --color-7 );
    --notify-shadow-on      : var(	--shadow-3 );

    /*	-------------------- -------------------- Nope */
    --padding   : 0;
    --shadow    : 5px 10px 15px #1a1e25, -5px -10px 20px #2c323d;

    /* -------------------- -------------------- SHADOW */
    --shadow-1   : 0 1px 0 rgba(0,0,0,0.10), 0 1px 0 rgba(0,0,0,0.10);
    --shadow-2   : 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    --shadow-3   : 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    --shadow-4   : 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    --shadow-5   : 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    --shadow-6   : 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    --shadow-on : 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

    /* -------------------- -------------------- TAB */

    --tabs-bg                   : var(--color-1);
    --tabs-border               : var(--border);
    --tabs-radius               : var(--border-radius);
    --tabs-space                : none; /* var(--space-4); */

    --tabs-nav-bg               : var(--color-1);
    --tabs-nav-border           : var(--border);
    --tabs-nav-radius           : var(--border-radius);
    --tabs-nav-margin           : var(--space-4) var(--space-4) 0;
    --tabs-nav-padding          : var(--space-4) var(--space-4) 0;
    --tabs-nav-shadow           : 0 5px 5px hsla(210, 10%, 12%, 0.9);

    /* TODO */
    --ui-tabs-loading           : var(--red-1);
    --tab-bg                    : var(--color-4);
    --tab-color                 : var(--link);
    --tab-border                : var(--border);
    --tab-radius                : var(--border-radius) var(--border-radius) 0 0;
    --tab-space                 : var(--space-2) var(--space-4);
    --tab-shadow                : 0 5px 5px hsla(210, 10%, 12%, 0.9);
    /* state action */
    --tab-bg-on                 : var(--color-3);
    --tab-color-on              : var(--link-hover);
    --tab-border-on             : 1px solid var(--color-3);

    /* tab panel */
    --tab-panel-bg              : none;
    --tab-panel-border          : none;
    --tab-panel-color           : var(--body-color);
    --tab-panel-space           : var(--space-6); /* .5em 1em; */

    /* -------------------- -------------------- TABLE */

    --table-bg                  : var(--bg-linear);
    --table-bg-odd              : var(--color-2);
    --table-bg-even             : transparent;
    --table-border              : var(--border);
    --table-color               : var(--body-color);
    --table-font                : lighter var(--font-14) var(--font-family);
    /* state action */
    --table-color-on            : var(--color-8);

    --table-thead               : var(--color-1);
    --table-tbody               : transparent;
    --table-tfoot               : var(--color-1);
    --table-th                  : transparent;
    --table-td                  : transparent;
    /* state action */
    --table-tr-on               : var(--color-3);
    --table-td-on               : var(--color-4);

    --table-align               : center;
    --table-margin              : 0;
    --table-padding             : var(--space-4);
    --table-vertical-align      : top;
    --table-border-left         : var(--border);
    --table-space               : var(--space-4);
    --table-width               : 100%;

    /* -------------------- -------------------- TRANSITION */
    /* Transitions to control ANIMATION = TIME + Effect    */

    --transition-time           : 0.4s;
    --transition-cube           : all cubic-bezier(0.25, 0.46, 0.45, 0.94);
    --transition-ease           : all .15s ease-in-out,box-shadow .15s ease-in-out;



    /* -------------------- -------------------- JQUERY-UI */

    --ui-button                 : inherit; /* a, active, ui-state-active:hover  */

    --ui-corner-all             : var(--border-radius);

    --ui-dialog-bg              : rgb(21,25,27) !important;
    --ui-dialog-shadow          : 0 5px 5px hsla(200, 13%, 9%, 0.9);

    --ui-icon-background        : var(--link-hover); /* background-color, border */
    --ui-icon-background-border : var(--link-hover);
    --ui-icon-width             : 16px;
    --ui-icon-height            : 16px;

    --ui-menu-background        : var(--bg-linear);
    --ui-menu-border            : var(--border);
    --ui-menu-radius            : var(--border-radius);
    --ui-menu-space             : var(--space-1) var(--space-2);
    /* UI-MENU ITEM / WRAPPER */
    --ui-menu-item-background   : inherit;
    --ui-menu-item-border       : var(--border);
    --ui-menu-item-radius       : var(--border-radius);
    --ui-menu-item-color        : var(--link);
    --ui-menu-item-space        : var(--space-1) var(--space-4);
    /* state action */
    /* UI-MENU ITEM / HOVER / ACTIVE / FOCUS */
    --ui-menu-item-bg-on        : var(--blue-1);
    --ui-menu-item-border-on    : var(--border);
    --ui-menu-item-radius-on    : inherit;
    --ui-menu-item-color-on     : var(--link);
    --ui-menu-item-space-on     : var(--space-1) var(--space-4);

    --ui-priority-primary       : var(--font-weight); /* font-weight : bold; */
    --ui-priority-secondary     : .7; /* opacity : .7; of var(--font-weight) */

    --ui-progressbar-height     : 1em;
    --ui-progressbar-value      : var(--blue-1);

    --ui-state-active-bg        : var(--blue-1);
    --ui-state-active-border    : var(--border); /*1px solid transparent;*/
    --ui-state-active-color     : var(--color-8);
    --ui-state-active-font      : normal normal 300;
    --ui-state-active-link      : var(--link-active); /* text-decoration : none; */
    --ui-state-active-radius    : var(--border-radius);

    --ui-state-check-bg         : var(--input-bg);
    --ui-state-check-border     : var(--input-border);
    --ui-state-check-radius     : 50% !important; /* default and checked */
    --ui-state-check-shadow     : 1px 1px 4px hsl(219, 17%, 21%); /* default and checked */
    --ui-state-check-height     : 16px;
    --ui-state-check-width      : 16px;

    --ui-state-checked-bg       : var(--blue-1);
    --ui-state-checked-border   : 5px solid var(--color-2);

    --ui-state-default-bg       : var(--button-bg);
    --ui-state-default-border   : 1px solid var(--color-3);
    --ui-state-default-color    : var(--color-8);
    --ui-state-default-link     : var(--link); /*text-decoration : none;*/

    --ui-state-disabled-bg      : var(--color-3);
    --ui-state-disabled-border  : 1px solid var(--color-3);
    --ui-state-disabled-color   : var(--color-3);
    --ui-state-disabled-font    : inherit;
    --ui-state-disabled-op      : .4; /* background-image: none; opacity: .35;*/

    --ui-state-error-bg         : var(--color-2);
    --ui-state-error-border     : 1px solid var(--red-2);
    --ui-state-error-color      : var(--color-8);
    --ui-state-error-link       : var(--link); /* ui-state-error a : color */
    --ui-state-error-text       : var(--red-3);

    --ui-state-highlight-bg     : var(--color-2);
    --ui-state-highlight-border : 1px solid var(--blue-2);
    --ui-state-highlight-color  : var(--color-8);
    --ui-state-highlight-link   : var(--link);
    /* state action */
    --ui-state-hover-bg         : var(--button-bg-on);
    --ui-state-hover-border     : 1px solid var(--color-3);
    --ui-state-hover-color      : var(--link);
    --ui-state-hover-font       : normal normal 300 16px;

    --ui-visual-focus           : 0 0 3px 1px var(--blue-3); /* box-shadow */

    --ui-widget-overlay-bg      : var(--color-2);
    --ui-widget-overlay-opacity : .7; /* opacity : .8; */
    --ui-widget-shadow          : 1px 2px 4px 1px var(--color-1); /* box-shadow: */

    --ui-widget-font            : normal normal normal 300 var(--font-family);

    --ui-widget-header-bg       : var(--color-3); /* background-image: none; */
    --ui-widget-header-border   : var(--border);
    --ui-widget-header-color    : var(--color-8);
    --ui-widget-header-font     : normal normal 300 var(--font-family);
    --ui-widget-header-link     : var(--link);

    --ui-widget-content-bg      : var(--bg-linear); /* background-image: none; */
    --ui-widget-content-border  : var(--border);
    --ui-widget-content-color   : var(--color-8);
    --ui-widget-content-font    : normal normal 300 var(--font-family);
    --ui-widget-content-link    : var(--link);


}
html[data-theme="gold-dragon"] {
    --color-1 : hsl(45, 0%, 4%);
    --color-2 : hsl(45, 0%, 12%);
    --color-3 : hsl(45, 0%, 23%);
    --color-4 : hsl(45, 0%, 34%);
    --color-5 : hsl(45, 12%, 45%);
    --color-6 : hsl(45, 90%, 30%);
    --color-7 : hsl(45, 90%, 35%);
    --color-8 : hsl(45, 90%, 40%);
    --color-9: hsl(45, 70%, 45%);
}
