/*
 * Theme XCL DEFAULT
 * @version   2.3.1
 * @author    Nuno Luciano ( https://github.com/gigamaster )
 * @copyright 2005-2022 The XOOPSCube Project
*  @license   https://github.com/xoopscube/xcl/blob/master/BSD_license.txt
 * @link      https://github.com/xoopscube
 * #brief     Unfortunately, CSS vars cannot be used to change fill/stroke property of SVG background-image (icon color)
 */
/* -------------------- -------------------- NOTIFICATION */


/* __/!\__ Icon SVG background-image __/!\__
   Encode custom color for svg fill/stroke property
   e.g.: color : fill='%23face74'
*/

.confirm, .tips, .error, .confirm, .success, .msg-callout,
.confirmInfo, .confirmError, .confirmMsg, .confirmOk, .errorMsg, .resultMsg {

    background-color    : var(--notify-bg);
    background-position : 1em 1em;
    background-repeat : no-repeat;
    /*background-size     : 24px 24px;*/
    display             : block;
    list-style          : none;
    border-left     : var(--notify-border-width) var(--notify-border-style) var(--notify-border-color);
    border-radius   : var(  --notify-border-radius );
    box-shadow      : var(  --notify-shadow    );
    color           : var(  --notify-color    );
    padding         : var(  --notify-padding       );
    margin          : var(  --notify-margin        );
    max-width       : var(  --notify-width-max     );

}

.confirm,
.resultMsg,
.confirmInfo {
    border-left       : 7px solid var( --color-amber );
    background-image  :  url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1.5em' height='1.5em' style='vertical-align: -0.125em;' viewBox='0 0 24 24'%3E %3Cpath d='M11.5 3a9.5 9.5 0 1 1 0 19a9.5 9.5 0 0 1 0-19zm0 1a8.5 8.5 0 1 0 0 17a8.5 8.5 0 0 0 0-17zM11 8v2h1V8h-1zm0 4v5h1v-5h-1z' fill='%23face74'/%3E %3C/svg%3E");
}
/*.confirm {*/
/*    */
/*    background: var( --ui-notification-bg ) url(data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1.5em' height='1.5em' style='vertical-align: -0.125em;' viewBox='0 0 24 24'%3E %3Cpath d='M11.5 3a9.5 9.5 0 1 1 0 19a9.5 9.5 0 0 1 0-19zm0 1a8.5 8.5 0 1 0 0 17a8.5 8.5 0 0 0 0-17zM11 8v2h1V8h-1zm0 4v5h1v-5h-1z' fill='%23face74'/%3E %3C/svg%3E) 1em 1em no-repeat;*/
/*}*/
.msg-info,
.tips {
    border-left       : 7px solid var(  --blue-1    );
    background-image  : url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1.5em' height='1.5em' style='vertical-align: -0.125em;' viewBox='0 0 24 24'%3E %3Cpath d='M11.5 3a9.5 9.5 0 1 1 0 19a9.5 9.5 0 0 1 0-19zm0 1a8.5 8.5 0 1 0 0 17a8.5 8.5 0 0 0 0-17zM11 8v2h1V8h-1zm0 4v5h1v-5h-1z' fill='%23face74'/%3E %3C/svg%3E");
}

.error,
.errorMsg,
.confirmError {
    border-left       : 7px solid var(  --red-1      );
    background-image  : url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1.5em' height='1.5em' style='vertical-align: -0.125em;' viewBox='0 0 24 24'%3E %3Cpath d='M1 21L11.5 2.813L22 21H1zm19.268-1L11.5 4.813L2.732 20h17.536zM11 14v-4h1v4h-1zm0 2h1v2h-1v-2z' fill='%23face74'/%3E %3C/svg%3E");
}

.success,
.confirmMsg,
.confirmOk {
    border-left       : 7px solid var(  --green     );
    background-image  : url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1.5em' height='1.5em' style='vertical-align: -0.125em;' viewBox='0 0 24 24'%3E %3Cpath d='M9 19l-5.657-5.657l2.121-2.121L9 14.757l8.485-8.485l2.122 2.121L9 19zm-3.536-6.364l-.707.707L9 17.586l9.192-9.193l-.707-.707L9 16.172l-3.536-3.536z' fill='%23face74'/%3E %3C/svg%3E");
}

.message-warning {

    background      : var(  --notify-bg    );
    border          : 1px solid var(  --amber );
    border-radius   : var(  --notify-border-radius );
    color           : var(  --color-4    );
    padding         : var(  --space-2       );
    animation       : badge-warning 1s infinite alternate;

}


/* ---------- ---------- X-Update */

.notification {
    color           : var(  --white     );
    display         : flex;
    flex-basis      : 100%;
    flex-direction  : row-reverse;
    align-items     : center;
    justify-content : center;
    float           : none!important;
}
.notification {
    /*padding: 15px;*/
    /*margin-bottom: 20px;*/
    /*border: 1px solid transparent;*/
    /*position:relative;*/
}

.runtime {
    background: var(--color-4);
    border:1px dotted var(--color-6);
    border-radius: 5px;
    box-shadow: 0 2px 10px 4px var(--color-7), 0 10px -16px 1px var(--color-2);
    color: var(--color-8);
    padding: .25rem .5rem;
    text-align: center;
    bottom: 0;
    width: 270px;

    right: 1.5rem;
    min-width: 240px;
    z-index: 1009;
    display: none;
    margin-bottom:1rem;
    position: fixed;
}


.sticky {
    background      : var(  --green      );
    border    : var(  --border   );
    border-bottom   : 1px solid transparent !important;
    box-shadow      : var(  --shadow-3     );
    left            : unset;
    margin          : 0 calc(   50% - 200px );
    width           : 400px;
    z-index         : 1000;
}

.ondemand {
    background      : var(  --green      );
    border    : var(  --border   ) !important;
    box-shadow      : var(  --shadow-3     );
    color           : var(  --white     );
    height          : 50px;
    left            : unset;
    margin          : 0 calc(   50% - 200px );
    width           : 400px;
    z-index         : 2000;
}

.ondemand > div > a {
    color           : var(  --amber    );
}

.sticky a, .floated a, .fixed a, .ondemand a {
    float           : none;
    margin          : 5px 10px 0 0;
}

.ondemand-button {
    background      : var(  --color-4      );
    border    : var(  --border   );
    border-top-right-radius	: unset;
    border-top-left-radius	: unset;
    box-shadow      : var(  --shadow-3     );
    float           : none!important;
    height          : 24px;
    left            : unset!important;
    margin          : 0 50% !important;
    padding         : 0 5px;
    position        : absolute;
    top             : 0;
    width           : 32px !important;
    z-index         : 1999;
}

.hide .ondemand-button {
}

/* -------------------- -------------------- UI Tooltip */
.ui-tooltip,
.arrow:after {
    background          : black!important; /* override ui widget background */
    /*border: 1px solid hsl(215, 15%, 35%);*/
    border              : 1px solid #face74;
    /*box-shadow: 0 -1px 0 #face74 inset;*/
}
.ui-tooltip {
    padding             : 8px 20px;
    color               : white;
    border              : 1px solid #face74 !important; /* override ui widget background */
    border-radius       : var(--border-radius);
    font                : lighter 14px system, Sans-Serif;
    /*text-transform: uppercase;*/
    /*box-shadow: 2px 4px 8px 0 rgba(0, 0, 0, .8);*/
    /*background-color: black;*/
    /*box-shadow: 0 -1px 0 orange inset;*/
    /*background:olivedrab;*/
}
.arrow {
    width               : 44px;
    height              : 16px;
    overflow            : hidden;
    position: absolute;
    left: 50%;
    margin-left: -35px;
    bottom: -16px;
}
.arrow.top {
    top: -16px;
    bottom: auto;
    box-shadow: 0 -1px 0 green inset;
    background:red;
}
.arrow.left {
    left: 20%;
    /*box-shadow: 0 -1px 0 deepskyblue inset;*/
    /*background:deepskyblue;*/
}
.arrow:after {
    content: "";
    position: absolute;
    left: 20px;
    top: -20px;
    width: 25px;
    height: 25px;
    box-shadow: 6px 5px 9px -9px olivedrab;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    /*box-shadow: 0 -1px 0 olivedrab inset;*/
    /*background:olivedrab;*/
}
.arrow.top:after {
    bottom: -20px;
    top: auto;
    box-shadow: 0 1px 0 red inset;
    border: var(--border);
    /*background:#face74;*/
}
