
<ul id="privatemessages" class="list-group list-group-flush">
    <li class="list-group-item">

    <{if $block>0}>
        <a class="highlight d-flex justify-content-between align-items-center" href="<{$message_url}>?action=index">
            <span><img src="<{$smarty.const.XOOPS_MODULE_URL}>/message/images/email_inbox.png" alt="">
            <{$smarty.const._MD_MESSAGE_TEMPLATE15}></span>
            <span class="badge badge-dark px-2"><span style="color:orange; font-weight: bold;"><{$block}></span>/<{$incount}></span>
        </a>
          <{else}>
        <a href="<{$message_url}>?action=index">
            <img src="<{$smarty.const.XOOPS_MODULE_URL}>/message/images/email_inbox.png" alt="">
            <{$smarty.const._MD_MESSAGE_TEMPLATE15}> <span class="badge badge-dark px-2"><{$incount}></span></a>
    <{/if}>


    <li class="list-group-item">
    <a class="highlight d-flex justify-content-between align-items-center" href="<{$message_url}>?action=send">
        <span><img src="<{$smarty.const.XOOPS_MODULE_URL}>/message/images/email_outbox.png" alt="">
        <{$smarty.const._MD_MESSAGE_TEMPLATE7}></span> <span class="badge badge-dark px-2"> <{$outcount}></span></a>

    <li class="list-group-item">
    <a href="<{$message_url}>?action=new">
        <img src="<{$smarty.const.XOOPS_MODULE_URL}>/message/images/email_add.png" alt="">
        <{$smarty.const._MD_MESSAGE_TEMPLATE8}></a>

    <li class="list-group-item">
    <a href="<{$message_url}>?action=settings">
        <img src="<{$smarty.const.XOOPS_MODULE_URL}>/message/images/email_edit.png" alt="">
        <{$smarty.const._MI_MESSAGE_SUB_SETTINGS}></a>

        <{if $UserSearch}>
            <li class="list-group-item">
            <a href="<{$message_url}>?action=search">
                <img src="<{$smarty.const.XOOPS_MODULE_URL}>/message/images/email_edit.png" alt="">
                <{$smarty.const._MI_MESSAGE_SUB_SEARCH}></a>

            <li class="list-group-item">
            <a href="<{$message_url}>?action=favorites">
                <img src="<{$smarty.const.XOOPS_MODULE_URL}>/message/images/email_edit.png" alt="">
                <{$smarty.const._MI_MESSAGE_SUB_FAVORITES}></a>
        <{/if}>
</ul>
