<nav>
    <ul>
        <li class="nav-logo">
            <a href="<{$xoops_url}>/admin.php"><img src="<{"design/logo.png"|theme}>" alt="<{$legacy_sitename|xoops_escape}>" title="<{$smarty.const._CPHOME}>"></a>

        <li>
            <a class="btnav" href="<{$xoops_url}>/modules/legacy/admin/index.php?action=PreferenceList" accesskey="p" title="[p] <{$smarty.const._PREFERENCES}>">
                <i class="i-preferences"></i></a>
        <li>
            <a class="btnav" href="<{$xoops_url}>/modules/legacy/admin/index.php?action=ModuleList"accesskey="m" title="[m] Modules">
            <i class="i-module"></i></a>
        <li>
            <a class="btnav" href="<{$xoops_url}>/modules/legacy/admin/index.php?action=BlockList" accesskey="b" title="[b] Blocks">
            <i class="i-block-add"></i></a>
        <li>
            <a class="btnav" href="<{$xoops_url}>/modules/xelfinder/manager.php?admin=1" target="_blank" accesskey="f" title="[f] File-Manager">
            <i class="i-filemanager"></i></a>
        <li>
            <a class="btnav" href="<{$xoops_url}>/modules/legacy/admin/index.php?action=ThemeList" accesskey="t" title="[t] Theme">
            <i class="i-desktop"></i></a>
        <li>
            <a class="btnav" href="<{$xoops_url}>/modules/user/admin/index.php" accesskey="u" title="[u] Users">
                <i class="i-user"></i></a>
        <li>
            <a class="btnav" href="<{$xoops_url}>/modules/user/admin/index.php?action=GroupList" accesskey="g" title="[g] Groups">
                <i class="i-group"></i></a>


        <li class="ui-color-mode">

            <{$xoops_lblocks.action_search.content}>

            <button id="themeToggle" class="btn-fx btnav nav-icon" title="Color Mode"><span>&#x263C;</span></button>

            <script type="module">
                import {ThemeManager} from '<{$xoops_url}>/common/js/ui-theme-manager.js';
                new ThemeManager(document.getElementById('themeToggle'));
            </script>

    </ul>
</nav>
