<h3>Table</h3>

    <p>desc</p>

    <div class="ui-flex-row">
        <script>

        </script>

        <div class="ui-flex-column">

            <table>
                <thead>
                    <th>thead</th>
                    <th>th</th>
                </thead>
                <tbody>
                    <tr>
                        <td>1. tbody</td>
                        <td>1. td</td>
                    </tr>
                    <tr>
                        <td>2. tbody</td>
                        <td>2. td</td>
                    </tr>
                    <tr>
                        <td>3. tbody</td>
                        <td>3. td</td>
                    </tr>
                    <tr>
                        <td>4. tbody</td>
                        <td>4. td</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td>tfoot</td>
                        <td>td</td>
                    </tr>
                </tfoot>
            </table>

        </div>

        <div class="ui-flex-column">
            <h4></h4>
            <p></p>
        </div>

    </div>

    <div class="ui-flex-row">

        <div class="ui-flex-column">

        </div>

        <div class="ui-flex-column">
            <h4></h4>
            <p></p>
        </div>

    </div>
