<h3 id="Buttons">Buttons</h3>

<div class="ui-flex-row">

    <div class="ui-flex-column">

    <p>
    <button class="ui-btn">ui-btn</button>
    <button class="ui-btn ui-btn-small">.ui-btn-small</button>
    <button class="ui-btn ui-btn disabled">ui-btn.disabled</button>
    <button class="ui-btn ui-btn-black">ui-btn.ui-btn-black</button>
    <button class="ui-btn ui-btn-white">ui-btn.ui-btn-white</button>
    <button class="ui-btn ui-btn-small">ui-btn.ui-btn-small</button>
    <button class="ui-btn ui-btn-danger">ui-btn-danger</button>
    <button class="ui-btn ui-btn-success">ui-btn.ui-btn-success</button>
    <button class="ui-btn ui-btn-warning">ui-btn.ui-btn-warning</button>
    <button class="ui-btn ui-badge">ui-badge</button>
    <button class="ui-btn ui-btn-block">ui-btn.ui-btn-block</button>
    </p>

    </div>

    <div class="ui-flex-column">
        <h4>button + class</h4>
        <p>Use buttons and links to trigger actions and enhance standard form elements inputs and anchors to
            themeable buttons with appropriate hover and active styles.</p>

    </div>

</div>

<div class="ui-flex-row">

    <div class="ui-flex-column">
        <p><a href="#" class="ui-btn">
        <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 24 24" class="svg-ui-icon">
        <path d="M13 9h-2V7h2m0 10h-2v-6h2m-1-9A10 10 0 0 0 2 12a10 10 0 0 0 10 10a10 10 0 0 0 10-10A10 10 0 0 0 12 2z" fill="currentColor">
        </path>
        </svg>Information </a>

    <a href="#" class="ui-btn">
        <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 24 24" class="svg-ui-icon">
        <path d="M20.71 7.04c.39-.39.39-1.04 0-1.41l-2.34-2.34c-.37-.39-1.02-.39-1.41 0l-1.84 1.83l3.75 3.75M3 17.25V21h3.75L17.81 9.93l-3.75-3.75L3 17.25z" fill="currentColor"></path>
        </svg> Module Edit
    </a>

    <a href="#" class="ui-btn">
        <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 24 24" class="svg-ui-icon">
        <path d="M17 14h2v3h3v2h-3v3h-2v-3h-3v-2h3v-3m-6 2L2 9l9-7l9 7l-9 7m0 2.54l1-.79V18c0 .71.12 1.39.35 2L11 21.07l-9-7l1.62-1.26L11 18.54z" fill="currentColor">
        </path>
        </svg> Block Installation</a>


    <a href="#" class="ui-btn"><svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 24 24" class="svg-ui-icon">
        <path d="M21 16.5c0 .38-.21.71-.53.88l-7.9 4.44c-.16.12-.36.18-.57.18c-.21 0-.41-.06-.57-.18l-7.9-4.44A.991.991 0 0 1 3 16.5v-9c0-.38.21-.71.53-.88l7.9-4.44c.16-.12.36-.18.57-.18c.21 0 .41.06.57.18l7.9 4.44c.32.17.53.5.53.88v9M12 4.15l-1.89 1.07L16 8.61l1.96-1.11L12 4.15M6.04 7.5L12 10.85l1.96-1.1l-5.88-3.4L6.04 7.5M5 15.91l6 3.38v-6.71L5 9.21v6.7m14 0v-6.7l-6 3.37v6.71l6-3.38z" fill="currentColor"></path>
        </svg> Module administration</a>


    <a href="#" class="ui-btn"><svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 24 24" class="svg-ui-icon">
        <path d="M12 17l-5-5h3V8h4v4h3l-5 5m9-.5c0 .38-.21.71-.53.88l-7.9 4.44c-.16.12-.36.18-.57.18c-.21 0-.41-.06-.57-.18l-7.9-4.44A.991.991 0 0 1 3 16.5v-9c0-.38.21-.71.53-.88l7.9-4.44c.16-.12.36-.18.57-.18c.21 0 .41.06.57.18l7.9 4.44c.32.17.53.5.53.88v9M12 4.15L5 8.09v7.82l7 3.94l7-3.94V8.09l-7-3.94z" fill="currentColor"></path>
        </svg> Module install</a>

    <a href="#" class="ui-btn ui-btn-small" title="Clone">
        <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 24 24" class="svg-ui-icon">
        <path d="M11 17H4a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h12v2H4v12h7v-2l4 3l-4 3v-2m8 4V7H8v6H6V7a2 2 0 0 1 2-2h11a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H8a2 2 0 0 1-2-2v-2h2v2h11z" fill="currentColor">
        </path>
        </svg> Clone</a>
    </p>
    </div>

    <div class="ui-flex-column">
        <h4>a href and class</h4>
        <p>Links are always text only. However <b>Buttons</b> can contain both a clear label and an icon.</p>
    </div>

</div>

<div class="ui-flex-row">
    <div class="ui-flex-column">


    <p>
    <input class="button-cancel" type="reset" name="reset" id="reset" value="Cancel"> button-cancel (reset)<br>
    <input class="button-cancel" type="submit" value="Back" name="_form_control_cancel"> button-cancel<br>
    <input class="button-delete" type="submit" name="contents_delete" value="delete" onclick="return confirm('Are you sure to delete them?');"> button-delete<br>
    <input class="button-export" type="submit" name="contents_export" value="Export" onclick="return confirm('Selected contents are exported. Please, confirm?');"> button-export<br>
    <input class="button-install" type="submit" value="Install"> button-install<br>
    <input class="button-move" type="submit" name="contents_move" value="MOVED"> button-move<br>
    <input class="button-update"type="submit" value="Update"> button-update<br>
    <input class="button-update"type="submit" value="Upload"> button-upload<br>
    <input type="reset"> reset<br>
    <input type="search"> search<br>
    <input type="button" value="Default Button"> Button <input type="checkbox"> checkbox <input type="radio"> radio<br>
    </p>

    </div>

    <div class="ui-flex-column">
        <h4>input + class</h4>
        <p>Until a complete code refactoring of templates, design of form inputs are based on default css stylesheet.</p>
    </div>

</div>


<div class="ui-flex-row">
    <div class="ui-flex-column">
        <script>
            $( function() {
                $( ".widget-100 input[type=submit], .widget a, .widget button" ).button();
                $( ".widget-100 button, .widget-100 input, .widget-100 a" ).click( function( event ) {
                    event.preventDefault();
                } );
            } );
        </script>
        <div class="widget-100">
            <span>button</span> <button class="ui-button ui-widget ui-corner-all">A button element</button>

            <span>input submit</span> <input class="ui-button ui-widget ui-corner-all" type="submit" value="A submit button">

            <span>a href</span> <a class="ui-button ui-widget ui-corner-all" href="#">An anchor</a>
        </div>
    </div>

    <div class="ui-flex-column">
        <h3>Buttons jQuery-UI</h3>
        <p>short desc</p>
    </div>

</div>

<div class="ui-flex-row">

    <div class="ui-flex-column">
        <script>
        $( function() {
            $( ".widget-200 button" )
            .eq( 0 ).button()
            .end().eq( 1 ).button( {
                icon: "ui-icon-gear",
                showLabel: false
            } ).end().eq( 2 ).button( {
                icon: "ui-icon-gear"
            } ).end().eq( 3 ).button( {
                icon: "ui-icon-gear",
                iconPosition: "end"
            } ).end().eq( 4 ).button( {
                icon: "ui-icon-gear",
                iconPosition: "top"
            } ).end().eq( 5 ).button( {
                icon: "ui-icon-gear",
                iconPosition: "bottom"
            } );
        } );
        </script>

        <div class="widget-200">
        <button>Button with only text</button>
        <button>Button with icon only</button>
        <button>Button with icon on the left</button>
        <button>Button with icon on the right</button>
        <button>Button with icon on the top</button>
        <button>Button with icon on the bottom</button>
        </div>
    </div>

    <div class="ui-flex-column">
     <h4>Widget icons</h4>
    </div>

</div>


<div class="ui-flex-row">
    <style>
        .ui-icon.iconOpen {
            background:url('https://<{$xoops_url}>/images/logo.gif?s=64&g=1') no-repeat;
            background-size:20px;
            width:20px;
            height:20px;
        }
    </style>

    <div class="ui-flex-column">

        <button class="ui-button ui-widget ui-corner-all">Button with only text</button>
        <button class="ui-button ui-widget ui-corner-all ui-button-icon-only" title="Button with icon only">
            <span class="ui-icon ui-icon-gear"></span> Button with icon only
        </button>
        <button class="ui-button ui-widget ui-corner-all">
            <span class="ui-icon ui-icon-gear"></span> Button with icon on the left
        </button>
        <button class="ui-button ui-widget ui-corner-all">
            Button with icon on the right <span class="ui-icon ui-icon-gear"></span>
        </button>
        <button class="ui-button ui-widget ui-corner-all">
            <span class="ui-icon ui-icon-gear ui-widget-icon-block"></span> Button with icon on the top
        </button>
        <button class="ui-button ui-widget ui-corner-all">
            Button with icon on the bottom <span class="ui-icon ui-icon-gear ui-widget-icon-block"></span>
        </button>

        <div class="widget widget-button-icon">
            <button class="ui-button ui-widget ui-corner-all">
            Button with icon on the bottom <span class="ui-icon iconOpen"></span>
            </button>

            <button class="ui-button ui-widget ui-corner-all ui-button-icon-only" title="Button with icon only">
            <span class="ui-icon ui-icon-gear"></span> Button with icon only
            </button>

            <button class="ui-button ui-widget ui-corner-all">
            <span class="ui-icon ui-icon-gear"></span> Button with icon on the left
            </button>

            <button class="ui-button ui-widget ui-corner-all">
            Button icon bottom <span class="ui-icon ui-icon-gear ui-widget-icon-block"></span>
            </button>
        </div>


    </div>

    <div class="ui-flex-column">
        <h4>Widget custom css</h4>
        <p>ui-button ui-widget ui-corner-all</p>
        <p>ui-icon ui-icon-gear ui-widget-icon-block</p>
    </div>

</div>
