<h3>Color scheme Dark mode</h3>

<p>short description</p>

<style>
    .flex-item,
    .flex-item-color {display: flex;justify-content: center;width: 80px;height: 150px;color: white;font-weight: 100;font-size: 1em;text-align: center;}
    .flex-item-color {width: 100px;height: 100px;}
    div.padding > span { border: 1px solid var(--ui-color-700); box-shadow: var(--ui-shadow-300)}
</style>
<div class="ui-flex-row">
    <div class="ui-flex-column flex-item" style="background-color: var(--ui-color-100);">--ui-color-100</div>
    <div class="ui-flex-column flex-item" style="background-color: var(--ui-color-200);">--ui-color-200</div>
    <div class="ui-flex-column flex-item" style="background-color: var(--ui-color-300);">--ui-color-300</div>
    <div class="ui-flex-column flex-item" style="background-color: var(--ui-color-400);">--ui-color-400</div>
    <div class="ui-flex-column flex-item" style="background-color: var(--ui-color-500);">--ui-color-500</div>
    <div class="ui-flex-column flex-item" style="background-color: var(--ui-color-600);">--ui-color-600</div>
    <div class="ui-flex-column flex-item" style="background-color: var(--ui-color-700);">--ui-color-700</div>
    <div class="ui-flex-column flex-item" style="background-color: var(--ui-color-800);">--ui-color-800</div>
    <div class="ui-flex-column flex-item" style="background-color: var(--ui-color-900);">--ui-color-900</div>
</div>

<hr>

<div class="ui-flex-row">
    <div class="ui-flex-column">
        <div class="padding" style="margin-top: 1em; padding: 0 0 1em;">
            <span style="padding:var(--ui-space-800);background: var(--ui-color-900)">background: var(--ui-color-900)</span></div>
            <br>
        <div class="padding">
            <span style="margin:2em 0 0 3em;padding:var(--ui-space-700);background: var(--ui-color-800)">background: var(--ui-color-800)</span></div>
            <br>
        <div class="padding">
            <span style="margin:1em 0 0 5em;padding:var(--ui-space-600);background: var(--ui-color-700)">background: var(--ui-color-700)</span></div>
           <br>
        <div class="padding">
            <span style="margin:.7em 0 0 7em;padding:var(--ui-space-500);background: var(--ui-color-600)">background: var(--ui-color-600)</span></div>
            <br>
        <div class="padding">
            <span style="margin:0 0 0 9em;padding:var(--ui-space-400);background: var(--ui-color-500)">background: var(--ui-color-500)</span></div>

    </div>

    <div class="ui-flex-column">
        <h4>usage</h4>
        <p>layers</p>
    </div>

</div>


<h3>Color scheme</h3>
<p>short desc</p>
<div class="ui-flex-row">
    <div class="ui-flex-column flex-item-color" style="background-color: var(--ui-color-amber);">--ui-color-amber</div>
    <div class="ui-flex-column flex-item-color" style="background-color: var(--ui-color-black );">--ui-color-black</div>
    <div class="ui-flex-column flex-item-color" style="background-color: var(--ui-color-blue);">--ui-color-blue</div>
    <div class="ui-flex-column flex-item-color" style="background-color: var(--ui-color-green);">--ui-color-green</div>
    <div class="ui-flex-column flex-item-color" style="background-color: var(--ui-color-indigo);">--ui-color-indigo</div>
    <div class="ui-flex-column flex-item-color" style="background-color: var(--ui-color-orange);">--ui-color-orange</div>
    <div class="ui-flex-column flex-item-color" style="background-color: var(--ui-color-purple);">--ui-color-purple</div>
    <div class="ui-flex-column flex-item-color" style="background-color: var(--ui-color-red);">--ui-color-red</div>
    <div class="ui-flex-column flex-item-color" style="background-color: var(--ui-color-white);">--ui-color-white</div>
</div>
