<{* Dev-Mode Toggle *}>
<div class="ui-dev-mode"><{$smarty.template}></div>


<{if $actionForm->hasError()}>
<div class="errorMsg">
  <ul>
    <{foreach item=message from=$actionForm->getErrorMessages()}>
    <li><{$message}></li>
    <{/foreach}>
  </ul>
</div>
<{/if}>

<form action="#" method="post" autocomplete="off">
<{xoops_token form=$actionForm}>
<table class="outer" width="100%">
  <tr>
    <th colspan="2" style="text-align:center;"><{$smarty.const._MD_USER_LANG_USERREG}></th>
  </tr>
  <tr>
    <td class="head"><{$smarty.const._MD_USER_LANG_NICKNAME}></td>
    <td><{xoops_input maxlength=25 name=uname value=$actionForm->get('uname')}></td>
  </tr>
  <tr>
    <td class="head"><{$smarty.const._MD_USER_LANG_EMAIL}></td>
    <td>
      <{xoops_input name=email size=30 maxlength=60 value=$actionForm->get('email')}><br />
      <label><{xoops_input type=checkbox name=user_viewemail value=1 default=$actionForm->get('user_viewemail')}> <{$smarty.const._MD_USER_LANG_USER_VIEWEMAIL}></label>
    </td>
  </tr>
  <tr>
    <td class="head"><{$smarty.const._MD_USER_LANG_WEBSITE}></td>
    <td><{xoops_input name=url size=30 maxlength=100 value=$actionForm->get('url')}></td>
  </tr>
  <tr>
    <td class="head"><{$smarty.const._MD_USER_LANG_TIMEZONE_OFFSET}></td>
    <td>
      <select name="timezone_offset">
        <{xoops_optionsArray id=timezone_offset label=zone_name value=offset from=$timezones default=$actionForm->get('timezone_offset')}>
      </select>
    </td>
  </tr>
  <tr>
    <td class="head"><{$smarty.const._MD_USER_LANG_PASSWORD}></td>
    <td>
      <{xoops_input type=password name=pass value=$actionForm->get('pass') size=10 maxlength=32}>
    </td>
  </tr>
  <tr>
    <td class="head"><{$smarty.const._MD_USER_LANG_VERIFYPASS}></td>
    <td>
      <{xoops_input type=password name=vpass value=$actionForm->get('vpass') size=10 maxlength=32}>
    </td>
  </tr>

<{* ---- Inserted - XCube Legacy 2.1.6RC1 - 23Sep2008  ---- *}>
  <tr>
    <td class="head"><{$smarty.const._MD_USER_LANG_USER_MAILOK}></td>
    <td>
      <label><{xoops_input type=radio name=user_mailok value=1 default=$actionForm->get('user_mailok')}><{$smarty.const._YES}></label>
      <label><{xoops_input type=radio name=user_mailok value=0 default=$actionForm->get('user_mailok')}><{$smarty.const._NO}></label>
    </td>
  </tr>
<{* ---- /Inserted ---- *}>

  <{if $enableAgree}>
  <tr>
    <td class="head"><{$smarty.const._MD_USER_LANG_DISCLAIMER}></td>
    <td>
      <{xoops_textarea name=disclaimer rows=8 cols=50 readonly=true value=$disclaimer}><br />
      <label><{xoops_input type=checkbox name=agree value=1 default=$actionForm->get('agree')}> <{$smarty.const._MD_USER_MESSAGE_IAGREE}></label>
    </td>
  </tr>
  <{/if}>

  <{if $validators}>
  <{foreach from=$validators item=validator}>
  <tr>
    <td class="head"><{$validator.caption}></td>
    <td>
      <{$validator.element}>
    </td>
  </tr>
  <{/foreach}>
  <{/if}>

  <tr>
    <td colspan="2" class="foot" style="text-align:center;">
      <input type="submit" value="<{$smarty.const._MD_USER_LANG_SUBMIT}>" />
    </td>
  </tr>
</table>
</form>
