<meta charset="<{$xoops_langcode}>">
<meta http-equiv="content-type" content="text/html; charset=<{$xoops_charset}>">
<meta http-equiv="content-style-type" content="text/css">
<meta http-equiv="content-script-type" content="text/javascript">
<meta http-equiv="content-language" content="<{$xoops_langcode}>">

<meta name="robots" content="<{$xoops_meta_robots}>">
<meta name="keywords" content="<{$xoops_meta_keywords}>">
<meta name="rating" content="<{$xoops_meta_rating}>">
<meta name="author" content="<{$xoops_meta_author}>">
<meta name="copyright" content="<{$xoops_meta_copyright}>">
<meta name="generator" content="XOOPSCube">

<title>
    <{$xoops_sitename}> - <{$xoops_pagetitle}>
</title>

<meta name="description" content="<{$xoops_meta_description}>">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- <meta name="viewport" content="width=device-width, initial-scale=1">-->

<!-- Meta Webmaster Tools-->
<meta name="msvalidate.01" content="<{$xoops_meta_bing}>">
<meta name="google-site-verification" content="<{$xoops_meta_google}>">
<meta name="yandex-verification" content="<{$xoops_meta_yandex}>">

<!-- Social Networks -->

<!-- Facebook Open Graph data -->
<meta property="fb:app_id" content="<{$xoops_meta_fb_app}>">
<meta property="og:url" content="<{$xoops_url}>">
<meta property="og:type" content="website">
<meta property="og:title" content="<{$xoops_meta_og_title}>">
<meta property="og:image" content="<{$xoops_imageurl}>img/tile.png">
<meta property="og:description" content="<{$xoops_meta_description}>">
<meta property="og:site_name" content="<{$xoops_sitename}>">
<meta property="article:author" content="<{$xoops_meta_author}>">

<!-- Twitter Cards -->
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="<{$xoops_meta_twitter_site}>"><!-- @site_account -->
<meta name="twitter:creator" content="@<{$xoops_meta_author}>">
<meta name="twitter:url" content="<{$xoops_url}>">
<meta name="twitter:title" content="<{$xoops_pagetitle}>">
<meta name="twitter:description" content="<{$xoops_meta_description}>">
<meta name="twitter:image" content="<{$xoops_imageurl}>img/tile-wide.png">
<meta name="twitter:image:alt" content="<{$xoops_pagetitle}>">

<!-- Google+ / Schema.org URL : https://developers.google.com/search/docs/guides/prototype -->

<!-- Non-Essential, But Required by Stores -->
<!-- <meta name="apple-itunes-app" content="app-id=APP_ID,app-argument=SOME_TEXT"> -->
<!-- Pinned Site for Windows. Without this rule, Windows will use the page title as the name for your application -->
<!-- <meta name="application-name" content="<{$xoops_sitename}>"> -->
<!-- Pinned Site a tooltip -->
<!-- <meta name="msapplication-tooltip" content="<{$xoops_meta_description}>"> -->
<!-- Pinned Site default page -->
<!-- <meta name="msapplication-starturl" content="<{$xoops_url}>/index.php?pinned=true"> -->
<!-- Pinned Site's favicon color. Only use named colors (red) or hex colors (#ff0000). -->
<!-- <meta name="msapplication-navbutton-color" content="#212527"> -->
<!-- Pinned Site window size. It only supports static pixel dimensions. 800x600 minimum. -->
<!-- <meta name="msapplication-window" content="width=800;height=600"> -->

<!-- Firefox and IE Search Plugins. A "search plugin" is an XML file -->
<!-- <link rel="search" title="<{$xoops_sitename}>" type="application/opensearchdescription+xml" href=""> -->

<!-- Mobile App Manifest
<link rel="manifest" href="<{$xoops_imageurl}>site.webmanifest"> -->

<!-- App favicon. Place in the root directory -->
<link rel="icon" href="<{$xoops_url}>/favicon.svg" type="image/svg+xml">
<link rel="alternate icon" href="<{$xoops_url}>/favicon.png" type="image/png">
<!--<link rel="alternate icon" href="<{$xoops_url}>/favicon.ico">-->

<link rel="mask-icon" href="<{$xoops_url}>/safari-pinned-tab.svg" color="#ff8a01">

<link rel="canonical" href="https://github.com/xoopscube/">

<!-- Explicit prefetches Amazon S3, Google APIs, Microsoft Ajax Content Delivery Network -->
<!--	<link rel="dns-prefetch" href="//example.com">
        <link rel="dns-prefetch" href="//s3.amazonaws.com">
        <link rel="dns-prefetch" href="https://ajax.googleapis.com">
        <link rel="dns-prefetch" href="//ajax.microsoft.com">
        <link rel="dns-prefetch" href="//ajax.aspnetcdn.com"> -->

<!-- RSS feed -->
<!-- <link rel="alternate" type="application/rss+xml" title="RSS" href="/rss.xml"> -->

<!-- Theme color -->
<!--      <meta name="theme-color" content="#1b5480">-->

<{if $xoops_module_header}>
<!-- Module Header -->
<{$xoops_module_header}>
<{/if}>
<{if $xoops_block_header}>
<!-- Block header -->
<{$xoops_block_header}>
<{/if}>
<!-- X-Render-SVG inline -->
<script src="<{$xoops_url}>/common/js/x-render-svg.js"></script>

<!-- Bootstrap core CSS -->
<link href="<{$xoops_url}>/common/bootstrap/css/bootstrap.min.css" rel="stylesheet">

<!-- Theme CSS -->
<link rel="stylesheet" media="screen" href="<{$xoops_themecss}>">

<!-- System javascript -->
<script type="text/javascript"><{$xoops_js|regex_replace:"/(\/\/\-\->|<!\-\-)/":""}></script>
