<ul>
    <{foreach item=topic from=$block.topic_list}>
    <li>
        <a href="<{$topic.community.link}>"><{$topic.community.title}></a> : <a href="<{$topic.link}>"><{$topic.title}> <span class="badge"><{$topic.comment_count}></span> <{$topic.datetime}></a>
    </li>
    <{/foreach}>
</ul>
