<div class="ui-dev-mode"><{$smarty.template}></div>


<{if $user_menu}>

<h2><{$user_menu.title}></h2>

<div layout="row mb-6">

    <{if $user_menu.is_own_page}>
    <!-- Own My-page Menu : Start -->

        <!-- Home -->
        <a class="button" href="<{$user_menu.url.home}>"><{$smarty.const._MD_XSNS_MYPAGE_HOME}></a>

        <!-- Friend -->
        <a class="button" href="<{$user_menu.url.friend}>"><{$smarty.const._MD_XSNS_TITLE_MYPAGE_FRIEND}></a>

        <{if $mod_config.blog_module_name}>
        <!-- Blog -->
        <a class="button" href="<{$user_menu.url.blog}>"><{$smarty.const._MD_XSNS_BLOG}></a>
        <{/if}>

        <!-- News -->
        <a class="button" href="<{$user_menu.url.news}>"><{$smarty.const._MD_XSNS_TITLE_MYPAGE_NEWS}></a>


        <{if $mod_config.use_footprint}>
        <!-- Footprint -->
            <a class="button" href="<{$user_menu.url.footprint}>"><{$smarty.const._MD_XSNS_TITLE_MYPAGE_FOOTPRINT}></a>
        <{/if}>

        <!-- Profile edit -->
        <a class="button" href="<{$user_menu.url.profile}>"><{$smarty.const._MD_XSNS_TITLE_MYPAGE_PROFILE}></a>

        <!-- Own My-page Menu : End -->

    <{else}>

        <!-- Others My-page Menu : Start -->
        <!-- Home -->
        <a class="button" href="<{$user_menu.url.home}>"><{$smarty.const._MD_XSNS_MYPAGE_HOME}></a>

        <!-- Friend -->
        <a class="button" href="<{$user_menu.url.friend}>"><{$smarty.const._MD_XSNS_TITLE_MYPAGE_FRIEND}></a>

        <{if $mod_config.blog_module_name}>
        <!-- Blog -->
            <a class="button" href="<{$user_menu.url.blog}>"><{$smarty.const._MD_XSNS_READ_BLOG}></a>
        <{/if}>

        <!-- News -->
        <a class="button" href="<{$user_menu.url.news}>"><{$smarty.const._MD_XSNS_TITLE_MYPAGE_NEWS}></a>

        <{if $user_menu.is_friend_page}>
        <!-- Introduction -->
            <a class="button" href="<{$user_menu.url.intro}>"><{$smarty.const._MD_XSNS_TITLE_MYPAGE_INTRO}></a>
        <{else}>
        <!-- Friend Add -->
            <a class="button" href="<{$user_menu.url.friend_add}>"><{$smarty.const._MD_XSNS_FRIEND_ADD}></a>
        <{/if}>

        <!-- Others My-page Menu : End -->
    <{/if}>


</div>

<{/if}>
