<div class="ui-dev-mode"><{$smarty.template}></div>

<{if $mydirname}><{include file="db:`$mydirname`_inc_breadcrumbs.html"}><{/if}>


<{* ----- Community Search *}>

<{$form_search}>

	<section layout="column my-4 sm-first" id="docs_container" class="category-top">

	<div layout="rows center-justify">
		<h3 self="size-x1"><img class="svg" src="<{$xoops_url}>/images/icons/group.svg" alt="group"> <{$smarty.const._MD_XSNS_INDEX_SEARCH}></h3>
		<span><!-- help --></span>
	</div>

		<div self="size-x1 my-4" class="group-banner">

		</div>

		<div layout="row center-justify p-2 my-4 sm-column" class="activity">

			<div self="px-2">
				 <input type="text" name="keyword" value="<{$keyword}>" placeholder="<{$smarty.const._MD_XSNS_INDEX_KEYWORD}>">
				<{$smarty.const._MD_XSNS_CATEGORY}> <{$category_selector}> <input type="submit" class="button" value="<{$smarty.const._MD_XSNS_BTN_SEARCH}>">
			</div>


		</div>
		<div layout="row center-justify sm-column">

			<{foreach item=category from=$category_list}>
			<div layout="rows" class="parentCategory"><{$category.name}></div>
			<div layout="rows" class="childCategory"><{$category.selector}></div>
			<{/foreach}>

		</div>


	</section>

	<{if !$is_guest}>
	<div layout="row center-right" id="Controllers" class="description">
		<a class="button" href="<{$xoops_url}>/modules/<{$mydirname}>/?act=add"><{$smarty.const._MD_XSNS_INDEX_ADD}></a>
	</div>
	<{/if}>


</form><{* form search *}>


<hr>


<{* ----- GROUP LIST *}>

	<div layout="rows center-justify mb-7">
		<h3 self="size-x1"><{$smarty.const._MD_XSNS_INDEX_LIST}></h3>

		<{* ----- SORT FILTER *}>
		<div class="dropdown">
			<a href="#" class="dropdown-toggle" aria-label="sort" title="<{$smarty.const._MD_XSNS_INDEX_SORT}>">
				<img class="svg" src="<{$xoops_url}>/images/icons/filter.svg" alt="filter">
			</a>
			<div class="dropdown-content">
				<a href="<{$url.sort_member}>"><{$smarty.const._MD_XSNS_INDEX_SORT_MEMBER}></a>
				<a href="<{$url.sort_date}>"><{$smarty.const._MD_XSNS_INDEX_SORT_DATE}></a>
				<a href="<{$url.sort_pop}>"><{$smarty.const._MD_XSNS_INDEX_SORT_POP}></a>
				<a href="<{$url.sort_up}>"><{$smarty.const._MD_XSNS_INDEX_SORT_UP}></a>
			</div>
		</div>
	</div>


	<{* <{if $commu_list|@count > 0}>
	<div class="pagination"><{$pager.selector}><{$pager.description}></div>
	<{/if}>

	<p></p>
	<{if $commu_list|@count > 0}>
	<div class="odd blankRow"></div>
	<{/if}> *}>

	<div layout="rows center-justify" class="">
	<{foreach item=commu from=$commu_list}>

		<{* Smarty Truncate : "|truncate:40" or module's "|mb_truncate:80"
		This truncates a variable to a character length, the default is 80.
		As an optional second parameter, you can specify a string of text to display at the end
		if the variable was truncated. *}>
	<div layout="column" self="size-1of3 sm-full mr-1 mb-6" class="card-box card">
		<div class="card-media">
		<{* if image is not upload, displays images default3 ref. userlib/config  *}>
		<a href="<{$commu.page_url}>"><img src="<{$commu.image.url_src|default:"images/cm_commu_default3.gif"}>" alt=""></a>
		</div>

		<div class="card-title" title="<{$smarty.const._MD_XSNS_COMMU_NAME}>"><{$commu.name|truncate:20}></div>

		<div class="card-subtitle">
			<span class="badge"><{$commu.member_count}></span> <{$smarty.const._MD_XSNS_MEMBER_COUNT}>
			<div title="<{$smarty.const._MD_XSNS_CATEGORY}>"><{$commu.category_name}></div>
		</div>


		<div class="card-content" title="<{$smarty.const._MD_XSNS_INDEX_DETAIL_DESC}>">
			<{$commu.info|mb_truncate:74}>
		</div>

		<div class="card-footer button"><a href="<{$commu.page_url}>"><{$smarty.const._MD_XSNS_INDEX_DETAIL}></a></div>

	</div>

	<{/foreach}>

	</div><{* rows *}>


	<{if $commu_list|@count > 0}>
		<div class="odd centerH"><{$pager.selector}></div>
		<p><{$pager.description}></p>
	<{/if}>


