<div class="ui-dev-mode"><{$smarty.template}></div>

<{if $mydirname}><{include file="db:`$mydirname`_inc_breadcrumbs.html"}><{/if}>

<table class="outer commuEdit">
<tr><th colspan="2"><{$smarty.const._MD_XSNS_TITLE_INDEX_DEL}></th></tr>

<tr class="even">
<td class="itemTitle bg0"><{$smarty.const._MD_XSNS_COMMU_NAME}></td>
<td class="itemValue"><{$commu.name}></td>
</tr>

<tr class="even">
<td class="itemTitle bg0"><{$smarty.const._MD_XSNS_DESC}></td>
<td class="itemValue"><{$commu.info}></td>
</tr>

<tr class="foot">
<td colspan="2" class="submitFrame">
<{$form_commu_del}>
<p><{$smarty.const._MD_XSNS_INDEX_DEL_DESC3}></p>
<p>
    <input type="button" class="button delete" value="<{$smarty.const._MD_XSNS_BTN_CANCEL}>" onclick="javascript:history.go(-1);">
    <input type="submit" class="button" value="<{$smarty.const._MD_XSNS_BTN_DEL}>">&nbsp;&nbsp;

</p>
</form>
</td>
</tr>
</table>


