<div class="ui-dev-mode"><{$smarty.template}></div>


<{if $mydirname}><{include file="db:`$mydirname`_inc_breadcrumbs.html"}><{/if}>



    <h2><{$smarty.const._MD_XSNS_TITLE_INDEX_ADD}></h2>

    <div class="msgFrame"><{$smarty.const._MD_XSNS_INDEX_ADD_CONFIRM}><div>

    <table class="outer commuEdit">

<tr class="even">
<td class="itemTitle bg0"><{$smarty.const._MD_XSNS_COMMU_NAME}></td>
<td class="itemValue"><{$commu.name}></td>
</tr>

<tr class="even">
<td class="itemTitle bg0"><{$smarty.const._MD_XSNS_CATEGORY}></td>
<td class="itemValue"><{$commu.category}></td>
</tr>

<tr class="even">
<td class="itemTitle bg0"><{$smarty.const._MD_XSNS_INDEX_PUBLIC}></td>
<td class="itemValue"><{$commu.public}></td>
</tr>

<tr class="even">
<td class="itemTitle bg0"><{$smarty.const._MD_XSNS_DESC}></td>
<td class="itemValue"><{$commu.info}></td>
</tr>

<{if $commu.image|@count > 0}>
<tr class="even">
<td class="itemTitle bg0"><{$smarty.const._MD_XSNS_IMAGE}></td>
<td class="itemValue">
<{foreach item=image from=$commu.image}>
<img src="<{$image.url_src}>" alt="">
<{/foreach}>
</td>
</tr>
<{/if}>
    <tfoot>
    <tr class="foot">
        <td colspan="2" class="submitFrame">
        <{$form_commu_add_submit}>
            <input type="button" class="button" value="<{$smarty.const._MD_XSNS_BTN_MODIFY}>" onclick="location.href='<{$url_modify}>'">
            <input type="submit" class="button" value="<{$smarty.const._MD_XSNS_BTN_ADD}>">&nbsp;&nbsp;
        </form>
        </td>
    </tr>
    </tfoot>
</table>
