<div class="ui-dev-mode"><{$smarty.template}></div>

<{if $mydirname}><{include file="db:`$mydirname`_inc_breadcrumbs.html"}><{/if}>



<{$form_commu_add}>

    <h2><{$smarty.const._MD_XSNS_TITLE_INDEX_ADD}></h2>

    <div class="tips">
        <{$smarty.const._MD_XSNS_INDEX_ADD_DESC}>
    </div>

    <p><{$smarty.const._MD_XSNS_REQUIRED_ITEM_DESC}></p>

    <{if $errors|@count > 0}>
    <div class="error">
        <ul>
            <{foreach item=error_message from=$errors}>
            <li><span class="red"><{$error_message}></span></li>
            <{/foreach}>
        </ul>
    </div>
    <{/if}>

<table class="outer commuEdit">
    <tr class="even">
        <td class="itemTitle bg0"><{$smarty.const._MD_XSNS_COMMU_NAME}> <{$smarty.const._MD_XSNS_REQUIRED_ITEM}></td>
        <td class="itemValue"><input type="text" name="name" size="50" value="<{$default.name}>"></td>
    </tr>

    <tr class="even">
        <td class="itemTitle bg0"><{$smarty.const._MD_XSNS_CATEGORY}> <{$smarty.const._MD_XSNS_REQUIRED_ITEM}></td>
        <td class="itemValue"><{$category_selector}>
        </td>
    </tr>

    <tr class="even">
        <td class="itemTitle bg0"><{$smarty.const._MD_XSNS_INDEX_PUBLIC}></td>
        <td class="itemValue">
            <p><input type="radio" name="public" value="1"<{$default.public1}>>
                <{$smarty.const._MD_XSNS_INDEX_PUBLIC_L1}>
            <p><input type="radio" name="public" value="2"<{$default.public2}>>
                <{$smarty.const._MD_XSNS_INDEX_PUBLIC_L2}>
            <p><input type="radio" name="public" value="3"<{$default.public3}>>
                <{$smarty.const._MD_XSNS_INDEX_PUBLIC_L3}>
        </td>
    </tr>

    <tr class="even">
        <td class="itemTitle bg0"><{$smarty.const._MD_XSNS_DESC}> <{$smarty.const._MD_XSNS_REQUIRED_ITEM}></td>
        <td class="itemValue"><{$xoops_codes}> <{$xoops_smilies}></td>
    </tr>

    <tr class="even">
        <td class="itemTitle bg0"><{$smarty.const._MD_XSNS_IMAGE}></td>
        <td class="itemValue"><input type="file" name="image" size="40"></td>
    </tr>
    <tfoot>
    <tr>
        <td colspan="2" class="centerH">
            <input type="submit" class="button" value="<{$smarty.const._MD_XSNS_BTN_ADD}>">
        </td>
    </tr>
    </tfoot>
</table>

</form>

