<div class="ui-dev-mode"><{$smarty.template}></div>

<{if $mydirname}><{include file="db:`$mydirname`_inc_breadcrumbs.html"}><{/if}>


<{$form_commu_edit}>

<h2><{$smarty.const._MD_XSNS_TITLE_INDEX_EDIT}></h2>

<table class="outer">
    <tr>
        <td><{$smarty.const._MD_XSNS_COMMU_NAME}> <{$smarty.const._MD_XSNS_REQUIRED_ITEM}></td>
        <td><input type="text" name="name" size="50" value="<{$commu.name}>"></td>
    </tr>

    <tr>
        <td><{$smarty.const._MD_XSNS_CATEGORY}></td>
        <td><{$category_selector}></td>
    </tr>

    <tr>
        <td><{$smarty.const._MD_XSNS_INDEX_PUBLIC}></td>
        <td>
            <p><input type="radio" name="public" value="1" <{$public.checked1}>> <{$smarty.const._MD_XSNS_INDEX_PUBLIC_L1}>
            <p><input type="radio" name="public" value="2" <{$public.checked2}>> <{$smarty.const._MD_XSNS_INDEX_PUBLIC_L2}>
            <p><input type="radio" name="public" value="3" <{$public.checked3}>> <{$smarty.const._MD_XSNS_INDEX_PUBLIC_L3}>
        </td>
    </tr>

    <tr>
        <td><{$smarty.const._MD_XSNS_DESC}><{$smarty.const._MD_XSNS_REQUIRED_ITEM}></td>
        <td><{$xoops_codes}><{$xoops_smilies}></td>
    </tr>

    <tr>
        <td><{$smarty.const._MD_XSNS_IMAGE}></td>
        <td>

            <{if $commu.image|@count > 0}>
            <p>
                <a href="<{$commu.image.url}>" target="_blank"><img src="<{$commu.image.url_src}>" alt=""></a>
                <br>
                <a class="ui-button delete" href="<{$commu.image.url_del}>"><{$smarty.const._MD_XSNS_DELETE}></a>
            </p>
            <{/if}>

            <{if $commu.image|@count == 0}>
            <input type="file" name="image" size="40">
            <{/if}>

        </td>
    </tr>

    <tr>
        <td colspan="2">
            <input type="submit" class="ui-button" value="<{$smarty.const._MD_XSNS_BTN_EDIT}>">
        </td>
    </tr>
</table>

</form>


<{* ////—— DELETE COMMUNITY GROUP ——\\\\ *}>


<{$form_commu_del}>

<h3><{$smarty.const._MD_XSNS_TITLE_INDEX_DEL}></h3>

    <{if $commu.del_enabled}>
        <div class="error">
            <p><{$smarty.const._MD_XSNS_INDEX_DEL_DESC2}></p>
            <p><input type="submit" class="ui-button delete" value="<{$smarty.const._MD_XSNS_BTN_DEL}>"></p>
        </div>
    <{else}>
        <div class="tips">
            <p style="text-align:left;"><{$smarty.const._MD_XSNS_INDEX_DEL_DESC1}></p>
        </div>
        <div class="tips">
            <p style="text-align:left;"><{$smarty.const._MD_XSNS_INDEX_DEL_DESC2}></p>
        </div>
    <{/if}>

</form>



