<div class="ui-dev-mode"><{$smarty.template}></div>

<{if $mydirname}><{include file="db:`$mydirname`_inc_breadcrumbs.html"}><{/if}>


<{$form_commu_join}>

<h2><{$smarty.const._MD_XSNS_TITLE_INDEX_JOIN}> : <{$commu.name}></h2>


<{if $commu.is_public}>

    <div class="tips"><{$smarty.const._MD_XSNS_INDEX_JOIN_DESC}></div>

    <p>
        <input type="button" class="ui-button cancel" value="<{$smarty.const._MD_XSNS_BTN_INDEX_JOIN_NO}>" onclick="javascript:history.go(-1);">
        <input type="submit" class="ui-button" value="<{$smarty.const._MD_XSNS_BTN_INDEX_JOIN}>">&nbsp;&nbsp;
    </p>

<{else}>

    <div class="tips"><{$smarty.const._MD_XSNS_INDEX_JOIN_DESC_AUTH}></div>

    <p><{$smarty.const._MD_XSNS_INDEX_JOIN_MESSAGE}></p>

    <div>
    <textarea name="message" cols="60" rows="5"></textarea>
    </div>

    <p>
        <input type="button" class="ui-button cancel" value="<{$smarty.const._MD_XSNS_BTN_CANCEL}>" onclick="javascript:history.go(-1);">
        <input type="submit" class="ui-button" value="<{$smarty.const._MD_XSNS_BTN_INDEX_JOIN_REQUEST}>">&nbsp;&nbsp;
    </p>

<{/if}>

</form>


