<div class="ui-dev-mode"><{$smarty.template}></div>

<{if $mydirname}><{include file="db:`$mydirname`_inc_breadcrumbs.html"}><{/if}>


<section layout="column mb-7 sm-first" id="docs_container" class="category-top">

	<div layout="rows center-justify">
		<h3 self="size-x1"><{$commu.name|mb_truncate:25}></h3>

		<{$commu.public}>
	</div>

	<div layout="row my-2" class="description">
		<a href="<{$commu.page_url}>"><img src="<{$commu.image.url_src|default:"images/cm_commu_default3.gif"}>" alt="<{$commu.name}>"></a>
	</div>


	<{* ////— Community Rank —\\\\ *}>

	<div layout="row center-justify p-2 my-4 sm-column" class="activity">

		<div self="px-2">

			<{$smarty.const._MD_XSNS_COMMU_POPULARITY}>
			<img src="<{$commu.statistics.popularity.image}>" alt="">
			<span class="badge"><{$commu.statistics.popularity.value}> pts</span>
			<{$smarty.const._MD_XSNS_COMMU_UPDATE_FREQUENCY}>
			<img src="<{$commu.statistics.update_frequency.image}>" alt="">
			<span class="badge"><{$commu.statistics.update_frequency.value}> pts</span>
		</div>

		<div self="px-2"><{* $smarty.const._MD_XSNS_ARROW *}>
			<a href="<{$url.all_member}>"><{$smarty.const._MD_XSNS_INDEX_DETAIL_ALL_MEMBER}> <span class="badge"><{$commu.member_count|default:0}></span></a>
		</div>

	</div>
	<{* -----  Community Rank *}>


	<{* ////— ACTION CONTROL —\\\\ *}>

	<div layout="row center-justify sm-column" aria-label="controls">

		<div self="size-x1">
		<a class="ui-button" href="<{$url.all_topic}>"><{$smarty.const._MD_XSNS_INDEX_DETAIL_ALL_TOPIC}> <span class="badge"><{$commu.topic_count|default:0}></span></a>
		<{if $commu.show_topic_add}>
			<a class="ui-button" href="<{$url.add_topic}>"><{$smarty.const._MD_XSNS_INDEX_DETAIL_ADD_TOPIC}></a>
		<{/if}>
		</div>

		<div self="right mr-1 sm-full">

			<{if $commu.show_member_config}>
				<a class="ui-button" href="<{$url.member_config}>"><{$smarty.const._MD_XSNS_INDEX_DETAIL_EDIT_MEMBER}></a>
			<{/if}>

			<{if $commu.show_commu_config || $commu.show_commu_leave}>
				<{if $commu.show_commu_config}>
				<a class="ui-button" href="<{$url.commu_config}>"><{$smarty.const._MD_XSNS_INDEX_DETAIL_EDIT_COMMU}></a>
				<{/if}>

				<{if $commu.show_commu_leave}>
				<a class="ui-button" href="<{$url.commu_leave}>"><{$smarty.const._MD_XSNS_INDEX_LEAVE}></a>
				<{/if}>
			<{/if}>

			<{if $commu.show_commu_join}>
				<a class="ui-button" href="<{$url.commu_join}>" title="<{$smarty.const._MD_XSNS_INDEX_JOIN_DESC}>"><{$smarty.const._MD_XSNS_INDEX_JOIN}></a>
			<{/if}>

		</div>

	</div>

</section>


<div layout="row sm-column">

	<div layout="column" self="size-x1 sm-full p-2 mr-2">

		<{* ////— TOPICS LIST —\\\\ *}>

		<{if $commu.show_topic_list}>

		<h2><{$smarty.const._MD_XSNS_INDEX_DETAIL_TOPIC}></h2>

		<div self="size-x1 center-right mr-1">

		</div>

		<{foreach item=topic from=$commu.topic_list}>
		<div layout="row center-justify">
			<h4><a href="<{$topic.page_url}>"><{$topic.name|mb_truncate:30}></a></h4>
			<p><{$topic.author}>+uid+ <{$topic.time|date_format:"%Y-%m-%d"}> <span class="badge"><{$topic.comment_count|default:0}></span></p>
		</div>
		<{/foreach}>

		<p>
			<{* $smarty.const._MD_XSNS_ARROW *}>
			<a class="ui-button" href="<{$url.all_topic}>"><{$smarty.const._MD_XSNS_INDEX_DETAIL_ALL_TOPIC}> <span class="badge"><{$commu.topic_count|default:0}></span></a>

			<{if $commu.show_topic_add}>
				<{* $smarty.const._MD_XSNS_ARROW *}>
				<a class="ui-button" href="<{$url.add_topic}>"><{$smarty.const._MD_XSNS_INDEX_DETAIL_ADD_TOPIC}></a>
			<{/if}>
		</p>


		<{/if}>
		<{* -----  TOPICS LIST *}>

	</div>




	<div layout="column" self="size-1of3 sm-full p-2">

		<{* ////— ABOUT —\\\\ *}>
		<{* $smarty.const._MD_XSNS_COMMU *}>
		<{* $smarty.const._MD_XSNS_COMMU_NAME *}>
		<div class="card" self="sm-full mb-6">
			<div class="card-title"><{$smarty.const._MD_XSNS_INDEX_DETAIL_DESC}> <{$commu.name}></div>
			<div class="card-content">
				<p><{$commu.info}></p>
				<p><{$smarty.const._MD_XSNS_INDEX_DETAIL_PUBLIC}> : <{$commu.public}></p>
				<p><{$smarty.const._MD_XSNS_INDEX_DETAIL_OPEN_DATE}> : <{$commu.time|date_format:"%Y-%m-%d"}></p>
				<p><{$smarty.const._MD_XSNS_INDEX_DETAIL_AUTHOR}> : <a href="<{$commu.admin_url}>"><{$commu.admin_name}></a></p>
				<p><{$smarty.const._MD_XSNS_CATEGORY}> : <{$commu.category}></p>
				<p><{$smarty.const._MD_XSNS_MEMBER_COUNT}> : <{$commu.member_count}><{$smarty.const._MD_XSNS_PERSON}></p>

			</div>
		</div>
		<{* -----  ABOUT *}>



		<{* ////— MEMBERS —\\\\ *}>
		<div class="card" self="sm-full mb-6">

			<div class="card-title"><{$smarty.const._MD_XSNS_INDEX_DETAIL_MEMBER_LIST}></div>

			<div layout="rows" class="card-content">
				<{section name=id loop=$commu.member_list}>

				<{*
				if $smarty.section.id.index > 0 && $smarty.section.id.index is div by 3}>
				</div><div layout="rows" style="border:1px solid green">3
				<{/if
				*}>

<!--				<div style="width:80px; height:80px; border:1px solid darkcyan">-->
				<{if $commu.member_list[id].page_url != ""}>
				<div class="avatar">
					<a href="<{$commu.member_list[id].page_url}>" title="<{$commu.member_list[id].name}>">
						<img src="<{$commu.member_list[id].avatar_url}>" width="<{$commu.member_list[id].avatar_width}>" height="<{$commu.member_list[id].avatar_height}>" alt="<{$commu.member_list[id].name}>">
					</a>
				</div>
				<{/if}>

				<{/section}>
			</div>

			<{if $commu.show_member_config}>
			<div layout="center p-2" class="card-footer">
				<{* $smarty.const._MD_XSNS_ARROW *}>
				<a class="ui-button" href="<{$url.member_config}>"><{$smarty.const._MD_XSNS_INDEX_DETAIL_EDIT_MEMBER}></a>
			</div>
			<{/if}>


		</div>
		<{* ----- MEMBERS *}>

	</div>

</div>


















<!-- Community Information : End -->




		<!-- Bottom Row : End -->




<{if $commu.show_commu_notify}>
<p>
<{include file='db:system_notification_select.html'}>
</p>
<{/if}>





