<div class="ui-dev-mode"><{$smarty.template}></div>

<{if $mydirname}><{include file="db:`$mydirname`_inc_breadcrumbs.html"}><{/if}>


<{$form_commu_leave}>

<h2><{$commu.name}> : <{$smarty.const._MD_XSNS_TITLE_INDEX_LEAVE}></h2>

<div class="confirm"><{$smarty.const._MD_XSNS_INDEX_LEAVE_DESC}></div>

<p>
    <input type="button" class="button cancel" value="<{$smarty.const._MD_XSNS_BTN_INDEX_LEAVE_NO}>" onclick="javascript:history.go(-1);">
    <input type="submit" class="button" value="<{$smarty.const._MD_XSNS_BTN_INDEX_LEAVE}>">
</p>

</form>



