<div class="ui-dev-mode"><{$smarty.template}></div>

<{if $mydirname}><{include file="db:`$mydirname`_inc_breadcrumbs.html"}><{/if}>


<{$form_request_submit}>

    <h2><{$lang.title}></h2>

    <table class="outer memberReq">
        <tr class="head">
            <td colspan="3"><div class="msgFrame"><{$lang.desc}></div></td>
        </tr>
        <tr class="even">
            <td class="avatar" rowspan="2">
                <a href="<{$member.page_url}>"><img src="<{$member.avatar_url}>" width="<{$member.avatar_width}>" height="<{$member.avatar_height}>" alt="<{$member.name}>"></a>
            </td>
            <td class="itemTitle"><{$smarty.const._MD_XSNS_USER_NAME}></td>
            <td class="itemValue"><a href="<{$member.page_url}>"><{$member.name}></a></td>
        </tr>
        <tr class="even">
            <td class="itemTitle"><{$smarty.const._MD_XSNS_MEMBER_LAST_LOGIN}></td>
            <td class="itemValue"><{$member.last_login|date_format:"%Y-%m-%d %H:%M:%S"}></td>
        </tr>
        <tr class="foot">
            <td colspan="3" class="centerH" style="padding-top:15px; padding-bottom:15px;">
                <{if $mode > 0}>
                <p>
                    <{$smarty.const._MD_XSNS_MEMBER_REQUEST_MESSAGE}> :<br>
                    <textarea name="message" cols="40" rows="5"></textarea>
                </p>
                <{/if}>
                <p>
                    <input type="button" class="submit" value="<{$smarty.const._MD_XSNS_BTN_CANCEL}>" onclick="javascript:history.go(-1);">
                    <input type="submit" class="submit" value="<{$smarty.const._MD_XSNS_BTN_SEND}>">
                </p>
            </td>
        </tr>
    </table>

</form>



