<div class="ui-dev-mode"><{$smarty.template}></div>

<{if $mydirname}><{include file="db:`$mydirname`_inc_breadcrumbs.html"}><{/if}>


<!-- User Menu -->
<{if $mydirname}><{include file="db:`$mydirname`_inc_mypage_menu.html"}><{/if}>


<{* ////—— NOTIFICATIONS & REQUESTS ——\\\\ *}>


<{if !empty($info_list)}>
	<{foreach item=info from=$info_list}>
	<div class="confirm">
		<a href="<{$info.url}>"><{$info.message}></a>
		<span class="badge"><{$info.time|date_format:"%Y-%m-%d %H:%M"}></span>
	</div>
	<{/foreach}>

<{/if}>



<div layout="rows sm-column">


	<div layout="column" self="size-1of3 mr-2">


<{* ////—— NOTIFICATIONS & REQUESTS ——\\\\ *}>


		<div class="card" self="mb-7">
			<div class="card-title"><{$smarty.const._MD_XSNS_MYPAGE_PROFILE|sprintf:"`$user_info.name`"}></div>
			<div class="card-content">
				<!-- User Information : Start -->
				<{if $user_info.extrainfo != NULL}>
				<h6><{$smarty.const._US_EXTRAINFO}></h6>
				<div><{$user_info.extrainfo}></div>
				<{/if}>

				<{if $user_info.avatarurl != NULL}>
				<h6 aria-label="<{$smarty.const._US_AVATAR}>"><{$user_info.avatarurl}></h6>
				<{/if}>

				<{if $user_info.name != NULL}>
				<h6 aria-label="<{$user_info.name}>"><{$smarty.const._US_USERNAME}></h6>
				<{/if}>

				<{if $user_info.realname != NULL}>
				<h6 aria-label="<{$user_info.realname}>"><{$smarty.const._US_REALNAME}></h6>
				<{/if}>

				<{if $user_info.rank != NULL}>
				<div layout="row center-justify mb-6">
				<h6 aria-label=""><{$smarty.const._US_RANK}></h6>
				<div><{$user_info.rank}> <{$user_info.ranktitle}></div>
				</div>
				<{/if}>

				<div layout="row center-justify mb-6">
				<h6 aria-label=""><{$smarty.const._US_POSTS}></h6>
				<span class="badge"><{$user_info.posts}></span>
				</div>

				<{if $user_info.websiteurl != NULL}>
				<div layout="row center-justify mb-6">
				<h6><{$smarty.const._US_WEBSITE}></h6>
				<div><{$user_info.websiteurl}></div>
				</div>
				<{/if}>

				<{if $user_info.email != NULL}>
				<div layout="row center-justify mb-6">
				<h6><{$smarty.const._US_EMAIL}></h6>
<!--				<span><{$user_info.email}></span>-->
					<span><{mailto address=$user_info.email encode='javascript' subject='Hello'}></span>
				</div>
				<{/if}>

				<{if $user_info.pmlink != NULL}>
				<div layout="row center-justify mb-6">
				<h6><{$smarty.const._US_PM}> </h6>
				<span><{$user_info.pmlink}></span>
				</div>
				<{/if}>

				<{if $user_info.icq != NULL}>
				<h6><{$smarty.const._US_ICQ}></h6>
				<div><{$user_info.icq}></div>
				<{/if}>

				<{if $user_info.aim != NULL}>
				<h6><{$smarty.const._US_AIM}></h6>
				<div><{$user_info.aim}></div>
				<{/if}>

				<{if $user_info.yim != NULL}>
				<h6><{$smarty.const._US_YIM}></h6>
				<div><{$user_info.yim}></div>
				<{/if}>

				<{if $user_info.msnm != NULL}>
				<h6><{$smarty.const._US_MSNM}></h6>
				<div><{$user_info.msnm}></div>
				<{/if}>

				<{if $user_info.location != NULL}>
				<h6><{$smarty.const._US_LOCATION}></h6>
				<div><{$user_info.location}></div>
				<{/if}>

				<{if $user_info.occupation != NULL}>
				<h6><{$smarty.const._US_OCCUPATION}></h6>
				<div><{$user_info.occupation}></div>
				<{/if}>

				<{if $user_info.interest != NULL}>
				<h6><{$smarty.const._US_INTEREST}></h6>
				<div><{$user_info.interest}></div>
				<{/if}>

				<{if $user_info.signature != NULL}>
				<h6><{$smarty.const._US_SIGNATURE}></h6>
				<div><{$user_info.signature}></div>
				<{/if}>



                <{if $user_info.reg_date != NULL}>
				<div layout="row center-justify mb-6">
                <h6><{$smarty.const._US_MEMBERSINCE}></h6>
				<span class="badge"><{$user_info.reg_date|date_format:"%Y-%m-%d"}></span>
                <{* -- $user_info.reg_date|date_format:"%Y-%m-%d %H:%M:%S" *}>
				</div>
                <{/if}>

                <{if $user_info.last_login != NULL}>
				<div layout="row center-justify mb-6">
                <h6><{$smarty.const._US_LASTLOGIN}></h6>
				<span class="badge"><{$user_info.last_login|date_format:"%Y-%m-%d %H:%M"}></span>
                <{* $user_info.last_login|date_format:"%Y-%m-%d %H:%M:%S" *}>
				</div>
                <{/if}>

			</div><{* ----- Card content *}>
<!--			<div class="card-footer"></div>-->
		</div><{* ----- Card *}>


<{* ////—— LIST FRIENDS ——\\\\ *}>


		<{if $friend_list|@count > 0}>
		<!-- Friend List : Start -->
		<div class="card" self="mb-7">

			<div class="card-title">
				<{$smarty.const._MD_XSNS_MYPAGE_FRIEND_LIST|sprintf:"`$user_info.name`"}>
			</div>

			<div class="card-content">

				<div layout="row center-justify">
				<{section name=id loop=$friend_list}>

				<{if $smarty.section.id.index > 0 && $smarty.section.id.index is div by 3}>
				</div><div layout="row center-justify">
				<{/if}>

					<{if $friend_list[id]}>
					<a href="<{$friend_list[id].page_url}>" title="<{$friend_list[id].name}>">
						<img src="<{$friend_list[id].avatar_url}>"
							 width="<{$friend_list[id].avatar_width}>"
							 height="<{$friend_list[id].avatar_height}>"
							 alt="<{$friend_list[id].name}>"
							 class="avatar">
						<br>
						<small><{$friend_list[id].name|truncate:11}></small>
					</a>
					<{/if}>

				<{/section}>
				</div>

			</div><{* ----- Card content *}>

				<div class="card-footer">
					<a class="button" href="<{$url.friend_list_all}>">
						<{$smarty.const._MD_XSNS_SHOW_ALL}> <span class="badge"><{$friend_count|default:0}></span>
					</a>
				</div>

		</div><{* ----- Card *}>
		<!-- Friend List : End -->
		<{/if}>


<{* ////—— LIST COMMUNITY GROUPS ——\\\\ *}>


		<{if $commu_list|@count > 0}>
		<div class="card" self="mb-7">

			<div class="card-title">
				<{$smarty.const._MD_XSNS_MYPAGE_COMMU_LIST|sprintf:"`$user_info.name`"}>
			</div>

			<div class="card-content">

				<div layout="row center-justify">
				<{section name=id loop=$commu_list}>

				<{if $smarty.section.id.index > 0 && $smarty.section.id.index is div by 3}>
				</div><div layout="row center-justify">
				<{/if}>

					<{if $commu_list[id]}>
					<a href="<{$commu_list[id].page_url}>" title="<{$commu_list[id].name}> (<{$commu_list[id].member_count}>">
						<img src="<{$commu_list[id].image.url_src|default:"$xoops_url/modules/$mydirname/images/cm_commu_default1.gif"}>" alt="<{$commu_list[id].name}>">
					</a>
					<{/if}>

				<{/section}>
				</div>

			</div><{* ----- Card content *}>

			<div class="card-footer">
				<a class="button" href="<{$url.commu_list_all}>">
					<{$smarty.const._MD_XSNS_SHOW_ALL}> <span class="badge"><{$commu_count|default:0}></span>
				</a>
			</div>

		</div><{* ----- Card *}>
		<{/if}>

	</div><{* ----- column left *}>


<{* ////—— LIST BLOG ——\\\\ *}>


	<div layout="column" self="size-x1 ml-2">

		<{if $blog_list|@count > 0}>
		<div class="card" self="mb-7">

			<div class="card-title">
			<{if $is_own_page}>
				<{$smarty.const._MD_XSNS_MYPAGE_BLOG_LIST}>
			<{else}>
				<{$smarty.const._MD_XSNS_MYPAGE_FRIEND_BLOG_LIST|sprintf:"`$user_info.name`"}>
			<{/if}>
			</div>

			<div class="card-content">
				<{foreach item=blog from=$blog_list}>
				<div layout="row center-justify my-4">
					<h4><a href="<{$blog.link}>"><img src="<{$blog.image}>"> <{$blog.title}></a></h4>
					<div><small><a href="<{$blog.link_author}>"><{$blog.author}></a></small> <span class="badge"><{$blog.time}></span></div>
				</div>
				<{/foreach}>
			</div>

			<div class="card-footer">
			<{if $is_own_page}>
				<a class="button" href="<{$url.blog_list_all}>">
					<{$smarty.const._MD_XSNS_SHOW_ALL}> <span class="badge"><{$blog_count|default:0}></span>
				</a>
			<{else}>
				<a class="button" href="<{$blog_list.0.link_author}>">
					<{$smarty.const._MD_XSNS_SHOW_ALL}> <span class="badge"><{$blog_count|default:0}></span>
				</a>
			<{/if}>
			</div>

		</div><{* ----- card *}>
		<{/if}>


<{* ////—— LIST TOPICS ——\\\\ *}>


		<{if $topic_list|@count > 0}>
		<div class="card" self="mb-7">

			<div class="card-title">
				<{$smarty.const._MD_XSNS_MYPAGE_TOPIC_LIST}>
			</div>

			<div class="card-content">
				<{foreach item=topic from=$topic_list}>
				<div layout="row center-justify my-4">
					<h4><{$topic.commu_name}> : <a href="<{$topic.url}>"><{$topic.name}></a></h4>
					<div><span class="badge"><{$topic.time|date_format:"%Y-%m-%d %H:%M:%S"}></span></div>
				</div>
				<{/foreach}>
			</div>

			<div class="card-footer">
				<a class="button" href="<{$url.topic_list_all}>">
					<{$smarty.const._MD_XSNS_SHOW_ALL}> <span class="badge"><{$topic_count|default:0}></span>
				</a>
			</div>

		</div><{* ----- card *}>
		<{/if}>


<{* ////—— LIST TESTIMONIALS ——\\\\ *}>


		<{if $intro_list|@count > 0}>
		<div class="card" self="mb-7">

			<div class="card-title">
				<{$smarty.const._MD_XSNS_MYPAGE_INTRO_LIST}>
			</div>

			<div class="card-content">
			<{foreach item=intro from=$intro_list}>
				<div>
					<{$intro.body}>
					<div style="text-align:right"><a href="<{$intro.user_from.page_url}>"><{$intro.user_from.name}></a></div>
				</div>
			<{/foreach}>
			</div>

			<div class="card-footer">
				<a class="button" href="<{$url.intro_list_all}>">
					<{$smarty.const._MD_XSNS_SHOW_ALL}> <span class="badge"><{$intro_count}></span>
				</a>
			</div>

		</div><{* ----- card *}>
		<{/if}>

	</div><{* ----- column *}>


</div>
