<div class="ui-dev-mode"><{$smarty.template}></div>

<{if $mydirname}><{include file="db:`$mydirname`_inc_breadcrumbs.html"}><{/if}>


<!-- User Menu -->
<{if $mydirname}><{include file="db:`$mydirname`_inc_mypage_menu.html"}><{/if}>

<{$form_intro_add}>

<h2><{$smarty.const._MD_XSNS_TITLE_MYPAGE_INTRO_UNAME|sprintf:"`$user_name`"}></h2>

<div class="tips"><{$smarty.const._MD_XSNS_MYPAGE_INTRO_DESC}></div>

<p><{$smarty.const._MD_XSNS_MYPAGE_INTRO_BODY}></p>

<p><textarea name="body" cols="40" rows="6"><{$body}></textarea></p>


<p><input type="submit" class="ui-button" value="<{$smarty.const._MD_XSNS_BTN_ADD}>"></p>

</form>



