<div class="ui-dev-mode"><{$smarty.template}></div>

<{if $mydirname}><{include file="db:`$mydirname`_inc_breadcrumbs.html"}><{/if}>


<!-- User Menu -->
<{if $mydirname}><{include file="db:`$mydirname`_inc_mypage_menu.html"}><{/if}>


<{foreach key=mode item=confirm_list_data from=$confirm_list_all}>



    <{if $confirm_list_data.request_count>0}>


    <h2><a id="#mode<{$mode}>"></a><{$confirm_list_data.lang_title}></h2>



    <div class="confirm description">
        <{$confirm_list_data.lang_desc}>
    </div>



    <{foreach item=confirm_data from=$confirm_list_data.confirm_list}>


        <small class="badge">confirm data rows : <{$confirm_data.rows}></small>

            <section layout="column mb-7" self="size-x1" class="card">


                <div class="card-title">
                        <a href="<{$confirm_data.member.page_url}>">
                            <img src="<{$confirm_data.member.avatar_url}>"
                                 width="<{$confirm_data.member.avatar_width}>"
                                 height="<{$confirm_data.member.avatar_height}>"
                                 alt="<{$confirm_data.member.name}>"
                                 class="mail-list-avatar">
                        </a>
                        <{$smarty.const._MD_XSNS_USER_NAME}>
                    <a href="<{$confirm_data.member.page_url}>"><{$confirm_data.member.name}></a>
                </div>


                <{if $confirm_data.show_commu}>
                <div class="card-subtitle">
                    <{$smarty.const._MD_XSNS_CONFIRM_TARGET_COMMU}> <a href="<{$confirm_data.commu.url}>"><{$confirm_data.commu.name}></a>
                </div>
                <{/if}>


                <div class="card-content">

                    <p><{$smarty.const._MD_XSNS_CONFIRM_POST_DATETIME}>
                        <span class="badge"><{$confirm_data.time|date_format:"%Y-%m-%d %H:%M:%S"}></span>
                    </p>

                    <{if $confirm_data.show_message}>
                    <div self="size-x1">
                        <{$smarty.const._MD_XSNS_MESSAGE}><br>
                        <blockquote>
                            <{$confirm_data.message}>
                        </blockquote>
                    </div>
                    <{/if}>



                    <div class="card-footer" self="size-x1 inline">
                    <{if !$confirm_data.accept_only}>

                        <{$confirm_data.form_reject}>
                        <input type="submit" class="button delete" value="<{$smarty.const._MD_XSNS_BTN_CONFIRM_REJECT}>">
                        </form>

                        <{$confirm_data.form_accept}>
                        <input type="submit" class="button" value="<{$smarty.const._MD_XSNS_BTN_CONFIRM_ACCEPT}>">
                        </form>

                    <{else}>

                        <{$confirm_data.form_accept}>
                            <input type="submit" class="button" value="<{$smarty.const._MD_XSNS_BTN_CONFIRM_ACCEPT}>">
                        </form>

                    <{/if}>
                    </div>


                </div>


            </section>

    <{/foreach}>

    <{/if}>

<{/foreach}>
