<div class="ui-dev-mode"><{$smarty.template}></div>

<{if $mydirname}><{include file="db:`$mydirname`_inc_breadcrumbs.html"}><{/if}>


<!-- User Menu -->
<{if $mydirname}><{include file="db:`$mydirname`_inc_mypage_menu.html"}><{/if}>

<{$form_friend_add_submit}>

<h2><{$smarty.const._MD_XSNS_FRIEND_ADD}></h2>

<div class="tips"><{$smarty.const._MD_XSNS_FRIEND_ADD_DESC}></div>

<h5><{$smarty.const._MD_XSNS_USER_NAME}></h5>

<p>
    <a href="<{$user.page_url}>">
        <img src="<{$user.avatar_url}>" width="<{$user.avatar_width}>" height="<{$user.avatar_height}>" alt="" class="mail-list-avatar">
        <{$user.name}>
    </a>
</p>


<h5><{$smarty.const._MD_XSNS_MEMBER_LAST_LOGIN}></h5>
<p><span class="badge"><{$user.last_login|date_format:"%Y-%m-%d %H:%M:%S"}></span></p>


<p><{$smarty.const._MD_XSNS_MEMBER_REQUEST_MESSAGE}></p>

<textarea name="message" cols="40" rows="5"></textarea>

<p>
    <input type="button" class="button" value="<{$smarty.const._MD_XSNS_BTN_CANCEL}>" onclick="javascript:history.go(-1);">
    <input type="submit" class="button" value="<{$smarty.const._MD_XSNS_BTN_SEND}>">&nbsp;&nbsp;
</p>

</form>


