<div class="ui-dev-mode"><{$smarty.template}></div>

<{if $mydirname}><{include file="db:`$mydirname`_inc_breadcrumbs.html"}><{/if}>


<!-- User Menu -->
<{if $mydirname}><{include file="db:`$mydirname`_inc_mypage_menu.html"}><{/if}>

<!-- Config Table -->
<{if $module_list}>
<{$form_config}>
<{/if}>

<h3><{$smarty.const._MD_XSNS_CONFIG_MODULE}></h3>

<table class="outer">
	<thead>
	<tr class="head">
		<th>Module ID</th>
		<th><{$smarty.const._MD_XSNS_CONFIG_MODULE_NAME}></th>
		<th><{$smarty.const._MD_XSNS_CONFIG_MODULE_ORDER}></th>
		<th><{$smarty.const._MD_XSNS_CONFIG_MODULE_COUNT}></th>
	</tr>
	</thead>
	<tbody>
	<{foreach item=module from=$module_list}>
		<tr class="even">
			<td><input type="hidden" name="mid[]" value="<{$module.id}>"></td>
			<td><a href="<{$module.url}>"><{$module.name}></a></td>
			<td><input type="text" name="order[]" value="<{$module.order}>" size="5"></td>
			<td><input type="text" name="view[]" value="<{$module.view}>" size="5"></td>
		</tr>
	<{/foreach}>
	</tbody>
	<tfoot>
	<{if $module_list}>
	<tr>
		<td colspan="4">
			<input class="ui-button" type="submit" name="submit" value="<{$smarty.const._MD_XSNS_CONFIG_SUBMIT}>">
		</td>
	</tr>
	<{/if}>
	</tfoot>
</table>

<{if $module_list}>
</form>
<{/if}>



