<div class="ui-dev-mode"><{$smarty.template}></div>

<{if $mydirname}><{include file="db:`$mydirname`_inc_breadcrumbs.html"}><{/if}>


<h2><{$commu.name}> : <{$smarty.const._MD_XSNS_TITLE_TOPIC_LIST}></h2>

<p><{$smarty.const._MD_XSNS_TOPIC_LIST_DESC}></p>


<{if $topic_list|@count > 0}>

    <p><{$pager.selector}> <{$pager.description}></p>


    <{foreach item=topic from=$topic_list}>

        <h3><a href="<{$topic.page_url}>"><{$topic.name|mb_truncate:30}></a></h3>


        <p><a href="<{$topic.author_url}>"><{$topic.author_name}></a> + <{$topic.time|date_format:"%Y-%m-%d %H:%M:%S"}></p>



        <{if count($topic.images)>0}>
        <!-- Images : Start -->
            <p>
            <{foreach item=image from=$topic.images}>
            <a href="<{$image.url}>" target="_blank"><img src="<{$image.url_src}>" alt=""></a>
            <{/foreach}>
            </p>
        <!-- Images : End -->
        <{/if}>


        <!-- Body : Start -->
        <div><{$topic.body}></div>
        <!-- Body : End -->

        <{* count warning not countable
            Solution check if not empty
        *}>
        <{* if count($comment.files)>0 *}>
        <{if !empty($comment.files)}>
        <!-- Files : Start -->
            <p>
            <{foreach item=file from=$comment.files}>
            <a href="<{$file.url}>"><{$file.icon}><{$file.caption|mb_truncate:35}></a><br>
            <{/foreach}>
            </p>
        <!-- Files : End -->
        <{/if}>



        <{if $topic.show_edit}>
        <a href="<{$topic.page_url_edit}>"><{$smarty.const._MD_XSNS_TOPIC_EDIT}></a>&nbsp;&nbsp;
        <{/if}>

        <a href="<{$topic.page_url}>"><{$smarty.const._MD_XSNS_TOPIC_RESPONSE}>(<{$topic.comment_count}>)</a>

    <{/foreach}>

<p><{$pager.selector}></p>
<p><{$pager.description}></p>

<{/if}>


<!-- Top Page Link -->
<div class="centerH">
<a href="<{$mod_url}>/?cid=<{$commu.id}>">[<{$commu.name}>] <{$smarty.const._MD_XSNS_LINK_COMMU_TOP}></a>
</div>

