<{* Dev-Mode Toggle *}>
<div class="ui-dev-mode"><{$smarty.template}></div>

<{if $mod_config.show_breadcrumbs}>
	<ul class="breadcrumb" aria-label="breadcrumb">
		<li><a href="<{$xoops_url}>/">
			<svg class="i-home" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
				<path fill-rule="evenodd" d="M2 13.5V7h1v6.5a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5V7h1v6.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5zm11-11V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>
				<path fill-rule="evenodd" d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z"/>
			</svg></a>
		<li><a href="<{$mod_url}>/index.php">
			<svg class="i-chat" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
				<path fill-rule="evenodd" d="M14 1H2a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h2.5a2 2 0 0 1 1.6.8L8 14.333 9.9 11.8a2 2 0 0 1 1.6-.8H14a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 0a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h2.5a1 1 0 0 1 .8.4l1.9 2.533a1 1 0 0 0 1.6 0l1.9-2.533a1 1 0 0 1 .8-.4H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
				<path d="M5 6a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm4 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm4 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
			</svg> <{$smarty.const._MD_D3FORUM_TOP}></a>
		<li><a href="<{$mod_url}>/index.php?cat_id=<{$category.id}>"><{$category.title}></a>
		<li><a href="<{$mod_url}>/index.php?forum_id=<{$forum.id}>"><{$forum.title}></a>
		<{if $topic.id}>
		<li><a aria-current="page" href="<{$mod_url}>/index.php?topic_id=<{$topic.id}>"><{$topic.title}></a>
		<{/if}>
	</ul>
<{/if}>


<hr name="post-form">


    <h3><svg class="i-reply" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M9.502 5.013a.144.144 0 0 0-.202.134V6.3a.5.5 0 0 1-.5.5c-.667 0-2.013.005-3.3.822-.984.624-1.99 1.76-2.595 3.876C3.925 10.515 5.09 9.982 6.11 9.7a8.741 8.741 0 0 1 1.921-.306 7.403 7.403 0 0 1 .798.008h.013l.005.001h.001L8.8 9.9l.05-.498a.5.5 0 0 1 .45.498v1.153c0 .108.11.176.202.134l3.984-2.933a.494.494 0 0 1 .042-.028.147.147 0 0 0 0-.252.494.494 0 0 1-.042-.028L9.502 5.013zM8.3 10.386a7.745 7.745 0 0 0-1.923.277c-1.326.368-2.896 1.201-3.94 3.08a.5.5 0 0 1-.933-.305c.464-3.71 1.886-5.662 3.46-6.66 1.245-.79 2.527-.942 3.336-.971v-.66a1.144 1.144 0 0 1 1.767-.96l3.994 2.94a1.147 1.147 0 0 1 0 1.946l-3.994 2.94a1.144 1.144 0 0 1-1.767-.96v-.667z"/>
    </svg> <{$formtitle}>: <{$forum.title}></h3>


    <{if $mode == "edit"}>
        <p class="msg-callout msg-warning">
            <strong><{$smarty.const._MD_D3FORUM_NOTICE_YOUAREEDITING}></strong>
        </p>
    <{/if}>


    <{if $ispreview}>
        <div layout="column center m-4 p-4" class="bg-color">
            <h4 self="" class="bg-color"><{$preview_subject}></h4>
            <div class="bg-color"><{$preview_message}></div>
        </div>
    <{/if}>



<{include file="db:`$mydirname`_inc_d3comment_summary.html"}>

<form name="postform" id="postform" action="<{$mod_url}>/index.php?page=post" method="post">

	<input type="hidden" name="mode" id="mode" value="<{$mode}>">
	<input type="hidden" name="pid" id="pid" value="<{$pid}>">
	<input type="hidden" name="post_id" id="post_id" value="<{$post_id}>">
	<input type="hidden" name="topic_id" id="topic_id" value="<{$topic_id}>">
	<input type="hidden" name="forum_id" id="forum_id" value="<{$forum.id}>">
	<input type="hidden" name="external_link_id" id="external_link_id" value="<{$external_link_id|escape}>">
    <input type="hidden" name="reference_quote" id="reference_quote" value="<{$reference_quote}>">


	<table class="table-form">
		<tr>
			<td>
                <label for="subject"><{$smarty.const._MD_D3FORUM_SUBJECT}></label>
            </td>
			<td>
				<input type="text" name="subject" id="subject" size="60" maxlength="191" value="<{$subject}>">
			</td>
		</tr>

		<{if $post.poster_uid}><!-- begin edit USER's post -->

		<tr>
			<td><{$smarty.const._MD_D3FORUM_TH_UNAME}></td>
			<td><input type="text" id="inlineFormInputGroup" placeholder="<{$post.poster_uname|string_format:$smarty.const._MD_D3FORUM_FMT_UNAME}>" disabled></td>
		</tr>

		<{elseif $uid && ! $post.id}><!-- end edit USER's post -->

		<!-- begin post by USER newly -->
		<tr>
			<td><{$smarty.const._MD_D3FORUM_TH_UNAME}></td>
			<td><input type="text" id="inlineFormInputGroup" placeholder="<{$uname|string_format:$smarty.const._MD_D3FORUM_FMT_UNAME}>" disabled></td>
		</tr>

		<{* else *}><!-- end post by USER newly -->

		<{* ----- REMOVE this comment-line to allow guest comments /!\
		<!-- begin GUEST's new post or edit GUEST's post by somebody -->
			<tr>
				<td><label for="guest_name"><{$smarty.const._MD_D3FORUM_TH_GUESTNAME}></label></td>
				<td><input type="text" name="guest_name" id="guest_name" value="<{$guest_name}>" size="25" maxlength="30"></td>
			</tr>
			<tr>
				<td><label for="guest_email"><{$smarty.const._MD_D3FORUM_TH_GUESTEMAIL}></label></td>
				<td><input type="text" name="guest_email" id="guest_email" value="<{$guest_email}>" size="40" maxlength="60"></td>
			</tr>
			<tr>
				<td><label for="guest_url"><{$smarty.const._MD_D3FORUM_TH_GUESTURL}></label></td>
				<td><input type="text" name="guest_url" id="guest_url" value="<{$guest_url}>" size="50" maxlength="100"></td>
			</tr>
			<tr>
				<td><label for="guest_pass"><{$smarty.const._MD_D3FORUM_TH_GUESTPASSWORD}></label></td>
				<td><input type="password" name="guest_pass" id="guest_pass" value="<{$guest_pass}>" size="20" maxlength="20"></td>
			</tr>
			/!\  ----- REMOVE this comment-line to allow guest comments *}>


		<{/if}>

		<tr>
			<td>
                <label for="message_icon"><{$smarty.const._MD_D3FORUM_MESSAGEICON}></label>
            </td>
			<td>
				<select name="icon" id="message_icon">
					<{html_options options=$icon_options selected=$icon_selected}>
				</select>
			</td>
		</tr>
		<tr>
			<td>
                <label for="message"><{$smarty.const._MD_D3FORUM_TH_BODY}></label>
            </td>
			<td>

				<{if $body_wysiwyg}>
					<{$body_wysiwyg}>
				<{else}>
					<{if $smarty.const.LEGACY_BASE_VERSION|version_compare:'2.2':'>='}>
						<{if $allow_html && (!$message || $html_checked)}>
							<{assign var=editor value=html}>
						<{else}>
						    <{assign var=editor value=bbcode}>
						<{/if}>
						<{xoops_dhtmltarea class=$editor name=message id=message cols=60 rows=15 value=$message|htmlspecialchars_decode:$smarty.const.ENT_QUOTES editor=$editor}>
						<{if $legacy_module == 'legacy'}>
							<{assign var=editor value=""}>
						<{/if}>
						<{if (!$message && $editor == 'html')}>
							<{assign var=html_checked value='checked="checked"'}>
							<{assign var=xcode_checked value=""}>
							<{assign var=br_checked value=""}>
						<{/if}>
					<{else}>
					<input type="checkbox" id="message_bbcode_onoff" onclick="if(this.checked){xoopsGetElementById('message_bbcode_buttons_pre').style.display='block';xoopsGetElementById('message_bbcode_buttons_post').style.display='block'}else{xoopsGetElementById('message_bbcode_buttons_pre').style.display='none';xoopsGetElementById('message_bbcode_buttons_post').style.display='none'};">
					<label for="message_bbcode_onoff"><{$smarty.const._MD_D3FORUM_LABEL_INPUTHELPER}></label>
						<br>
						<{xoopsdhtmltarea name="message" cols="60" rows="15" value=$message pre_style="display:none;" post_style="display:none;"}>
					<{/if}>
				<{/if}>

				<{if ($reference_quote)}>
					<div class="message_textarea_inserter">
                        <input type="button" class="btn" name="quote" id="quote" onclick="d3forum_quote_message();" value="<{$smarty.const._MD_D3FORUM_BTN_QUOTE}>">
					</div>
				<{/if}>

			</td>
		</tr>

		<tr>
			<td><{$smarty.const._MD_D3FORUM_OPTIONS}></td>
			<td>
				<!-- approval -->
				<{if $forum.isadminormod && $mode == "edit" && ! $post.approval}>
				<input type="checkbox" name="approval" id="approval" value="1" <{$approval_checked}>>
				<label for="approval"><{$smarty.const._MD_D3FORUM_LABEL_DOAPPROVAL}></label>
				<br>
				<{/if}>

				<!-- solve or not -->
				<{if $can_change_solved}>
				<input type="checkbox" name="solved" id="solved" value="1" <{$solved_checked}>>
				<label for="solved"><{$smarty.const._MD_D3FORUM_TH_SOLVED}></label>
				<br>
				<{/if}>

				<!-- mark -->
				<{if $allow_mark}>
				<input type="checkbox" name="u2t_marked" id="u2t_marked" value="1" <{$u2t_marked_checked}>>
				<label for="u2t_marked"><{$smarty.const._MD_D3FORUM_MARK_TURNON}></label>
				<br>
				<{/if}>

				<!-- html -->
				<{if $allow_html}>
				<input type="checkbox" name="html" id="html" value="1" <{$html_checked}>>
				<label for="html"><{$smarty.const._MD_D3FORUM_ENABLEHTML}></label>
				<br>
				<{/if}>
            </td>
        </tr>

        <tr>
            <td><{$smarty.const._MD_D3FORUM_LABEL_ADVANCEDOPTIONS}></td>
            <td>
				<input type="checkbox" id="d3f_post_advanced_options_onoff"
					   onclick="if(this.checked){xoopsGetElementById('d3f_post_advanced_options').style.display='block';
					   }else{xoopsGetElementById('d3f_post_advanced_options').style.display='none';};">
				<label for="d3f_post_advanced_options_onoff"></label>

				<div id="d3f_post_advanced_options" style="display:none;" class="bg-color">

					<!-- smiley -->
					<input type="checkbox" name="smiley" id="smiley" value="1" <{$smiley_checked}>>
					<label for="smiley"><{$smarty.const._MD_D3FORUM_ENABLESMILEY}></label>
					<br>

					<!-- xcode -->
					<input type="checkbox" name="xcode" id="xcode" value="1" <{$xcode_checked}>>
					<label for="xcode"><{$smarty.const._MD_D3FORUM_ENABLEXCODE}></label>
					<br>

					<!-- br -->
					<input type="checkbox" name="br" id="br" value="1" <{$br_checked}>>
					<label for="br"><{$smarty.const._MD_D3FORUM_ENABLEBR}></label>
					<br>

					<!-- number_entity -->
					<input type="checkbox" name="number_entity" id="number_entity" value="1" <{$number_entity_checked}>>
					<label for="number_entity"><{$smarty.const._MD_D3FORUM_ENABLENUMBERENTITY}></label>
					<br>

					<!-- special_entity -->
					<input type="checkbox" name="special_entity" id="special_entity" value="1" <{$special_entity_checked}>>
					<label for="special_entity"><{$smarty.const._MD_D3FORUM_ENABLESPECIALENTITY}></label>
					<br>

					<!-- hide_uid -->
					<{if $allow_hideuid}>
					<input type="checkbox" name="hide_uid" id="hide_uid" value="1" <{$hide_uid_checked}>>
					<label for="hide_uid"><{$smarty.const._MD_D3FORUM_LABEL_HIDEUID}></label>
					<br>
					<{/if}>

					<!-- signature -->
					<{if $allow_sig}>
					<input type="checkbox" name="attachsig" id="attachsig" value="1" <{$attachsig_checked}>>
					<label for="attachsig"><{$smarty.const._MD_D3FORUM_LABEL_ATTACHSIG}></label>
					<br>
					<{/if}>

					<!-- notification thread-new_post -->
					<{if $allow_notify}>
					<input type="checkbox" name="notify" id="notify" value="1" <{$notify_checked}>>
					<label for="notify"><{$smarty.const._MD_D3FORUM_LABEL_NEWPOSTNOTIFY}></label>
					<br>
					<{/if}>

					<!-- invisible -->
					<{if $forum.isadminormod}>
					<input type="checkbox" name="invisible" id="invisible" value="1" <{$invisible_checked}>>
					<label for="invisible"><{$smarty.const._MD_D3FORUM_LABEL_POSTINVISIBLE}></label>
					<br>
					<{/if}>

				</div>

			</td>
		</tr>
        <tr>
			<td>
				<{if $mode == "reply"}>
				<a class="btn" href="javascript:void(0);" onclick="if(xoopsGetElementById('post_reference').style.display=='none'){xoopsGetElementById('post_reference').style.display='block'}else{xoopsGetElementById('post_reference').style.display='none'};">
					<svg class="i-chat-quote" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
						<path fill-rule="evenodd" d="M14 1H2a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h2.5a2 2 0 0 1 1.6.8L8 14.333 9.9 11.8a2 2 0 0 1 1.6-.8H14a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 0a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h2.5a1 1 0 0 1 .8.4l1.9 2.533a1 1 0 0 0 1.6 0l1.9-2.533a1 1 0 0 1 .8-.4H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
						<path d="M7.468 5.667c0 .92-.776 1.666-1.734 1.666S4 6.587 4 5.667C4 4.747 4.776 4 5.734 4s1.734.746 1.734 1.667z"/>
						<path fill-rule="evenodd" d="M6.157 4.936a.438.438 0 0 1-.56.293.413.413 0 0 1-.274-.527c.08-.23.23-.44.477-.546a.891.891 0 0 1 .698.014c.387.16.72.545.923.997.428.948.393 2.377-.942 3.706a.446.446 0 0 1-.612.01.405.405 0 0 1-.011-.59c1.093-1.087 1.058-2.158.77-2.794-.152-.336-.354-.514-.47-.563z"/>
						<path d="M11.803 5.667c0 .92-.776 1.666-1.734 1.666-.957 0-1.734-.746-1.734-1.666 0-.92.777-1.667 1.734-1.667.958 0 1.734.746 1.734 1.667z"/>
						<path fill-rule="evenodd" d="M10.492 4.936a.438.438 0 0 1-.56.293.413.413 0 0 1-.274-.527c.08-.23.23-.44.477-.546a.891.891 0 0 1 .698.014c.387.16.72.545.924.997.428.948.392 2.377-.942 3.706a.446.446 0 0 1-.613.01.405.405 0 0 1-.011-.59c1.093-1.087 1.058-2.158.77-2.794-.152-.336-.354-.514-.469-.563z"/>
					</svg> <{$smarty.const._MD_D3FORUM_REFERENCEPOST}></a>
				<{/if}></td>
            <td>
					<button type="submit" class="btn" name="contents_preview" id="contents_preview" value="<{$smarty.const._PREVIEW}>">
					<svg class="i-preview" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
						<path fill-rule="evenodd" d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.134 13.134 0 0 0 1.66 2.043C4.12 11.332 5.88 12.5 8 12.5c2.12 0 3.879-1.168 5.168-2.457A13.134 13.134 0 0 0 14.828 8a13.133 13.133 0 0 0-1.66-2.043C11.879 4.668 10.119 3.5 8 3.5c-2.12 0-3.879 1.168-5.168 2.457A13.133 13.133 0 0 0 1.172 8z"/>
						<path fill-rule="evenodd" d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"/>
					</svg> <{$smarty.const._PREVIEW}></button>

					<button type="submit" class="btn" name="content_submit" id="content_submit" value="<{$smarty.const._SUBMIT}>" onclick="return xoopsFormValidate_postform();">
					<svg class="i-check2" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
						<path fill-rule="evenodd" d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
					</svg> <{$smarty.const._SUBMIT}></button>

				<br>
				<{if $mode == "reply"}>
				<div id="post_reference" class="outer" <{if $ispreview}>style="display:none;"<{/if}>>
				<h4><{$reference_subject}></h4>
				<p><{$smarty.const._MD_D3FORUM_BY}>: <{$reference_name}> <{$smarty.const._MD_D3FORUM_ON}>: <{$reference_time_formatted}></p>

				<div class="bg-color"><{$reference_message}></div>

				</div>
				<{/if}>
            </td>
        </tr>
	</table>

	<{$antispam.html_in_form}>


</form>

<!-- Start Form Vaidation JavaScript //-->
<script type="text/javascript">
<!--//
<{$antispam.js_global}>

function xoopsFormValidate_postform() {
	myform = window.document.postform;
	if ( myform.subject.value.replace(/^\s+|\s+$/g,"") == "" ) {
    window.alert("<{$smarty.const._MD_D3FORUM_SUBJECT|string_format:$smarty.const._FORM_ENTER}>"); myform.subject.focus(); return false; }
	<{if ! $body_wysiwyg}>
	if ( myform.message.value.replace(/^\s+|\s+$/g,"") == "" ) {
	    window.alert("<{$smarty.const._MD_D3FORUM_ERR_NOMESSAGE}>");
	    myform.message.focus(); return false; }
	<{/if}>
	<{$antispam.js_in_validate_function}>
	return true;
}
    function d3forum_quote_message() {
        xoopsGetElementById("message").value = xoopsGetElementById("message").value + xoopsGetElementById("reference_quote").value ;
    }
//-->
</script>
<!-- End Form Vaidation JavaScript //-->
