<{strip}>

<{if $submissions}>

    <{* ////— ACTION-CONTROL —\\\\ *}>
    <section layout="row center-justify" class="action-control">
        <div>
            <h3><{$smarty.const._AM_WAITING_ARTICLES}></h3>
        </div>
        <div class="control-view">
            <a class="button"
               href="<{$mydirurl}>/admin/index.php?mode=admin&amp;op=listall&amp;statu=newsubmission"><{$smarty.const._AM_DISP_CONTENUE}></a>
            <button class="help-admin button" type="button" data-id="4" data-module="<{$mydirname}>"
                    data-help-article="#help-bulletin-start" title="<{$smarty.const._HELP}>">
                <b>?</b>
            </button>
        </div>
    </section>

<table class="outer">
    <thead>
    <tr>
        <th width="40"><{$smarty.const._AM_STORYID}></th>
        <th><{$smarty.const._AM_TITLE}></th>
        <th width="100"><{$smarty.const._AM_TOPIC}></th>
        <th width="100"><{$smarty.const._AM_POSTER}></th>
        <th width="150"><{$smarty.const._AM_POSTED}></th>
        <th width="150"><{$smarty.const._AM_EXPIRED}></th>
        <th width="80"><{$smarty.const._AM_ACTION}></th>
    </tr>
    </thead>
    <tbody>
    <{foreach item=i from=$submissions}>
    <tr>
        <td><{$i.storyid}></td>
        <td align="left"><{$i.title}></td>
        <td><{$i.topic}></td>
        <{if $i.uid}>
        <td><a href="<{$xoops_url}>/userinfo.php?uid=<{$i.uid}>"><{$i.uname}></a></td>
        <{else}>
        <td><{$i.uname}></td>
        <{/if}>
        <td><{$i.created}></td>
        <td><{$i.expired}></td>
        <td>
            <a href="<{$mydirurl}>/index.php?page=submit&amp;return=1&amp;storyid=<{$i.storyid}>">
                <img class="svg edit" src="<{$xoops_url}>/images/icons/edit.svg"alt="<{$smarty.const._EDIT}>">
                <{$smarty.const._EDIT}></a>
            &nbsp;<a href="<{$mydirurl}>/index.php?page=submit&amp;return=1&amp;op=delete&amp;storyid=<{$i.storyid}>">
            <img class="svg delete" src="<{$xoops_url}>/images/icons/delete.svg" alt="<{$smarty.const._DELETE}>">
            <{$smarty.const._DELETE}></a>
        </td>
    </tr>
    <{/foreach}>
    </tbody>
</table>

<hr>
<{/if}>


<{if $autostories}>

    <{* ////— ACTION-CONTROL —\\\\ *}>
    <section layout="row center-justify" class="action-control">
        <div>
            <h3><{$smarty.const._AM_AUTOARTICLES}></h3>
        </div>
        <div class="control-view">
            <a class="button"
               href="<{$mydirurl}>/admin/index.php?mode=admin&amp;op=listall&amp;statu=autostory">
                <{$smarty.const._AM_DISP_CONTENUE}></a>
            <button class="help-admin button" type="button" data-id="4" data-module="<{$mydirname}>"
                    data-help-article="#help-bulletin-auto" title="<{$smarty.const._HELP}>">
                <b>?</b>
            </button>
        </div>
    </section>

<table class="outer">
    <thead>
    <tr>
        <th width="40"><{$smarty.const._AM_STORYID}></th>
        <th><{$smarty.const._AM_TITLE}></th>
        <th width="100"><{$smarty.const._AM_TOPIC}></th>
        <th width="100"><{$smarty.const._AM_POSTER}></th>
        <th width="150"><{$smarty.const._AM_PROGRAMMED}></th>
        <th width="150"><{$smarty.const._AM_EXPIRED}></th>
        <th width="80"><{$smarty.const._AM_ACTION}></th>
    </tr>
    </thead>
    <tbody>
    <{foreach item=i from=$autostories}>
    <tr>
        <td><{$i.storyid}></td>
        <td align="left"><{$i.title}></td>
        <td><{$i.topic}></td>
        <{if $i.uid}>
        <td><a href="<{$xoops_url}>/userinfo.php?uid=<{$i.uid}>"><{$i.uname}></a></td>
        <{else}>
        <td><{$i.uname}></td>
        <{/if}>
        <td><{$i.published}></td>
        <td><{$i.expired}></td>
        <td>
            <a href="<{$mydirurl}>/index.php?page=submit&amp;return=1&amp;storyid=<{$i.storyid}>">
                <img class="svg edit" src="<{$xoops_url}>/images/icons/edit.svg"alt="<{$smarty.const._EDIT}>">
                <{$smarty.const._EDIT}>
            </a>
            &nbsp;<a href="<{$mydirurl}>/index.php?page=submit&amp;return=1&amp;op=delete&amp;storyid=<{$i.storyid}>">
                <img class="svg delete" src="<{$xoops_url}>/images/icons/delete.svg" alt="<{$smarty.const._DELETE}>">
                <{$smarty.const._DELETE}>
            </a>
        </td>
    </tr>
    <{foreachelse}>
    <tr>
        <td colspan="7"><{$smarty.const._AM_NO_ARTICLES}></td>
    </tr>
    <{/foreach}>
    </tbody>
</table>

<hr>
<{/if}>


<{* ////— ACTION-CONTROL —\\\\ *}>
<section layout="row center-justify" class="action-control">
    <div>
        <h3><{$smarty.const._AM_PUB_ARTICLES}></h3>
    </div>
    <div class="control-view">
        <a class="button" href="<{$mydirurl}>/index.php?page=submit" title="<{$smarty.const._MD_SUBMITNEWS}>">
            <{$smarty.const._MD_SUBMITNEWS}></a>
        <a class="button"
           href="<{$mydirurl}>/admin/index.php?mode=admin&amp;op=listall&amp;statu=laststory">
            <{$smarty.const._AM_DISP_CONTENUE}></a>
        <button class="help-admin button" type="button" data-id="4" data-module="<{$mydirname}>"
                data-help-article="#help-bulletin-articles" title="<{$smarty.const._HELP}>">
            <b>?</b>
        </button>
    </div>
</section>

<table class="outer">
    <thead>
    <tr>
        <th width="40"><{$smarty.const._AM_STORYID}></th>
        <th><{$smarty.const._AM_TITLE}></th>
        <th width="100"><{$smarty.const._AM_TOPIC}></th>
        <th width="100"><{$smarty.const._AM_POSTER}></th>
        <th width="150"><{$smarty.const._AM_PUBLISHED}></th>
        <th width="150"><{$smarty.const._AM_EXPIRED}></th>
        <th width="80"><{$smarty.const._AM_ACTION}></th>
    </tr>
    </thead>
    <tbody>
    <{foreach item=i from=$published}>
    <tr>
        <td><{$i.storyid}></td>
        <td><{$i.title}></td>
        <td><{$i.topic}></td>
        <{if $i.uid}>
        <td><a href="<{$xoops_url}>/userinfo.php?uid=<{$i.uid}>"><{$i.uname}></a></td>
        <{else}>
        <td><{$i.uname}></td>
        <{/if}>
        <td><{$i.published}></td>
        <td><{$i.expired}></td>
        <td>
            <a href="<{$mydirurl}>/index.php?page=submit&amp;return=1&amp;storyid=<{$i.storyid}>">
                <img class="svg edit" src="<{$xoops_url}>/images/icons/edit.svg"alt="<{$smarty.const._EDIT}>">
                <{$smarty.const._EDIT}>
            </a>
            &nbsp;<a href="<{$mydirurl}>/index.php?page=submit&amp;return=1&amp;op=delete&amp;storyid=<{$i.storyid}>">
                <img class="svg delete" src="<{$xoops_url}>/images/icons/delete.svg" alt="<{$smarty.const._DELETE}>">
                <{$smarty.const._DELETE}>
            </a>
        </td>
    </tr>
    <{/foreach}>
    </tbody>
</table>


<{if $expired}>
<hr>

<{* ////— ACTION-CONTROL —\\\\ *}>
<section layout="row center-justify" class="action-control">
    <div>
        <h3><{$smarty.const._AM_EXPARTS}></h3>
    </div>
    <div class="control-view">
        <a class="button"
           href="<{$mydirurl}>/admin/index.php?mode=admin&amp;op=listall&amp;statu=expstory"><{$smarty.const._AM_DISP_CONTENUE}></a>
        <button class="help-admin button" type="button" data-id="4" data-module="<{$mydirname}>"
                data-help-article="#help-bulletin-expired" title="<{$smarty.const._HELP}>">
            <b>?</b>
        </button>
    </div>
</section>

<table class="outer">
    <thead>
    <tr>
        <th width="40"><{$smarty.const._AM_STORYID}></th>
        <th><{$smarty.const._AM_TITLE}></th>
        <th width="100"><{$smarty.const._AM_TOPIC}></th>
        <th width="100"><{$smarty.const._AM_POSTER}></th>
        <th width="150"><{$smarty.const._AM_PUBLISHED}></th>
        <th width="150"><{$smarty.const._AM_EXPIRED}></th>
        <th width="80"><{$smarty.const._AM_ACTION}></th>
    </tr>
    </thead>
    <tbody>
    <{foreach item=i from=$expired}>
    <tr>
        <td><{$i.storyid}></td>
        <td><{$i.title}></td>
        <td><{$i.topic}></td>
        <{if $i.uid}>
        <td><a href="<{$xoops_url}>/userinfo.php?uid=<{$i.uid}>"><{$i.uname}></a></td>
        <{else}>
        <td><{$i.uname}></td>
        <{/if}>
        <td><{$i.published}></td>
        <td><{$i.expired}></td>
        <td>
            <a href="<{$mydirurl}>/index.php?page=submit&amp;return=1&amp;storyid=<{$i.storyid}>">
                <img class="svg delete" src="<{$xoops_url}>/images/icons/edit.svg" alt="<{$smarty.const._EDIT}>">
                <{$smarty.const._EDIT}>
            </a>
            &nbsp;<a href="<{$mydirurl}>/index.php?page=submit&amp;return=1&amp;op=delete&amp;storyid=<{$i.storyid}>">
                <img class="svg delete" src="<{$xoops_url}>/images/icons/delete.svg" alt="<{$smarty.const._DELETE}>">
                <{$smarty.const._DELETE}>
            </a>
        </td>
    </tr>
    <{/foreach}>
    </tbody>
</table>
<{/if}>

<{include file="$template_path/bulletin_footer.html"}>

<{/strip}>
