<div class="ui-dev-mode"><{$smarty.template}></div>


<h2><{$smarty.const._AM_TOPIC}></h2>


<{* ////— ACTION-CONTROL —\\\\ *}>
<section layout="row center-justify" class="action-control">
    <div>
    <{if $topics_exists}>

        <form method="get" action="index.php">
        <{$smarty.const._AM_MODIFY}> <{$topicselbox2}>

        <{$gticket_hidden}>
        <input type="hidden" name="op" value="modTopic">
        <input type="hidden" name="mode" value="admin">
        <input class="ui-button" type="submit" value="<{$smarty.const._AM_MODIFYTOPIC}>">
        </form>
        <{/if}>
    </div>
    <div class="control-view">
        <button class="help-admin button" type="button" data-id="4" data-module="<{$mydirname}>"
                data-help-article="#help-bulletin-category" title="<{$smarty.const._HELP}>">
            <b>?</b>
        </button>
    </div>
</section>


<h3><{$smarty.const._AM_ADDMTOPIC}></h3>
<form method="post" action="index.php?mode=admin">
    <table class="outer">
        <tbody>
        <tr>
            <td><{$smarty.const._AM_TOPICNAME}></td>
            <td>
                <input type="text" name="topic_title" size="20" maxlength="40">
                <{$smarty.const._AM_MAX40CHAR}>
            </td>
        </tr>
        <tr>
            <td><{$smarty.const._AM_PARENTTOPIC}></td>
            <td><{$topicselbox}></td>
        </tr>
        <tr>
            <td><{$smarty.const._AM_TOPICIMG}></td>
            <td>
                <select size="1" name="topic_imgurl" id="topic_imgurl"
                        onchange='showImgSelected("topicimage", "topic_imgurl", "<{$imagebase}>", "", "<{$imagedirname}>")'>
                    <option value="">------</option>
                    <{foreach item=i from=$images}>
                    <option value="<{$i.image}>"><{$i.image}></option>
                    <{/foreach}>
                </select>
                <br>
                <img src="<{$xoops_url}>/images/blank.gif" name="topicimage" id="topicimage" alt="" vspace="4">
                <br>
                <{$imagelocation}>
            </td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <td colspan="2">
                <{$gticket_hidden}>
                <input type="hidden" name="op" value="addTopic">
                <input class="ui-button" type="submit" value="<{$smarty.const._ADD}>">
            </td>
        </tr>
        </tfoot>
    </table>
</form>

<{include file="$template_path/bulletin_footer.html"}>
