<div class="ui-dev-mode"><{$smarty.template}></div>


<h2><{$smarty.const._AM_MODIFYTOPIC}> : <{$topic_title}></h2>


<{* ////— ACTION-CONTROL —\\\\ *}>
<section layout="row center-justify" class="action-control">
    <div>
        &nbsp;
    </div>
    <div class="control-view">
        <a class="button" href="<{$mydirurl}>/index.php?page=submit&amp;return=1&amp;storyid=<{$i.storyid}>"><{$smarty.const._MD_SUBMITNEWS}></a>
        <button class="help-admin button" type="button" data-id="4" data-module="<{$mydirname}>"
                data-help-article="#help-bulletin-category" title="<{$smarty.const._HELP}>">
            <b>?</b>
        </button>
    </div>
</section>


<form method="post" action="index.php?mode=admin">
    <{$gticket_hidden}>
    <input type="hidden" name="op" value="modTopicS">
    <input type="hidden" name="topic_id" value="<{$topic_id}>">

    <table class="outer">
        <tbody>
        <tr>
            <td><{$smarty.const._AM_TOPICNAME}></td>
            <td>
                <input type="text" name="topic_title" size="20" maxlength="40" value="<{$topic_title}>">
                <{$smarty.const._AM_MAX40CHAR}>
            </td>
        </tr>
        <tr>
            <td><{$smarty.const._AM_PARENTTOPIC}></td>
            <td><{$topicselbox}></td>
        </tr>
        <tr>
            <td><{$smarty.const._AM_TOPICIMG}></td>
            <td>
                <{if $topic_imgurl}>
                <img src="<{$topic_imgdir}><{$topic_imgurl}>" alt=""/>
                <br>
                <{/if}>
                <select size="1" name="topic_imgurl" id="topic_imgurl"
                        onchange='showImgSelected("topicimage", "topic_imgurl", "<{$imagebase}>", "", "<{$imagedirname}>")'>
                    <option value="">------</option>
                    <{foreach item=i from=$images}>
                    <option value="<{$i.image}>" <{$i.option}>><{$i.image}></option>
                    <{/foreach}>
                </select>
                <br>
                <img src="<{$xoops_url}>/images/blank.gif" id="topicimage" alt="">
                <br>
                <{$imagelocation}>
            </td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <td colspan="2">
                <input class="button" type="submit" value="<{$smarty.const._CANCEL}>" onclick="javascript:history.go(-1)">
                <input class="ui-button button-delete" type="submit" value="<{$smarty.const._DELETE}>"
                       onclick="location='index.php?mode=admin&amp;topic_pid=<{$topic_pid}>&amp;topic_id=<{$topic_id}>&amp;op=delTopic'">
                <input class="ui-button" type="submit" value="<{$smarty.const._AM_SAVECHANGE}>">
            </td>
        </tr>
        </tfoot>
    </table>
</form>

<{include file="$template_path/bulletin_footer.html"}>
