<{strip}>
<div class="ui-dev-mode"><{$smarty.template}></div>


<{* ////— ACTION-CONTROL —\\\\ *}>
<section layout="row center-justify" class="action-control">
    <div>
        <h3><{$smarty.const._AM_WAITING_ARTICLES}></h3>
    </div>
    <div class="control-view">
        <div><{$navi}></div>
        <a class="button"
           href="<{$mydirurl}>/admin/index.php?mode=admin&amp;op=listall&amp;statu=newsubmission"><{$smarty.const._AM_DISP_CONTENUE}></a>
        <button class="help-admin button" type="button" data-id="4" data-module="<{$mydirname}>"
                data-help-article="#help-bulletin-start" title="<{$smarty.const._HELP}>">
            <b>?</b>
        </button>
    </div>
</section>

<table class="outer">
    <thead>
    <tr align="center">
        <th width="40"><{$smarty.const._AM_STORYID}></th>
        <th><{$smarty.const._AM_TITLE}></th>
        <th width="100"><{$smarty.const._AM_TOPIC}></th>
        <th width="100"><{$smarty.const._AM_POSTER}></th>
        <th width="150">
            <{if $mode == 'newsubmission'}>
                <{$smarty.const._AM_POSTED}>
            <{elseif $mode == 'autostory'}>
                <{$smarty.const._AM_PROGRAMMED}>
            <{else}>
                <{$smarty.const._AM_PUBLISHED}>
            <{/if}>
        </th>
        <th width="150"><{$smarty.const._AM_EXPIRED}></th>
        <th width="80"><{$smarty.const._AM_ACTION}></th>
    </tr>
    </thead>
    <tbody>
    <{foreach item=i from=$stories}>
    <tr class="<{cycle values="odd,even"}>">
    <td><{$i.storyid}></td>
    <td align="left"><{$i.title}></td>
    <td><{$i.topic}></td>
    <{if $i.uid}>
    <td><{$i.uname}></td>
    <{else}>
    <td><a href="<{$xoops_url}>/userinfo.php?uid=<{$i.uid}>"><{$i.uname}></a></td>
    <{/if}>
    <td>
        <{if $mode == 'newsubmission'}>
            <{$i.created}>
        <{else}>
            <{$i.published}>
        <{/if}>
    </td>
    <td><{$i.expired}></td>
    <td>
        <a href="<{$mydirurl}>/index.php?page=submit&amp;return=1&amp;storyid=<{$i.storyid}>">
        <img class="svg edit" src="<{$xoops_url}>/images/icons/edit.svg"alt="<{$smarty.const._EDIT}>"> <{$smarty.const._EDIT}></a>
        &nbsp;<a href="<{$mydirurl}>/index.php?page=submit&amp;return=1&amp;op=delete&amp;storyid=<{$i.storyid}>">
        <img class="svg delete" src="<{$xoops_url}>/images/icons/delete.svg" alt="<{$smarty.const._DELETE}>"> <{$smarty.const._DELETE}></a>
    </td>
    </tr>
    <{/foreach}>
    </tbody>
</table>

<p><{$navi}></p>

<{include file="$template_path/bulletin_footer.html"}>

<{/strip}>
