
<!--<script type="module">-->
<!--    import devtools from '<{$xoops_imageurl}>js/xrender-devtools/index.js';-->
<!--</script>-->

<!-- BANNER -->
<{if $xoops_banner and $xoops_banner!=""}><{$xoops_banner}><{/if}>

<footer layout="column stretch-justify sm-column">
    <p><kbd>Alt</kbd>+<kbd>⇧ Shift</kbd>+<kbd>S</kbd> search <kbd>tab</kbd> next link : <{$xoops_sitename}> - <{$xoops_slogan}>

        <br>
        <small><{$xoops_footer}> | <a href="https://github.com/xoopscube/documentation">Documentation</a></small></p>
</footer>
<!-- FOOTER END -->



<a id="ui-scroll-top" aria-label="Scroll to Top"></a>

<{* ---------- Theme Plugins *}>

<script defer src="<{$xoops_imageurl}>js/plugins.js"></script>

<{* ---------- XCL Utils *}>
<!--<script defer src="<{$xoops_url}>/common/prismjs/prism.js"></script>-->
<!-- Load the UMD version of the "base" bundle.
<script defer src="<{$xoops_imageurl}>js/xrender-bundle.js"></script>-->

