<{* Dev-Mode Toggle *}>
<div class="ui-dev-mode"><{$smarty.template}></div>


<h4><{$smarty.const._LOGIN}></h4>


<form action="<{$xoops_url}>/user.php" method="post">
    <{xoops_input type=hidden name=op value=login}>
    <{xoops_input type=hidden name=xoops_redirect value=$redirect_page}>

    <hr>

    <div layout="rows center-center" aria-label="<{$smarty.const._USERNAME}>">
        <div self="center">
            <label for="uname" aria-label="<{$smarty.const._USERNAME}>"></label>
        </div>
        <div self="center center">
            <input type="text" id="uname" placeholder="<{$smarty.const._USERNAME}>" value="<{$usercookie}>">
            <!--        <{* xoops_input type=text name=uname size=25 maxlength=25 value=$usercookie *}> -->
        </div>
    </div>


    <div layout="rows center-center">
        <div self="size-x2 stretch right">
            <label for="pass" self="size-x2"><{$smarty.const._PASSWORD}></label>
        </div>
        <div self="size-x2 stretch left">
            <input type="password" self="size-x2" id="pass" placeholder="<{$smarty.const._PASSWORD}>">
            <{* xoops_input type=password name=pass id="pass" size=25 maxlength=32 placeholder="<{$smarty.const._PASSWORD}>" *}>
        </div>
    </div>

    <div layout="rows size-x1 center-center">

    <input type="submit"  value="<{$smarty.const._LOGIN}>">

        <{if $allowRegister}>
            <div self="size-x1 center">
                <a href="<{$xoops_url}>/register.php"><{$smarty.const._MD_USER_LANG_NOTREGISTERED}></a>
            </div>
        <{/if}>

    </div>




</form>


