/* ---------- ---------- ---------- CSS CUSTOM STYLE
    XOOPSCUBE Theme : XCL Bootstrap Default
    Distribution : XCL 2.3.0
    Version : 1.0.0
    Author : Nuno Luciano aka Gigamaster
    Date : 2020-05-27
    URL : https://github.com/xoopscube/xcl/
-------------------------------------------------- */

    /* ---------- ---------- ---------- UI-DEV-MODE
    Smarty template name help display: block / none */

    .ui-dev-mode {
        background  : #0a0a0a;
        color       : #00CCFF;
        font-size   : 12px;
        /*display     : block;*/
        display   : none;
    }

/* ---------- ---------- ---------- Body nav off-canvas */

    html,
    body {
        overflow-x          : hidden; /* Remove horizontal scroll on smaller devices */
        background          : #f8f9fa !important;
        color               : #5a5a5a;
    }
    body:not(.cke_editable) {
        padding-top         : 0px;
        padding-bottom      : 2rem;
    }

    /* main top space for content and side blocks */
    main {
        margin-top          : 0rem;
    }

/* ---------- ---------- ---------- Nav scroller for mobile  */

    .navbar {
        background-color    : #212527;
    }
    .nav-scroller {
        position            : relative;
        z-index             : 2;
        height              : 2.75rem;
        overflow-y          : hidden;
    }
    .nav-scroller .nav {
        display             : -ms-flexbox;
        display             : flex;
        -ms-flex-wrap       : nowrap;
        flex-wrap           : nowrap;
        padding-bottom      : 1rem;
        margin-top          : 1px;
        overflow-x          : auto;
        color               : rgba(255, 255, 255, .75);
        text-align          : center;
        white-space         : nowrap;
        -webkit-overflow-scrolling: touch;
    }
    .nav-underline .nav-link {
        padding-top         : .75rem;
        padding-bottom      : .75rem;
        font-size           : .875rem;
        color               : #6c757d;
    }
    .nav-underline .nav-link:hover {
        color               : #007bff;
    }
    .nav-underline .active {
        font-weight         : 500;
        color               : #343a40;
    }

/* ---------- ---------- ---------- Block Title */

    /* Thin Headings e.g. Block Titles (see font-size in media queries) */
    .block-title {
        font-weight           : 300;
        line-height           : 1;
        letter-spacing        : -.05rem;
    }

/* ---------- ---------- ---------- Center Blocks */

    /* Center block title and content */
    .block-center-left,
    .block-center-center,
    .block-center-right {
        padding             : 1rem;
    }
    .row .col-lg-4 h3 {
        font-weight         : 400;
    }
    .row .col-lg-4 p {
        margin-left         : .75rem;
        margin-right        : .75rem;
    }

/* ---------- ---------- ---------- Custom Carousel */

/* Carousel margin */
    .carousel {
        margin              : -1rem auto 3rem;
        max-width           : 1200px; /* Bootstrap breakpoint */
    }
    .carousel-indicators li {
        background-color    : #007bff; /* Bootstrap change default color */
    }
    .carousel-control-next,
    .carousel-control-prev {
        filter              : invert(74%); /* Bootstrap change default background-image to darker */
    }
    /* Carousel caption position */
    .carousel-caption {
        bottom              : 1rem;
        margin-left         : 1rem;
        margin-right        : 1rem;
        color               : #1d2124;
        z-index             : 10;
    }
    /* Carousel height for img element position */
    .carousel-item {
        height              : 32rem;
    }
    /* Carousel item image position*/
    .carousel-item > img {
        top                 : -2rem;
    }

/* ---------- ---------- ---------- Message callout */

    .msg-callout {
        border              : 1px solid #eee;
        border-radius       : .25rem;
        padding             : 1em;
        margin              : 2em 0;
        box-shadow          : 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
    }
    .msg-callout > p {
        margin              : 0;
    }
    .msg-info {
        border-left-color   : #5bc0de;
        border-left-width   : 4px;
    }
    .msg-success {
        border-left-color   : #5bde74;
        border-left-width   : 4px;
    }
    .msg-warning {
        border-left-color   : #face74;
        border-left-width   : 4px;
    }

/* ---------- ---------- ---------- Pagination */

    .pagination > b,
    .pagination > a,
    .pagination > u {
        background          : #fff;
        border              : 1px solid #dee2e6;
        color               : #007bff;
        display             : block;
        line-height         : 1.25;
        margin-left         : -1px;
        padding             : 0.5rem 0.75rem;
        position            : relative;
    }

/* ---------- ---------- ---------- UL */

    ul {
        list-style-type     : none;
    }

/* ---------- ---------- ---------- User Profile timeline */

    .profile-timeline {
        border-left         : 1px solid rgba(120, 130, 140, 0.13);
        margin-left         : 30px;
        margin-right        : 10px;
        padding-left        : 40px;
        position            : relative;
    }
    .profile-timeline .stream-left {
        float               : left;
        margin-left         : -35px;
        margin-right        : 15px;
        z-index             : 1;
    }
    .profile-timeline .stream-left img {
        max-width           : 40px;
    }
    .profile-timeline .stream-item {
        margin-top          : 8px;
    }
    .profile-timeline .stream-date {
        color               : #757e8a;
        font-size           : 12px;
    }
    .profile-timeline .time-item {
        border-color        : rgba(120, 130, 140, 0.13);
        padding-bottom      : 1px;
        position            : relative;
    }
    .profile-timeline .time-item:before {
        content             : " ";
        display             : table;
    }
    .profile-timeline .time-item:after {
        background-color    : #ffffff;
        border-color        : rgba(120, 130, 140, 0.13);
        border-radius       : 10px;
        border-style        : solid;
        border-width        : 2px;
        bottom              : 0;
        content             : '';
        height              : 14px;
        left                : 0;
        margin-left         : -8px;
        position            : absolute;
        top                 : 5px;
        width               : 14px;
    }
    .profile-timeline .time-item-item:after {
        content             : " ";
        display             : table;
    }
    .profile-timeline .item-info {
        margin-bottom       : 15px;
        margin-left         : 15px;
    }
    .profile-timeline .item-info p {
        margin-bottom       : 10px !important;
    }

    /* ---------- ---------- ---------- User Streamline t*/

    .streamline {
        border-left         : 1px solid rgba(120, 130, 140, 0.13);
        margin-left         : 20px;
        position            : relative;
    }
    .streamline .stream-left {
        background          : #263238;
        border-radius       : 100%;
        color               : #ffffff;
        float               : left;
        height              : 40px;
        line-height         : 40px;
        margin-left         : -20px;
        margin-right        : 15px;
        text-align          : center;
        width               : 40px;
        z-index             : 1;
    }
    .streamline .stream-left img {
        max-width           : 40px;
    }

    .streamline .stream-right {
        padding-left        : 50px;
    }
    .streamline .stream-right .desc,
    .streamline .stream-right .inline-photos {
        margin-bottom       : 30px;
    }
    .streamline .stream-item {
        border-bottom       : 1px solid rgba(120, 130, 140, 0.13);
        margin              : 20px 0;
    }
    .stream-date {
        color               : #757e8a;
        font-size           : 10px;
    }
    .time-item {
        border-color        : rgba(120, 130, 140, 0.13);
        padding-bottom      : 1px;
        position            : relative;
    }
    .time-item:before {
        content             : " ";
        display             : table;
    }
    .time-item:after {
        background-color    : #ffffff;
        border-color        : rgba(120, 130, 140, 0.13);
        border-radius       : 10px;
        border-style        : solid;
        border-width        : 2px;
        bottom              : 0;
        content             : '';
        height              : 14px;
        left                : 0;
        margin-left         : -8px;
        position            : absolute;
        top                 : 5px;
        width               : 14px;
    }
    .time-item-item:after {
        content             : " ";
        display             : table;
    }
    .item-info {
        margin-bottom       : 15px;
        margin-left         : 15px;
    }
    .item-info p {
        margin-bottom       : 10px !important;
    }

/* ---------- ---------- ---------- RESPONSIVE CSS */

    /* small devices (portrait phones) */
    @media (max-width: 576px) {
        .carousel-item > img {
            width           : 100%;
        }
        .carousel-item {
            height          : 21rem;
        }
        .carousel-caption {
            bottom          : 0.5rem;
            margin-left     : 0.5rem;
            margin-right    : 0.5rem;
        }
        .carousel-caption > h1 {
            font-size       : 1.5rem
        }
    }
    /* mobile devices (landscape, tablets) */
    @media (max-width: 992px) {

        .offcanvas-collapse {
            position        : fixed;
            top             : 56px; /* Height of navbar */
            bottom          : 0;
            left                : 100%;
            width           : 100%;
            padding-right   : 1rem;
            padding-left    : 1rem;
            overflow-y      : auto;
            visibility      : hidden;
            background-color: #343a40;
            transition      : visibility .3s ease-in-out, -webkit-transform .3s ease-in-out;
            transition      : transform .3s ease-in-out, visibility .3s ease-in-out;
            transition      : transform .3s ease-in-out, visibility .3s ease-in-out, -webkit-transform .3s ease-in-out;
        }
        .offcanvas-collapse.open {
            visibility      : visible;
            -webkit-transform: translateX(-100%);
            transform       : translateX(-100%);
        }
    }
    @media (min-width: 40em) {
        /* Re-size of carousel content */
        a.nav-link.btn-scroller {
            display         : none;
        }
        .carousel-caption p {
            font-size       : 1.25rem;
            line-height     : 1.4;
            margin-bottom   : 1rem;
        }
        /* Headings e.g. Block Titles */
        .block-title {
            font-size       : 24px;
            margin          : 1rem 0;
        }
    }
    @media (min-width: 62em) {
        .block-title {
            font-size       : 36px;
            margin          : 1.5rem 0;
        }
    }
