/*
 * Theme XCL DEFAULT
 * @version   2.3.1
 * @author    Nuno Luciano ( https://github.com/gigamaster )
 * @copyright 2005-2022 The XOOPSCube Project
*  @license   https://github.com/xoopscube/xcl/blob/master/BSD_license.txt
 * @link      https://github.com/xoopscube
 */

/* -------------------- -------------------- HTML BODY */

html,
body {
	background          : var(--body-bg);
	color               : var(--body-color);
    font-family         : var(--font-family );
	font-size           : var(--font-size);
	font-weight         : var(--font-weight);
    line-height         : var(--line-height);
    margin              : 0 auto;
    padding             : 0;
    overflow-x          : hidden;
    text-rendering      : optimizeLegibility;
}

/* -------------------- -------------------- HTML Elements */

a {
	color               : var(--link );
    cursor              : pointer;
    text-decoration     : none;
    transition          : all 0.5s ease;
}

a:link { color: var(--link ) }
a:visited { color: var(--link-visited) }
a:hover { color: var(--link-hover) }
a:active,
a:focus { color: var(--link-active) }
/* Links with target='_blank'
   icon to external link  */
a[href^="https://"][target=_blank]:after {
    content: '\2197';
    position: relative;
    left: 2px;
}
a[href^="https://"][target=_blank]:active:after,
a[href^="https://"][target=_blank]:hover:after,
a[href^="https://"][target=_blank]:focus:after {
    content: '\21E2';
    color: var(--link-active);
}

/* TODO color-schme css vars */
.mono-1 {color: var(--mono-1) }
.mono-2 {color: var(--mono-2) }
.mono-3 {color: var(--mono-3) }
.mono-4 {color: var(--mono-4) }
.mono-5 {color: var(--mono-5) }
.mono-6 {color: var(--mono-6) }
.mono-7 {color: var(--mono-7) }
.mono-8 {color: var(--mono-8) }
.mono-8 {color: var(--mono-9) }

.amber {color: var(--amber) }
.cyan {color: var(--cyan) }
.blue-1 {color: var(--blue-1) }
.blue-2 {color: var(--blue-2) }
.blue-3 {color: var(--blue-3) }
.green {color: var(--green) }
.green-light {color: var(--green-light) }
.indigo {color: var(--indigo) }
.lime {color: var(--lime) }
.orange-1 {color: var(--orange-1) }
.orange-2 {color: var(--orange-2) }
.orange-3 {color: var(--orange-3) }
.pink {color: var(--pink) }
.purple-1 {color: var(--purple-1) }
.purple-2 {color: var(--purple-2) }
.purple-3 {color: var(--purple-3) }
.red-1 {color: var(--red-1) }
.red-2 {color: var(--red-2) }
.red-3 {color: var(--red-3) }
.teal {color: var(--teal) }
.white {color: var(--white) }


.ellipses {
    overflow : hidden;
    text-overflow : ellipsis;
    white-space : nowrap;
}

fieldset {
    background          : var(--fieldset-bg);
    border              : var(--fieldset-border);
    border-radius       : var(--fieldset-radius);
    /*display             : var(--fieldset-display);*/
    /*margin-inline       : var(--fieldset-margin-inline);*/
    padding             : var(--fieldset-space);
    /*padding-block       : var(--fieldset-padding-inline);*/
    /*padding-inline      : var(--fieldset-padding-inline);*/
    /*min-inline-size     : var(--fieldset-min-inline-size);*/
    transition          : var(--fieldset-transition);
}

fieldset legend {
    background          : var(--legend-bg);
    border              : var(--legend-border);
    border-radius       : var(--legend-radius);
    box-shadow          : var(--legend-shadow);
    color               : var(--legend-color);
    padding             : var(--legend-space);
}

/* Target links to domains other than your own
a:not([href*='yourdomain.com']):not([href^='#']):not([href^='/']):after {}
*/
h1 {font-size           : 42px;}
h2 {font-size           : 32px }
h3 {font-size           : 24px }
h4 {font-size           : 20px }
h5 {font-size           : var(--font-14); }
h6 {font-size           : var(--font-12); text-transform: uppercase; }
h1, h2, h3, h4, h5 {
    color               : var(--head-color );
    font-family         : var(--head-font );
    font-weight         : lighter;
    line-height         : 1.25; /* var(--line-height);*/
    margin              : var(--head-space); /*1.25rem 0;*/
    padding             : var(--head-space);
}

hr {
    background-image    : linear-gradient(90deg, transparent, hsl(219, 17%, 12%), transparent);
    border              : 0;
    border-top          : 1px solid hsl(219, 17%, 21%);
    height              : 5px;
    margin              : 2em 0;
}

img {
    border              : 0;
    min-width           : 0;
    max-width           : 100%;
}

kbd {
    background-color    : var(--body-bg);
    border              : var(--border);
    border-radius       : 3px;
    box-shadow          : var(--shadow-out);
    color               : #f5f5f5;
    display             : inline-block;
    font-size           : var(--font-12);
    font-family         : var(--font-mono);
    line-height         : 1.4;
    margin              : 0 var(--space-2);
    padding             : var(--space-2) var(--space-4);
    text-shadow         : 0 1px 5px #f2f2f2;
    white-space         : nowrap;
}

.line-break {
    /* Adds a hyphen where the word breaks, if supported (No Blink) */
    hyphens : auto;
    -ms-hyphens : auto;
    -moz-hyphens : auto;
    -webkit-hyphens : auto;

    /* These are technically the same, but use both */
    overflow-wrap : break-word;
    word-wrap : break-word;

    /* This is the dangerous one in WebKit, as it breaks things wherever */
    word-break : break-all;
    /* Instead use this non-standard one: */
    word-break : break-word;
}

p {
    font-size           : var(--font-size);
    line-height         : var(--line-height);
}

pre,code {
    /* word-break: break-all; /* webkit */
    border-radius       : var(--border-radius);
    font-size           : var(--font-14 ) !important;
    word-wrap           : break-word;
    white-space         : pre;
    white-space         : -moz-pre-wrap; /* fennec */
    white-space         : pre-wrap;
    white-space         : pre\9; /* IE7+ */
    word-break          : keep-all;
}

/* -------------------- -------------------- SCROLLBAR */

/* Note:
scrollbar-width and scrollbar-color are part of CSS Working Group’s
Scrollbars Module Level 1 draft and are currently only supported in Firefox
*/

/* Draggable handle found at the bottom of some elements (like Textarea) */
::-webkit-resizer {
    border-width        : 8px;
    border-style        : solid;
}

::-webkit-resizer {
    border-color        : transparent hsl(215, 15%, 25%) hsl(216, 17%, 17%) transparent;
}

/* width */
::-webkit-scrollbar {
    width               : 8px;
    height              : auto
}

::-webkit-scrollbar-button {
    display             : none
}
/* Handle */
::-webkit-scrollbar-thumb {
    background          : linear-gradient(145deg, hsl(216, 17%, 17%), hsl(211, 15%, 28%));
    min-height          : 80px;
    border-radius       : 0
}
/* Handle on hover */

/* Track */
::-webkit-scrollbar-track {
    border              : 1px solid hsl(220, 15%, 25%);
    border-radius       : var(--border-radius);
    background          : linear-gradient(145deg, hsl(220, 15%, 15%), hsl(220, 21%, 15%));
    /*box-shadow          : inset 2px 2px 4px 1px rgba(0, 0, 0, 0.4),*/
    /*2px 2px 5px 2px rgb(35, 45, 47),*/
    /*inset -2px -2px 4px 0 rgba(45,55, 65, 0.4),*/
    /*inset -1px -2px 2px 0 rgba(35, 45, 47, 0.4),*/
    /*-2px -2px 4px 2px rgba(45, 55, 55, 0.4);*/
}

/*  ::-webkit-scrollbar-track-piece
the track not covered by the scrollbar-thumb or handle */
/* ::-webkit-scrollbar-corner
bottom-right corner where the horizontal and vertical scrollbars meet */

@keyframes bottom {
    0% {
        transform : translateY(10px);
        opacity : 0;
    }
    100% {
        opacity : 1;
        transform : none;
    }
}

@keyframes left {
    0% {
        transform : translateX(-10px);
        opacity : 0;
    }
    100% {
        opacity : 1;
        transform : none;
    }
}
@-webkit-keyframes top {
    0% {
        transform : translateY(-10px);
        opacity : 0;
    }
    100% {
        opacity : 1;
        transform : none;
    }
}
@keyframes right {
    0% {
        transform : translateX(10px);
        opacity : 0;
    }
    100% {
        opacity : 1;
        transform : none;
    }
}
@keyframes xcLoaderBarInfine {
    from {
        background-position : 274px 0;
    }
    to {
        background-position : -274px 0;
    }
}
@keyframes xcLoaderBarScroll {
    to {
        right : 2%;
    }
}
