/*
 * Theme XCL DEFAULT
 * @version   2.3.1
 * @author    Nuno Luciano (aka gigamaster, https://github.com/gigamaster )
 * @copyright 2005-2022 The XOOPSCube Project
*  @license   https://github.com/xoopscube/xcl/blob/master/BSD_license.txt
 * @brief    1. BADGE, 2. BUTTON (line 207)
 */


/* -------------------- -------------------- 1. BADGE */
.badge {
    background          : var(--badge-bg);
    border              : var(--badge-border);
	border-radius       : var(--badge-radius);
	box-shadow          : var(--badge-shadow);
    display             : var(--badge-display);
    font-family         : var(--badge-font);
    font-size           : var(--badge-size);
	padding             : var(--badge-space);
	pointer-events      : none; /* Hack To Trigger Parent only when Hover Child */
}
[data-after-text],
[data-before-text] {
    --badge-offset-x    : calc(0px - var(--badge-size) / 3);
    --badge-offset-y    : calc(0px - var(--badge-size) / 3);
    --badge-size        : 1.5rem;
    --circle-size       : 2rem;
    --dot-offset        : 0.5rem;
    --dot-size          : 0.5rem;

    --badge-bottom      : initial;
    --badge-bg          : hsl(195, 100%, 30%);
    --badge-radius      : 0;
    --badge-color       : hsl(195, 100%, 99%);
    --badge-display     : inline-flex;
    --badge-font-size   : 0.625rem;
    --badge-font-weight : 700;
    --badge-height      : auto;
    --badge-left        : initial;
    --badge-margin      : 0.4rem;
    --badge-padding     : 0;
    --badge-position    : static;
    --badge-right       : initial;
    --badge-top         : initial;
    --badge-transform   : uppercase;
    --badge-width       : initial;
    position            : relative;
}
[data-after-text]:not([data-after-text=""])::after {
    content             : attr(data-after-text);
}
[data-before-text]:not([data-before-text=""])::before {
    content             : attr(data-before-text);
}
[data-after-text]:not([data-after-text=""])::after,
[data-before-text]:not([data-before-text=""])::before {
    align-items         : center;
    background          : var(--badge-bg);
    border-radius       : var(--badge-radius);
    bottom              : var(--badge-bottom);
    box-shadow          : var(--badge-shadow);
    box-sizing          : border-box;
    color               : var(--badge-color);
    display             : var(--badge-display);
    font-size           : var(--badge-font-size);
    font-weight         : var(--badge-font-weight);
    height              : var(--badge-height);
    justify-content     : center;
    left                : var(--badge-left);
    padding             : var(--badge-padding);
    position            : var(--badge-position);
    right               : var(--badge-right);
    text-decoration     : none;
    text-transform      : var(--badge-transform);
    top                 : var(--badge-top);
    width               : var(--badge-width);
}
/* -------------------- -------------------- BADGE MODIFIERS */
[data-after-type*="badge"]::after,
[data-before-type*="badge"]::before {
    --badge-radius      : var(--badge-size);
    --badge-shadow      : 0 0 0 2px rgba(255, 255, 255, 0.5);
    --badge-height      : var(--badge-size);
    --badge-padding     : 0;
    --badge-position    : absolute;
    --badge-width       : var(--badge-size);
}
[data-after-type*="circle"],
[data-before-type*="circle"]{
    align-items         : center;
    display             : flex;
}
[data-after-type*="circle"]::after,
[data-before-type*="circle"]::before {
    --badge-radius      : 50%;
    --badge-font-weight : 400;
    --badge-height      : var(--circle-size);
    --badge-transform   : initial;
    --badge-width       : var(--circle-size);
}
[data-after-type*="circle"]::after,
[data-after-type*="pill"]::after {
    margin-inline-start : 1ch;
}
[data-before-type*="circle"]::before,
[data-before-type*="dot"]::before,
[data-before-type*="pill"]::before {
    margin-inline-end   : 1ch;
}
[data-after-type*="dot"]::after,
[data-before-type*="dot"]::before {
    --badge-radius     : 50%;
    --badge-display     : inline-block;
    --badge-font-size   : 50%;
    --badge-height      : var(--dot-size);
    --badge-padding     : 0;
    --badge-position    : relative;
    --badge-top         : -1px;
    --badge-width       : var(--dot-size);
}
[data-after-type*="dot"]::after,
[data-before-type*="dot"]::before {
    content             : "" !important;
}
[data-after-type*="pill"]::after,
[data-before-type*="pil"]::before {
    --badge-radius     : 1rem;
    --badge-padding     : 0.125rem 0.75rem;
    --badge-position    : relative;
    --badge-top         : -1px;
}
/* -------------------- -------------------- BADGE COLORS */
[data-after-type*="blue"]::after,
[data-before-type*="blue"]::before {
    --badge-bg          : #007acc;
}
[data-after-type*="dark"]::after,
[data-before-type*="dark"]::before {
    --badge-bg          : #706e6b;
    --badge-color       : #fff;
}
[data-after-type*="green"]::after,
[data-before-type*="green"]::before {
    --badge-bg          : #04844b;
}
[data-after-type*="light"]::after,
[data-before-type*="light"]::before {
    --badge-bg          : #ecebea;
    --badge-color       : #080707;
}
[data-after-type*="orange"]::after,
[data-before-type*="orange"]::before {
    --badge-bg          : #ffb75d;
    --badge-color       : #080707;
}
[data-after-type*="red"]::after,
[data-before-type*="red"]::before {
    --badge-bg          : #c23934;
}
/* POSITION */
[data-after-type*="top"]::after,
[data-before-type*="top"]::before {
    --badge-bottom      : auto;
    --badge-position    : absolute;
    --badge-top         : var(--dot-offset);
}
[data-after-type*="right"]::after,
[data-before-type*="right"]::before {
    --badge-left        : auto;
    --badge-position    : absolute;
    --badge-right       : var(--dot-offset);
}
[data-after-type*="bottom"]::after,
[data-before-type*="bottom"]::before {
    --badge-bottom      : var(--dot-offset);
    --badge-position    : absolute;
    --badge-top         : auto;
}
[data-after-type*="left"]::after,
[data-before-type*="left"]::before {
    --badge-position    : absolute;
    --badge-right       : auto;
    --badge-left        : var(--dot-offset);
}
[data-after-type*="badge"][data-after-type*="top"]::after,
[data-before-type*="badge"][data-before-type*="top"]::before {
    --badge-margin      : 0;
    --badge-top         : var(--badge-offset-y);
}
[data-after-type*="badge"][data-after-type*="right"]::after,
[data-before-type*="badge"][data-before-type*="right"]::before {
    --badge-margin      : 0;
    --badge-right       : var(--badge-offset-x);
}
[data-after-type*="badge"][data-after-type*="bottom"]::after,
[data-before-type*="badge"][data-before-type*="bottom"]::before {
    --badge-bottom      : var(--badge-offset-y);
    --badge-margin      : 0;
}
[data-after-type*="badge"][data-after-type*="left"]::after,
[data-before-type*="badge"][data-before-type*="left"]::before {
    --badge-left        : var(--badge-offset-x);
    --badge-margin      : 0;
}

/* -------------------- -------------------- 2. BUTTON */

a.ui-button,
input[type='button'] {
    border              : var(--button-border);
    border-radius       : var(--button-radius);
    /*background      : linear-gradient(145deg, #252b34, #20242c);*/
    background          : var(--button-bg);
    box-shadow          : var(--button-shadow);
    color               : var(--button-border);
    display             : block;
    font                : var(--button-font);
    margin              : var(--button-margin);
    padding             : var(--button-space);
    transition          : var(--button-transition);
    width               : max-content;
}

button {
    background          : var(--button-bg);
    border              : var(--button-border);
    color               : var(--link);
    font-size           : var(--font-14);
    padding             : var(--button-space);
    margin              : 0.25em;
}

.ui-button-back,
.ui-button-next,
.ui-button-reload,
.ui-button-back-label,
.ui-button-next-label {

}
.ui-button svg,
.ui-button-back svg,
.ui-button-next svg,
.ui-button-reload svg {
	height              : 1em;
	width               : 1em;
	pointer-events      : auto; /* Hack To Trigger Parent only when Hover Child */
	vertical-align      : -0.125em;
}

.ui-button-back svg:hover,
.ui-button-next svg:hover,
.ui-button-reload svg:hover {
    color               : var(--link-hover);
    box-shadow          : 0 0 5px #face74, 0 0 10px #face74;
}

.ui-button-reload:hover,
.ui-button-next:hover,
.ui-button-back:hover {
    border              : 1px solid #face74;
	background          : #333b49;
	color               : #fff;
}

/* LABEL BORDERED TRIANGLE WITH PSEUDO :AFTER */
.ui-button-back-label,
.btn-next-label {
	border-radius       : 7px;
	font-size           : 0.9em;
	line-height         : 24px;
	padding             : 1em;
	margin              : 0 1em;
	position            : relative;
}

.btn-back-label::after,
.btn-next-label::after {
	border-top          : 1px solid hsl(219, 17%, 23%);
	border-left         : 1px solid hsl(219, 17%, 23%);
	content             : '';
	height              : 14px;
	position            : absolute;
	top                 : 40%;
	width               : 14px;
}

/* LABEL TRIANGLE Transform:rotate */
.btn-back-label::after {
	background          : #242932;
	left                : -7px;
	transform           : rotate(-45deg);
}

.btn-next-label::after {
	background          : #20252d;
	right               : -7px;
	transform           : rotate(135deg);
}

.btn-danger svg {
    /*background-color: rgba(220, 20, 60, 0.678);*/
    /*background: linear-gradient(145deg, hsla(348, 83%, 47%, 0.67), hsl(348, 83%, 47%));*/

    /*border            : 3px dotted rgb(220, 20, 60);
    border-radius       : 7px;
    box-shadow          : 1px 1px 10px 5px #111;
    margin              : 0.2em;
    padding             : .5em 1.5em;
    text-align          : center;*/
}
button.ui-button.delete:hover{
    border              : 1px dotted rgb(220, 20, 60) !important;
    background          : linear-gradient(145deg, hsla(348, 83%, 47%, 0.40), hsla(348, 83%, 47%, 0.65)) !important;
}
button.ui-button.delete svg {
    color               : rgb(220, 20, 60) !important;
    fill                : orangered !important;
}

/* JQUERY UI BUTTONS */


/*The DOM element that represents the button.
This element will additionally have the ui-button-icon-only class, depending on the showLabel and icon options.*/
.ui-button,
.ui-button:link,
.ui-button:visited {
    background          : var(--button-bg);
    border              : var(--button-border);
    border-radius       : var(--button-radius);
    box-shadow          : var(--button-shadow);
    color               : var(--button-color);
    cursor              : pointer;
    display             : inline-block;
    font                : var(--button-font);
    line-height         : normal;
    margin              : var(--button-margin);
    padding             : var(--button-space); /* .4em 1em; */
    position            : relative;
    text-align          : center;
    transition          : var(--button-transition);
    vertical-align      : middle;
    /* user select  */
    user-select         : none;
    -webkit-user-select : none;
    -moz-user-select    : none;
    -ms-user-select     : none;
}
a.btn:hover,
a.btn:focus,
input[type='button']:hover,
input[type='button']:focus,
.ui-button.ui-state-active:hover,
.ui-button:hover,
.ui-button:focus {
    background          : var(--button-bg-on);
    border              : var(--button-border-on);
    color               : var(--button-color-on);
    border-radius       : var(--button-radius);
    box-shadow          : var(--button-shadow-on);
    outline             : none;
    text-decoration     : none;
}

/*.ui-state-active, */
/*.ui-widget-content .ui-state-active, */
/*.ui-widget-header .ui-state-active, */
a.ui-button:active,
.ui-button:active {
    background          : var(--button-bg-active);
    border              : var(--button-border-active);
    color               : var(--button-color-active);
    font-weight         : inherit;
    box-shadow          : var(--button-shadow-active);
}

/* The element used to display the button icon. This will only be present if an icon is provided in the icon option. */
.ui-button-icon {

}

/* to make room for the icon, a width needs to be set here */
.ui-button-icon-only {
    box-sizing          : border-box;
    text-indent         : -9999px;
    white-space         : nowrap;
    width               : 2em;
}

/* no icon support for input elements */
input.ui-button.ui-button-icon-only {
    text-indent         : 0;
}

/* button icon element(s) */
.ui-button-icon-only .ui-icon {
    left                : 50%;
    margin-top          : -8px;
    margin-left         : -8px;
    position            : absolute;
    top                 : 50%;
}

.ui-button.ui-icon-notext .ui-icon {
    height              : 2.1em;
    padding             : 0;
    text-indent         : -9999px;
    white-space         : nowrap;
    width               : 2.1em;
}

input.ui-button.ui-icon-notext .ui-icon {
    height              : auto;
    padding             : .4em 1em;
    text-indent         : 0;
    white-space         : normal;
    width               : auto;
}

/* A separator element between icon and text content of the button. This will only be present if an icon
is provided in the icon option and the iconPosition option is set to "beginning" or "end". */
.ui-button-icon-space {
}

/* workarounds */
/* Support: Firefox 5 - 40 */
input.ui-button::-moz-focus-inner,
button.ui-button::-moz-focus-inner {
    border              : 0;
    padding             : 0;
}
.ui-button.delete:hover {
    border              : 1px dotted rgb(220, 20, 60) !important;
    background          : linear-gradient(145deg, hsla(348, 83%, 47%, 0.40), hsla(348, 83%, 47%, 0.65)) !important;
}

.ui-button.delete svg {
    color               : rgb(220, 20, 60) !important;
    fill                : orangered !important;
}

.ui-button.success:hover {
    border              : 1px dotted var(--lime) !important;
    background          : linear-gradient(145deg, var(--green), var(--green-light)) !important;
}
.ui-button.delete svg {
    color               : var(--lime) !important;
    fill                : var(--lime) !important;
}
