/*
 * Theme XCL DEFAULT
 * @version   2.3.1
 * @author    Nuno Luciano ( https://github.com/gigamaster )
 * @copyright 2005-2022 The XOOPSCube Project
*  @license   https://github.com/xoopscube/xcl/blob/master/BSD_license.txt
 * @link      https://github.com/xoopscube
 */

/* -------------------- -------------------- FORM */

form { margin : 0;}

input[type='date'],
input[type='datetime'],
input[type='datetime-local'],
input[type='email'],
input[type='month'],
input[type='number'],
input[type='number'],
input[type='password'],
input[type='search'],
input[type='tel'],
input[type='text'],
input[type='url'],
input[type='week'],
select,
.ui-autocomplete-input {

    background      : var(--input-bg);
    border          : var(--input-border);
	border-radius   : var(--input-radius);
    box-shadow      : var(--input-shadow);
    color           : var(--input-color);
    font            : var(--input-font);
    margin          : var(--input-margin);
    max-width       : var(--input-max-width);
    padding         : var(--input-space);
    transition      : 0.4s;
}
input[type='color'] {
    border          : var(--input-border);
}


 /* Remove all focus effects */
input[type=text],
input[type=search] {
    background              : var(--input-bg);
    border                  : var(--input-border); /*1px solid var(--color-2); */
    box-shadow              : var(--input-shadow); /*0 0 6px 1px var(--color-3); /* dark shadow */
    color                   : var(--input-color);
    outline                 : none;
    transition              : all .5s;
}
input:focus,
input[type=text]:focus,
input[type=search]:focus {
    background              : var(--input-bg-on);
    border                  : var(--input-border-on);
    box-shadow              : var(--input-shadow-on);
    color                   : var(--input-color-on);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px var(--input-bg) inset !important; /* Change the autofill white background to any color */
    -webkit-animation-delay     : 2s; /* Safari support - any positive time runs instantly */
    -webkit-animation-fill-mode : both;
    border                      : var(--input-border-on);
    border: 1px solid var(--blue-1);
    box-shadow: 0 0 6px 1px var(--blue-1);
    border-radius : 5px;

}
input:-webkit-autofill{
    -webkit-text-fill-color: var(--input-color-on) !important; /* Change the text color in autofill textbox */
}

textarea {
    background          : var(--input-bg);
    border              : var(--input-border);
    border-radius       : var(--input-radius);
    box-shadow          : var(--input-shadow);
    color               : inherit;
    margin              : var(--input-margin);
    padding             : var(--input-space);
    width               : var(--input-max-width);
}

option:hover {
    background-color    : red !important;
    padding             : 1em .5em!important; /*var(--input-space);*/

}

textarea:focus,
select:focus {
    background-color    : var(--input-bg-on) !important;
    border-radius       : var(--border-radius);
    border-color        : hsl(216, 85%, 34%);
    box-shadow          : var(--input-shadow-on);
    transition          : background-color 5000s ease-in-out 1s;
    outline             : 0;
}

/* INPUT RANGE */

input[type="range"] {
    width: 300px;
    margin: 18px 0;
    -webkit-appearance: none;
}

input[type="range"]:focus {
    background-color    : hsla(216, 98%, 52%, 0.25);
    outline: none;
}

input[type="range"] + label {
    background-color: #fff;
    position: absolute;
    top: -25px;
    left: 110px;
    width: 80px;
    padding: 5px 0;
    text-align: center;
    border-radius: 4px;
    box-shadow: 0 0 5px hsla(216, 98%, 52%, 0.25);
}

/* INPUT RANGE - WEBKIT (Chrome, Edge, Safari) */
input[type="range"]::-webkit-slider-runnable-track {
    background: var(--input-bg);
    border-radius: 4px;
    width: 100%;
    height: 10px;
    cursor: pointer;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 24px;
    width: 24px;
    background: var(--input-color);
    border-radius: 50%;
    border: 1px solid hsla(216, 98%, 52%, 0.25);
    margin-top: -7px;
    cursor: pointer;
}

/* INPUT RANGE - FIREFOX */

input[type="range"]::-moz-range-track {
    background: purple;
    border-radius: 4px;
    width: 100%;
    height: 14px;
    cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
    -webkit-appearance: none;
    height: 24px;
    width: 24px;
    background: #fff;
    border-radius: 50%;
    border: 1px solid purple;
    margin-top: -7px;
    cursor: pointer;
}







/* Upload file */
.ui-button-wrap-upload {
    position        : relative;
    overflow        : hidden;
    display         : inline-block;
}
.ui-button-wrap-upload input[type=file] {
    font-size       : 100px;
    position        : absolute;
    left            : 0;
    top             : 0;
    opacity         : 0;
}

.headerSearchField {
}

.data {
	font-style          : italic;
}

:focus-visible {
    box-shadow              : 0 0 6px 1px var(--blue-1);
    outline                 : 1px dotted var(--blue-1);
}

option:hover {
    background-color    : red !important;
    padding             : 1em .5em!important;
}

/* -------------------- -------------------- CHECKBOX, RADIO & SWITCH */
@supports (-webkit-appearance: none) or (-moz-appearance: none) {

	input[type='checkbox'].switch {
        -webkit-appearance  : none;
        -moz-appearance     : none;

        background          : var(--color-3);
        border              : var(--input-border);
		border-radius       : 12px;
        box-shadow          : var(--input-shadow);
        cursor              : pointer;
        height              : 20px;
        margin              : var(--space-2);
        outline             : none;
        padding             : var(--space-2) var(--space-6);
        position            : relative;
        transition          : background .3s ease, border-color .3s ease;
        vertical-align      : middle;
		width               : 38px;
	}
	input[type='checkbox'].switch:after {
        background          : var(--color-5);;
        border              : var(--input-border);
		border-radius       : 50%;
        content             : '';
        display             : block;
		height              : 18px;
		left                : 1px;
		top                 : 0;
		width               : 18px;
        position            : absolute;
        transition          : transform .3s ease, opacity .2s ease, filter .3s ease, -webkit-transform .3s ease, -webkit-filter .3s ease;
	}
	input[type='checkbox'].switch:checked:after {
		background          : hsla(0, 0%, 100%, 0.8);
        box-shadow          : 0 0 5px #face74, 0 0 20px #face74;
        transform           : translateX(17px);
	}
	input[type='checkbox'].switch:disabled:not(:checked):after {
		opacity             : .6;
	}

    /* -------------------- -------------------- CHECKBOX & RADIO  */

    input[type='checkbox']:not(.switch),
    input[type='radio']:not(.switch) {
        /* Add if not using autoprefixer */
        -webkit-appearance  : none;
        -webkit-user-select : none;
        appearance          : none;
        user-select         : none;
        /* For iOS < 15 to remove gradient background */
        background-color    : var(--input-bg); /* set the radio background color */
        border              : var(--input-border);
        border-radius       : 50%;
        box-shadow          : var(--input-shadow); /*1px 1px 4px hsl(219, 17%, 21%);*/
        font                : inherit;
        height              : 16px;
        margin              : 0;
        overflow            : visible;
        width               : 16px;
	}
    input[type='checkbox']:not(.switch):checked,
    input[type='radio']:not(.switch):checked {
        background          : var(--blue-1); /* radio color checked */
        border              : 5px solid var(--color-2); /* radio color checked */
	}

	@keyframes pulse {
		from {
			box-shadow      : 0 0 0 0 #face74;
		}
	}

}
