* {
	box-sizing: border-box;
}

button,
.flex-div {
	max-width: 100%;
	width: 200px;
	padding: 0.5rem 1rem;
	margin-bottom: 1.5rem;
}

.button__div,
.button__span,
.flex-button,
.inline-flex-button,
.flex-div {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.inline-flex-button {
	display: inline-flex;
	align-items: center;
}

img {
	display: block;
	max-width: 100%;
	width: 2.5rem;
	flex: 0 0 2.5rem;
}

.flex-div {
	border: 1px solid;
}