/*
	XOOPS Cube Theme : XCL Admin Flex Grid
	Distribution : XCL 2.3 Alpha
	Version : 0.0.5
	Author : Nuno Luciano aka Gigamaster
	Date : 2019-11-11
	URL : https://github.com/xoopscube/xcl/

	-------------------- -------------------- -------------------- -------------------- NORMALIZE */

	html{box-sizing:border-box}
	/* 	Applying CSS box-sizing Property to all elements
		The box-sizing property includes the 'padding' & 'border' in elements total width & height. */
	*,*:before,
	*:after{box-sizing:inherit}
	html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}
	body{margin:0}
	article,aside,details,figcaption,figure,footer,header,main,menu,nav,section{display:block}
	summary{display:list-item}
	audio,canvas,progress,video{display:inline-block}
	progress{vertical-align:baseline}
	audio:not([controls]){display:none;height:0}
	[hidden],template{display:none}
	a{background-color:transparent}
	a:active,a:hover{outline-width:0}
	abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}
	b,strong{font-weight:bolder}
	dfn{font-style:italic}
	mark{background:#b49900;color:#000}
	small{font-size:80%}
	sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
	sub{bottom:-0.25em}
	sup{top:-0.5em}
	figure{margin:1em 40px}
	img{border-style:none}
	code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}
	hr{box-sizing:content-box;height:0;overflow:visible}
	button,input,select,textarea,optgroup{font:inherit;margin:0}
	optgroup{font-weight:bold}
	button,input{overflow:visible}button,select{text-transform:none}
	button,[type=button],[type=reset],[type=submit]{-webkit-appearance:button}
	button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}
	button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}
	fieldset{border:1px solid #888;margin:0 2px;padding:.35em .625em .75em}
	legend{color:inherit;display:table;max-width:100%;padding:0;white-space:normal}
	textarea{overflow:auto}
	[type=checkbox],[type=radio]{padding:0}
	[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}
	[type=search]{-webkit-appearance:textfield;outline-offset:-2px}
	[type=search]::-webkit-search-decoration{-webkit-appearance:none}
	::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}


/* -------------------- -------------------- -------------------- -------------------- HTML BODY */

	html,
	body {

		background			: var(  --ui-body-background	);
		font-family			: var(	--ui-font--family			);
		font-size				: var(	--ui-font-size				);
		color						: var(  --ui-text-color				);

		font-family			: var(  --ui-font-family			);
		font-size				: var(  --ui-font-size				);
		font-weight			: var(  --ui-font-weight			);
		line-height			: var(  --ui-font-line-height	);

		margin					: var(  --ui-space-no					);
		padding					: var(  --ui-space-no					);

		text-rendering	: optimizeLegibility;
		-webkit-font-smoothing: antialiased;

	}

	html{

		overflow-x			: hidden

	}

	body {

		transition			: background 500ms ease-in-out, color 200ms ease;

	}

	.ui-dev-mode {

		display					: var(  --ui-dev-mode					);

	}

	/* -------------------- -------------------- -------------------- -------------------- HTML Elements */

	a,
	a:link,
	a:visited {

		color           : var(  --ui-color-link				);
		display					: inline-block;
		text-decoration : none;

	}

	a:active,
	a:focus {

		color           : var(  --ui-color-link-active	);

	}

	a:hover,
	a:visited:hover {

		color           : var(  --ui-color-link-hover		);

	}
	/* Add icon to link */
	/* a[href^="http"]::after {

		font-size				: 0.75rem;
		vertical-align	: text-top;
		content					: '\0020\2197';
		text-decoration	: none;

	} */

	a[name|=help] {
		scroll-margin-top: 5em;
	}

	h1 {

		font-size      	: var(  --ui-text-500		);

	}

	h2 {

		font-size      	: var(  --ui-text-500		);

	}
	h3 {

		font-size      	: var(  --ui-text-400		);

	}

	h4 {

		font-size      	: var(  --ui-text-400		);

	}

	h5 {

		font-size      	: var(  --ui-text-300		);
	}

	h6 {

		font-size      	: var(  --ui-text-300		);

	}

	h1, h2, h3, h4, h5 {

		font-weight     :300;

	}

	hr {

		border          : 0;
		border-top      : 1px solid var(  --ui-color-300			);
		margin          : 20px 0

	}

/*******************
 Right side toggle
*******************/

@keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
		transform: rotate(360deg); }
	}
	@keyframes rotateY {
		from {
				transform: rotateY(0);
		}
		to {
				transform: rotateY(359.99deg);
		}
	}

.theme-options {
	color: #fff;
	line-height: 30px;
	position: fixed;
	top: 30%;
	right: 2px;
	z-index: 27;
	padding: 1px;
	margin:3px;
	background: transparent;
	border-top-left-radius: 2px;
	border-bottom-left-radius: 2px;
box-shadow: 1px 1px 7px 4px rgba(0,0,0,0.27);

	}

.theme-options-toogle {
  position: relative;
}

.theme-options-toogle:hover {
  border:1px solid red;
}
.theme-options-toogle i {
	position: fixed;
  left: 18px;
}

/**
 * Quintessential Responsive 3D CSS Cube
 * https://github.com/zachstronaut/quintessential-css-cube/
 * 2015-03-04 Release
 * MIT License
 * @zacharyjohnson
 */
 .qube-perspective{-webkit-perspective:900px;-moz-perspective:900px;perspective:900px}
 .qube-preserve3d{-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d;transform-style:preserve-3d}
 .qube{position:relative;margin:0;padding:0;list-style:none;width:100%;height:100%;-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d;transform-style:preserve-3d}
 .qube>*{background:#666;background-size:100%}
 .qube>*,.qube>:after{position:absolute;left:0;top:0;margin:0;padding:0;width:100%;height:100%}
 .qube>:after{pointer-events:none;display:block;content:""}
 .qube.no-shading>:after{display:none}
 .qube.solid>*,.qube.solid>:after{-webkit-backface-visibility:hidden;-moz-backface-visibility:hidden;backface-visibility:hidden}
 .qube.textured>*{background-size:300%}
 .qube.faces>:nth-child(1),.qube>.front{-webkit-transform:rotateX(90deg) translateY(50%) rotateX(-90deg);-moz-transform:rotateX(90deg) translateY(50%) rotateX(-90deg);transform:rotateX(90deg) translateY(50%) rotateX(-90deg)}
 .qube.textured.faces>:nth-child(1),.qube.textured>.front{background-position:0 0}
 .qube.faces>:nth-child(3),.qube>.back{-webkit-transform:rotateY(180deg) rotateX(90deg) translateY(50%) rotateX(-90deg);-moz-transform:rotateY(180deg) rotateX(90deg) translateY(50%) rotateX(-90deg);transform:rotateY(180deg) rotateX(90deg) translateY(50%) rotateX(-90deg)}
 .qube.faces>:nth-child(3):after,.qube>.back:after{background:rgba(0,0,0,.6)}
 .qube.x-axis.faces>:nth-child(3),.qube.x-axis>.back{-webkit-transform:rotateX(90deg) translateY(-50%) rotateX(90deg);-moz-transform:rotateX(90deg) translateY(-50%) rotateX(90deg);transform:rotateX(90deg) translateY(-50%) rotateX(90deg)}
 .qube.textured.faces>:nth-child(3),.qube.textured>.back{background-position:-100% 0}
 .qube.faces>:nth-child(2),.qube>.left{-webkit-transform:translateX(-50%) rotateY(-90deg);-moz-transform:translateX(-50%) rotateY(-90deg);transform:translateX(-50%) rotateY(-90deg)}
 .qube.faces>:nth-child(2):after,.qube>.left:after{background:rgba(0,0,0,.5)}
 .qube.textured.faces>:nth-child(2),.qube.textured>.left{background-position:-200% 0}
 .qube.faces>:nth-child(4),.qube>.right{-webkit-transform:translateX(50%) rotateY(90deg);-moz-transform:translateX(50%) rotateY(90deg);transform:translateX(50%) rotateY(90deg)}
 .qube.faces>:nth-child(4):after,.qube>.right:after{background:rgba(0,0,0,.3)}
 .qube.textured.faces>:nth-child(4),.qube.textured>.right{background-position:0 -100%}
 .qube.faces>:nth-child(5),.qube>.top{-webkit-transform:translateY(-50%) rotateX(90deg);-moz-transform:translateY(-50%) rotateX(90deg);transform:translateY(-50%) rotateX(90deg)}
 .qube.faces>:nth-child(5):after,.qube>.top:after{background:rgba(0,0,0,.2)}
 .qube.textured.faces>:nth-child(5),.qube.textured>.top{background-position:-100% -100%}
 .qube.faces>:nth-child(6),.qube>.bottom{-webkit-transform:translateY(50%) rotateX(-90deg);-moz-transform:translateY(50%) rotateX(-90deg);transform:translateY(50%) rotateX(-90deg)}
 .qube.faces>:nth-child(6):after,.qube>.bottom:after{background:rgba(0,0,0,.7)}
 .qube.textured.faces>:nth-child(6),.qube.textured>.bottom{background-position:-200% -100%}
	/* XCL-Cube */

	.xcl-cube {
		width: 40px;
		height: 40px;
		line-height: 40px;
		transition: transform 1500ms ease;
	}
	.xcl-cube:hover {
		transform: rotateY(359deg);
	}
	.xcl-cube > * {
		background: rgba(0,127,255,0.5);
		border: 1px solid rgba(0,127,255,0.5);
		text-align: center;
		cursor: pointer;
	}
	.xcl-cube > .front {
		background: rgba(84,110,127,0.27);
	}
	.xcl-cube > .left {
		background: rgba(70,90,100,0.27);
	}
	.xcl-cube > .back {
		background: rgba(55,70,80,0.27);
	}
	.xcl-cube > .right {
		background: rgba(40,52,60,0.27);
	}

.right-sidebar {
  position: fixed;
  right: -270px;
  width: 270px;
  display: none;
  z-index: 1100;
  background: #2e3137;
  top: 0px;
  padding-bottom: 20px;
  height: 100%;

  box-shadow: 5px 1px 40px rgba(0, 0, 0, 0.1);

	transition: all 0.3s ease;
}
  .right-sidebar .right-panel-title {
    display: block;
    padding: 15px 20px;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 15px;
		background: #009efb;
	}

	.right-sidebar .right-panel-title span {
      float: right;
      cursor: pointer;
			font-size: 18px;
		}
      .right-sidebar .right-panel-title span:hover {
				color: #ffffff;
			}
  .right-sidebar .right-panel-block {
		padding: 20px;
	}
    .right-sidebar .right-panel-block ul {
      margin: 0px;
			padding: 0px;
		}
      .right-sidebar .right-panel-block ul li {
        list-style: none;
				padding: 5px 0;
			}

.right-panel-show {
  right: 0px;
  width: 270px;
	display: block;
}

.chatonline img {
  margin-right: 10px;
  float: left;
	width: 30px;
}

.chatonline li a {
  padding: 13px 0;
  float: left;
	width: 100%;
}
  .chatonline li a span {
		color: #747d8a;
	}
    .chatonline li a span small {
      display: block;
			font-size: 10px;
		}



/*******************
 Right side toggle
*******************/

ul#themecolors {
	display: block;
}
  ul#themecolors li {
		display: inline-block;
	}
    ul#themecolors li:first-child {
			display: block;
		}
    ul#themecolors li a {
      width: 40px;
      height: 40px;
      display: inline-block;
      margin: 5px;
      color: transparent;
			position: relative;
		}
      ul#themecolors li a.working:before {
		  content: url("data:image/svg+xml; utf8, <svg xmlns='http://www.w3.org/2000/svg' width='1.5em' height='1.5em' viewBox='0 0 50 50'><path d='M25 42c-9.4 0-17-7.6-17-17S15.6 8 25 8s17 7.6 17 17s-7.6 17-17 17zm0-32c-8.3 0-15 6.7-15 15s6.7 15 15 15s15-6.7 15-15s-6.7-15-15-15z' fill='white'/><path d='M23 32.4l-8.7-8.7l1.4-1.4l7.3 7.3l11.3-11.3l1.4 1.4z' fill='white'/></svg>");
/*vertical-align: -0.062em;*/
        /* font-size: 25px; */
        line-height: 40px;
        width: 40px;
        height: 40px;
        position: absolute;
        top: 5px;
        left: 5px;
        color: #ffffff;
				text-align: center;
			}

.default-theme {
	background: #757e8a;
}

.green-theme {
	background: #26c6da;
}

.yellow-theme {
	background: #ffb22b;
}

.red-theme {
	background: #fc4b6c;
}

.blue-theme {
	background: #1e88e5;
}

.purple-theme {
	background: #7460ee;
}

.megna-theme {
	background: #00897b;
}

.default-dark-theme {
  background: #263238;
	background: linear-gradient(to right, #263238 0%, #263238 23%, #757e8a 23%, #757e8a 99%);
}

.green-dark-theme {
  background: #263238;
	background: linear-gradient(to right, #263238 0%, #263238 23%, #26c6da 23%, #26c6da 99%);
}

.yellow-dark-theme {
  background: #263238;
	background: linear-gradient(to right, #263238 0%, #263238 23%, #fc4b6c 23%, #fc4b6c 99%);
}

.blue-dark-theme {
  background: #263238;
  background: linear-gradient(to right, #263238 0%, #263238 23%, #1e88e5 23%, #1e88e5 99%); }

.purple-dark-theme {
  background: #263238;
  background: linear-gradient(to right, #263238 0%, #263238 23%, #7460ee 23%, #7460ee 99%); }

.megna-dark-theme {
  background: #263238;
  background: linear-gradient(to right, #263238 0%, #263238 23%, #00897b 23%, #00897b 99%); }

.red-dark-theme {
  background: #263238;
  background: linear-gradient(to right, #263238 0%, #263238 23%, #fc4b6c 23%, #fc4b6c 99%); }

