/*
	XOOPSCube Theme : XCL Admin Flex Grid
	Distribution : XCL 2.3 Alpha
	Version : 0.7.0
	Author : Nuno Luciano aka Gigamaster
	Date : 2020-06-11
	URL : https://github.com/xoopscube/xcl/

	-------------------- -------------------- -------------------- -------------------- UI-CARD-FULL */
	.ui-card-2-col,
	.ui-card-full {

		background    	: var( --ui-card-full-background		);

		border-color  	: var( --ui-card-full-border-color	);
		border-radius 	: var( --ui-card-full-border-radius	);
		border-style  	: var( --ui-card-full-border-radius );
		border-width  	: var( --ui-card-full-border-width	);

		box-shadow    	: var( --ui-card-full-box-shadow		);

		padding       	: var( --ui-card-full-padding				);
		margin        	: var( --ui-card-full-margin				);

	}

	.ui-card-2-col {

		column-count		: 2;
		column-gap			: 18px;

		display					: block;

	}



	.ui-block-online-content {

		align-items			: center;
		display					: flex;
		flex						: 1;
		flex-direction	: column;
		letter-spacing	: 1px;
		justify-content	: space-between;

	}

	.ui-block-online {

		display					: flex;
		justify-content	: space-between;
		margin					: var(	--ui-space-800			) 0;

	}

	.ui-block-online-welcome {

		align-items			: center;
		display					: flex;
		flex-direction	: column;

	}

	.ui-block-online-title {

		font-size				: var(  --ui-size-500				);
		margin-bottom		: var(	--ui-space-600			);

	}

	.ui-block-online-text {

		font-size				: var(  --ui-size-200			);

	}

/* -------------------- -------------------- -------------------- -------------------- UI-CARD-BLOCK STATS */

	.ui-block-online-stats {

		display					: grid;
		grid-auto-flow	: column;
		grid-gap				: 42px;

	}

	.ui-block-online-stats-info {

		align-items			: center;
		display					: flex;
		flex-direction	: column;

	}

	.ui-block-online-stats-total {

		font-size				: var(  --ui-size-300			);
		margin-bottom		: var(	--ui-space-600			);

	}

	.ui-block-online-stats-title {

		font-size				: var(  --ui-size-300			);
		margin-bottom		: var(	--ui-space-600			);

	}

	.ui-block-online-stats-text {

		font-size				: var(  --ui-size-300			);
		text-align			: center;

	}

/* -------------------- -------------------- -------------------- -------------------- UI-CARD-OVERVIEW */

	.ui-card-overview {

		display				  : grid;

		grid-template-columns : repeat(auto-fit, minmax(214px, 1fr));
		/* grid-auto-rows        : 74px; */
		grid-gap              : 16px;
		margin                : 18px 0;

	}

	.ui-card-small {

		align-items     : center;

		background      : var(  --ui-card-small-background		);

		border-color    : var(  --ui-card-small-border-color	);
		border-radius   : var(  --ui-card-small-border-radius	);
		border-style    : var(  --ui-card-small-border-style	);
		border-width    : var(  --ui-card-small-border-width	);

		box-shadow      : var(  --ui-card-small-box-shadow		);

		display         : flex;
		justify-content : flex-start;

		padding         : var(	--ui-card-small-padding				);

		transform       : translateY(0);
		transition      : all 0.3s;

	}

	.ui-card-small-icon {

		align-items     : center;
		border-radius   : 50%;
		color           : var(  --ui-color-200	);
		display         : flex;
		font-size       : var(  --ui-size-300			);
		height          : 42px;
		justify-content : center;
		width           : 42px;

	}

	.ui-card-small-info {

		/* display         : flex;
		flex-direction  : column; */

	}

	.ui-card-small-title {

		font-size       : var(  --ui-size-300			);
		margin          : 0 0 0 1rem;

	}

	.ui-card-small-subtitle {

		margin          : 0 0 0 1rem;

	}

	.ui-card-small:hover {

		box-shadow      : var(  --ui-card-small-box-hover	);

		transform       : translateY(-3px);

	}


/* -------------------- -------------------- -------------------- -------------------- UI-GRID-BLOCKS  */

	.ui-grid-blocks  {

		display					: grid;

		grid-template-columns: repeat(auto-fill, minmax(295px, 1fr));
		grid-auto-rows	: auto;
		grid-gap				: 15px;
		place-items			: center;

	}


/* -------------------- -------------------- -------------------- -------------------- UI-CARD-BLOCK  */

	.ui-card-block {

		background      : var(  --ui-card-block-background			);
        background-image: var(  --ui-card-block-image   			);
		border-color    : var(  --ui-card-block-border-color		);
		border-radius   : var(  --ui-card-block-border-radius		);
		border-style    : var(  --ui-card-block-border-style		);
		border-width    : var(  --ui-card-block-border-width		);

		box-shadow      : var(  --ui-card-block-box-shadow			);

		display         : flex;
		flex-direction  : column;
		margin-bottom   : 1.5rem;
        min-width				: 295px;
        max-width: 310px;

		/* Avoid Grid Break Margin Issues */
		-webkit-column-break-inside: avoid;
		page-break-inside: avoid;
		break-inside: avoid;

		transition 			: var(  --ui-shadow-transition  );

	}

	.ui-card-block:hover  {

		background      : var(  --ui-card-block-hover       );

		box-shadow      : var(  --ui-shadow-hover           );

	}

	.ui-card-block-header {

		align-items: center;

		background      : var(  --ui-card-block-header-bg				);

		border				  : var(  --ui-card-block-header-border		);

		display         : flex;

		height          : var(  --ui-card-block-header-height		);

		justify-content : space-between;

		padding         : var(  --ui-card-block-header-padding	);

	}



    /* TODO : change altsys templates "ui-block-type" */
    a.ui-block-type {
        display: block;
    }
	.ui-card-block-content {

		align-items			: center;

		background      : var(  --ui-card-block-content-bg			);

		border				  : var(  --ui-card-block-content-border	);

		/* display         : flex; */
		flex-direction	: column;
		justify-content	: center;

		padding         : var(  --ui-card-block-content-padding			);

	}

    .ui-card-block-image {
        margin : 0 auto;
    }
	.ui-card-block-item {

		align-items			: center;
		display					: flex;
		justify-content	: space-between;
		padding         : var(  --ui-card-block-item-padding				);
		width						: var(  --ui-card-block-item-width					);
	}

	/* input[size=] width depend using fonts,
	   then setting by style for compatibility */
	.ui-card-block-item input[size="20"] {
        /* width: 12em; */
        width: 74%;
	}

	.ui-card-block-item.pad-left {
		padding-left: 2em;
	}
	.ui-card-block-item.pad-center {
		justify-content: space-around;
	}


/* -------------------- -------------------- -------------------- -------------------- UI-DATA-MODULE  */



	.ui-module-update,
	.ui-module-version,
	.ui-module-date {

		align-items			: center;
		display					: flex;

	}

	.ui-module-update svg,
	.ui-module-version svg,
	.ui-module-date svg {

		/* margin		: var(  --ui-space-600			); */
        color: var(--ui-color-green) !important;

	}

/* -------------------- -------------------- -------------------- UI-BLOCK-ADMIN  */

	.ui-block-side {

		display					: flex;
		justify-content	: space-evenly;
		align-items			: center;
		/* max-width				: 420px; */flex-basis: 100%

	}

	.block-extra-side {

		max-width				: 35px;

	}

	.ui-block-cache,
	.ui-block-date {

		display					: flex;
		justify-content	: center;
		padding					:  var(  --ui-space-600			) 0;

	}

	.ui-block-date svg {

		margin-right		: var(  --ui-space-600			);

	}
