    /*
    XOOPSCube Theme : XCL Admin Flex Grid
    Distribution : XCL 2.3 Alpha
    Version : 0.0.5
    Author : Nuno Luciano aka Gigamaster
    Date : 2019-11-11
    URL : https://github.com/xoopscube/xcl/

    -------------------- -------------------- -------------------- -------------------- GRID FLEX */

    .grid {

        align-content           : space-around;

        display                 : grid;

        grid-gap                : 1px;
        grid-template-columns   : 200px auto;
        grid-template-rows      : 55px 1fr 80px;
        grid-template-areas     :
                                "header  header"
                                "nav-aside main"
                                "footer  footer";

        justify-content         : space-between;

    }


    /* -------------------- -------------------- -------------------- -------------------- HEADER */

    .header {

        align-items     : center;

        background      : var(  --ui-header-background  );

        border-color    : var(  --ui-border-none    );
        border-radius   : var(  --ui-border-none    );
        border-style    : var(  --ui-border-none    );
        border-width    : var(  --ui-border-none    );

        box-shadow      : var(  --ui-header-shadow  );

        /* display      : flex; */

        grid-area       : header;

        position        : var(  --ui-header-position    );
        width           : 100%;
        z-index         : 100;

    }


    /* -------------------- -------------------- -------------------- -------------------- Main */

    .main {

        background      : var(  --ui-main-background    );

        border-color    : var(  --ui-border-none    );
        border-radius   : var(  --ui-border-none    );
        border-style    : var(  --ui-border-none    );
        border-width    : var(  --ui-border-none    );
        box-shadow      : var(  --ui-border-none    );

        grid-area       : main;

        padding         : 0 2rem 2rem;

    }

    /* -------------------- -------------------- -------------------- -------------------- Footer */

    .footer {

        align-items     : center;

        background      : var(  --ui-footer-background      );

        border          : var(  --ui-footer-border          );
        border-width    : var(  --ui-footer-border-width    );

        box-shadow      : var(  --ui-border-none            );

        color           : var(  --ui-footer-color           );

        display         : flex;
        font-size       : 0.9rem;

        grid-area       : footer;

        justify-content : space-around;;

        /* padding      : var(--ui-space-100); */

        position        : fixed;
        bottom          : 0;
        width           : 100%;
        z-index         : 40;

    }

    .footer-copy,
    .footer-credits,
    .footer-link {

        color           : var(  --ui-footer-link    ) !important;
        cursor          : pointer;

    }


    /*------------------------------------------------------  sidebar*/

    .ui-flex-row {
        display         : flex;
        flex-direction  : row;
        flex-wrap       : wrap;
        width           : 100%;
    }

    .ui-flex-column {
        display         : flex;
        flex-direction  : column;
        flex-basis      : 100%;
        flex            : 1;
    }

    .ui-flex-column-2 {
        display         : flex;
        flex-direction  : column;
        flex-basis      : 100%;
        flex            : 2;
    }
