/*
	XOOPS Cube Theme : XCL Admin Flex Grid
	Distribution : XCL 2.3 Alpha
	Version : 0.0.5
	Author : Nuno Luciano aka Gigamaster
	Date : 2019-11-11
	URL : https://github.com/xoopscube/xcl/

	-------------------- -------------------- -------------------- -------------------- GRID FLEX */

	.grid {

		align-content					: space-around;

		display								: grid;

		grid-gap							: 1px;
		grid-template-columns	: 200px auto;
		grid-template-rows		: 55px 1fr 80px;
		grid-template-areas		:
													"header  header"
													"nav-aside main"
													"footer  footer";

		justify-content				: space-between;

	}


	/* -------------------- -------------------- -------------------- -------------------- HEADER */

	.header {

		align-items				: center;

		background				: var(  --ui-header-background	);

		border-color			: var(  --ui-border-none				);
		border-radius			: var(  --ui-border-none				);
		border-style			: var(  --ui-border-none				);
		border-width			: var(  --ui-border-none				);

		box-shadow				: var(  --ui-header-shadow			);

		/* display						: flex; */

		grid-area					: header;

		position					: var(  --ui-header-position		);
  	width							: 100%;
  	z-index						: 100;

	}


	/* -------------------- -------------------- -------------------- -------------------- Main */

	.main {

		background				: var(  --ui-main-background	);

		border-color			: var(  --ui-border-none			);
		border-radius			: var(  --ui-border-none			);
		border-style			: var(  --ui-border-none			);
		border-width			: var(  --ui-border-none			);
		box-shadow				: var(  --ui-border-none			);

		grid-area					: main;

		padding						: 0 2rem 2rem;

	}

	/* -------------------- -------------------- -------------------- -------------------- Footer */

	.footer {

		align-items				: center;

		background				: var(  --ui-footer-background	  );

		border						: var(  --ui-footer-border			  );
		border-width			: var(  --ui-footer-border-width	);

		box-shadow				: var(  --ui-border-none				  );

		color 						: var(  --ui-footer-color				  );

		display						: flex;
		font-size					: 0.9rem;

		grid-area					: footer;

		justify-content		: space-around;;

		/* padding						: var(--ui-space-100); */

		position					: fixed;
		bottom						: 0;
		width							: 100%;

	}
		.footer-copy,
		.footer-credits,
		.footer-link {

			color						: var(  --ui-footer-link	) !important;
			cursor					: pointer;

		}

		/*------------------------------------------------------  sidebar*/


		.ui-flex-row {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			width: 100%;
		}

		.ui-flex-column {
			display: flex;
			flex-direction: column;
			flex-basis: 100%;
			flex: 1;
		}

		.ui-flex-column-2 {
			display: flex;
			flex-direction: column;
			flex-basis: 100%;
			flex: 2;
		}

/*******************
 Right side toggle
*******************/

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg); } }

@-moz-keyframes rotate {
  from {
    -moz-transform: rotate(0deg); }
  to {
    -moz-transform: rotate(360deg); } }

@keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

/**
 * Quintessential Responsive 3D CSS Cube
 * https://github.com/zachstronaut/quintessential-css-cube/
 * 2015-03-04 Release
 * MIT License
 * @zacharyjohnson
 */
 .qube-perspective{-webkit-perspective:900px;-moz-perspective:900px;perspective:900px}.qube-preserve3d{-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d;transform-style:preserve-3d}.qube{position:relative;margin:0;padding:0;list-style:none;width:100%;height:100%;-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d;transform-style:preserve-3d}.qube>*{background:#666;background-size:100%}.qube>*,.qube>:after{position:absolute;left:0;top:0;margin:0;padding:0;width:100%;height:100%}.qube>:after{pointer-events:none;display:block;content:""}.qube.no-shading>:after{display:none}.qube.solid>*,.qube.solid>:after{-webkit-backface-visibility:hidden;-moz-backface-visibility:hidden;backface-visibility:hidden}.qube.textured>*{background-size:300%}.qube.faces>:nth-child(1),.qube>.front{-webkit-transform:rotateX(90deg) translateY(50%) rotateX(-90deg);-moz-transform:rotateX(90deg) translateY(50%) rotateX(-90deg);transform:rotateX(90deg) translateY(50%) rotateX(-90deg)}.qube.textured.faces>:nth-child(1),.qube.textured>.front{background-position:0 0}.qube.faces>:nth-child(3),.qube>.back{-webkit-transform:rotateY(180deg) rotateX(90deg) translateY(50%) rotateX(-90deg);-moz-transform:rotateY(180deg) rotateX(90deg) translateY(50%) rotateX(-90deg);transform:rotateY(180deg) rotateX(90deg) translateY(50%) rotateX(-90deg)}.qube.faces>:nth-child(3):after,.qube>.back:after{background:rgba(0,0,0,.6)}.qube.x-axis.faces>:nth-child(3),.qube.x-axis>.back{-webkit-transform:rotateX(90deg) translateY(-50%) rotateX(90deg);-moz-transform:rotateX(90deg) translateY(-50%) rotateX(90deg);transform:rotateX(90deg) translateY(-50%) rotateX(90deg)}.qube.textured.faces>:nth-child(3),.qube.textured>.back{background-position:-100% 0}.qube.faces>:nth-child(2),.qube>.left{-webkit-transform:translateX(-50%) rotateY(-90deg);-moz-transform:translateX(-50%) rotateY(-90deg);transform:translateX(-50%) rotateY(-90deg)}.qube.faces>:nth-child(2):after,.qube>.left:after{background:rgba(0,0,0,.5)}.qube.textured.faces>:nth-child(2),.qube.textured>.left{background-position:-200% 0}.qube.faces>:nth-child(4),.qube>.right{-webkit-transform:translateX(50%) rotateY(90deg);-moz-transform:translateX(50%) rotateY(90deg);transform:translateX(50%) rotateY(90deg)}.qube.faces>:nth-child(4):after,.qube>.right:after{background:rgba(0,0,0,.3)}.qube.textured.faces>:nth-child(4),.qube.textured>.right{background-position:0 -100%}.qube.faces>:nth-child(5),.qube>.top{-webkit-transform:translateY(-50%) rotateX(90deg);-moz-transform:translateY(-50%) rotateX(90deg);transform:translateY(-50%) rotateX(90deg)}.qube.faces>:nth-child(5):after,.qube>.top:after{background:rgba(0,0,0,.2)}.qube.textured.faces>:nth-child(5),.qube.textured>.top{background-position:-100% -100%}.qube.faces>:nth-child(6),.qube>.bottom{-webkit-transform:translateY(50%) rotateX(-90deg);-moz-transform:translateY(50%) rotateX(-90deg);transform:translateY(50%) rotateX(-90deg)}.qube.faces>:nth-child(6):after,.qube>.bottom:after{background:rgba(0,0,0,.7)}.qube.textured.faces>:nth-child(6),.qube.textured>.bottom{background-position:-200% -100%}

/*.btn-circle.right-side-toggle {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 25px;
  z-index: 10; }*/


.theme-options {
	color: #fff;
	line-height: 30px;
	position: fixed;
	top: 30%;
	right: 2px;
	z-index: 27;
	padding: 1px;
	margin:3px;
	/*background: #107abc;*/
	background: transparent;
	border-top-left-radius: 2px;
	border-bottom-left-radius: 2px;
/*	-webkit-box-shadow: 1px 1px 4px rgba(0,0,0,.5);
	-moz-box-shadow: 1px 1px 4px rgba(0,0,0,.5);
	-o-box-shadow: 1px 1px 4px rgba(0,0,0,.5);
	box-shadow: 1px 1px 4px rgba(0,0,0,.5);*/
	-webkit-box-shadow: 1px 1px 7px 4px rgba(0,0,0,0.27);
-moz-box-shadow: 1px 1px 5px 5px rgba(0,0,0,0.27);
box-shadow: 1px 1px 7px 4px rgba(0,0,0,0.27);

	}

.theme-options-toogle {
  position: relative;
}

.theme-options-toogle:hover {
  border:1px solid red;
}
.theme-options-toogle i {
	position: fixed;
  left: 18px;
}





.xcl-cube {
	width: 40px;
	height: 40px;
	line-height: 40px;
}

	.xcl-cube > * {
		background: rgba(0,127,255,0.5);
		border: 1px solid rgba(0,127,255,0.5);
		text-align: center;
		cursor: pointer;
	}
	.xcl-cube > .front {
		background: rgba(84,110,127,0.27);
	}
	.xcl-cube > .left {
		background: rgba(70,90,100,0.27);
	}
	.xcl-cube > .back {
		background: rgba(55,70,80,0.27);
	}
	.xcl-cube > .right {
		background: rgba(40,52,60,0.27);
	}

.xcl-cube {
	transition: transform 1500ms ease;
}

	.xcl-cube:hover {
		transform: rotateY(359deg);
	}


.right-sidebar {
  position: fixed;
  right: -270px;
  width: 270px;
  display: none;
  z-index: 1100;
  background: #2e3137;
  top: 0px;
  padding-bottom: 20px;
  height: 100%;

  box-shadow: 5px 1px 40px rgba(0, 0, 0, 0.1);

	transition: all 0.3s ease;
}
  .right-sidebar .right-panel-title {
    display: block;
    padding: 15px 20px;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 15px;
		background: #009efb;
	}

	.right-sidebar .right-panel-title span {
      float: right;
      cursor: pointer;
			font-size: 18px;
		}
      .right-sidebar .right-panel-title span:hover {
				color: #ffffff;
			}
  .right-sidebar .right-panel-block {
		padding: 20px;
	}
    .right-sidebar .right-panel-block ul {
      margin: 0px;
			padding: 0px;
		}
      .right-sidebar .right-panel-block ul li {
        list-style: none;
				padding: 5px 0;
			}

.right-panel-show {
  right: 0px;
  width: 270px;
	display: block;
}

.chatonline img {
  margin-right: 10px;
  float: left;
	width: 30px;
}

.chatonline li a {
  padding: 13px 0;
  float: left;
	width: 100%;
}
  .chatonline li a span {
		color: #747d8a;
	}
    .chatonline li a span small {
      display: block;
			font-size: 10px;
		}



/*******************
 Right side toggle
*******************/

ul#themecolors {
	display: block;
}
  ul#themecolors li {
		display: inline-block;
	}
    ul#themecolors li:first-child {
			display: block;
		}
    ul#themecolors li a {
      width: 40px;
      height: 40px;
      display: inline-block;
      margin: 5px;
      color: transparent;
			position: relative;
		}
      ul#themecolors li a.working:before {
		  content: url("data:image/svg+xml; utf8, <svg xmlns='http://www.w3.org/2000/svg' width='1.5em' height='1.5em' viewBox='0 0 50 50'><path d='M25 42c-9.4 0-17-7.6-17-17S15.6 8 25 8s17 7.6 17 17s-7.6 17-17 17zm0-32c-8.3 0-15 6.7-15 15s6.7 15 15 15s15-6.7 15-15s-6.7-15-15-15z' fill='white'/><path d='M23 32.4l-8.7-8.7l1.4-1.4l7.3 7.3l11.3-11.3l1.4 1.4z' fill='white'/></svg>");
/*vertical-align: -0.062em;*/
        /* font-size: 25px; */
        line-height: 40px;
        width: 40px;
        height: 40px;
        position: absolute;
        top: 5px;
        left: 5px;
        color: #ffffff;
				text-align: center;
			}

.default-theme {
	background: #757e8a;
}

.green-theme {
	background: #26c6da;
}

.yellow-theme {
	background: #ffb22b;
}

.red-theme {
	background: #fc4b6c;
}

.blue-theme {
	background: #1e88e5;
}

.purple-theme {
	background: #7460ee;
}

.megna-theme {
	background: #00897b;
}

.default-dark-theme {
  background: #263238;
	background: linear-gradient(to right, #263238 0%, #263238 23%, #757e8a 23%, #757e8a 99%);
}

.green-dark-theme {
  background: #263238;
	background: linear-gradient(to right, #263238 0%, #263238 23%, #26c6da 23%, #26c6da 99%);
}

.yellow-dark-theme {
  background: #263238;
	background: linear-gradient(to right, #263238 0%, #263238 23%, #fc4b6c 23%, #fc4b6c 99%);
}

.blue-dark-theme {
  background: #263238;
  background: linear-gradient(to right, #263238 0%, #263238 23%, #1e88e5 23%, #1e88e5 99%); }

.purple-dark-theme {
  background: #263238;
  background: linear-gradient(to right, #263238 0%, #263238 23%, #7460ee 23%, #7460ee 99%); }

.megna-dark-theme {
  background: #263238;
  background: linear-gradient(to right, #263238 0%, #263238 23%, #00897b 23%, #00897b 99%); }

.red-dark-theme {
  background: #263238;
  background: linear-gradient(to right, #263238 0%, #263238 23%, #fc4b6c 23%, #fc4b6c 99%); }

