/*
    XOOPSCube Theme : XCL Admin Flex Grid
    Distribution : XCL 2.3 Alpha
    Version : 0.7.0
    Author : Nuno Luciano aka Gigamaster
    Date : 2020-06-11
    URL : https://github.com/xoopscube/xcl/

    -------------------- -------------------- -------------------- -------------------- Admin utils */
    /*
    * Customize
    * BLOCK SECTION FILTER SEARCH
    * BLOCK SECTION SORT
    * BLOCK STATE SWITCH ( ! TODO : change image and icon background color
    * Module STATE SWITCH
    * BLOCK PREVIEW
    * jQuery UI Widget
    */


    #dialog-online {
        box-shadow : var(--ui-shadow-700);

    }

    .ui-dialog  {
        box-shadow : var(--ui-shadow-700);
    }

    .ui-widget {
        font-family     : Arial,sans-serif;
        font-size       : 1em;
    }


    /*-------------------- -------------------- -------------------- -------------------- BLOCK SECTION FILTER SEARCH */


    section.filter {

        align-items     : center;

        background      : var(  --ui-filter-background      );

        border-color    : var(  --ui-filter-border-color    );
        border-radius   : var(  --ui-filter-border-radius   );
        border-style    : var(  --ui-filter-border-radius   );
        border-width    : var(  --ui-filter-border-width    );

        box-shadow      : var(  --ui-filter-box-shadow      );

        display         : flex;
        flex-direction  : row;
        flex-wrap       : wrap;
        padding         : var(  --ui-filter-padding  );
        margin          : var(  --ui-filter-margin   );
        width           : 100%;

    }

        section.filter article {

        flex            : 1;
        padding-right   : var(  --ui-space-200  );

        }

        section .search-button {

        flex-basis      : 100%;
        padding-top     : 1rem;

        }

    /* -------------------- -------------------- -------------------- -------------------- BLOCK SECTION SORT */

    section.sort {

        align-items     : center;

        background      : var(  --ui-sort-background    );

        border-color  	: var(  --ui-sort-border-color  );
        border-radius 	: var(  --ui-sort-border-radius );
        border-style  	: var(  --ui-sort-border-style  );
        border-width  	: var(  --ui-sort-border-width  );

        box-shadow    	: var(  --ui-sort-box-shadow    );

        padding       	: var(  --ui-sort-padding       );
        margin        	: var(  --ui-sort-margin        );

        display         : flex;
        flex-direction  : row;
        flex-wrap       : wrap;
        justify-content : space-evenly;
        max-width       : 95%;

    }


    /* -------------------- -------------------- -------------------- -------------------- BLOCK STATE SWITCH */

    /* Block Switch Off - color indicator */
    .ui-update-change {

        background      : var(  --ui-color-500  );

        transition      : all 1s;

    }
    .ui-block-type.ui-update-change {

        background      : var(  --ui-color-red  );

    }
    .ui-update-change svg,
    .ui-update-change > svg path.block-icon,
    .ui-update-change > svg text.block-name {

        color           : var(  --ui-color-red  );

    }

    /* -------------------- -------------------- -------------------- -------------------- Module STATE SWITCH */

    /* Update indicator */
    .ui-update-change {

        transition      : all 1s;

    }
    .ui-update-change a {

        background      : var(  --ui-color-red  );

    }
    .ui-update-change svg,
    .ui-update-change > svg path.module-icon,
    .ui-update-change > svg text.module-name {

        color           : var(  --ui-color-red  );

    }

    /* -------------------- -------------------- -------------------- -------------------- BLOCK PREVIEW */

    .ui-block-admin-preview,
    .ui-block-permissions {
        font: normal;
    }

    .fingerprint1 { color: var(  --ui-color-red   ) }
    .fingerprint2 { color: var(  --ui-color-blue   ) }
    .fingerprint3 { color: var(  --ui-color-green   ) }
    .fingerprint4 { color: var(  ---ui-color-orange   ) }
    .fingerprint5 { color: var(  --ui-color-purple   ) }
    .fingerprint6 { color: var(  --ui-color-amber   ) }
    .fingerprint7 { color: var(  --ui-link   ) }

    /* -------------------- -------------------- -------------------- -------------------- jQuery UI Widget */

    .ui-widget-content {
        border          : 1px solid var(  --ui-border-color );
        background      : var(  --ui-button-background  );
        color           : var(  --ui-button-color       );
    }

    .ui-checkboxradio-radio-label.ui-checkboxradio-checked .ui-icon,
    .ui-checkboxradio-radio-label.ui-checkboxradio-checked:hover .ui-icon {
        background-image: none;
        width           : 16px;
        height          : 16px;
        border-width    : 4px;
        border-style    : solid;
    }

    .ui-state-default,
    .ui-widget-content .ui-state-default,
    .ui-widget-header .ui-state-default,
    .ui-button,
    html .ui-button.ui-state-disabled:hover,
    html .ui-button.ui-state-disabled:active {
        border          : 1px solid var(  --ui-border-color );
        background      : var(  --ui-button-background      );
        font-weight     : normal;
        color           : var(  --ui-button-color           );
        transition: all 0.3s ease 0s;;
    }
   .ui-widget.ui-widget-content {
        border          : 1px solid var(  --ui-border-color );
    }
    .ui-spinner-input{
        background      : var(  --ui-button-background      );
        color           : var(  --ui-button-color           );
    }
    .ui-state-default a,
    .ui-state-default a:link,
    .ui-state-default a:visited,
    a.ui-button,
    a:link.ui-button,
    a:visited.ui-button,
    .ui-button {
        color: var(--ui-color-200);
        text-decoration: none;
    }
     .ui-state-hover,
     .ui-widget-content .ui-state-hover,
     .ui-widget-header .ui-state-hover,
     .ui-state-focus,
     .ui-widget-content .ui-state-focus,
     .ui-widget-header .ui-state-focus,
     .ui-button:hover, .ui-button:focus {
        background      : var( --ui-button-hover-bg     );
        border          : 1px solid rgba(27, 27, 27, 0.5);
        color           : var(  --ui-button-hover-txt   );
        outline         : none;
    }

    .ui-widget-header,
    .ui-state-active {
        background      : var( --ui-button-hover-bg     );
        border          : 1px solid var( --ui-border-color  );
        color           : var(  --ui-button-hover-txt   );
    }
