/*
XOOPSCube Theme : XCL Admin Flex Gridd
Distribution : XCL 2.3 Alpha
Version : 0.0.5
Author : Nuno Luciano aka Gigamaster
Date : 2019-11-11
URL : https://github.com/xoopscube/xcl/

-------------------- -------------------- -------------------- Notifications */

/* TODO override with modal notification */


    .tips, .error, .confirm {

        background      : var(  --ui-notif-background    );

        border-color    : var(  --ui-notif-border-color  );
        border-radius   : var(  --ui-notif-border-radius );
        border-style    : var(  --ui-notif-border-style  );
        border-width    : var(  --ui-notif-border-width  );

        box-shadow      : var(  --ui-notif-box-shadow    );

        color           : var(  --ui-notif-color-text    );

        padding         : var(  --ui-notif-padding       );
        margin          : var(  --ui-notif-margin        );
        max-width       : var(  --ui-notif-max-width     );

    }

    .confirm {
        border-left     : 7px solid var(  --ui-color-green     );
        background: var(  --ui-notif-background    ) url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1.5em' height='1.5em' style='vertical-align: -0.125em;' viewBox='0 0 24 24'%3E %3Cpath d='M11.5 3a9.5 9.5 0 1 1 0 19a9.5 9.5 0 0 1 0-19zm0 1a8.5 8.5 0 1 0 0 17a8.5 8.5 0 0 0 0-17zM11 8v2h1V8h-1zm0 4v5h1v-5h-1z' fill='%23face74'/%3E %3C/svg%3E") 1em 1em no-repeat;
    }

    .tips {
        border-left     : 7px solid var(  --ui-color-blue     );
        background: var(  --ui-notif-background    ) url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1.5em' height='1.5em' style='vertical-align: -0.125em;' viewBox='0 0 24 24'%3E %3Cpath d='M11.5 3a9.5 9.5 0 1 1 0 19a9.5 9.5 0 0 1 0-19zm0 1a8.5 8.5 0 1 0 0 17a8.5 8.5 0 0 0 0-17zM11 8v2h1V8h-1zm0 4v5h1v-5h-1z' fill='%23face74'/%3E %3C/svg%3E") 1em 1em no-repeat;
    }

    .error {
        border-left     : 7px solid var(  --ui-color-red      );
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1.5em' height='1.5em' style='vertical-align: -0.125em;' viewBox='0 0 24 24'%3E %3Cpath d='M1 21L11.5 2.813L22 21H1zm19.268-1L11.5 4.813L2.732 20h17.536zM11 14v-4h1v4h-1zm0 2h1v2h-1v-2z' fill='%23face74'/%3E %3C/svg%3E");
        background-position:  1em center;
        background-repeat: no-repeat;
        animation: warning 1s infinite alternate;
    }

    .message-warning {

        background      : var(  --ui-notif-background    );
        border          : 1px solid var(  --ui-color-amber );
        border-radius   : var(  --ui-notif-border-radius );
        color           : var(  --ui-text-color     );
        padding         : var(  --ui-space-200       );
        animation       : badge-warning 1s infinite alternate;

    }

    @keyframes badge-warning {
/*         from {
            border: hsl(0, 40%, 40%);
        } */
        to {
            border:1px solid hsl(0, 40%, 40%);
            background-color: hsl(0, 40%, 40%);

           }
      }
    @keyframes warning {
    0% {
        background-position: 0.7em center;
        border-left     : 7px solid var(  --ui-color-red    );
    }
    100% {
        background-position: 1em center;
        border-left     : 7px solid var(  --ui-link  );
    }
    0% {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1.5em' height='1.5em' style='vertical-align: -0.125em;' viewBox='0 0 24 24'%3E %3Cpath d='M1 21L11.5 2.813L22 21H1zm19.268-1L11.5 4.813L2.732 20h17.536zM11 14v-4h1v4h-1zm0 2h1v2h-1v-2z' fill='%23f44336'/%3E %3C/svg%3E");
   }
    100% {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1.5em' height='1.5em' style='vertical-align: -0.125em;' viewBox='0 0 24 24'%3E %3Cpath d='M1 21L11.5 2.813L22 21H1zm19.268-1L11.5 4.813L2.732 20h17.536zM11 14v-4h1v4h-1zm0 2h1v2h-1v-2z' fill='%23FACE74'/%3E %3C/svg%3E");
   }
   to {
         background-color: hsl(0, 40%, 40%);

		}
   }

    .notification {

        color           : var(  --ui-text-color     );
        display         : flex;
        flex-basis      : 100%;
        flex-direction  : row-reverse;
        align-items     : center;
        justify-content : center;
        float           : none!important;

    }

    .sticky {

        background      : var(  --ui-color-400      );

        border-color    : var(  --ui-border-color   );
        border-radius   : var(  --ui-border-radius  );
        border-style    : var(  --ui-border-style   );
        border-width    : var(  --ui-border-width   );
        box-shadow      : var(  --ui-shadow-300     );

        left            : unset;
        margin          : 0 calc(   50% - 200px );
        width           : 400px;
        z-index         : 1000;

    }

    .ondemand {

        background      : var(  --ui-color-400      );

        border-color    : var(  --ui-border-color   ) !important;
        border-radius   : var(  --ui-border-radius  );
        border-style    : var(  --ui-border-style   );
        border-width    : var(  --ui-border-width   );

        box-shadow      : var(  --ui-shadow-300     );

        color           : var(  --ui-text-color     );

        height          : 50px;
        left            : unset;
        margin          : 0 calc(   50% - 200px );
        width           : 400px;
        z-index         : 2000;

    }

    .ondemand > div > a {

        color           : var(  --ui-color-amber    );

    }

    .sticky a, .floated a, .fixed a, .ondemand a {

        float           : none;
        margin          : 5px 10px 0px 0px;

    }

    .ondemand-button {

        background      : var(  --ui-color-400      );

        border-color    : var(  --ui-border-color   );
        border-radius   : var(  --ui-border-radius  );
        border-style    : var(  --ui-border-style   );
        border-width    : var(  --ui-border-width   );

        border-top-right-radius	: unset;
        border-top-left-radius	: unset;

        box-shadow      : var(  --ui-shadow-300     );

        float           : none!important;
        height          : 24px;
        left            : unset!important;
        margin          : 0 50% !important;
        padding         : 0 5px;
        position        : absolute;
        top             : 0;
        width           : 32px !important;
        z-index         : 1999;

    }

    .hide .ondemand-button {

    }
