/*
	XOOPS Cube Theme : XCL Admin Flex Grid
	Distribution : XCL 2.3 Alpha
	Version : 0.0.5
	Author : Nuno Luciano aka Gigamaster
	Date : 2019-11-11
	URL : https://github.com/xoopscube/xcl/

	-------------------- -------------------- -------------------- ROOT SETTINGS */

	/* Theme customization

		- ROOT Motion
		- Color Theme Default

		- Color Theme Light
		- Color Scheme Light
		- Color Link Light

		- Color Theme Dark
		- Color Scheme Dark
		- Color Link Dark

		- ROOT DEFAULT
		- Grid template
		- BORDER style [default]
		- BUTTON style [default]
		- BREADCRUMBS
		- CARD-BLOCK
		- CARD-FULL
		- CARD-SMALL
		- FORM input
		- NAV SIDE
		- NAV SIDE Block Module
		- NOTIFICATION
		- SCREEN-MODE
		- SHADOW
		- SORT
		- SPACE
		- TABLE
		- TEXT
		- @UTILS
*/
/*	-------------------- -------------------- -------------------- ROOT Motion */

	/* This removes all animations and transitions
	 *	for users who prefer reduced motion !
	*/
	@media (prefers-reduced-motion: reduce) {
		body {
			scroll-behavior			: auto;
		}
		* {
				animation-duration	: 0.01ms !important;
				animation-iteration-count: 1 !important;
				transition-duration	: 0.01ms !important;
				scroll-behavior		: auto !important;
			}
	}

/* -------------------- -------------------- -------------------- Color Theme Default */

	@media (prefers-color-scheme: dark) {

		:root {

		/* localStorage const UI_COLOR_MODE_KEY */
		--color-mode			: 'dark';

		--ui-body-background	: hsl(210, 18%, 80%);


/* -------------------- -------------------- -------------------- Color Theme Light */

		--ui-color-100			: hsl(0, 0%, 98%);
		--ui-color-200			: hsl(0, 0%, 95%);
		--ui-color-300			: hsl(210, 82%, 97%);
		--ui-color-400			: hsl(210, 18%, 89%);
		--ui-color-500			: hsl(210, 20%, 18%);

		--ui-text-color			: hsl(210, 20%, 12%);
		--ui-text-dark			: hsl(210, 20%, 8%);
		--ui-text-light			: hsl(200, 60%, 95%);

/* -------------------- -------------------- -------------------- Color Scheme Light */

		--ui-color-amber		: #ffc107;
		--ui-color-black		: #101010;
		--ui-color-blue			: #0F4C81;
		--ui-color-green		: #27ae74;
		--ui-color-indigo		: #1b275a;
		--ui-color-orange		: #ff9800;
		--ui-color-purple		: #673ab7;
		--ui-color-red			: #f44336;
		--ui-color-white		: #fafafa;

/* -------------------- -------------------- -------------------- Color Link Light */

		--ui-color-link					: hsl(210, 30%, 18%);
		--ui-color-link-active	: orange;
		--ui-color-link-hover		: orange;
		--ui-color-link-visited	: rgb(255, 0, 0);

		}

	}

/* -------------------- -------------------- -------------------- Color Theme Dark */

	[data-color-scheme="dark"] {

		--ui-body-background	: #232831;

		--ui-color-100				: hsl(216, 15%, 64%);
		--ui-color-200				: hsl(216, 15%, 32%);
		--ui-color-300				: hsl(219, 15%, 28%);
		--ui-color-400				: hsl(219, 15%, 24%);
		--ui-color-500				: hsl(219, 15%, 18%);

		--ui-text-color				: #C0CCDA;
		--ui-text-dark				: #001527;
		--ui-text-light				: #EBF5FA;

/* -------------------- -------------------- -------------------- Color Scheme Dark */

		/* --ui-color-amber		: #ffc107;
		--ui-color-blue			: #0F4C81;
		--ui-color-green		: #27ae74;
		--ui-color-indigo		: #1b275a;
		--ui-color-orange		: #ff9800;
		--ui-color-purple		: #673ab7;
		--ui-color-red			: #f44336;
		--ui-color-white		: #FAFAFA; */

/* -------------------- -------------------- -------------------- Color Link Dark */

		--ui-color-link					: #face74;
		--ui-color-link-active	: orange;
		--ui-color-link-hover		: #EBF5FA;
		--ui-color-link-visited	: #face74;

	}


/* -------------------- -------------------- -------------------- ROOT DEFAULT */

	:root {

	/* Development Mode Display Smarty Template Name : block / none */
	--ui-dev-mode						: block;

	/* Fallback for Custom Properties */
	/* --vh						: 1vh; */

	--ui-font-family				: 'Avenir', -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Helvetica Neue", Arial, sans-serif;
	--ui-font-monospace			: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
	--ui-font-serif					: serif;
	--ui-font-line-height		: 1.5rem;
	--ui-font-size					: 14px;
	--ui-font-weight				: 500;


/* -------------------- -------------------- -------------------- LAYOUT Grid template */

	--ui-aside-background		: none;

	--ui-footer-background	: var(	--ui-color-500			  );
	--ui-footer-border			: solid var(	--ui-color-400	);
	--ui-footer-border-width: 1px 0 0 0 ;
	--ui-footer-color				: var(  --ui-color-100			  );
	--ui-footer-link				: var(  --ui-color-link			  );

	--ui-grid-background		: none;

	--ui-header-background	: var(	--ui-color-500			  );
	--ui-header-shadow			: var(	--ui-shadow-200			  );
	--ui-header-position		: fixed;

	--ui-main-background		: none;


/* -------------------- -------------------- -------------------- BORDER style [default] */

	--ui-border-none   			: 0;
	--ui-border-color  			: var(  --ui-color-200	);
	--ui-border-radius 			: 5px;
	--ui-border-style  			: solid;
	--ui-border-width  			: 1px;

/* -------------------- -------------------- -------------------- BREADCRUMBS */

	--ui-breadcrumbs-background   	: var(	--ui-color-500			);

	--ui-breadcrumbs-border-color 	: var(	--ui-color-500			);
	--ui-breadcrumbs-border-radius	: var(	--ui-border-radius	);
	--ui-breadcrumbs-border-style 	: var(	--ui-border-style		);
	--ui-breadcrumbs-border-width 	: var(	--ui-border-width		);

	--ui-breadcrumbs-box-shadow   	: var(	--ui-shadow-100			);

	--ui-breadcrumbs-padding      	: var(	--ui-space-200			) var(	--ui-space-500	);
	--ui-breadcrumbs-margin       	: var(	--ui-space-200			) 0 var(	--ui-space-500			); /* Top & Bottom, '0' for Left & Right*/

	--ui-breadcrumbs-bg-link				: var(	--ui-color-400			);


/* -------------------- -------------------- -------------------- BUTTON style [default]  */

	--ui-button-active   		: 0;

	--ui-button-border 			: 1px;

	--ui-button-color				: var( --ui-color-link ); /*#3C4858; */

	--ui-button-margin			: var(--ui-space-400) var(--ui-space-200); /* 0.75rem 1rem; */

	--ui-button-padding			: var(--ui-space-400) var(--ui-space-600); /* 0.75rem 1rem; */

	--ui-button-radius 			: 3px;

	--ui-button-style  			: solid;


/* -------------------- -------------------- -------------------- CARD-BLOCK */

	--ui-card-block-background    	: var(	--ui-color-400			);

	--ui-card-block-border-color  	: var(	--ui-color-400			);
	--ui-card-block-border-radius 	: var(	--ui-border-radius	);
	--ui-card-block-border-style  	: var(	--ui-border-style		);
	--ui-card-block-border-width  	: var(	--ui-border-width		);

	--ui-card-block-box-shadow    	: var(	--ui-shadow-100			);

	--ui-card-block-hover			    	: var(	--ui-color-200			);

	--ui-card-block-padding     		: var(	--ui-space-600			);
	--ui-card-block-margin       		: var(	--ui-space-600			);


	/* CARD BLOCK HEADER  */
	--ui-card-block-header-bg				: transparent ;

	--ui-card-block-header-border		: var(	--ui-color-400			);
	--ui-card-block-header-height		: 3em;
	--ui-card-block-header-padding	: var(  --ui-space-600 			);

	/* CARD BLOCK CONTENT */
	--ui-card-block-content-bg			: transparent ;

	--ui-card-block-content-border	: var(	--ui-color-400			);
	--ui-card-block-content-padding	: var(  --ui-space-600 			);

	/* CARD BLOCK ITEM    */
	--ui-card-block-item-padding		: var(  --ui-space-400 			) 0.75em ;
	--ui-card-block-item-width			: 100%;


/* -------------------- -------------------- -------------------- CARD-FULL */

	--ui-card-full-background    	: var(	--ui-color-400		);

	--ui-card-full-border-color  	: var(	--ui-color-400			);
	--ui-card-full-border-radius 	: var(	--ui-border-radius	);
	--ui-card-full-border-style  	: var(	--ui-border-style		);
	--ui-card-full-border-width  	: var(	--ui-border-width		);

	--ui-card-full-box-shadow    	: var(	--ui-shadow-100			);

	--ui-card-full-padding     	  : var(	--ui-space-600			);
	--ui-card-full-margin					: var(	--ui-space-600			) auto;


/* -------------------- -------------------- -------------------- CARD-SMALL */

	--ui-card-small-background   : var(	--ui-color-400			);

	--ui-card-small-border-color : var(	--ui-color-400			);
	--ui-card-small-border-radius: var(	--ui-border-radius	);
	--ui-card-small-border-style : var(	--ui-border-style		);
	--ui-card-small-border-width : var(	--ui-border-width		);

	--ui-card-small-box-shadow   : var(	--ui-shadow-100			);

	--ui-card-small-box-hover	   : var(	--ui-shadow-300			);

	--ui-card-small-padding      : var(	--ui-space-600			);
	--ui-card-small-margin       : var(	--ui-space-600			);


/* -------------------- -------------------- -------------------- Color Block Type SVG Color !Todo : Refactory and rename */

	--ui-color-block-html				: var(  --ui-color-200		);
	--ui-color-block-module			: var(  --ui-color-300		);
	--ui-color-block-php				: var(  --ui-color-400		);
	--ui-color-block-smilies		: var(  --ui-color-500		);


/* -------------------- -------------------- -------------------- FILTER [ DATA ] */

	--ui-filter-background    	: var(	--ui-color-400			);

	--ui-filter-border-color  	: var(	--ui-color-400			);
	--ui-filter-border-radius 	: var(	--ui-border-radius	);
	--ui-filter-border-style  	: var(	--ui-border-style		);
	--ui-filter-border-width  	: var(	--ui-border-width		);

	--ui-filter-box-shadow    	: var(	--ui-shadow-100			);

	--ui-filter-padding       	: var(	--ui-space-600			);
	--ui-filter-margin        	: var(	--ui-space-600			);


/* -------------------- -------------------- -------------------- FORM input */

	--ui-input-background				: var(  --ui-color-500			);

	--ui-input-border-color			: var(  --ui-color-300			);
	--ui-input-border-radius		: var(	--ui-border-radius	);
	--ui-input-border-style			: var(	--ui-border-style		);
	--ui-input-border-width			: var(	--ui-border-width		);

	--ui-input-border-hover			: 1px solid var(	--ui-color-100	);

	--ui-input-color						: var(  --ui-text-color			);

	/* --ui-input-shadow			: var(  --ui-shadow-inset 	); */

	--ui-input-shadow						: 0 1px 2px 0 rgba(47, 27, 5, 0.15), 0 3px 1px -2px rgba(47, 27, 5, 0.2), 0 1px 5px 0 rgba(47, 27, 5, 0.12);

	--input-check-active				: var(  --ui-color-500			);
	--input-check-active-inner	: rgba(255, 255, 255, 0.9);
	--input-check-animation			: var(  --ui-color-blue			);

	--input-check-background		: var(	--ui-color-400			);

	--input-check-border				: 1px solid #6c757d;
	--input-check-border-hover	: 1px solid var(	--ui-color-100 );

	--input-check-disabled			: var(	--ui-color-400			);
	--input-check-disabled-inner: #434e5e;

	--input-check-shadow-inner	: rgba(21, 25, 27, 0.25);


/*	-------------------- -------------------- -------------------- NAV SIDE */

	--ui-nav-side-background		: var(	--ui-color-200			);

	/* --ui-nav-side-border-color	: var(	--ui-color-300		);
	--ui-nav-side-border-radius		: var(	--ui-border-radius	);
	--ui-nav-side-border-style		: var(	--ui-border-style		);
	--ui-nav-side-border-width		: 0; */

	--ui-nav-side-box-shadow		: var(	--ui-shadow-300			);

	--ui-nav-side-color					: var(  --ui-color-link			);
	--ui-nav-side-padding				: var(	--ui-space-600;			);
	--ui-nav-side-margin				: var(	--ui-space-600;			);

	--ui-nav-side-width					: 227px;


/*	-------------------- -------------------- -------------------- NAV SIDE Block Module */

	--ui-nav-block-background		: var(  --ui-color-500			);

	--ui-nav-block-border-color	: var(  --ui-color-amber		);
	--ui-nav-block-border-style	: solid;
	--ui-nav-block-border-width	: 3px;

	--ui-nav-block-color-link		: var(  --ui-color-link		);

	--ui-nav-block-height				: 8px;
	--ui-nav-block-width				: 8px;

	/* --ui-nav-block						: ;
	--ui-nav-module-icon				: ;
	--ui-nav-module-name				: ;
	--ui-nav-module-admin				: ;
	--ui-nav-module-link				: ; */


/*	-------------------- -------------------- -------------------- NOTIFICATION */

	--ui-notification-background		: var(	--ui-color-400			);

	--ui-notification-border-color	: var(	--ui-color-400			);
	--ui-notification-border-radius	: var(	--ui-border-radius	);
	--ui-notification-border-style	: var(	--ui-border-style		);
	--ui-notification-border-width	: var(	--ui-border-width		);

	--ui-notification-box-shadow		: var(	--ui-shadow-100			);

	--ui-notification-color-text		: var(	--ui-text-color			);

	--ui-notification-margin				: var(	--ui-space-600			) 0;
	--ui-notification-padding				: var(	--ui-space-600			);
	--ui-notification-max-width			: 85%;


/*	-------------------- -------------------- -------------------- SCREEN-MODE */

	--ui-screen-mode-background			: #ff21104d ;

	--ui-screen-mode-border-color		: var(	--ui-color-400			);
	--ui-screen-mode-border-radius	: var(	--ui-border-radius	);
	--ui-screen-mode-border-style		: var(	--ui-border-style		);
	--ui-screen-mode-border-width		: var(	--ui-border-width		);

	--ui-screen-mode-box-shadow			: var(	--ui-shadow-100			);

	--ui-screen-mode-padding				: var(	--ui-space-600;			);
	--ui-screen-mode-margin					: var(	--ui-space-600;			);

	--ui-screen-mode-info-color			: #fc3232;
	--ui-screen-mode-info-child			: #face74;


/*	-------------------- -------------------- -------------------- SHADOW */

	--ui-shadow-100					: 0 1px 2px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	--ui-shadow-200					: 0 2px 4px rgba(0,0,0,0.16), 0 2px 4px rgba(0,0,0,0.28);
	--ui-shadow-300					: 0 3px 6px rgba(0,0,0,0.19), 0 3px 6px rgba(0,0,0,0.28);
	--ui-shadow-400					: 0 4px 8px rgba(0,0,0,0.25), 0 4px 8px rgba(0,0,0,0.28);
	--ui-shadow-500					: 0 5px 10px rgba(0,0,0,0.30), 0 5px 10px rgba(0,0,0,0.25);
	--ui-shadow-600					: 0 6px 12px rgba(0,0,0,0.30), 0 6px 12px rgba(0,0,0,0.25);
	--ui-shadow-700					: 0 7px 14px rgba(0,0,0,0.30), 0 7px 14px rgba(0,0,0,0.25);
	--ui-shadow-800					: 0 10px 18px rgba(0,0,0,0.30), 0 10px 18px rgba(0,0,0,0.25);

	--ui-shadow-inset				: 0 5px 10px rgba(0, 0, 0, 0.05), 0 0 0 1px #ddd inset;
	--ui-shadow-hover				: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	--ui-shadow-transition	: all 0.3s cubic-bezier(.25,.8,.25,1);


/*	-------------------- -------------------- -------------------- SORT */

	--ui-sort-background    : var(	--ui-color-400			);

	--ui-sort-border-color  : var(	--ui-border-color		);
	--ui-sort-border-radius : var(	--ui-border-radius	);
	--ui-sort-border-style  : var(	--ui-border-style		);
	--ui-sort-border-width  : var(	--ui-border-width		);

	--ui-sort-box-shadow    : var(	--ui-shadow-200			);

	--ui-sort-padding       : var(  --ui-space-600			) var(  --ui-space-800	);
	--ui-sort-margin				: var(	--ui-space-800			) auto;


/*	-------------------- -------------------- -------------------- SPACE : relative margin and padding */
	/* Exmple :
			'ui-space-unit' = 16px x 'ui-space-100' = 2px of space
			'ui-space-unit' = 16px x 'ui-space-400' = 8px of space
	*/

	--ui-space-unit	: 1em;

	--ui-space-no		: 0;
	--ui-space-100	: calc(var(--ui-space-unit) * 0.125);
	--ui-space-200	: calc(var(--ui-space-unit) * 0.25);
	--ui-space-300	: calc(var(--ui-space-unit) * 0.375);
	--ui-space-400	: calc(var(--ui-space-unit) * 0.5);
	--ui-space-500	: calc(var(--ui-space-unit) * 0.75);
	--ui-space-600	: calc(var(--ui-space-unit) * 1.25);
	--ui-space-700	: calc(var(--ui-space-unit) * 2);
	--ui-space-800	: calc(var(--ui-space-unit) * 3.25);


/*	-------------------- -------------------- -------------------- TABLE */

	--ui-table-background		: var(	--ui-color-400			);

	--ui-table-thead 				: transparent;
	--ui-table-tbody				: transparent;
	--ui-table-tfoot 				: transparent;

	--ui-table-even 				: var(	--ui-color-400			);
	--ui-table-odd  				: var(	--ui-color-300			);

	--ui-table-hover    		: var(	--ui-color-100			);
	--ui-table-hover-text		:	var(	--ui-text-dark			);

	--ui-table-padding			: var(	--ui-space-500			);


/*	-------------------- -------------------- -------------------- TABS */

	--ui-tab-background				: var(	--ui-color-200			);
	--ui-tab-background-hover	: var(  --ui-color-500			);

	--ui-tab-shadow						: var(	--ui-shadow-100			);
	--ui-tab-shadow-hover			: var(  --ui-shadow-800			);
	--ui-tab-tbody						: transparent;
	--ui-tab-tfoot						: transparent;

	--ui-tab-even							: var(	--ui-color-400			);
	--ui-tab-odd							: var(	--ui-color-300			);

	--ui-tab-hover						: var(	--ui-color-100			);
	--ui-tab-hover-text				: var(	--ui-text-dark			);

	--ui-tab-padding					: var(	--ui-space-500			);


/*	-------------------- -------------------- -------------------- TEXT typography scalable */
	/* Exmple :
			'ui-font-size' = 15px / 1.5 = 10px
			'ui-font-size' = 16px x 'ui-space-400' = 8px of space
	*/
		--ui-text-scale-ratio	: 1.25;

		--ui-text-100		: calc((1em / var(--ui-text-scale-ratio)) );
		--ui-text-200		: calc(var(--ui-text-100) * var(--ui-text-scale-ratio));
		--ui-text-300		: calc(var(--ui-text-200) * var(--ui-text-scale-ratio));
		--ui-text-400		: calc(var(--ui-text-300) * var(--ui-text-scale-ratio));
		--ui-text-500		: calc(var(--ui-text-400) * var(--ui-text-scale-ratio));
		--ui-text-600		: calc(var(--ui-text-500) * var(--ui-text-scale-ratio));
		--ui-text-700		: calc(var(--ui-text-600) * var(--ui-text-scale-ratio));
		--ui-text-800		: calc(var(--ui-text-700) * var(--ui-text-scale-ratio));


		/*	-------------------- -------------------- -------------------- @UTILS LEGACY */

		--ui-adminnavi  			: rgba(74, 74, 74, 0.8);
		--ui-adminmenu	    	: rgba(74, 74, 74, 0.8);
		--ui-breadcrumbs    	: rgba(74, 74, 74, 0.8);
		--ui-breadcrumbs-bg 	: #f1f1f1db;

		/*	-------------------- -------------------- -------------------- Nav Menu */

		--ui-nav-hover				: rgba(255, 255, 255, .2);
		--ui-nav-open					: rgba(0, 0, 0, 0.05);
		--ui-nav-admin-bg			: rgba(15, 15, 15, 0.75);
		--ui-nav-link-color		: orange;
		--ui-nav-link-border	: 3px solid orange;

	}
