	/*
	Theme : XCL Admin Flex Grid
	Distribution : XCL 2.3 Alpha
	Version : 0.0.4
	Author : Nuno Luciano aka Gigamaster
	Date : 2019-11-11
	URL : https://github.com/xoopscube/xcl/

	-------------------- -------------------- -------------------- -------------------- SCROLLBAR */

	/*	-------------------- -------------------- -------------------- Text Selection */
	::selection {

		background-color		: rgba(15, 15, 15, 0.85);
		color								: var(  --ui-color-200	 );

		}


	/*	-------------------- -------------------- -------------------- TODO
		Implement crosshover css/js scrollbar
	*/
	::-webkit-scrollbar {

		background					: transparent;
		width								: 10px;

	}

	/* Track */
	::-webkit-scrollbar-track {

		background					: rgba(255, 147, 5, 0.5);
		box-shadow					: inset 0px 4px 0px 4px rgba(15, 15, 15, 0.85);
		border-radius				: 0px;

	}

	/* Handle */
	::-webkit-scrollbar-thumb {

		background					: rgba(15, 15, 15, 0.80);
		border-radius				: 10px;

	}

	/* Handle on hover */
	::-webkit-scrollbar-thumb:hover {

		background					: rgba(255, 147, 5, 0.5);

	}

	::-webkit-scrollbar-thumb:active {

		background					: linear-gradient(left, #272727, rgba(255, 147, 5, 0.5));

	  }
	::-webkit-scrollbar-corner {

		border							: none;

	}

	/* transparent resizer */
	::-webkit-resizer {

		background					: transparent;

	}
