/*
	XOOPS Cube Theme : XCL Admin Flex Grid
	Distribution : XCL 2.3 Alpha
	Version : 0.0.4
	Author : Nuno Luciano aka Gigamaster
	Date : 2019-11-11
	URL : https://github.com/xoopscube/xcl/

	-------------------- -------------------- --------------------  Table */

	/* TODO
	Clean up D3 templates
	Responsive tables and
	Alternative rendering of data
	*/

	table {

		background			: var(  --ui-table-background	);

		border-color  	: var(  --ui-border-color			);
		border-radius 	: var(  --ui-border-radius		);
		border-style  	: var(  --ui-border-radius		);
		border-width  	: var(  --ui-border-width			);

		border-collapse : collapse;

		box-shadow    	: var( --ui-shadow-200				);

		padding       	: var( --ui-space-400					);
		margin        	: 0;

		width           : 100%;

	}

	thead > tr {
		/* TODO ui-root custom */
		background			: var(  --ui-table-thead			);
	}

	tbody > tr {
	/* TODO ui-root custom */
		background			: var(  --ui-table-tbody			);
	}

	table > tfoot > tr {

		background			: var(  --ui-table-tfoot			);
		text-align			: center;

	}

	tr,
	th,
	td {

		padding					: var(  --ui-table-padding		);

	}
	/* Alternate cycle TR class even | odd */
	tbody > tr:nth-child(even) {

		background			: var(  --ui-table-even				);

	}
	tbody > tr:nth-child(odd){

		background			: var(  --ui-table-odd				);

	}
	/* tr:not(:first-child):hover */



	/* table > *:not(tfoot){
		TODO ui-root custom
	}

	tr:not(:last-child) {
		TODO ui-root custom
	} */



	div.foot,
	.pagenavi,
	table td.foot,
	.legacy_list_id,
	.legacy_list_order,
	.legacy_list_date,
	.legacy_list_select,
	.legacy_list_control {

		text-align			: center;

	}

	table.altsys_mytplsadmin .dbtplset_active {

		background			: var(  --ui-color-green			);

	}

	table.altsys_mytplsadmin .dbtplset_active sup {

		/*display				: none;*/

	}

	table.altsys_mytplsadmin .fingerprint1 {

		background			: var(  --ui-color-green			);

	}

	table.altsys_mytplsadmin .fingerprint2 {

		background			: var(  --ui-color-green			);

	}

	table.altsys_mytplsadmin .fingerprint3 {

		background			: var(  --ui-color-amber			);

	}

	table.altsys_mytplsadmin .fingerprint4 {

		background			: var(  --ui-color-blue				);

	}

	table.altsys_mytplsadmin .fingerprint5 {

		background			: var(  --ui-color-orange			);

	}

	table.altsys_mytplsadmin .fingerprint6 {

		background			: var(  --ui-color-indigo			);

	}

	table.altsys_mytplsadmin .fingerprint7 {

		background			: var(  --ui-color-indigo			);
	}


	div > input.blockposition {

		display					: flex;
		margin-right		: 5px;

	}

	tbody tr:hover,
	table.outer .altsys_mytplsadmin tbody tr:hover,
	table.outer tbody tr:hover,
	.table-striped tbody tr:hover {

		background			: var(  --ui-table-hover 				);
		color           : var(  --ui-table-hover-text		);

	}
/* 	div.unselected {

		background			: #37474f;

	} */

/* 	div.selected {

		background			: var(--ui-color-green);

	} */

	div.disabled {

		background			: var(--ui-color-red);

	}
