<h3>Menu</h3>

    <p>jQuery-UI themeable menu with mouse and keyboard interactions for navigation.</p>

    <div class="ui-flex-row">
        <script>
            $( function() {
            $( "#menu-default" ).menu();
            } );
            </script>
            <style>
            .ui-menu { width: 150px; }
        </style>
        <div class="ui-flex-column">
            <ul id="menu-default">
                <li class="ui-state-disabled"><div>Toys (n/a)</div></li>
                <li><div>Books</div></li>
                <li><div>Clothing</div></li>
                <li><div>Electronics</div>
                  <ul>
                    <li class="ui-state-disabled"><div>Home Entertainment</div></li>
                    <li><div>Car Hifi</div></li>
                    <li><div>Utilities</div></li>
                  </ul>
                </li>
                <li><div>Movies</div></li>
                <li><div>Music</div>
                  <ul>
                    <li><div>Rock</div>
                      <ul>
                        <li><div>Alternative</div></li>
                        <li><div>Classic</div></li>
                      </ul>
                    </li>
                    <li><div>Jazz</div>
                      <ul>
                        <li><div>Freejazz</div></li>
                        <li><div>Big Band</div></li>
                        <li><div>Modern</div></li>
                      </ul>
                    </li>
                    <li><div>Pop</div></li>
                  </ul>
                </li>
                <li class="ui-state-disabled"><div>Specials (n/a)</div></li>
              </ul>
        </div>

        <div class="ui-flex-column">
            <h4>Menu Default</h4>
            <p>A menu with the default configuration, disabled items and nested menus. A list is transformed, adding theming, mouse and keyboard navigation support. Try to tab to the menu then use the cursor keys to navigate.</p>
        </div>

    </div>

    <div class="ui-flex-row">
        <script>
            $( function() {
              $( "#menu-categories" ).menu({
                items: "> :not(.ui-widget-header)"
              });
            } );
            </script>
            <style>
            .ui-menu { width: 200px; }
            .ui-widget-header { padding: 0.2em; }
            </style>
        <div class="ui-flex-column">
            <ul id="menu-categories">
                <li class="ui-widget-header"><div>Category 1</div></li>
                <li><div>Option 1</div></li>
                <li><div>Option 2</div></li>
                <li><div>Option 3</div></li>
                <li class="ui-widget-header"><div>Category 2</div></li>
                <li><div>Option 4</div></li>
                <li><div>Option 5</div></li>
                <li><div>Option 6</div></li>
              </ul>
        </div>

        <div class="ui-flex-column">
            <h4>Menu Categories</h4>
            <p>By using the items option, you can configure which elements are converted into selectable menu items. Here this technique is used to create category headers.</p>
        </div>

    </div>

    <div class="ui-flex-row">
        <script>
            $( function() {
              $( "#menu-icons" ).menu();
            } );
            </script>
            <style>
            .ui-menu { width: 150px; }
            </style>
        <div class="ui-flex-column">
            <ul id="menu-icons">
                <li>
                  <div><span class="ui-icon ui-icon-disk"></span>Save</div>
                </li>
                <li>
                  <div><span class="ui-icon ui-icon-zoomin"></span>Zoom In</div>
                </li>
                <li>
                  <div><span class="ui-icon ui-icon-zoomout"></span>Zoom Out</div>
                </li>
                <li class="ui-state-disabled">
                  <div><span class="ui-icon ui-icon-print"></span>Print...</div>
                </li>
                <li>
                  <div>Playback</div>
                  <ul>
                    <li>
                      <div><span class="ui-icon ui-icon-seek-start"></span>Prev</div>
                    </li>
                    <li>
                      <div><span class="ui-icon ui-icon-stop"></span>Stop</div>
                    </li>
                    <li>
                      <div><span class="ui-icon ui-icon-play"></span>Play</div>
                    </li>
                    <li>
                      <div><span class="ui-icon ui-icon-seek-end"></span>Next</div>
                    </li>
                  </ul>
                </li>
                <li>
                  <div>Learn more about this menu</div>
                </li>
              </ul>
        </div>

        <div class="ui-flex-column">
            <h4>Menu Icons</h4>
            <p>A menu with the default configuration, showing how to use a menu with icons.</p>
        </div>

    </div>
