<h3>Font Typo Elements</h3>
<p>short desc</p>

<div class="ui-flex-row ui-card-full">
    <div class="ui-flex-column">
        <h1>Header 1</h1>
        <h2>Header 2</h2>
        <h3>Header 3</h3>
        <h4>Header 4</h4>
        <h5>Header 5</h5>
        <h6>Header 6</h6>
    </div>
    <div class="ui-flex-column">
        <p><code class="w3-codespan">&lt;b&gt;</code>  <b>Bold text</b></p>
        <p><code class="w3-codespan">&lt;strong&gt;</code>  <strong>Strong text</strong></p>
        <p><code class="w3-codespan">&lt;i&gt;</code>  <i>Italic text</i></p>
        <p><code class="w3-codespan">&lt;em&gt;</code>  <em>Emphasized text</em></p>
        <p><code class="w3-codespan">&lt;mark&gt;</code>  <mark>Marked text</mark></p>
        <p><code class="w3-codespan">&lt;small&gt;</code>  <small>Small text</small></p>
        <p><code class="w3-codespan">&lt;del&gt;</code>  <del>Deleted text</del></p>
        <p><code class="w3-codespan">&lt;ins&gt;</code>  <ins>Inserted text</ins></p>
        <p><code class="w3-codespan">&lt;sub&gt;</code>  <sub>Subscript</sub> text</p>
        <p><code class="w3-codespan">&lt;sup&gt;</code>  <sup>Superscript</sup> text</p>
    </div>
    <div class="ui-flex-column">
        <p title="I'm a tooltip">This is a paragraph with a tooltip [title].</p>
        <blockquote>blockquote</blockquote>
        <pre><code>pre code</code></pre>
        <h5>An Unordered HTML List</h5>
        <ul>
          <li>Barcelona
          <li>Lisbon
          <li>Roma
        </ul>
        <h5>An Ordered HTML List</h5>
        <ol>
          <li>Morning
          <li>Afternoon
          <li>Evening
        </ol>
    </div>
</div>
