<{* Dev-Mode Toggle *}>
<div class="ui-dev-mode"><{$smarty.template}></div>


    <{if $mod_config.show_breadcrumbs}>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
            <a href="<{$mod_url}>/index.php">
                <svg class="bi bi-chat-square-dots" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M14 1H2a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h2.5a2 2 0 0 1 1.6.8L8 14.333 9.9 11.8a2 2 0 0 1 1.6-.8H14a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 0a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h2.5a1 1 0 0 1 .8.4l1.9 2.533a1 1 0 0 0 1.6 0l1.9-2.533a1 1 0 0 1 .8-.4H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                    <path d="M5 6a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm4 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm4 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                </svg> <{$smarty.const._MD_D3FORUM_TOP}></a>
            </li>
            <{foreach name=catgorybreadcrumbs from=$category.paths_raw key=parent_id item=parent_title_raw}>
                <{if ! $smarty.foreach.catgorybreadcrumbs.last}>
                <li class="breadcrumb-item active" aria-current="page"><a href="<{$mod_url}>/index.php?cat_id=<{$parent_id}>"><{$parent_title_raw|escape}></a></li>
                <{/if}>
            <{/foreach}>
            <li class="breadcrumb-item active" aria-current="page"><{$category.title}></li>
        </ol>
    </nav>
    <{/if}>


    <!-- card category -->
    <div class="card my-4">



        <div class="card-header d-flex justify-content-between">
            <h3><{$category.title}></h3>
            <a href="<{$mod_url}>/index.php?page=rss&amp;cat_ids=<{$category.id}>&amp;odr=1" title="<{$smarty.const._MD_D3FORUM_LINK_CATEGORYRSS}>">
            <img src="<{$mod_imageurl}>/icon_rss.gif" alt="RSS" width="16" height="16"></a>
        </div>



        <div class="card-body">

            <{if $category.desc}>
            <p class="card-text"><{$category.desc}></p>
            <hr><!-- cat desc -->
            <{/if}>


            <{if $subcategories}>
            <h5 class="card-title my-3">
                <svg class="bi bi-folder" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path d="M9.828 4a3 3 0 0 1-2.12-.879l-.83-.828A1 1 0 0 0 6.173 2H2.5a1 1 0 0 0-1 .981L1.546 4h-1L.5 3a2 2 0 0 1 2-2h3.672a2 2 0 0 1 1.414.586l.828.828A2 2 0 0 0 9.828 3v1z"/>
                    <path fill-rule="evenodd" d="M13.81 4H2.19a1 1 0 0 0-.996 1.09l.637 7a1 1 0 0 0 .995.91h10.348a1 1 0 0 0 .995-.91l.637-7A1 1 0 0 0 13.81 4zM2.19 3A2 2 0 0 0 .198 5.181l.637 7A2 2 0 0 0 2.826 14h10.348a2 2 0 0 0 1.991-1.819l.637-7A2 2 0 0 0 13.81 3H2.19z"/>
                </svg> <{$smarty.const._MD_D3FORUM_SUBCATEGORIES}></h5>

            <ul class="list-group list-group-flush bg-light shadow-sm">

                <{foreach item=subcategory from=$subcategories}>
                <li class="list-group-item">


                    <h5><a href="<{$mod_url}>/index.php?cat_id=<{$subcategory.id}>">
                    <img src="<{$mod_imageurl}>/category_<{$subcategory.bit_new}>.gif" alt="<{$subcategory.title}>" width="16" height="16">
                    <{$subcategory.title}></a></h5>
                        <{if $subcategory.desc}>
                        <div> <{$subcategory.desc}></div>
                        <{/if}>



                    <{* ------- Activity Overview - Subcategories  *}>
                    <div class="d-flex justify-content-end align-items-center small mt-1">
                        <div class="mr-1"><{$smarty.const._MD_D3FORUM_TOTALTOPICSCOUNT}>: <span class="badge secondary"><{$subcategory.topics_count_in_tree}></span></div>
                        <div class="mr-1"><{$smarty.const._MD_D3FORUM_TOTALPOSTSCOUNT}>: <span class="badge secondary"><{$subcategory.posts_count_in_tree}></span></div>
                        <!-- RSS -->
                        <a class="ml-3" href="<{$mod_url}>/index.php?page=rss&amp;cat_ids=<{$subcategory.id}>&amp;odr=1">
                            <img src="<{$mod_imageurl}>/icon_rss.gif" alt="RSS" title="<{$smarty.const._MD_D3FORUM_LINK_CATEGORYRSS}>" width="16" height="16">
                        </a>
                    </div>
                </li>
                <{/foreach}>
            </ul>
            <{/if}>

        </div>


        <div class="card-footer">

            <{if $xoops_isadmin}>
                <div class="row d-flex justify-content-between">

                    <div class="btn-group btn-group-sm" role="group" aria-label="Admin Category">

                        <a class="btn btn-outline-secondary btn-sm" href="<{$mod_url}>/index.php?page=categorymanager&amp;cat_id=<{$category.id}>" title="<{$smarty.const._MD_D3FORUM_LINK_CATEGORYMANAGER}>">
                            <svg class="bi bi-pencil" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M11.293 1.293a1 1 0 0 1 1.414 0l2 2a1 1 0 0 1 0 1.414l-9 9a1 1 0 0 1-.39.242l-3 1a1 1 0 0 1-1.266-1.265l1-3a1 1 0 0 1 .242-.391l9-9zM12 2l2 2-9 9-3 1 1-3 9-9z"/>
                                <path fill-rule="evenodd" d="M12.146 6.354l-2.5-2.5.708-.708 2.5 2.5-.707.708zM3 10v.5a.5.5 0 0 0 .5.5H4v.5a.5.5 0 0 0 .5.5H5v.5a.5.5 0 0 0 .5.5H6v-1.5a.5.5 0 0 0-.5-.5H5v-.5a.5.5 0 0 0-.5-.5H3z"/>
                            </svg> <{$smarty.const._MD_D3FORUM_LINK_CATEGORYMANAGER}></a>

                        <a class="btn btn-outline-secondary btn-sm" href="<{$mod_url}>/admin/index.php?page=category_access&amp;cat_id=<{$category.id}>" title="<{$smarty.const._MD_D3FORUM_LINK_CATEGORYACCESS}>">
                        <svg class="bi bi-lock-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <rect width="11" height="9" x="2.5" y="7" rx="2"/>
                            <path fill-rule="evenodd" d="M4.5 4a3.5 3.5 0 1 1 7 0v3h-1V4a2.5 2.5 0 0 0-5 0v3h-1V4z"/>
                        </svg> <{$smarty.const._MD_D3FORUM_LINK_CATEGORYACCESS}></a>

                        <a class="btn btn-outline-secondary btn-sm" href="<{$mod_url}>/index.php?page=makecategory&amp;cat_id=<{$category.id}>" title="<{$smarty.const._MD_D3FORUM_LINK_MAKESUBCATEGORY}> <{$smarty.const._MD_D3FORUM_SUFFIX_UNDERTHISCATEGORY}>">
                        <svg class="bi bi-folder-plus" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M9.828 4H2.19a1 1 0 0 0-.996 1.09l.637 7a1 1 0 0 0 .995.91H9v1H2.826a2 2 0 0 1-1.991-1.819l-.637-7a1.99 1.99 0 0 1 .342-1.31L.5 3a2 2 0 0 1 2-2h3.672a2 2 0 0 1 1.414.586l.828.828A2 2 0 0 0 9.828 3h3.982a2 2 0 0 1 1.992 2.181L15.546 8H14.54l.265-2.91A1 1 0 0 0 13.81 4H9.828zm-2.95-1.707L7.587 3H2.19c-.24 0-.47.042-.684.12L1.5 2.98a1 1 0 0 1 1-.98h3.672a1 1 0 0 1 .707.293z"/>
                            <path fill-rule="evenodd" d="M13.5 10a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1H13v-1.5a.5.5 0 0 1 .5-.5z"/>
                            <path fill-rule="evenodd" d="M13 12.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0v-2z"/>
                        </svg> <{$smarty.const._MD_D3FORUM_LINK_MAKESUBCATEGORY}></a>

                    </div>
                        <{else}>
                        <div class="d-flex justify-content-end">
                    <{/if}>

                    <div class="btn-group btn-group-sm" role="group" aria-label="Forum and List Topics">
                    <{if $category.isadminormod}>
                        <a class="btn btn-outline-primary btn-sm" href="<{$mod_url}>/index.php?page=makeforum&amp;cat_id=<{$category.id}>">
                        <svg class="bi bi-plus-square" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <title><{$smarty.const._MD_D3FORUM_LINK_MAKEFORUM}> <{$smarty.const._MD_D3FORUM_SUFFIX_UNDERTHISCATEGORY}></title>
                            <path fill-rule="evenodd" d="M8 3.5a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-.5.5H4a.5.5 0 0 1 0-1h3.5V4a.5.5 0 0 1 .5-.5z"/>
                            <path fill-rule="evenodd" d="M7.5 8a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1H8.5V12a.5.5 0 0 1-1 0V8z"/>
                            <path fill-rule="evenodd" d="M14 1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                        </svg> <{$smarty.const._MD_D3FORUM_LINK_MAKEFORUM}></a>
                    <{/if}>

                    <!-- list topics -->
                    <a class="btn btn-outline-primary btn-sm" href="<{$mod_url}>/index.php?cat_ids=<{$category.id}>">
                        <svg class="bi bi-list-nested" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M4.5 11.5A.5.5 0 0 1 5 11h10a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5zm-2-4A.5.5 0 0 1 3 7h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm-2-4A.5.5 0 0 1 1 3h10a.5.5 0 0 1 0 1H1a.5.5 0 0 1-.5-.5z"/>
                        </svg> <{$smarty.const._MD_D3FORUM_LISTTOPICSINCATEGORY}></a>

                    </div><!-- /btn-group -->


                </div><!-- /d-flex -->

            </div><!-- /card footer -->

    </div><!-- /card -->


    <!-- list forums -->
    <{if $forums}>
    <div class="table-responsive">
        <table class="table bg-white shadow-sm">
            <thead class="thead-dark small">
                <tr class="head">
                    <th abbr="<{$smarty.const._MD_D3FORUM_FORUM}>"><{$smarty.const._MD_D3FORUM_FORUM}></th>
                    <th class="text-center" abbr="<{$smarty.const._MD_D3FORUM_TOPICSCOUNT}>"><{$smarty.const._MD_D3FORUM_TOPICSCOUNT}></th>
                    <th class="text-center" abbr="<{$smarty.const._MD_D3FORUM_POSTSCOUNT}>"><{$smarty.const._MD_D3FORUM_POSTSCOUNT}></th>
                    <th class="text-center" abbr="<{$smarty.const._MD_D3FORUM_LASTPOST}>"><{$smarty.const._MD_D3FORUM_LASTPOST}></th>
                </tr>
            </thead>

            <tbody>
            <{foreach item=forum from=$forums}>
                <tr>
                    <td>
                        <div class="d-flex justify-content-between">
                            <a href="<{$mod_url}>/index.php?forum_id=<{$forum.id}>">
                            <img src="<{$mod_imageurl}>/forum_<{$forum.bit_new}>.gif" alt="<{$forum.id}>" class="mr-1"><{$forum.title}></a>
                            <!-- RSS -->
                            <a href="<{$mod_url}>/index.php?page=rss&amp;forum_id=<{$forum.id}>">
                            <img src="<{$mod_imageurl}>/icon_rss.gif" alt="RSS" title="<{$smarty.const._MD_D3FORUM_LINK_FORUMRSS}>" width="16" height="16"></a>
                        </div>
                    </td>
                    <td align="center"><{$forum.topics_count}></td>
                    <td align="center"><{$forum.posts_count}></td>
                    <td align="center">
                        <{if $forum.last_post_time}><{$forum.last_post_time_formatted}>
                            <{if $forum.last_post_gname}>
                                <{$forum.last_post_gname}>
                            <{else}>
                                <{$forum.last_post_uname}>
                            <{/if}>
                            <a href="<{$mod_url}>/index.php?post_id=<{$forum.last_post_id}>">
                            <img src="<{$mod_imageurl}>/posticon<{$forum.last_post_icon}>.gif" alt="<{$forum.last_post_subject}>" title="<{$forum.last_post_subject}>"></a>
                        <{/if}>
                    </td>
                </tr>
            <tr>
                <td colspan="4">
                    <div><{$forum.desc}></div>

                    <div class="d-flex justify-content-between small mt-4">

                        <{if $forum.isadminormod}>
                        <div class="d-inline p-2"><{include file="db:`$mydirname`_inc_moderators.html" target=$forum}>

                            <a class="mx-1 px-2" href="<{$mod_url}>/index.php?page=forummanager&amp;forum_id=<{$forum.id}>" title="<{$smarty.const._MD_D3FORUM_LINK_FORUMMANAGER}>">
                                <svg class="bi bi-pencil-square" width="1.25em" height="1.25em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                                </svg></a></div>
                        <{/if}>

                        <{if $forum.external_link_format}>
                        [<{$smarty.const._MD_D3FORUM_FORUMASCOMMENT}>]
                        <{elseif $forum.can_post}>
                        <a class="btn btn-primary btn-sm" href="<{$mod_url}>/index.php?page=newtopic&amp;forum_id=<{$forum.id}>">
                            <{$smarty.const._MD_D3FORUM_POSTASNEWTOPIC}></a>
                        <{/if}>
                    </div>
                </td>
            </tr>
            <{/foreach}>
            </tbody>

        </table>
    </div>

    <{* ------- Forum icon explanation *}>
    <div class="d3f_iconexps">
        <ul class="d3f_iconexp">
            <li>
                <svg class="bi bi-chat-square-dots" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M14 1H2a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h2.5a2 2 0 0 1 1.6.8L8 14.333 9.9 11.8a2 2 0 0 1 1.6-.8H14a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 0a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h2.5a1 1 0 0 1 .8.4l1.9 2.533a1 1 0 0 0 1.6 0l1.9-2.533a1 1 0 0 1 .8-.4H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                    <path d="M5 6a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm4 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm4 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                </svg> = <{$smarty.const._MD_D3FORUM_ALT_NEWPOSTS}>

                <img src="<{$mod_imageurl}>/forum_1.gif" alt="" width="18" height="18"></li>
        </ul>
        <ul class="d3f_iconexp">
            <li>
                <img src="<{$mod_imageurl}>/forum_0.gif" alt="" width="18" height="18"> = <{$smarty.const._MD_D3FORUM_ALT_NONEWPOSTS}></li>
        </ul>
    </div>

    <{/if}><!-- end forums -->


<hr>


    <!-- category jump box -->
    <form name="category_jump_box" action="<{$mod_url}>/index.php" method="get" class="form-inline">
        <select name="cat_id" class="custom-select mr-sm-2">
            <option value="">(<{$smarty.const._MD_D3FORUM_TOP}>)</option>
            <{$cat_jumpbox_options}>
        </select>
        <button type="submit" class="btn btn-primary ml-1" value="<{$smarty.const._MD_D3FORUM_BTN_JUMPTOCATEGORY}>"><{$smarty.const._MD_D3FORUM_BTN_JUMPTOCATEGORY}></button>
        <a class="btn btn-outline-primary ml-4" href="<{$mod_url}>/index.php?page=search"><{$smarty.const._MD_D3FORUM_LINK_ADVSEARCH}></a>
    </form>


<hr class="notification">

<{include file='db:system_notification_select.html'}>
<!-- end module contents -->
