<h3>Delegate List</h3>

<h4>D3 Global</h4>

<h5>Module.<{$mytrustdirname}>.Global.Event.GetAssetManager</h5>
<dl>
  <dt><{$mytrustdirname|ucfirst}>_AssetManager</dt><dd>$obj</dd>
  <dt>string</dt><dd>$dirname</dd>
</dl>

<h5>Module.<{$mytrustdirname}>.Global.Event.Exception.ActionNotFound</h5>
<dl>
  <dt>string</dt><dd>$dirname</dd>
</dl>

<h5>Module.<{$mytrustdirname}>.Global.Event.Exception.Preparation</h5>
<dl>
  <dt>string</dt><dd>$dirname</dd>
</dl>

<h5>Module.<{$mytrustdirname}>.Global.Event.Exception.Permission</h5>
<dl>
  <dt>string</dt><dd>$dirname</dd>
</dl>

<h4>Module Local</h4>

<h5>Module.<{$mydirname}>.Event.Exception.ActionNotFound</h5>
<dl>
  <dt>void</dt>
</dl>

<h5>Module.<{$mydirname}>.Event.Exception.Preparation</h5>
<dl>
  <dt>void</dt>
</dl>

<h5>Module.<{$mydirname}>.Event.Exception.Permission</h5>
<dl>
  <dt>void</dt>
</dl>
