

<div class="ui-card-full">

<section id="help-module">


    <nav id="help-menu">
        <ul>
            <li><a href="#help-overview" class="button">Get started</a>
            <li><a href="#help-version" class="button">Version</a>
            <li><a href="#help-search" class="button">Action Search</a>
            <li><a href="#help-modules" class="button">Modules</a>
            <li><a href="#help-blocks" class="button">Blocks</a>
            <li><a href="#help-themes" class="button">Themes</a>
            <li><a href="#help-smilies" class="button">Smilies</a>
            <li><a href="#help-update" class="button">Update</a>
            <li><a href="#help-roadmap" class="button">Roadmap</a>
        </ul>
    </nav>


    <hr>


    <article class="help" id="help-overview">
        <h3>Getting Started</h3>
        <p>A kick start guide to XCL if you are running this admin dashboard for the first time.<br>
            The goal of this kick-start guide is to help new site administrators get orientated to what this
            position does and what responsibilities it entails. It provides the minimum amount of information
            needed, to get started and begin working with XCL Web Application Platform.<br>
            Other detailed instructional materials are available and will be highlighted throughout.</p>
        <div class="remark"><a href="<{'abc_index.html'|helpurl}>" align="left">Read this guide</a>!</div>

    </article>


    <hr>


<h4>XML API for CosmoDB Module</h4>

<h5>Summary</h5>
<p>This module provides XML API for CosmoDB</p>

<h5>Delegate List</h5>
<p>See <a href="<{"delegate.html"|helpurl}>">here</a><p>




<article>

    <h3 id="user-content-cosmoapi">CosmoAPI</h3>


    <p dir="auto">Web API implementation for CosmoDB</p>

    <h3 id="install">Install</h3>

    <pre><code class="language-css">
    p { color: red }
    </code></pre>

    <ul dir="auto">
        <li>upload files to your XOOPS Cube Legacy installation</li>
        <li>install <code>cosmoapi</code> module from XOOPS administration page</li>
    </ul>

    <h3 id="user-content-usage">Usage</h3>

    <h3 id="user-content-functions">Functions</h3>

    <ul dir="auto">
        <li>login</li>
        <li>get data list</li>
        <li>keyword search</li>
        <li>get detail information</li>
        <li>get attached file</li>
        <li>update metadata</li>
        <li>upload file</li>
    </ul>

    <h3 id="user-content-login">login</h3>

    <ul dir="auto">
        <li>request</li>
    </ul>

<pre><code code class="language-html">
    [XOOPS_URL]/modules/cosmoapi/index.php/login?uname=[USERNAME]&amp;pass=[PASSWORD]
</code></pre>

    <ul dir="auto">
        <li>result</li>
    </ul>

<pre><code class="language-smarty">
&lt;result&gt;
&lt;login&gt;success&lt;/login&gt;
&lt;/result&gt;
</code></pre>



    <h2 id="user-content-get-data-list">get data list</h2>

    <ul dir="auto">
        <li>request</li>
    </ul>

<pre><code lang="lang-html">

</code></pre>

<pre><code>[XOOPS_URL]/modules/cosmoapi/index.php/list/[MODULE NAME]
</code></pre>



    <ul dir="auto">
        <li>return</li>
    </ul>

<pre><code lang="lang-html">

</code></pre>



    <h2 id="user-content-keyword-search">keyword search</h2>

    <ul dir="auto">
        <li>request</li>
    </ul>

    <pre><code lang="lang-html">

</code></pre>



<pre><code>[XOOPS_URL]/modules/cosmoapi/index.php/serarch/[MODULE NAME]?keyword=[SEARCH KEYWORD]
</code></pre>


    <ul dir="auto">
        <li>result</li>
    </ul>


    <h2 id="user-content-get-detail-information">get detail information</h2>

    <ul dir="auto">
        <li>request</li>
    </ul>



    <ul dir="auto">
        <li>result</li>
    </ul>


    <h2 id="user-content-get-attached-file">get attached file</h2>

    <ul dir="auto">
        <li>request</li>
    </ul>

    <pre><code>[XOOPS_URL]/modules/cosmoapi/index.php/download/[MODULE NAME]/[FILE ID]
</code></pre>

    <ul dir="auto">
        <li>result
            file.</li>
    </ul>

    <h2 id="user-content-update-metadata">update metadata</h2>

    <ul dir="auto">
        <li>request</li>
    </ul>

<pre><code>[XOOPS_URL]/modules/cosmoapi/index.php/update/[MODULE NAME]/[DATA ID]
</code></pre>

    <p dir="auto">with <code>key=[KEY]</code> and <code>value=[VALUE]</code> by POST method.</p>

    <ul dir="auto">
        <li>return</li>
    </ul>


    <h2 id="user-content-upload-file">upload file</h2>

    <ul dir="auto">
        <li>request</li>
    </ul>

    <pre><code>[XOOPS_URL]/modules/cosmoapi/index.php/upload/[MODULE NAME]/[DATA ID]
</code></pre>

    <p dir="auto">with <code>path=[FILE PATH]</code> and <code>file=[FILE(multipart/form-data)]</code> by POST method.</p>

    <ul dir="auto">
        <li>return</li>
    </ul>


</article>

</div>

