/*
    Theme : XCL Flex Starter
    Distribution : XCL 2.3 Alpha
    Version : 0.0.1
    Author : Nuno Luciano aka Gigamaster
    Date : 2019-11-01
		URL : https://github.com/xoopscube/xcl/
*/


/* 	Set the default font-family of Operating Systems */
	@font-face {
		font-family: system;
		font-style: normal;
		font-weight: 300;
		src: local(".SFNSText-Light"), local(".HelveticaNeueDeskInterface-Light"),
			local(".LucidaGrandeUI"), local("Ubuntu Light"), local("Segoe UI Light"),
			local("Roboto-Light"), local("DroidSans"), local("Tahoma");
	}

	body {
		/* Blueprint pattern 80x80 square x 12 = 960px */
		background-color: rgb(26, 83, 126);
		background-image: linear-gradient(
				rgba(119, 142, 163, 0.5) 2px,
				transparent 2px
			),
			linear-gradient(90deg, rgb(119, 142, 163, 0.5) 2px, transparent 2px),
			linear-gradient(rgba(119, 142, 163, 0.3) 1px, transparent 1px),
			linear-gradient(90deg, rgba(119, 142, 163, 0.3) 1px, transparent 1px);
		background-size: 80px 80px, 80px 80px, 20px 20px, 20px 20px;
		background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
		color: #fff;
		font-family: "system"; /* Use the OS font-family */
		font-size: 1em;
	}

/* 	Applying CSS box-sizing Property to all elements
		The box-sizing property includes the 'padding' and 'border' in elements total width and height.*/
	* {
		box-sizing: border-box;
	}

	.flex-container {
		background: #2774ac;
		border: 20px solid #2774acad;
		box-shadow: 0px 10px 10px 1px #10101080;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		margin: 2em auto 4em;
		max-width: 1200px;
	}


	header {
		align-items: center;
		display: flex;
		flex-basis: 100%;
		flex-flow: column;
	}

	header picture img {
		margin-bottom: 1em;
		width: 100%;
	}


	nav {
		border: 1px solid #def;
		flex: 1;
		padding: 1em;
	}

	.block-search {
		border: 1px solid #def;
		flex-grow: 1;
		padding: 1em;
		text-align: right;
	}


	aside.block-left {
		border: 1px solid #def;
		flex: 1;
		margin: 1em 0;
		padding: 1em;
	}


	aside.block-right {
		border: 1px solid #def;
		flex: 1;
		margin: 1em 0;
		padding: 1em;
	}

	main,
	.block-wide {
		flex: 3;
		border: 1px solid #def;
		padding: 1em;
	}

	.block-center-left {
		border: 1px solid #def;
		flex: 1;
		flex-basis: 49%;
		margin: 1em 0;
		padding: 1em;
	}

	.block-center-right {
		border: 1px solid #def;
		flex: 1;
		flex-basis: 49%;
		margin: 1em 0;
		padding: 1em;
	}

	.block-center-center {
		border: 1px solid #def;
		flex: 1;
		flex-basis: 100%;
		padding: 1em;
	}

	.block-footer1,
	.block-footer2 {
		border: 1px solid #def;
		flex-basis: 49%;
		padding: 1em;
	}

	footer.block-credits {
		flex-basis: 100%;
		padding: 1em;
		text-align: center;
	}


/* ------------------------------------------ Line breaking to make new row */

  /* CSS class to use in a div or hr */
	/* Break to a new row */
	.break-row {
		flex-basis: 100%;
		height: 0;
		visibility: hidden;
	}

	/* Break to a new column */
	.break-column {
		flex-basis: 100%;
		width: 0;
	}


/* ------------------------------------------ HTML Elements */

	a {
		color: #fff;
		text-shadow: 1px 1px 1px rgba(5,2,7,0.99);
	}

	a:link,
	a:visited {
		color	: #fff;
		text-decoration : none;
	}

	a:active,
	a:hover{
		color: #fff;
	}

	a.admin:hover:after {
		content: "⬢";
	}


/*  ------------------------------------------ UI-Components */

.flex-grid3x3 {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

/* Ration simplifier 100% - 32% * 3 blocks */
.flex-grid3x3 > .block3x3 {
	border: 1px solid #def;
	padding-bottom: 18%; /* 32:18 aspect ratio (i.e. 16:9) */
	margin-bottom: 2%; /* (100-32*3)/2 */
	width: 32%; /* 32*3 blocks */
}



/*  ------------------------------------------  Media Queries : screens from 320px to 900px */
@media screen and (max-width: 900px) and (min-width: 320px) {

	body {
		background-color: burlywood;
		margin: 0;
		padding: 1em;
	}

	header picture img {
		margin-bottom: 1em;
		width: 100%;
	}

	.flex-container {
		border: 10px solid #2774acad;
		display: flex;
		flex-direction: column; /* Switch from row to column */
		flex-wrap: wrap;
		margin: 0;
		width: 100%;
	}

	.break-row { /* Break to a new row */
		border: 0;
		flex-basis: 100%;
		height: 0;
		margin: 0;
	}

	aside.block-left {
    display:flex;
		flex-direction: row;
	}

	aside.block-left div.block{
    flex-basis: 49%;
    /* flex-shrink: 0; */
	}

	.block-center-center{
		align-items: center;
		height: 100%;
		margin: 0 0 1em;
		width: 100%;
	}

	.block-footer1 {
		margin: 0 0 1em;
	}

}
