/*
	XOOPSCube Theme : XCL Default
	Distribution : XOOPSCube XCL 2.3
	Version : 0.7.0
	Author : Nuno Luciano aka Gigamaster
	Date : 2020-07-11
	URL : https://github.com/xoopscube/xcl/

    ---------- ---------- ---------- ---------- ---------- ---------- IMPORT */
@import "./css/root.css";        /*  UI Default Settings          */
@import "./css/body.css";        /*  Body Elements               */
@import "./css/layout.css";      /*  Layout Grid-Flex           */
@import "./css/breadcrumb.css";  /*  Breadcrumbs               */
@import "./css/button.css";      /*  Buttons                  */
@import "./css/card.css";        /*  Card elements           */
@import "./css/form.css";        /*  Form Elements          */
@import "./css/menunav.css";	 /*  Menu Navigation       */
@import "./css/media.css";       /*  Modules CSS          */
@import "./css/module.css";	   	 /*  Media Queries       */
@import "./css/notification.css";/*  Notifications      */
@import "./css/svg.css";         /*  SVG settings      */
@import "./css/table.css";       /*  Tables           */
@import "./css/tab.css";         /*  Tabs            */
/*  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

