/* -------------------- -------------------- -------------------- MAIN */


main {
    background: hsl(219, 15%, 18%);
    /*border-bottom-right-radius: 20px;*/
    /*border-top-right-radius: 20px;*/
    flex: 0 0 100%;
    padding: 1em;

}

.maincontents {
    background: hsl(219, 15%, 18%);
    padding: 0 2em;
}

footer {
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 1em;
}

main {
    background: linear-gradient(130deg, rgb(35, 40, 50), rgb(35, 35, 45));
    border: 1px solid hsla(210, 15%, 20%, 1);
    border-radius: 20px;
    box-shadow: 10px 10px 15px 5px rgba(25, 30, 35, 0.5),-10px -10px 15px 5px rgba(45, 50, 55, 0.5),-1px -1px 10px 1px rgba(55, 65, 75, 0.74);
    display: flex;
    height: 100%;
    margin: 1em auto 4em;
    max-width: 1242px;

/*     box-shadow: 6px 6px 15px 3px rgba(45, 50, 60, 1),1px 1px 5px 1px rgba(45, 50, 60, 0.8),
    -6px -6px 15px 3px rgba(55, 65, 75, 0.6),
    -1px -1px 2px 1px rgba(55, 65, 75, 0.6); */
}


/* -------------------- -------------------- INDEX MAIN PREVIEW */

main.default-grid {
    margin: 3rem auto;
    background: #212121;
}

main.default-grid section {
    min-height: 80vh;
}

main.default-grid div {
    padding: 1rem 1.5rem;
    width: auto;
    background-color: rgba(0, 176, 255, 0.5);
    color: rgba(255, 255, 255, 0.9);
    outline: 1px dotted #212121;
    font: bold 1em monospace;
}

main.default-grid div div {
    background-color: rgba(0, 176, 255, 1);
}
