/*
 * *
 *  * Short description for class
 *  *
 *  * Long description for class (if any)...
 *  *
 *  * @package    XCL230
 *  * @author     Original Author <author@example.com>
 *  * @author     Other Authors <another@example.com>
 *  * @copyright  2005-2020 The XOOPSCube Project
 *  * @license    Legacy : https://github.com/xoopscube/xcl/blob/master/GPL_V2.txt
 *  * @license    Cube : https://github.com/xoopscube/xcl/blob/master/BSD_license.txt
 *  * @version    Release: @package_230@
 *  * @link       https://github.com/xoopscube/xcl
 *  * *
 *
 */
/* -------------------- -------------------- -------------------- -------------------- NAV */


ul#usermenu {
    list-style  : none;
    background-color: hsla(235, 16%, 13%, 0.74);
    background: linear-gradient(145deg, hsl(220, 15%, 15%), hsla(235, 16%, 13%, 0.74));
    border-radius: 10px;
    padding: 1em 1.5em 1em 2.5em;
}

ul#usermenu li {
    list-style  : none;
	position    : relative;
    padding     : .5em 1em;
    max-width   : max-content;
}

ul#usermenu li a {
    color       : #abc;
    height      : 100%;
    width       : 100%;
    display     : inline-block;
}

ul#usermenu li:hover > a {
    color       : #face74;

}

ul#usermenu li::before {
	content     : '';
	background  : hsla(219, 16%, 17%, .7);
	box-shadow  : 5px 5px 5px hsl(218, 17%, 10%), -5px -5px 5px hsl(219, 16%, 24%);
	border      : 1px solid hsl(219, 17%, 31%);
	border-radius: 15%;
	position    : absolute;
	left        : -15px;
	top         : 50%;
	height      : 15px;
	width       : 15px;
	transform   : translateY(-35%);
	z-index     : 2;

}

ul#usermenu li::before > li a  {
    background  : #face74 !important;
    border      : 1px solid #face74;

    }

    ul#usermenu li:hover::before {
    -webkit-animation: neon5 1.5s ease-in-out infinite alternate;
    -moz-animation: neon5 1.5s ease-in-out infinite alternate;
    animation: neon5 1.5s ease-in-out infinite alternate!important;
    }

    @-webkit-keyframes neon5 {
        from {
            box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF9900, 0 0 25px #face74, 0 0 30px #face74, 0 0 35px #FF9900;
        }
        to {
            box-shadow: 0 0 3px #fff, 0 0 5px #fff, 0 0 7px #fff, 0 0 10px #FF9900, 0 0 15px #face74, 0 0 20px #face74, 0 0 25px #face74;
        }
    }

ul#usermenu li:not(:last-child):after {
	content: '';
    background: hsl(219, 17%, 31%);
    box-shadow: 5px 5px 10px hsl(219, 15%, 10%), -5px -5px 10px hsl(219, 15%, 24%) !important;
	height: 100%;
	width: 2px;
	position: absolute;
	left: -8px;
	top: 50%;
	z-index: 1;

}
