/*
 * *
 *  * Short description for class
 *  *
 *  * Long description for class (if any)...
 *  *
 *  * @package    XCL230
 *  * @author     Original Author <author@example.com>
 *  * @author     Other Authors <another@example.com>
 *  * @copyright  2005-2020 The XOOPSCube Project
 *  * @license    Legacy : https://github.com/xoopscube/xcl/blob/master/GPL_V2.txt
 *  * @license    Cube : https://github.com/xoopscube/xcl/blob/master/BSD_license.txt
 *  * @version    Release: @package_230@
 *  * @link       https://github.com/xoopscube/xcl
 *  * *
 *
 */
.map-box {
    width: 90%;
}
.user-x{ color: #ff2e2e
}

#navtop {
    /*background-color: #1f242d;*/
    background: linear-gradient(145deg, hsl(220, 15%, 15%), hsl(220, 21%, 15%));
    border-radius: 4px;
    bottom: 30px;
    /*box-shadow: 0 5px 5px hsl(210deg 10% 12% / 90%);*/
    box-shadow: 5px 5px 10px #1a1e25, -5px -5px 10px #2c323d;
    display: inline-block;
    height: 50px;
    opacity: 0;
    position: fixed;
    right: 30px;
    text-align: center;
    transition: background-color .3s,
                box-shadow ease .3s,
                opacity .5s,
                visibility .5s;
    visibility: hidden;
    width: 50px;
    z-index: 1000;

}
#navtop::after {
    content: "\21EA";
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
    line-height: 50px;
    color: #face74;
}
#navtop:hover {
    background: #333;
    box-shadow: inset 5px 5px 8px 1px rgba(0, 0, 0, 0.2),6px 6px 15px 3px rgba(45, 50, 60, 1), inset -5px -5px 8px 0px rgba(55, 65, 75, 0.3), inset -1px -2px 2px 0px rgba(45, 50, 60, 0.4),-6px -6px 15px 3px rgba(45, 50, 60, 0.6);
    cursor: pointer;
}
#navtop:active {
    background: #232831;
}
#navtop.show {
    opacity: 1;
    visibility: visible;
}
