<div class="ui-dev-mode"><{$smarty.template}></div>

    <{* /////// Breadcrumbs \\\\\\\ *}>
    <ul class="breadcrumb" aria-label="breadcrumb">
        <li><a href="<{$xoops_url}>/">
            <img class="svg home" src="<{$xoops_url}>/images/icons/home.svg" width="1em" height="1em" alt="home"></a>
        </li>
        <li><a href="<{$xoops_imageurl}>index.php">
            <img class="svg folder" src="<{$xoops_url}>/images/icons/folder.svg" width="1em" height="1em" alt="category"> Style Guide</a>
        </li>
        <li aria-current="page"> Pattern Library</li>
    </ul>


<hr>


<{* /////// Theme Manifesto \\\\\\\ *}>
<section layout="row sm-column" self="size-x1" class="theme-manifesto">

    <div self="size-10f2 px-2 sm-full">
        <img src="<{$xoops_imageurl}><{$theme.screenshot.value}>" alt="Theme screenshot" width="400px">
    </div>

    <{* Theme Credits *}>
    <article self="size-x1 px-2 sm-full" class="theme-credits">
        <p><span class="badge">Theme Name</span>  <{$theme.name.value}><br>
            <span class="badge">Description</span>  <{$theme.description.value}><br>
            <span class="badge">Version</span>  <{$theme.version.value}><br>
            <span class="badge">Author</span>  <{$theme.author.value}></p>
        <{* Theme App and Platform *}>
        <div id="accordion-theme">
            <h3>Theme</h3>
            <div>
                <p>Theme Manifesto.</p>
                <ul>
                    <li>Dirname : <{$theme.dirname.value}></li>
                    <li>Theme options : <{$theme.themeoptions.value}></li>
                    <li>Format : <{$theme.format.value}></li>
                    <li>Render system : <{$theme.render_system.value}></li>
                    <li>URL : <{$theme.url.value}></li>
                    <li>License : <{$theme.license.value}></li>
                </ul>
            </div>

            <h3>Application</h3>
            <div>
                <p>Web Application Settings.</p>
                <ul>
                    <li>Site name : <{$xoops_sitename}> </li>
                    <li>Slogan : <{$xoops_slogan}> </li>
                    <li>URL : <{$xoops_url}> </li>
                    <li>Page title : <{$xoops_pagetitle}></li>
                    <li>Lang. code : <{$xoops_langcode}> </li>
                    <li>Charset: <{$xoops_charset}> </li>
                    <li>Script name: <{$SCRIPT_NAME}></li>
                    <li>Domain : <{$smarty.server.SERVER_NAME|upper}></li>
                    <li>Server IP : <{$smarty.server.SERVER_ADDR}></li>
                    <li>Remote IP : <{$smarty.server.REMOTE_ADDR}></li>
                    <{* ---------- NOT AVAILABLE ----------
                    <li>Meta Author: <{$xoops_meta_author}> </li>
                    <li>Meta Robots: <{$xoops_meta_robots}></li>
                    <li>Meta Copyright: <{$xoops_meta_copyright}></li>
                    <li>Meta Description: <{$xoops_meta_description}></li>
                    ---------- NOT AVAILABLE ---------- *}>
                </ul>
            </div>

            <h3>Platform Server</h3>
            <div>
                <p>Web Application Platform Server and User Agent.</p>
                <ul>
                    <{foreach from=$platform item=sys}>
                    <li><{$sys}></li>
                    <{/foreach}>
                </ul>
            </div>
        </div><{* /Accordion Theme *}>

    </article>
    <{* /Theme Credits *}>

    </section>


<hr>


    <{* /////// Theme Style Guide \\\\\\\ *}>
    <section class="theme-style-guide">

    <{*
       <h4>ICONS</h4>
        <div layout="row">
            <ul>*}>
        <{* foreach from=$icons item=item *}>
                <{*        <li><img class="svg" src="<{$xoops_url}>/images/icons/<{$item}>" width="" alt="<{$item}>"> <{$item}></li> *}>
        <{* /foreach *}>
                <{*    </ul>
        </div>
    <hr>
    *}>


    <{* /////// LIST COMPONENTS \\\\\\\ *}>
    <div id="ui-style-guide">
        <{fetch file=$style}>
        <{* load component into id="ui-component" *}>
    </div>


    <{* /////// LOAD COMPONENT \\\\\\\ *}>
    <div id="ui-component">
    [ Select the UI Component to load an example... ]
    </div>

<!--    <style>
        .notification {
            /*padding: 15px;*/
            /*margin-bottom: 20px;*/
            border: 1px solid transparent;
            position:relative;
        }

        .runtime {
            background: var(&#45;&#45;color-4);
            border:1px dotted var(&#45;&#45;color-6);
            border-radius: 5px;
            box-shadow: 0 2px 10px 4px var(&#45;&#45;color-7), 0 10px -16px 1px var(&#45;&#45;color-2);
            color: var(&#45;&#45;color-8);
            padding: .25rem .5rem;
            text-align: center;
            bottom: 0;
            width: 270px;

            right: 1.5rem;
            min-width: 240px;
            z-index: 1009;
            display: none;
            margin-bottom:1rem;
            position: fixed;
        }



    </style>-->


    <div id="compo1" class="modal-wrap" style="position:relative;top:20px">
        <div id="modal-api" class="modal-view" tabindex="-1">
            <iframe id="iframe-api" height="90%" width="90%" src="" name="iframe-modal"></iframe>
            <a class="modal-control modal-close" href="" target="iframe-modal">&times; Close</a>
        </div>
    </div>


    <script>
        !function(e,o){if("function"==typeof define&&define.amd)define(["exports"],o);else if("undefined"!=typeof exports)o(exports);else{var t={};o(t),e.bodyScrollLock=t}}(this,function(exports){"use strict";Object.defineProperty(exports,"__esModule",{value:!0});var t=!1;if("undefined"!=typeof window){var e={get passive(){t=!0}};window.addEventListener("testPassive",null,e),window.removeEventListener("testPassive",null,e)}function d(o){return s.some(function(e){return!(!e.options.allowTouchMove||!e.options.allowTouchMove(o))})}function l(e){var o=e||window.event;return!!d(o.target)||(1<o.touches.length||(o.preventDefault&&o.preventDefault(),!1))}function n(){void 0!==m&&(document.body.style.paddingRight=m,m=void 0),void 0!==v&&(document.body.style.overflow=v,v=void 0)}function i(){if(void 0!==f){var e=-parseInt(document.body.style.top,10),o=-parseInt(document.body.style.left,10);document.body.style.position=f.position,document.body.style.top=f.top,document.body.style.left=f.left,window.scrollTo(o,e),f=void 0}}var c="undefined"!=typeof window&&window.navigator&&window.navigator.platform&&(/iP(ad|hone|od)/.test(window.navigator.platform)||"MacIntel"===window.navigator.platform&&1<window.navigator.maxTouchPoints),s=[],u=!1,a=-1,v=void 0,f=void 0,m=void 0;exports.disableBodyScroll=function(r,e){if(r){if(!s.some(function(e){return e.targetElement===r})){var o={targetElement:r,options:e||{}};s=[].concat(function(e){if(Array.isArray(e)){for(var o=0,t=Array(e.length);o<e.length;o++)t[o]=e[o];return t}return Array.from(e)}(s),[o]),c?window.requestAnimationFrame(function(){if(void 0===f){f={position:document.body.style.position,top:document.body.style.top,left:document.body.style.left};var e=window,o=e.scrollY,t=e.scrollX,n=e.innerHeight;document.body.style.position="fixed",document.body.style.top=-o+"px",document.body.style.left=-t+"px",setTimeout(function(){return window.requestAnimationFrame(function(){var e=n-window.innerHeight;e&&n<=o&&(document.body.style.top=-(o+e))})},300)}}):function(e){if(void 0===m){var o=!!e&&!0===e.reserveScrollBarGap,t=window.innerWidth-document.documentElement.clientWidth;if(o&&0<t){var n=parseInt(window.getComputedStyle(document.body).getPropertyValue("padding-right"),10);m=document.body.style.paddingRight,document.body.style.paddingRight=n+t+"px"}}void 0===v&&(v=document.body.style.overflow,document.body.style.overflow="hidden")}(e),c&&(r.ontouchstart=function(e){1===e.targetTouches.length&&(a=e.targetTouches[0].clientY)},r.ontouchmove=function(e){var o,t,n,i;1===e.targetTouches.length&&(t=r,i=(o=e).targetTouches[0].clientY-a,d(o.target)||(t&&0===t.scrollTop&&0<i||(n=t)&&n.scrollHeight-n.scrollTop<=n.clientHeight&&i<0?l(o):o.stopPropagation()))},u||(document.addEventListener("touchmove",l,t?{passive:!1}:void 0),u=!0))}}else console.error("disableBodyScroll unsuccessful - targetElement must be provided when calling disableBodyScroll on IOS devices.")},exports.clearAllBodyScrollLocks=function(){c&&(s.forEach(function(e){e.targetElement.ontouchstart=null,e.targetElement.ontouchmove=null}),u&&(document.removeEventListener("touchmove",l,t?{passive:!1}:void 0),u=!1),a=-1),(c?i:n)(),s=[]},exports.enableBodyScroll=function(o){o?(s=s.filter(function(e){return e.targetElement!==o}),c&&(o.ontouchstart=null,o.ontouchmove=null,u&&0===s.length&&(document.removeEventListener("touchmove",l,t?{passive:!1}:void 0),u=!1)),(c?i:n)()):console.error("enableBodyScroll unsuccessful - targetElement must be provided when calling enableBodyScroll on IOS devices.")}});

        // 1. Get a target element that you want to persist scrolling for (such as a modal/lightbox/flyout/nav).
        // Specifically, the target element is the one we would like to allow scroll on (NOT a parent of that element).
        // This is also the element to apply the CSS '-webkit-overflow-scrolling: touch;' if desired.
        const targetElement = document.querySelector('#modal-api');

        // 2. ...in some event handler after showing the target element...disable body scroll
        bodyScrollLock.disableBodyScroll(targetElement);

        // 3. ...in some event handler after hiding the target element...
        bodyScrollLock.enableBodyScroll(targetElement);

        // 4. Useful if we have called disableBodyScroll for multiple target elements,
        // and we just want a kill-switch to undo all that.
        bodyScrollLock.clearAllBodyScrollLocks();

        $( function() {

            $( "#accordion-theme" ).accordion({
                active: false,
                collapsible: true,
                heightStyle: "content"
            });


        } );

        $('#ui-style-guide').on('click', 'a', function() {
            var URL = './guide/' + $(this).attr('href');
            $('#ui-component').load(URL).hide().fadeIn('slow');
            return false;
        });

    </script>



</section>


