<div class="grid-x grid-padding-x align-center-middle text-center">
    <div class="cell small-3">
        <img class="thumbnail" src="https://placehold.it/400x400">
    </div>
    <div class="cell small-3">
        <img class="thumbnail" src="https://placehold.it/400x400">
    </div>
    <div class="cell small-3">
        <img class="thumbnail" src="https://placehold.it/400x400">
    </div>
    <div class="cell small-3">
        <img class="thumbnail" src="https://placehold.it/400x400">
    </div>
    <div class="cell small-3">
        <img class="thumbnail" src="https://placehold.it/400x400">
    </div>
    <div class="cell small-3">
        <img class="thumbnail" src="https://placehold.it/400x400">
    </div>
    <div class="cell small-3">
        <img class="thumbnail" src="https://placehold.it/400x400">
    </div>
    <div class="cell small-3">
        <img class="thumbnail" src="https://placehold.it/400x400">
    </div>
</div>
