<{if $xoops_showcblock == 1}>


<div class="grid-x grid-margin-x" data-equalizer data-equalize-on="medium" id="test-eq">


    <{if $xoops_clblocks}>

    <div class="cell medium-4">
        <{foreach item=block from=$xoops_clblocks}>
        <div class="callout" data-equalizer-watch>



            <div class="block-center-left">
                <h4>
                    <{if $xoops_isadmin}>
                    <a href="<{$xoops_url}>/modules/legacy/admin/index.php?action=BlockEdit&amp;bid=<{$block.id}>" class="admin"><{$block.title}></a>
                    <{else}>
                    <{$block.title}>
                    <{/if}>
                </h4>
                <div><{$block.content}></div>
            </div>



        </div>
        <{/foreach}>
    </div>
    <{/if}>



    <{if $xoops_ccblocks}>
    <div class="cell medium-4">
        <{foreach item=block from=$xoops_ccblocks}>
        <div class="callout" data-equalizer-watch>

            <div class="block-center-center">
                <h4>
                    <{if $xoops_isadmin}>
                    <a href="<{$xoops_url}>/modules/legacy/admin/index.php?action=BlockEdit&amp;bid=<{$block.id}>" class="admin"><{$block.title}></a>
                    <{else}>
                    <{$block.title}>
                    <{/if}>
                </h4>
                <div class="block"><{$block.content}></div>
            </div>

        </div>
        <{/foreach}>
    </div>
    <{/if}>


    <{if $xoops_crblocks}>
    <div class="cell medium-4">
        <{foreach item=block from=$xoops_crblocks}>
        <div class="callout" data-equalizer-watch>

            <div class="block-center-right">
                <h4>
                    <{if $xoops_isadmin}>
                    <a href="<{$xoops_url}>/modules/legacy/admin/index.php?action=BlockEdit&amp;bid=<{$block.id}>" class="admin"><{$block.title}></a>
                    <{else}>
                    <{$block.title}>
                    <{/if}>
                </h4>
                <div><{$block.content}></div>
            </div>

        </div>
        <{/foreach}>
    </div>
    <{/if}>

</div>

<hr>

<{/if}>
