<div class="callout large">
    <div class="row column text-center">
        <h1>Changing the World Through Design</h1>
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in dui mauris.</p>
        <a href="#" class="button large">Learn More</a>
        <a href="#" class="button large hollow">Learn Less</a>
    </div>
</div>
