<div class="orbit" role="region" aria-label="Favorite Text Ever" data-orbit>
    <ul class="orbit-container">
        <button class="orbit-previous" aria-label="previous"><span class="show-for-sr">Previous Slide</span>&#9664;</button>
        <button class="orbit-next" aria-label="next"><span class="show-for-sr">Next Slide</span>&#9654;</button>
        <li class="is-active orbit-slide">
            <div class="docs-example-orbit-slide">
                <img src="<{$xoops_imageurl}>img/b-project.jpg" class="rounded mx-auto d-block">
                <p><strong>Web App Platform.</strong>
                    XCL is a Simple, Secure and Scalable open-source content management system.</p>
            </div>
        </li>
        <li class="orbit-slide">
            <div class="docs-example-orbit-slide">
                <img src="<{$xoops_imageurl}>img/b-install.jpg" class="rounded mx-auto d-block">
                <p><strong>Learn more.</strong>
                    Browse portfolio. Free download.</p>
            </div>
        </li>
        <li class="orbit-slide">
            <div class="docs-example-orbit-slide">
                <img src="<{$xoops_imageurl}>img/b-idea.jpg" class="rounded mx-auto d-block">
                <p><strong>Install Wizard.</strong>
                    User-friendly interface to get and deploy modules, themes and extensions</p>
            </div>
        </li>
        <li class="orbit-slide">
            <div class="docs-example-orbit-slide">
                <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img"><rect width="100%" height="100%" fill="#777"/></svg>
                <p><strong>Open Source.</strong>
                    Embedded WYSIWYG HTML Editor, file manager, cloud storage, free choice of frameworks.</p>
            </div>
        </li>
    </ul>
    <nav class="orbit-bullets">
        <button class="is-active" data-slide="0">
            <span class="show-for-sr">First slide details.</span>
            <span class="show-for-sr" data-slide-active-label>Current Slide</span>
        </button>
        <button data-slide="1"><span class="show-for-sr">Second slide details.</span></button>
        <button data-slide="2"><span class="show-for-sr">Third slide details.</span></button>
        <button data-slide="3"><span class="show-for-sr">Fourth slide details.</span></button>
    </nav>
</div>


<!-- -->
<!-- <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img"><rect width="100%" height="100%" fill="#777"/></svg>-->
<!-- -->
<!-- <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img"><rect width="100%" height="100%" fill="#777"/></svg>-->
<!-- -->
<!-- -->




