<div class="cell small-12 flex-container flex-dir-column large-flex-dir-row">


    <div class="callout primary flex-child-auto">
        <img class="thumbnail" src="https://placehold.it/750x350">

        <{if $xoops_showlblock}>
        <{foreach item=block from=$xoops_lblocks name=lbloop}>
        <{if ! $block.title|strstr:"none"}>
        <h4 class="block-title"><{$block.title}></h4>
        <{/if}>
        <div class="btnList">
            <{$block.content}>
        </div>
        <{/foreach}>
        <{/if}>

        <{if $xoops_showrblock}>
        <{foreach item=block from=$xoops_rblocks name=rbloop}>
        <{if ! $block.title|strstr:"none"}>
        <h4 class="block-title"><{$block.title}></h4>
        <{/if}>
        <div class="btnList">
            <{$block.content}>
        </div>
        <{/foreach}>
        <{/if}>

    </div>

    <div class="callout primary flex-child-auto">
        <h2>Our Agency, our selves.</h2>
        <p>Vivamus luctus urna sed urna ultricies ac tempor dui sagittis. In condimentum facilisis porta. Sed nec diam eu diam mattis viverra. Nulla fringilla, orci ac euismod semper, magna diam porttitor mauris, quis sollicitudin sapien justo in libero. Vestibulum mollis mauris enim. Morbi euismod magna ac lorem rutrum elementum. Donec viverra auctor.</p>

        <{if !empty($xoops_contents)}>

        <div class="content"><{$xoops_contents}></div>

        <{else}>

        <{ include file="$xoops_theme/component/inc_block_center_custom.html" }>

        <{/if}>


    </div>

</div><!-- /cell small-12 flex-container -->
