<li class="has-submenu">

    <a href="#0" id="dropdown01">
        <img src="<{$xoops_userid|xoops_user_avatarize}>" width="32px">
        <span class="ml-1"><{user_uname2name uname=$xoops_uname}></span></a>

    <ul class="submenu menu vertical" data-submenu>
        <li><a href="<{$xoops_url}>/user.php"><{$smarty.const._MB_LEGACY_VACNT}></a></li>
        <li><a href="<{$xoops_url}>/edituser.php"><{$smarty.const._MB_LEGACY_EACNT}></a></li>
        <li><a href="<{$xoops_url}>/notifications.php"><{$smarty.const._MB_LEGACY_NOTIF}></a></li>
        <li><a href="<{$block.inbox_url}>"><{$smarty.const._MB_LEGACY_INBOX}><span class="primary badge"><{$block.new_messages}></span></a></li>
        <{if $xoops_isadmin}>
        <li><a href="<{$xoops_url}>/admin.php"><{$smarty.const._MB_LEGACY_ADMENU}></a></li>
        <{/if}>
        <li><a href="<{$xoops_url}>/user.php?op=logout"><{$smarty.const._MB_LEGACY_LOUT}></a></li>
    </ul>

</li>
