<div class="ui-card-overview">

	<div class="ui-card-small">
		<div class="ui-card-small-icon ui-icon-blue">
        <img src="<{"icons/icon-blocks.svg"|theme}>" class="svg">
		</div>
		<div class="ui-card-small-info">
			<h3 class="ui-card-small-title"><{$smarty.const._AD_LEGACY_LANG_BLOCK_TOTAL}>: <strong><{$BlockTotal}></strong></h3>
			<p class="ui-card-small-subtitle"><a href="<{$xoops_url}>/modules/legacy/admin/index.php?action=Help&amp;dirname=legacy"><{$smarty.const._HELP}></a></p>
		</div>
	</div>

	<div class="ui-card-small">
		<div class="ui-card-small-icon ui-icon-green">
        <img src="<{"icons/icon-block-active.svg"|theme}>" class="svg">
		</div>
		<div class="ui-card-small-info">
			<h3 class="ui-card-small-title"><{$smarty.const._AD_LEGACY_LANG_BLOCK_ACTIVETOTAL}>: <strong><{$ActiveBlockTotal}></strong></h3>
			<p class="ui-card-small-subtitle"><{$smarty.const._AD_LEGACY_LANG_BLOCK_INSTALLEDTOTAL}>:
				<strong><{$ActiveInstalledBlockTotal}></strong> &nbsp;|&nbsp;
				<{$smarty.const._AD_LEGACY_LANG_BLOCK_UNINSTALLEDTOTAL}>: <strong><{$ActiveUninstalledBlockTotal}></strong></p>
		</div>
	</div>

	<div class="ui-card-small">
		<div class="ui-card-small-icon ui-icon-red">
        <img src="<{"icons/icon-block-inactive.svg"|theme}>" class="svg">
		</div>
		<div class="ui-card-small-info">
			<h3 class="ui-card-small-title"><{$smarty.const._AD_LEGACY_LANG_BLOCK_INACTIVETOTAL}>: <strong><{$InactiveBlockTotal}></strong></h3>
			<p class="ui-card-small-subtitle"><{$smarty.const._AD_LEGACY_LANG_BLOCK_INSTALLEDTOTAL}>: <strong><{$InactiveInstalledBlockTotal}></strong> &nbsp;|&nbsp;
				<{$smarty.const._AD_LEGACY_LANG_BLOCK_UNINSTALLEDTOTAL}>: <strong><{$InactiveUninstalledBlockTotal}></strong></p>
		</div>
	</div>

	<div class="ui-card-small">
		<div class="ui-card-small-icon ui-icon-orange">
        <img src="<{"icons/icon-block-plus.svg"|theme}>" class="svg">
		</div>
		<div class="ui-card-small-info">
        <p class="ui-card-small-subtitle"><a href="index.php?action=BlockInstallList"><{$smarty.const._AD_LEGACY_LANG_BLOCK_INSTALL}></a></p>
        <p class="ui-card-small-subtitle"><a href="index.php?action=CustomBlockEdit"><{$smarty.const._AD_LEGACY_LANG_ADD_CUSTOM_BLOCK}></a></p>
		</div>
	</div>

</div><{* Module Blocks Overview *}>