<div class="ui-dev-mode"><{$smarty.template}></div>


<{if $mod_config.show_breadcrumbs}>
	<{include file="db:`$mydirname`_inc_breadcrumbs.html"}>
<{/if}>


<h2 id="form_title">
	<{if ! $preview_title && ! $preview_body}>
		<{$formtitle}>
	<{else}>
		<{$smarty.const._PREVIEW}>
	<{/if}>
	<{if $download.title}>: <{$download.title}><{/if}>
</h2>


<{if $iserror}>
	<div class="d3downloads_error_message">
		<{$error_message}>
	</div>
<{/if}>


<{if $preview_title || $preview_body}>
	<dl id="post_preview" class="d3downloads_outer">
		<{if $preview_title}>
			<dt><{$preview_title}></dt>
		<{/if}>
		<{if $preview_body}>
			<dd class="d3downloads_odd"><{$preview_body}></dd>
		<{/if}>
	</dl>
<{/if}>


<form name="makedownloadform" id="makedownloadform" action="<{$mod_url}>/index.php?page=<{$page}>&amp;cid=<{$download.cid}>&amp;lid=<{$download.lid}>" method="post" enctype="multipart/form-data">
	<{$gticket_hidden}>
	<input type="hidden" name="lid" value="<{$download.lid}>">
	<input type="hidden" name="filename" value="<{$download.filename}>">
	<input type="hidden" name="ext" value="<{$download.ext}>">
	<input type="hidden" name="file2" value="<{$download.file2}>">
	<input type="hidden" name="filename2" value="<{$download.filename2}>">
	<input type="hidden" name="ext2" value="<{$download.ext2}>">
	<input type="hidden" name="myencode" value="<{$smarty.const._MD_D3DOWNLOADS_CHARSET}>">
	<input type="hidden" name="ajax_url" id="ajax_url" value="<{$mod_url}>/index.php?page=ajax_load">

	<table class="outer">
		<tr>
			<td><label for="title"><{$smarty.const._MD_D3DOWNLOADS_SUBMIT_TITLE}></label></td>
			<td>
				<input type="text" name="title" id="title" size="50" maxlength="105" value="<{$download.title}>">
			</td>
		</tr>
		<{if $download.lid}>
			<tr>
				<td><label for="postname"><{$smarty.const._MD_D3DOWNLOADS_SUBMIT_POSTNAME}></label></td>
				<td>
					<{$download.postname}>&nbsp;
					<input type="text" name="submitter" id="submitter" size="4" maxlength="10" value="<{$download.submitter}>">&nbsp;<{$smarty.const._MD_D3DOWNLOADS_SUBMIT_UID}>
				</td>
			</tr>
		<{/if}>
		<tr id="file_url_line">
			<td>
				<label for="url"><{$smarty.const._MD_D3DOWNLOADS_SUBMIT_URL}></label></td>
			<td>
				<div id="post_url">
					<input type="text" name="url" id="url" size="90" maxlength="191" value="<{if $download.url}><{$download.url}><{else}>https://<{/if}>">
					<{if $download.url}>
						&nbsp;<{$download.filelink}>
					<{/if}>
					<div class="d3downloads_submit_help">
						<{$smarty.const._MD_D3DOWNLOADS_SUBMIT_URL_DESC}>
					</div>
				</div>
				<{if ! $config_error}>
					<div id="upload">
						<input type="hidden" name="MAX_FILE_SIZE" value="<{$upload_max_filesize}>">
						<input disabled="disabled" type="hidden" name="url" id="url_hidden" value="<{if $download.url}><{$download.url}><{else}>https://<{/if}>">
						<{$smarty.const._MD_D3DOWNLOADS_SUBMIT_FILE1}>
						<input type="file" name="file_upload[]" id="file_upload_1" size="25" maxlength="191">
						<br>
						<{$smarty.const._MD_D3DOWNLOADS_SUBMIT_FILE2}>
						<input type="file" name="file_upload[]" id="file_upload_2" size="25" maxlength="191">
						<br>
						<div id="max_submit_size">
							<div class="d3downloads_submit_help">
								<{$max_submit_size}><br>
								<{$submit_extension}>
							</div>
						</div>
					</div>
					<div>
						<input type="checkbox" id="file_url_onoff">&nbsp;<label for="file_url_onoff"><{$smarty.const._MD_D3DOWNLOADS_LABEL_INPUT_URL}></label>
					</div>
				<{/if}>
			</td>
		</tr>
		<{if $download.filename}>
		<tr>
			<td><label for="filename"><{$smarty.const._MD_D3DOWNLOADS_SUBMIT_FILENAME}></label></td>
			<td>
				<{$download.filenamelink}>
			</td>
		</tr>
		<{/if}>
		<{if $download.filename2}>
		<tr>
			<td><label for="filename2"><{$smarty.const._MD_D3DOWNLOADS_SUBMIT_FILENAME2}></label></td>
			<td>
				<{$download.filenamelink2}>
				<input type="checkbox" name="file2_del" id="file2_del" value="1" <{if $download.file2_del}>checked="checked"<{/if}>>
				<label for="file2_del"><{$smarty.const._DELETE}></label>
			</td>
		</tr>
		<{/if}>
		<tr>
			<td><label for="cid"><{$smarty.const._MD_D3DOWNLOADS_SUBMIT_CATEGORY}></label></td>
			<td>
				<select name="cid" id="cid">
					<{html_options options=$download.category selected=$download.cid}>
				</select>
			</td>
		</tr>
		<tr>
			<td><label for="homepagetitle"><{$smarty.const._MD_D3DOWNLOADS_SUBMIT_HOMEPAGETITLE}></label></td>
			<td>
				<input type="text" name="homepagetitle" id="homepagetitle" size="90" maxlength="260" value="<{if $download.homepagetitle}><{$download.homepagetitle}><{else}><{$defaltsitename}><{/if}>">
			</td>
		</tr>
		<tr>
			<td><label for="homepage"><{$smarty.const._MD_D3DOWNLOADS_SUBMIT_HOMEPAGE}></label></td>
			<td>
				<input type="text" name="homepage" id="homepage" size="90" maxlength="100" value="<{if $download.homepage}><{$download.homepage}><{else}><{$xoopshp}><{/if}>">
				<{if $download.homepage && $download.homepage != "https://"}>
				[<a href="<{$download.homepage}>" target="_blank"><{$smarty.const._MD_D3DOWNLOADS_SUBMIT_ACCESS_URL}></a>]
				<{/if}>
			</td>
		</tr>
		<tr>
			<td><label for="version"><{$smarty.const._MD_D3DOWNLOADS_SUBMIT_VERSION}></label></td>
			<td>
				<input type="text" name="version" id="version" size="10" maxlength="15" value="<{$download.version}>">
			</td>
		</tr>
		<tr>
			<td><label for="size"><{$smarty.const._MD_D3DOWNLOADS_SUBMIT_SIZE}></label></td>
			<td>
				<input type="text" name="size" id="size" size="10" maxlength="12" value="<{$download.size}>"> <{$smarty.const._MD_D3DOWNLOADS_SUBMIT_BYTE}>
				<{if ! $config_error}>
					<div id="submit_size_desc" class="d3downloads_submit_help">
						<{$smarty.const._MD_D3DOWNLOADS_SUBMIT_SIZE_DESC}>
					</div>
				<{/if}>
			</td>
		</tr>
		<tr>
			<td><label for="platform"><{$smarty.const._MD_D3DOWNLOADS_SUBMIT_PLATFORM}></label></td>
			<td>
				<input type="text" name="platform" id="platform" size="50" maxlength="55" value="<{$download.platform}>"><br>
				<select name="select_platform" id="select_platform">
					<{html_options options=$select_platform}>
				</select>
				<select name="delimiter" id="delimiter">
					<option value=" | "><{$smarty.const._MD_D3DOWNLOADS_SUBMIT_DELIMITER}> ( | )</option>
					<option value=" , "><{$smarty.const._MD_D3DOWNLOADS_SUBMIT_DELIMITER}> ( , )</option>
					<option value=" / "><{$smarty.const._MD_D3DOWNLOADS_SUBMIT_DELIMITER}> ( / )</option>
					<option value="  "><{$smarty.const._MD_D3DOWNLOADS_SUBMIT_DELIMITER}> ( <{$smarty.const._MD_D3DOWNLOADS_SUBMIT_SPACE}> )</option>
				</select>
			</td>
		</tr>
		<{if $mod_config.use_license}>
			<tr>
				<td><label for="license"><{$smarty.const._MD_D3DOWNLOADS_SUBMIT_LICENSE}></label></td>
				<td>
					<input type="text" name="license" id="license" size="50" maxlength="191" value="<{$download.license}>">
					<br>
					<select name="select_license" id="select_license">
						<{html_options options=$select_license}>
					</select>
				</td>
			</tr>
		<{/if}>
		<tr>
			<td>
				<label for="description"><{$smarty.const._MD_D3DOWNLOADS_SUBMIT_DESCRIPTION}></label>
				<{if $mod_config.body_editor != "common_fckeditor" && $canhtml}>
				<br>
				<div id="editor_selector" style="display:none;"></div>
				<{/if}>
			</td>
			<td>
				<{assign var=html value=$download.html}>
				<{assign var=br value=$download.br}>
				<{assign var=xcode value=$download.xcode}>
				<{if $body_wysiwyg && $canhtml}>
					<{$body_wysiwyg}>
				<{else}>
					<{if $smarty.const.LEGACY_BASE_VERSION|version_compare:'2.2':'>='}>
						<{if $canhtml && ($html || !$download.description)}>
							<{assign var=editor value=html}>
						<{elseif $xcode}>
							<{assign var=editor value=bbcode}>
						<{else}>
							<{assign var=editor value=none}>
						<{/if}>

						<{xoops_dhtmltarea class=$editor name=desc id=desc cols=60 rows=15 value=$download.description|htmlspecialchars_decode:$smarty.const.ENT_QUOTES editor=$editor}>

						<{if !$download.description && $editor == 'html'}>
							<{assign var=html value=1}>
							<{assign var=br value=0}>
							<{assign var=xcode value=0}>
						<{/if}>
					<{else}>
						<{xoopsdhtmltarea name="desc" id="desc" cols="60" rows="15" value=$download.description"}>
					<{/if}>
				<{/if}>
				<div class="d3downloads_submit_help">
					<{$smarty.const._MD_D3DOWNLOADS_SUBMIT_DESCRIPTION_DESC}>
				</div>
				<select name="current_data_list" id="current_data_list">
					<option value="[title]"><{$smarty.const._MD_D3DOWNLOADS_SUBMIT_TITLE_INSERT}></option>
					<option value="[filename]"><{$smarty.const._MD_D3DOWNLOADS_SUBMIT_FILENAME_INSERT}></option>
					<option value="[filename2]"><{$smarty.const._MD_D3DOWNLOADS_SUBMIT_FILENAME2_INSERT}></option>
					<option value="[expired]"><{$smarty.const._MD_D3DOWNLOADS_SUBMIT_EXPIRED_INSERT}></option>
					<option value="[pagebreak]"><{$smarty.const._MD_D3DOWNLOADS_SUBMIT_PAGEBREAK_INSERT}></option>
				</select>
				<input type="button" name="current_data" id="current_data" class="d3downloads_submit" value="<{$smarty.const._MD_D3DOWNLOADS_SUBMIT_INSERT}>">
			</td>
		</tr>
		<{if $canuseshots}>
			<tr>
				<td><label for="description_image"><{$smarty.const._MD_D3DOWNLOADS_SUBMIT_DESCRIPTION_IMAGE}></label></td>
				<td>
					<select name="description_image" id="description_image">
						<{html_options options=$downimg.img_ar}>
					</select>
					<span style="cursor: pointer" id="description_image_left">
						<img src="<{$xoops_url}>/images/alignleft.gif" alt="<{$smarty.const._MD_D3DOWNLOADS_LEFT}>" title="<{$smarty.const._MD_D3DOWNLOADS_LEFT}>">
					</span>
					<span style="cursor: pointer" id="description_image_center">
						<img src="<{$xoops_url}>/images/aligncenter.gif" alt="<{$smarty.const._MD_D3DOWNLOADS_CENTER}>" title="<{$smarty.const._MD_D3DOWNLOADS_CENTER}>">
					</span>
					<span style="cursor: pointer" id="description_image_right">
						<img src="<{$xoops_url}>/images/alignright.gif" alt="<{$smarty.const._MD_D3DOWNLOADS_RIGHT}>" title="<{$smarty.const._MD_D3DOWNLOADS_RIGHT}>">
					</span>
					<br>
					<div id="show_description_image_line">
						<img src="<{$download.description_image}>" id="show_description_image" width="120" class="d3downloads_imgurl_frame">
					</div>
				</td>
			</tr>
			<tr>
				<td><label for="logourl"><{$smarty.const._MD_D3DOWNLOADS_SUBMIT_LOGOURL}></label></td>
				<td>
					<select name="logourl" id="logourl">
						<{html_options options=$downimg.img_ar selected=$download.logourl}>
					</select>
					<br>
					<{if $shots_help}>
						<div class="d3downloads_submit_help">
						<{$shots_help}>
						</div>
					<{/if}>
					<div id="showlogourl_line">
						<img src="<{$download.shots_link}>" id="showlogourl" width="120" class="d3downloads_imgurl_frame">
					</div>
				</td>
			</tr>
		<{/if}>
		<tr>
			<td><label for="option"><{$smarty.const._MD_D3DOWNLOADS_SUBMIT_OPTION}></label></td>
			<td>
				<{if $canhtml}>
				<input type="checkbox" name="html" id="html" value="1" <{if $html}>checked="checked"<{/if}>>
				<label for="html"><{$smarty.const._MD_D3DOWNLOADS_SUBMIT_HTML}></label>
				<br>
				<{/if}>
				<input type="checkbox" name="smiley" id="smiley" value="1" <{if $download.smiley}>checked="checked"<{/if}>>
				<label for="smiley"><{$smarty.const._MD_D3DOWNLOADS_SUBMIT_SMILEY}></label>
				<br>
				<input type="checkbox" name="br" id="br" value="1" <{if $br}>checked="checked"<{/if}>>
				<label for="br"><{$smarty.const._MD_D3DOWNLOADS_SUBMIT_BR}></label>
				<br>
				<input type="checkbox" name="xcode" id="xcode" value="1" <{if $xcode}>checked="checked"<{/if}>>
				<label for="xcode"><{$smarty.const._MD_D3DOWNLOADS_SUBMIT_XCODE}></label>
				<br>
				<input type="checkbox" name="visible" id="visible" value="1" <{if $download.visible}>checked="checked"<{/if}>>
				<label for="visible"><{$smarty.const._MD_D3DOWNLOADS_SUBMIT_VISIBLE}></label>
				<br>
				<input type="checkbox" name="comment" id="comment" value="1" <{if $download.cancomment}>checked="checked"<{/if}>>
				<label for="comment"><{$smarty.const._MD_D3DOWNLOADS_SUBMIT_COMMENT}></label>
				<br>
			</td>
		</tr>
		<{if $download.filters}>
			<tr>
				<td><label for="filters"><{$smarty.const._MD_D3DOWNLOADS_SUBMIT_FILTERS}></label></td>
				<td>
					<{foreach from=$download.filters key="filter_name" item="filter"}>
					<{$filter.title}>
					<input type="checkbox" name="filter_enabled_<{$filter_name}>" id="filter_enabled_<{$filter_name}>" value="1" <{if $filter.enabled}>checked="checked"<{/if}> <{if $filter.fixed}>disabled="disabled"<{/if}>>
					<{$filter.desc}>
					<br>
					<{/foreach}>
				</td>
			</tr>
		<{/if}>
		<tr>
			<td>
				<label for="extra"><{$smarty.const._MD_D3DOWNLOADS_SUBMIT_EXTRA}></label>
				<br>
				<{$smarty.const._MD_D3DOWNLOADS_SUBMIT_EXTRA_SAMPLE}>
			</td>
			<td>
				<textarea name="extra" id="extra" cols="60" rows="4"><{$download.extra}></textarea>
				<div class="d3downloads_submit_help">
					<{$smarty.const._MD_D3DOWNLOADS_SUBMIT_EXTRA_DESC}>
				</div>
				<{$smarty.const._MD_D3DOWNLOADS_EXTRA_TITLE}> <input id="extra_add_title" size="20" type="text">
				<{$smarty.const._MD_D3DOWNLOADS_EXTRA_DESC}> <input id="extra_add_desc" size="40" type="text">
				<input type="button" name="extra_InsertText" id="extra_InsertText" class="d3downloads_submit" value="<{$smarty.const._MD_D3DOWNLOADS_SUBMIT_INSERT}>">
			</td>
		</tr>
		<tr>
			<td><label for="created"><{$smarty.const._MD_D3DOWNLOADS_CREATED}></label></td>
			<td>
				<input type="checkbox" name="createable" id="createable" value="1" <{if $download.createable}> checked="checked"<{/if}>>
				<label for="createable"><{$smarty.const._MD_D3DOWNLOADS_LABEL_SPECIFY_DATETIME}></label>
				<br>
				<{html_select_date time=$form.created_ start_year="-10" end_year="+10" month_format="%m" day_format="%d" field_order="YMD" time=$download.date field_array="created"}>
				<{html_select_time time=$form.created_ minute_interval="10" display_seconds=false time=$download.date field_array="created"}>
			</td>
		</tr>
		<tr>
			<td><label for="expired"><{$smarty.const._MD_D3DOWNLOADS_EXPIRED}></label></td>
			<td>
				<input type="checkbox" name="expiredable" id="expiredable" value="1" <{if $download.expiredable}> checked="checked"<{/if}>>
				<label for="expiredable"><{$smarty.const._MD_D3DOWNLOADS_LABEL_SPECIFY_DATETIME}></label><br>
				<{html_select_date time=$form.expired_ start_year="-10" end_year="+10" month_format="%m" day_format="%d" field_order="YMD" time=$download.expired field_array="expired"}>
				<{html_select_time time=$form.expired_ minute_interval="10" display_seconds=false time=$download.expired field_array="expired"}>
			</td>
		</tr>
		<tfoot>
		<tr>
			<td></td>
			<td>
				<input type="submit" class="button" name="makedownload_preview" id="makedownload_preview" value="<{$smarty.const._PREVIEW}>">
				<input type="button" class="button" name="back" id="back" value="<{$smarty.const._MD_D3DOWNLOADS_BTN_CANCEL}>">
				<{if $candelete}>
				<input class="button delete" type="submit" name="makedownloadform_delete" id="makedownloadform_delete" value="<{$smarty.const._DELETE}>">
				<{/if}>
				<input type="submit" class="button" name="makedownload_post" id="makedownload_post" value="<{$smarty.const._MD_D3DOWNLOADS_BTN_SUBMITEDITING}>">
			</td>
		</tr>
		</tfoot>
	</table>
</form>

<!-- LiveValidator START -->
<script>
<{$liveValidator}>
</script>
<!-- LiveValidator END -->

<h3><{$smarty.const._MD_D3DOWNLOADS_HISTORY}></h3>

<ul>
<{foreach from=$history item="history"}>
	<li>
		<{$history.history_date}> : <{$history.history_title}>
		<a href="<{$mod_url}>/admin/index.php?page=history&amp;id=<{$history.history_id}>"><{$smarty.const._MD_D3DOWNLOADS_VIEWHISTORY}></a>
	</li>
<{/foreach}>
</ul>

<br>

<{if $copy_select}>
<form name="currentfile_copy" id="currentfile_copy" action="<{$mod_url}>/admin/index.php?page=filecopy" method="post">
	<{$gticket_hidden}>
	<input type="hidden" name="cid" value="<{$download.cid}>">
	<input type="hidden" name="lid" value="<{$download.lid}>">

	<table class="outer">
		<tr>
			<td>
				<select name="copy_mid" id="copy_mid">
					<{html_options options=$copy_select.target_modules}>
				</select>
				<select name="copy_category_id[0]" id="copy_category_id_0">
					<option value="0">----</option>
				</select>
				<{foreach from=$copy_select.category key="target_mid" item="copy_options"}>
					<select name="copy_category_id[<{$target_mid}>]" id="copy_category_id_<{$target_mid}>">
						<option value="0">----</option>
						<{$copy_options}>
					</select>
				<{/foreach}>
				<input type="submit" name="copy" id="copy" value="<{$smarty.const._MD_D3DOWNLOADS_SUBMIT_COPY}>">
			</td>
		</tr>
	</table>
</form>
	<br>
<{/if}>


<{* ------- DELETE BROKEN DOWNLOAD ------- *}>
<form name="delbroken" id="delbroken" action="<{$mod_url}>/admin/index.php?page=delbroken" method="post">
<{$gticket_hidden}>
<input type="hidden" name="cid" value="<{$download.cid}>">
<input type="hidden" name="lid" value="<{$download.lid}>">

<h4><{$totalbroken}></h4>

<table class="outer">
	<thead>
	<tr style="text-align:center; font-size: small">
		<th><span class="d3downloads_bold"><{$smarty.const._MD_D3DOWNLOADS_SENDERNAME}></span></th>
		<th><span class="d3downloads_bold"><{$smarty.const._MD_D3DOWNLOADS_IP}></span></th>
		<th><span class="d3downloads_bold"><{$smarty.const._MD_D3DOWNLOADS_VOTE_DATE}></span></th>
		<th><span class="d3downloads_bold"><{$smarty.const._MD_D3DOWNLOADS_BROKENDEL}></span></th>
	</tr>
	</thead>
	<tbody>
<{if ! $broken}>
	<tr style="text-align:center;">
		<td colspan="4">
			<{$smarty.const._MD_D3DOWNLOADS_NOBROKEN}>
		</td>
	</tr>
<{else}>
	<{foreach from=$broken item=brokendata name=broken}>
	<tr style="text-align:center;">
		<td><{$brokendata.sendername}></td>
		<td><{$brokendata.ip}></td>
		<td><{$brokendata.date}></td>
		<{if $smarty.foreach.broken.iteration == 1}>
		<td rowspan="<{$brokensum}>">
			<input class="button delete" type="submit" name="delbroken_post" id="delbroken_post" value="X">
		</td>
		<{else}>
		<td></td>
		<{/if}>
	</tr>
	<{/foreach}>
<{/if}>
	</tbody>
</table>
</form>

<br>


<{* ------- TOTAL USER VOTE ------- *}>
<form name="delvote" id="delvote" action="<{$mod_url}>/admin/index.php?page=delvote" method="post">
<{$gticket_hidden}>
<input type="hidden" name="cid" value="<{$download.cid}>">
<input type="hidden" name="lid" value="<{$download.lid}>">

<h4><{$totalvotes}></h4>

<table class="outer">
	<thead>
	<tr>
		<th style="text-align:center;" colspan="7">
			<span class="d3downloads_bold"><{$user_totalvote}></span>
		</th>
	</tr>
	<tr style="text-align:center; font-size: small">
		<th><span class="d3downloads_bold"><{$smarty.const._MD_D3DOWNLOADS_USER}></span></th>
		<th><span class="d3downloads_bold"><{$smarty.const._MD_D3DOWNLOADS_IP}></span></th>
		<th><span class="d3downloads_bold"><{$smarty.const._MD_D3DOWNLOADS_RATINGC}></span></th>
		<th><span class="d3downloads_bold"><{$smarty.const._MD_D3DOWNLOADS_MD_USERAVG}></span></th>
		<th><span class="d3downloads_bold"><{$smarty.const._MD_D3DOWNLOADS_MD_TOTALRATE}></span></th>
		<th><span class="d3downloads_bold"><{$smarty.const._MD_D3DOWNLOADS_VOTE_DATE}></span></th>
		<th><span class="d3downloads_bold"><{$smarty.const._DELETE}></span></th>
	</tr>
	</thead>
	<tbody>
	<{if ! $user_vote}>
	<tr style="text-align:center; font-size: small">
		<td colspan="7"><{$smarty.const._MD_D3DOWNLOADS_NOREGVOTES}></td>
	</tr>
	<{else}>
	<{foreach from=$user_vote item="user_vote_data"}>
	<tr style="text-align:center;">
		<td><{$user_vote_data.ratingusername}></td>
		<td><{$user_vote_data.ratinghostname}></td>
		<td><{$user_vote_data.rating}></td>
		<td><{$user_vote_data.useravgrating}></td>
		<td><{$user_vote_data.uservotes}></td>
		<td><{$user_vote_data.ratingtimestamp}></td>
		<td>
			<input class="button delete" type="submit" name="delvote[<{$user_vote_data.id}>]" id="delvote_[<{$user_vote_data.id}>]" value="X">
		</td>
	</tr>
	<{/foreach}>
	<{/if}>
	</tbody>
</table>

<br>


<{* ------- TOTAL GUEST VOTE ------- *}>
<h4><{$guest_totalvote}></h4>

<table class="outer">
	<thead>
	<tr style="text-align:center; font-size: small">
		<th><span class="d3downloads_bold"><{$smarty.const._MD_D3DOWNLOADS_IP}></span></th>
		<th><span class="d3downloads_bold"><{$smarty.const._MD_D3DOWNLOADS_RATINGC}></span></th>
		<th><span class="d3downloads_bold"><{$smarty.const._MD_D3DOWNLOADS_VOTE_DATE}></span></th>
		<th><span class="d3downloads_bold"><{$smarty.const._DELETE}></span></th>
	</tr>
	</thead>
	<tbody>
<{if ! $guest_vote}>
	<tr>
		<td colspan="4">
			<{$smarty.const._MD_D3DOWNLOADS_NOGUESTVOTES}><br>
		</td>
	</tr>
<{else}>
	<{foreach from=$guest_vote item="guest_vote_data"}>
	<tr style="text-align:center;">
		<td><{$guest_vote_data.ratinghostname}></td>
		<td><{$guest_vote_data.rating}></td>
		<td><{$guest_vote_data.ratingtimestamp}></td>
		<td>
			<input class="button delete" type="submit" name="delvote[<{$guest_vote_data.id}>]" id="delvote_[<{$guest_vote_data.id}>]" value="X">
		</td>
	</tr>
	<{/foreach}>
<{/if}>
	</tbody>
</table>
</form>

<script type="text/javascript">
<!--//
file_url_line_initialize() ;

jQuery( function($){
    $( '#makedownloadform_delete' ).click( function(){
		return confirm('<{$smarty.const._MD_D3DOWNLOADS_MSG_CONFIRMDELETECONTENT}>') ;
    });

    $( '#back' ).click( function(){
		location.href="<{$mod_url}>/index.php" ;
    });

    $( '#delbroken_post' ).click( function(){
		return confirm('<{$smarty.const._MD_D3DOWNLOADS_MSG_CONFIRMDELETECONTENT}>') ;
    });

    $id_filter( 'delvote_' , '^=' ).click( function(){
		return confirm('<{$smarty.const._MD_D3DOWNLOADS_MSG_CONFIRMDELETECONTENT}>') ;
    });
});
//-->
</script>

<{if $copy_select}>
<{$copy_select.category_select_showhide}>
<script type="text/javascript">
<!--//
jQuery( function($){
    $( '#copy' ).click( function(){
		infoDom_initialize() ;
		select_check( 'copy_mid' , 'copy_category_id' ) ;
		if( validate_selected == 2 ){
			return confirm('<{$smarty.const._MD_D3DOWNLOADS_CONFIRM_COPY}>') ;
		} else {
			if( validate_selected != 2 ) popup_info( '<{$smarty.const._MD_D3DOWNLOADS_NO_COPY}>' )
			return false ;
		}
    });
});
//-->
</script>
<{/if}>

<{if $downimg.showlogourlselected}>
<{$downimg.showlogourlselected}>
<script type="text/javascript">
<!--//
showlogourlSelected( 'show_description_image' , 'description_image', 'show_description_image_line' , '<{$mod_url}>/index.php?page=ajax_load' ) ;
showlogourlSelected( 'showlogourl' , 'logourl', 'showlogourl_line' , '<{$mod_url}>/index.php?page=ajax_load' ) ;
//--></script>
<{/if}>
