<div class="ui-dev-mode"><{$smarty.template}></div>

<script type="text/javascript" src="<{$mod_url}>/index.php?page=module_header&src=d3downloads.js"></script>

<h2><{$smarty.const._MD_D3DOWNLOADS_H2BROKENMANAGER}> ( <{$total_num}> )</h2>

<{if $iserror}>
	<div class="error">
		<{$error_message}>
	</div>
<{/if}>


<div class="tips">
	<{$smarty.const._MD_D3DOWNLOADS_HELP_BROKENCHECK}>
</div>


<form name="brokenmanager" id="brokenmanager" action="<{$mod_url}>/admin/index.php?page=<{$page}>" method="post">
	<{$gticket_hidden}>

	<{* ////— ACTION-CONTROL —\\\\ *}>
	<section layout="row center-justify" class="action-control">
		<div>

		</div>
		<div class="control-view">
			<a class="button" href="<{$mod_url}>/admin/index.php?page=categoryedit&amp;cid=0">
			<{$smarty.const._MD_D3DOWNLOADS_ADMIN_NEWCATEGORY}></a>
			<button class="help-admin button" type="button" data-id="5" data-module="d3downloads" data-help-article="#help-report" title="<{$smarty.const._HELP}>">
				<b>?</b>
			</button>
		</div>
	</section>



<table class="outer">

	<thead>
	<tr style="text-align:center;">
		<th><{$smarty.const._MD_D3DOWNLOADS_TH_TITLE}></th>
		<th><{$smarty.const._MD_D3DOWNLOADS_TH_REPORT}></th>
		<th nowrap="nowrap">
			<{$smarty.const._MD_D3DOWNLOADS_TH_BROKENDEL}>
			<input type="checkbox" onclick="col_check_on_off( this, 'col_brokendel_' )">
		</th>
		<th style="text-align:right;">
			<{$smarty.const._MD_D3DOWNLOADS_TH_CONTENTSACTIONS}>
			<input type="checkbox" onclick="col_check_on_off( this, 'col_action_' )">
		</th>
	</tr>
	</thead>

	<tbody>
	<{foreach from=$broken.file item="item"}>
		<tr class="<{cycle values="even,odd"}>">
			<td style="vertical-align:middle;">
				<{if ! $item.broken_link}>
					<{$item.filelink}><{$item.title}></a>
				<{else}>
					<{$item.title}>
					<br>
					( <span style="font-size: small; color: #e43140;font-weight: bold;"><{$smarty.const._MD_D3DOWNLOADS_BROKEN_FILE}></span> )
				<{/if}>
				<br>
				<{if $item.filename_link}>
					<{$item.filename_link}><br>
				<{/if}>
				<{if $item.filename_link2}>
					<{$item.filename_link2}><br>
				<{/if}>
			</td>
			<td width="50%" style="text-align:center;vertical-align:middle;">
				<table class="outer">
					<thead>
					<tr>
						<th><{$smarty.const._MD_D3DOWNLOADS_TH_SENDERNAME}></th>
						<th><{$smarty.const._MD_D3DOWNLOADS_TH_IP}></th>
						<th><{$smarty.const._MD_D3DOWNLOADS_TH_REPORTDATE}></th>
					</tr>
					</thead>
					<tbody>
					<{foreach from=$item.report item="broken" name="broken"}>
					<tr>
						<td>
							<{$broken.sendername}>
							<{if $broken.mail_link}><br><{$broken.mail_link}><{/if}>
						</td>
						<td><{$broken.ip}></td>
						<td><{$broken.date}></td>
					</tr>
					<{if $broken.message}>
					<tr>
						<td colspan="3">
							<span style="font-weight: bold;">Message :</span>
							<br><{$broken.message}>
						</td>
					</tr>
					<{/if}>
					<{/foreach}>
					</tbody>
				</table>
				<p>Total : <{$smarty.foreach.broken.total}></p>
			</td>
			<td nowrap="nowrap" style="text-align:center;vertical-align:middle;">
				<input type="checkbox" name="col_brokendel_[<{$item.lid}>]" id="col_brokendel_<{$item.lid}>" value="1">
			</td>
			<td nowrap="nowrap" style="text-align:right;vertical-align:middle;">
				<input type="checkbox" name="action_selects[<{$item.lid}>]" id="col_action_<{$item.lid}>" value="1">
				<a href="<{$mod_url}>/index.php?page=modfile&amp;cid=<{$item.cid}>&amp;lid=<{$item.lid}>">
					<{$smarty.const._EDIT}></a>
				<br>
				<a href="<{$mod_url}>/index.php?page=singlefile&amp;cid=<{$item.cid}>&amp;lid=<{$item.lid}>">
					<{$smarty.const._MD_D3DOWNLOADS_VIEW}></a>
				<br>
					<{$item.postname}>
				<br>
				<span style="font-size: small;"><{$item.updated}></span>
			</td>
		</tr>
	<{/foreach}>
	</tbody>

	<tfoot>
	<tr>
		<td colspan="4" align="center" class="head">
			<input type="submit" name="brokenmanager_update" id="brokenmanager_update" value="<{$smarty.const._SUBMIT}>" tabindex="0">
		</td>
	</tr>
	<tr>
		<td colspan="4" style="text-align:right;">
			<{$smarty.const._MD_D3DOWNLOADS_LABEL_FILECHECKED}>
			<input type="submit" class="button-delete" name="delete" id="delete" value="<{$smarty.const._MD_D3DOWNLOADS_BTN_DELETE}>">
			<input type="submit" name="invisible" id="invisible" value="<{$smarty.const._MD_D3DOWNLOADS_BTN_INVISIBLE}>">
		</td>
	</tr>
	</tfoot>
</table>

	<div class="ui-card-full">
		<div class="tips">
			<{$smarty.const._MD_D3DOWNLOADS_NOLINK_CHECK}> <{$nolinkfile}> Files ( total <{$totalfile}> Files )
		</div>
		<p><input type="submit" name="brokencheck" id="brokencheck" value="<{$smarty.const._MD_D3DOWNLOADS_LABEL_BROKENCHECK}>">
			limit : <input name="limit" size="5" type="text" value="<{$limit}>">&nbsp;offset : <input name="offset" size="5" type="text" value="0">
		</p>
	</div>

</form>



<script type="text/javascript">
$(function (){
	$( '#brokenmanager_update' ).click( function(){
		infoDom_initialize() ;
		col_action_check( 'col_brokendel_' ) ;
		if( validate_checked == 0 ){
			popup_info( '<{$smarty.const._MD_D3DOWNLOADS_ERROR_SEL_REPORT}>' )
			return false ;
		}
    });

	$( '#delete' ).click( function(){
		infoDom_initialize() ;
		col_action_check( 'col_action_' ) ;
		if( validate_checked > 0 ){
			return confirm('<{$smarty.const._MD_D3DOWNLOADS_CONFIRM_DELETE}>') ;
		} else {
			popup_info( '<{$smarty.const._MD_D3DOWNLOADS_ERROR_SEL_FALSE}>' )
			return false ;
		}
    });

	$( '#invisible' ).click( function(){
		infoDom_initialize() ;
		col_action_check( 'col_action_' ) ;
		if( validate_checked > 0 ){
			return confirm('<{$smarty.const._MD_D3DOWNLOADS_CONFIRM_INVISIBLE}>') ;
		} else {
			popup_info( '<{$smarty.const._MD_D3DOWNLOADS_ERROR_SEL_FALSE}>' )
			return false ;
		}
    });

	$( '#brokencheck' ).click( function(){
		return confirm('<{$smarty.const._MD_D3DOWNLOADS_CONFIRM_BROKENCHECK}>') ;
    });
});
</script>
