<div class="ui-dev-mode"><{$smarty.template}></div>

<script type="text/javascript" src="<{$mod_url}>/index.php?page=module_header&src=d3downloads.js"></script>

<h2><{$smarty.const._MD_D3DOWNLOADS_H2CATEGORYMANAGER}></h2>


<{if $iserror}>
	<div class="error">
		<{$error_message}>
	</div>
<{/if}>


<div class="tips">
	<{$smarty.const._MD_D3DOWNLOADS_HELP_CATEGORY_DEL}>
</div>


<form name="categorymanager" id="categorymanager" action="<{$mod_url}>/admin/index.php?page=<{$page}>" method="post">
<{$gticket_hidden}>

	<{* ////— ACTION-CONTROL —\\\\ *}>
	<section layout="row center-justify" class="action-control">
		<div>
			<{$smarty.const._MD_D3DOWNLOADS_LABEL_PERPAGE}>
			<select name="perpage" onchange="submit();">
				<{html_options options=$perpage selected=$select_perpage}>
			</select>
		</div>
		<div class="control-view">
			<a class="button button small" href="<{$mod_url}>/admin/index.php?page=categoryedit&amp;cid=0">
				<{$smarty.const._MD_D3DOWNLOADS_NEWCATEGORYEDITTITLE}>
			</a>
			<button class="help-admin button" type="button" data-id="5" data-module="user" data-help-article="#help-category" title="<{$smarty.const._HELP}>">
				<b>?</b>
			</button>
		</div>

	</section>



<table class="outer">
	<thead>
	<tr>
		<th>
			<{$smarty.const._MD_D3DOWNLOADS_TH_ID}>
		</th>
		<th>
			<{$smarty.const._MD_D3DOWNLOADS_TH_TITLE}>
		</th>
		<th>
			<{$smarty.const._MD_D3DOWNLOADS_TH_WEIGHT}>
		</th>
		<th>
			<{$smarty.const._MD_D3DOWNLOADS_FILES_SUM}>
		</th>
		<th>
			<{$smarty.const._MD_D3DOWNLOADS_SUBCATEGORY_SUM}>
		</th>
		<th>
			<{$smarty.const._MD_D3DOWNLOADS_MAINCATEGORY}>
		</th>
		<th>
			<{$smarty.const._MD_D3DOWNLOADS_CATEGORYIMG}>
		</th>
		<th>
			<{$smarty.const._MD_D3DOWNLOADS_TH_CONTENTSACTIONS}>
			<br>
			<input type="checkbox" onclick="col_check_on_off( this, 'col_action_' )">
		</th>
	</tr>
	</thead>
	<tbody>
	<{foreach from=$category item="mycategory"}>
		<tr style="text-align:center">
			<td>
				<{$mycategory.cid}>
			</td>
			<td nowrap="nowrap">
				<input type="text" size="35" maxlength="191" name="title[<{$mycategory.cid}>]" id="col_title_<{$mycategory.cid}>" value="<{$mycategory.title}>">
				<div id="title_info_<{$mycategory.cid}>" style="display:none;color: #CC0000;font-size:100%;font-weight:bold;margin:2px;padding:2px;"></div>
			</td>
			<td>
				<input type="text" size="3" name="weights[<{$mycategory.cid}>]" id="col_weight_<{$mycategory.cid}>" value="<{$mycategory.cat_weight}>">
			</td>
			<td>
				<{$mycategory.files}>
			</td>
			<td>
				<{$mycategory.subcategory}>
			</td>
			<td>
				<{if $mycategory.parentid}>
					<a href="<{$mod_url}>/admin/index.php?page=categoryedit&amp;cid=<{$mycategory.parentid}>"><{$mycategory.parent_cat}></a>
				<{else}>
					<span>-----</span>
				<{/if}>
			</td>
			<td>
				<{if $mycategory.imgurl != ""}>
					<img src="<{$mycategory.imgurl}>" width="70">
				<{else}>
					<img class="svg" src="<{$xoops_url}>/images/icons/folder.svg" width="20" height="20" alt="folder">
				<{/if}>
			</td>
			<td nowrap="nowrap">
				<input type="checkbox" name="action_selects[<{$mycategory.cid}>]" id="col_action_<{$mycategory.cid}>" value="1">
				<a href="<{$mod_url}>/admin/index.php?page=categoryedit&amp;cid=<{$mycategory.cid}>"><{$smarty.const._EDIT}></a>
				<br>
				<span style="font-size: small;">
					<a href="<{$mod_url}>/admin/index.php?page=categoryedit&amp;cid=0&amp;pid=<{$mycategory.cid}>">
					<{$smarty.const._MD_D3DOWNLOADS_MAKESUBCATEGORY}></a>
					<br>
					<a href="<{$mod_url}>/index.php?cid=<{$mycategory.cid}>"><{$smarty.const._MD_D3DOWNLOADS_VIEW}></a>
				</span>
			</td>
		</tr>
	<{/foreach}>
	</tbody>
	<tfoot>
	<tr>
		<td colspan="8">
			<input type="submit" name="category_update" id="category_update" value="<{$smarty.const._SUBMIT}>" tabindex="0">
		</td>
	</tr>
	<tr>
		<th colspan="8">
			<{$smarty.const._MD_D3DOWNLOADS_LABEL_CATEGORYCHECKED}>
			<input type="submit" class="button-delete" name="delete" id="delete" value="<{$smarty.const._MD_D3DOWNLOADS_BTN_DELETE}>">
			<input type="submit" name="category_top_move" id="category_top_move" value="<{$smarty.const._MD_D3DOWNLOADS_CATEGORY_TOP_MOVE}>">
			<input type="submit" name="category_move" id="category_move" value="<{$smarty.const._MD_D3DOWNLOADS_CATEGORY_MOVE}>">
			<{$smarty.const._MD_D3DOWNLOADS_SEL_CATEGORY}>
			<select name="move_select" id="move_select">
			<{html_options options=$moveselect}>
			</select>
		</th>
	</tr>
	</tfoot>
</table>

	<div class="tips">
		<{$smarty.const._MD_D3DOWNLOADS_CATEGORY_CHECK}>
		<input type="submit" name="category_check" value="<{$smarty.const._SUBMIT}>">
	</div>

</form>

<div class="pagination"><{$pagenav}></div>

<{if $sitemap}>
	<h3><{$smarty.const._MD_D3DOWNLOADS_CATEGORY_TREE}></h3>

	<table class="outer">
		<tr>
			<{foreach from=$sitemap.parent item="parent" key="count"}>
				<td style="width:33%">
					<div>
						<img src="<{$mod_url}>/images/folder.gif" width="18" height="14">
						<a href="<{$mod_url}>/<{$parent.url}>"><{$parent.title}></a>
						<span style="font-size:smaller;">( <{$parent.files}> )</span>
					</div>
					<{foreach from=$parent.child item="child"}>
						<div>
							<a href="<{$mod_url}>/<{$child.url}>"><{$child.title}></a>
							<span style="font-size:smaller;">( <{$child.files}> )</span>
						</div>
					<{/foreach}>
					<div style="font-size:smaller;">
						( <{$smarty.const._MD_D3DOWNLOADS_BCAT_TOTAL}><{$parent.total_files}> )
					</div>
				</td>
		<{if ($count+1) is div by 3}>
				</tr>
			<tr>
		<{/if}>
		  <{/foreach}>
		</tr>
	</table>
<{/if}>

<hr>



<script type="text/javascript">
<!--//
jQuery( function($){
	$( '#category_update' ).click( function(){
		validate_error = 0 ;
		$.each( $id_filter( 'col_title_' , '^=' ), function(){
			var targetId = this.id ;
			var info = 'title_info_' + targetId.slice( 10 ) ;
			var message = '<{$smarty.const._MD_D3DOWNLOADS_SUBJECT|string_format:$smarty.const._FORM_ENTER}>' ;
			validate_error += form_validate_contentform( targetId, info, message ) ;
		});
		return ( validate_error == 0 ) ? true : false ;
    });

    $( '#delete' ).click( function(){
		infoDom_initialize() ;
		col_action_check( 'col_action_' ) ;
		if( validate_checked > 0 ){
			return confirm('<{$smarty.const._MD_D3DOWNLOADS_CONFIRM_CATEGORY_DEL}>') ;
		} else {
			popup_info( '<{$smarty.const._MD_D3DOWNLOADS_ERROR_SEL_CATEGORY}>' )
			return false ;
		}
    });

    $( '#category_top_move' ).click( function(){
		infoDom_initialize() ;
		col_action_check( 'col_action_' ) ;
		if( validate_checked > 0 ){
			return confirm('<{$smarty.const._MD_D3DOWNLOADS_CONFIRMCATEGORY_TOP_MOVE}>') ;
		} else {
			popup_info( '<{$smarty.const._MD_D3DOWNLOADS_ERROR_SEL_CATEGORY}>' )
			return false ;
		}
    });

    $( '#category_move' ).click( function(){
		infoDom_initialize() ;
		col_action_check( 'col_action_' ) ;
		select_check( 'move_select' ) ;
		if( validate_checked > 0 && validate_selected > 0 ){
			return confirm('<{$smarty.const._MD_D3DOWNLOADS_CONFIRMCATEGORY_MOVE}>') ;
		} else {
			popup_info( '<{$smarty.const._MD_D3DOWNLOADS_ERROR_SEL_CATEGORY}>' )
			return false ;
		}
    });
});
//-->
</script>
