<div class="ui-dev-mode"><{$smarty.template}></div>

<script type="text/javascript" src="<{$mod_url}>/index.php?page=module_header&src=d3downloads.js"></script>


<h2><{$formtitle}> </h2>


<{if $iserror}>
	<div class="error">
		<{$error_message}>
	</div>
<{/if}>


<{if $parentid == 0}>
<div class="tips">
	<{$smarty.const._MD_D3DOWNLOADS_HELP_USERACCESS}>
</div>
<{/if}>


<form name="user_access" id="user_access" action="<{$mod_url}>/admin/index.php?page=<{$page}>" method="post">
	<{$gticket_hidden}>


	<{* ////— ACTION-CONTROL —\\\\ *}>
	<section layout="row center-justify" class="action-control">
		<div>
			<{$smarty.const._MD_D3DOWNLOADS_SEL_CATEGORY}>
			<select name="category_select" onchange="submit();">
				<{html_options options=$categoryselect selected=$select_cid}>
			</select>
			<span self="ml-2"><{$category_tree}></span>
		</div>
		<div class="control-view">
			<a class="button" href="<{$mod_url}>/admin/index.php?page=categoryedit&amp;cid=0">
				<{$smarty.const._MD_D3DOWNLOADS_ADMIN_NEWCATEGORY}></a>
			<a class="button" href="<{$mod_url}>/admin/index.php?page=categoryedit&amp;cid=<{$select_cid}>">
				<{$smarty.const._MD_D3DOWNLOADS_CAT_EDIT}></a>
			<a class="button" href="<{$mod_url}>/index.php?cid=<{$select_cid}>">
				<{$smarty.const._MD_D3DOWNLOADS_CAT_VISIBLE}></a>
			<button class="help-admin button" type="button" data-id="5" data-module="d3downloads" data-help-article="#help-permission" title="<{$smarty.const._HELP}>">
				<b>?</b>
			</button>
		</div>

	</section>


	<table class="outer">
		<thead>
		<tr style="text-align:center;font-size: small;">
			<th colspan="2">
				<{$smarty.const._MD_D3DOWNLOADS_TH_GROUPNAME}><br>
			</th>
			<th>
				<{$smarty.const._MD_D3DOWNLOADS_TH_CAN_READ}><br>
				<{if $parentid == 0}>
					<input type="checkbox" onclick="col_check_on_off( this, 'gcol_1_' )">
				<{/if}>
			</th>
			<th>
				<{$smarty.const._MD_D3DOWNLOADS_TH_CAN_POST}><br>
				<{if $parentid == 0}>
					<input type="checkbox" onclick="col_check_on_off( this, 'gcol_2_' )">
				<{/if}>
			</th>
			<th>
				<{$smarty.const._MD_D3DOWNLOADS_TH_CAN_EDIT}><br>
				<{if $parentid == 0}>
					<input type="checkbox" onclick="col_check_on_off( this, 'gcol_3_' )">
				<{/if}>
			</th>
			<th>
				<{$smarty.const._MD_D3DOWNLOADS_TH_CAN_DELETE}><br>
				<{if $parentid == 0}>
					<input type="checkbox" onclick="col_check_on_off( this, 'gcol_4_' )">
				<{/if}>
			</th>
			<th>
				<{$smarty.const._MD_D3DOWNLOADS_TH_POST_AUTO_APPROVED}><br>
				<{if $parentid == 0}>
					<input type="checkbox" onclick="col_check_on_off( this, 'gcol_5_' )">
				<{/if}>
			</th>
			<th>
				<{$smarty.const._MD_D3DOWNLOADS_TH_EDIT_AUTO_APPROVED}><br>
				<{if $parentid == 0}>
					<input type="checkbox" onclick="col_check_on_off( this, 'gcol_6_' )">
				<{/if}>
			</th>
			<th>
				<{$smarty.const._MD_D3DOWNLOADS_TH_CAN_HTML}><br>
				<{if $parentid == 0}>
					<input type="checkbox" onclick="col_check_on_off( this, 'gcol_7_' )">
				<{/if}>
			</th>
			<th>
				<{$smarty.const._MD_D3DOWNLOADS_TH_CAN_UPLOAD}><br>
				<{if $parentid == 0}>
					<input type="checkbox" onclick="col_check_on_off( this, 'gcol_8_' )">
				<{/if}>
			</th>
			<{if $parentid == 0 && $copy_select|@count > 1}>
				<th>
					<{$smarty.const._MD_D3DOWNLOADS_SEL_GROUP}><br>
					<input type="checkbox" onclick="col_check_on_off( this, 'col_action_g_' )">
				</th>
			<{/if}>
		</tr>
		</thead>
		<tbody>
			<{$group_trs}>
		</tbody>
		<tfoot>
		<{if $parentid == 0}>
			<tr>
				<td colspan="11" align="center" class="head">
					<input type="submit" name="group_update" value="<{$smarty.const._SUBMIT}>">
				</td>
			</tr>
			<{if $copy_select|@count > 1}>
				<tr>
					<th colspan="11">
						<{$smarty.const._MD_D3DOWNLOADS_LABEL_GROUP_CHECKED}><br>
						<input type="submit" name="all_group_copy" id="all_group_copy" value="<{$smarty.const._MD_D3DOWNLOADS_ALL_USERACCESS_COPY}>">
						<input type="submit" name="group_copy" id="group_copy" value="<{$smarty.const._MD_D3DOWNLOADS_USERACCESS_COPY}>">
						<{$smarty.const._MD_D3DOWNLOADS_SEL_CATEGORY}>
						<select name="copy_select_group" id="copy_select_group">
							<{html_options options=$copy_select}>
						</select>
					</th>
				</tr>
			<{/if}>
		<{/if}>
		</tfoot>
	</table>

	<{if $user_trs}><hr><{/if}>

	<{if $parentid == 0 || ( $parentid != 0 && $user_trs)}>

	<h2><{$smarty.const._MD_D3DOWNLOADS_H2USERACCESS}></h2>

	<{if $parentid == 0}>
	<div class="tips">
		<{$smarty.const._MD_D3DOWNLOADS_HELP_USERACCESS_USER}>
	</div>
	<{* else *}>


	<{/if}>

		<table class="outer">
			<thead>
			<tr>
				<th><{$smarty.const._MD_D3DOWNLOADS_TH_UID}></th>
				<th colspan="2"><{$smarty.const._MD_D3DOWNLOADS_TH_UNAME}></th>
				<th>
					<{$smarty.const._MD_D3DOWNLOADS_TH_CAN_READ}>
					<{if $parentid == 0}>
						<input type="checkbox" onclick="col_check_on_off( this, 'ucol_1_' );col_check_on_off( this, 'ncol_1_' );">
					<{/if}>
				</th>
				<th>
					<{$smarty.const._MD_D3DOWNLOADS_TH_CAN_POST}>
					<{if $parentid == 0}>
						<input type="checkbox" onclick="col_check_on_off( this, 'ucol_2_' );col_check_on_off( this, 'ncol_2_' );">
					<{/if}>
				</th>
				<th>
					<{$smarty.const._MD_D3DOWNLOADS_TH_CAN_EDIT}>
					<{if $parentid == 0}>
						<input type="checkbox" onclick="col_check_on_off( this, 'ucol_3_' );col_check_on_off( this, 'ncol_3_' );">
					<{/if}>
				</th>
				<th>
					<{$smarty.const._MD_D3DOWNLOADS_TH_CAN_DELETE}>
					<{if $parentid == 0}>
						<input type="checkbox" onclick="col_check_on_off( this, 'ucol_4_' );col_check_on_off( this, 'ncol_4_' );">
					<{/if}>
				</th>
				<th>
					<{$smarty.const._MD_D3DOWNLOADS_TH_POST_AUTO_APPROVED}>
					<{if $parentid == 0}>
						<input type="checkbox" onclick="col_check_on_off( this, 'ucol_5_' );col_check_on_off( this, 'ncol_5_' );">
					<{/if}>
				</th>
				<th>
					<{$smarty.const._MD_D3DOWNLOADS_TH_EDIT_AUTO_APPROVED}>
					<{if $parentid == 0}>
						<input type="checkbox" onclick="col_check_on_off( this, 'ucol_6_' );col_check_on_off( this, 'ncol_6_' );">
					<{/if}>
				</th>
				<th>
					<{$smarty.const._MD_D3DOWNLOADS_TH_CAN_HTML}>
					<{if $parentid == 0}>
						<input type="checkbox" onclick="col_check_on_off( this, 'ucol_7_' );col_check_on_off( this, 'ncol_7_' );">
					<{/if}>
				</th>
				<th>
					<{$smarty.const._MD_D3DOWNLOADS_TH_CAN_UPLOAD}>
					<{if $parentid == 0}>
						<input type="checkbox" onclick="col_check_on_off( this, 'ucol_8_' );col_check_on_off( this, 'ncol_8_' );">
					<{/if}>
				</th>
				<{if $parentid == 0 && $copy_select|@count > 1}>
					<th style="text-align:right;">
						<{$smarty.const._MD_D3DOWNLOADS_SEL_USER}>
						<input type="checkbox" onclick="col_check_on_off( this, 'col_action_u_' );col_check_on_off( this, 'new_col_action_u_' );">
					</th>
				<{/if}>
			</tr>
			</thead>
			<tbody>
			<{$user_trs}>
			</tbody>
			<tfoot>
			<{if $parentid == 0}>
				<{$newuser_trs}>
				<tr>
					<td colspan="12" align="center" class="head">
						<input type="submit" name="user_update" value="<{$smarty.const._SUBMIT}>">
					</td>
				</tr>
				<{if $copy_select|@count > 1}>
					<tr>
						<th colspan="12">
							<{$smarty.const._MD_D3DOWNLOADS_LABEL_USER_CHECKED}>
							<br>
							<input type="submit" name="all_user_copy" id="all_user_copy" value="<{$smarty.const._MD_D3DOWNLOADS_ALL_USERACCESS_COPY}>">
							<input type="submit" name="user_copy" id="user_copy" value="<{$smarty.const._MD_D3DOWNLOADS_USERACCESS_COPY}>">
							<{$smarty.const._MD_D3DOWNLOADS_SEL_CATEGORY}>
							<select name="copy_select_user" id="copy_select_user">
								<{html_options options=$copy_select}>
							</select>
						</th>
					</tr>
				<{/if}>
			<{/if}>
			</tfoot>
		</table>
	<{/if}>
</form>


<script type="text/javascript">
<!--//
jQuery( function($){
    $( '#all_group_copy' ).click( function(){
		infoDom_initialize() ;
		col_action_check( 'col_action_g_' ) ;
		if( validate_checked > 0 ){
			return confirm('<{$smarty.const._MD_D3DOWNLOADS_CONFIRM_ALL_USERACCESS_COPY}>') ;
		} else {
			popup_info( '<{$smarty.const._MD_D3DOWNLOADS_ERROR_SEL_GROUP}>' )
			return false ;
		}
    });

    $( '#group_copy' ).click( function(){
		infoDom_initialize() ;
		col_action_check( 'col_action_g_' ) ;
		select_check( 'copy_select_group' ) ;
		if( validate_checked > 0 && validate_selected > 0 ){
			return confirm('<{$smarty.const._MD_D3DOWNLOADS_CONFIRM_USERACCESS_COPY}>') ;
		} else {
			if( validate_checked  == 0 ) popup_info( '<{$smarty.const._MD_D3DOWNLOADS_ERROR_SEL_GROUP}>' )
			if( validate_selected == 0 ) popup_info( '<{$smarty.const._MD_D3DOWNLOADS_ERROR_SEL_CATEGORY}>' )
			return false ;
		}
    });

    $( '#all_user_copy' ).click( function(){
		infoDom_initialize() ;
		col_action_check( 'col_action_u_' , 'new_col_action_u_' ) ;
		if( validate_checked > 0 ){
			return confirm('<{$smarty.const._MD_D3DOWNLOADS_CONFIRM_ALL_USERACCESS_COPY}>') ;
		} else {
			popup_info( '<{$smarty.const._MD_D3DOWNLOADS_ERROR_SEL_USER}>' )
			return false ;
		}
    });

    $( '#user_copy' ).click( function(){
		infoDom_initialize() ;
		col_action_check( 'col_action_u_' , 'new_col_action_u_' ) ;
		select_check( 'copy_select_user' ) ;
		if( validate_checked > 0 && validate_selected > 0 ){
			return confirm('<{$smarty.const._MD_D3DOWNLOADS_CONFIRM_USERACCESS_COPY}>') ;
		} else {
			if( validate_checked  == 0 ) popup_info( '<{$smarty.const._MD_D3DOWNLOADS_ERROR_SEL_USER}>' )
			if( validate_selected == 0 ) popup_info( '<{$smarty.const._MD_D3DOWNLOADS_ERROR_SEL_CATEGORY}>' )
			return false ;
		}
    });
});
//-->
</script>
