<div class="ui-dev-mode"><{$smarty.template}></div>


<{* ----- CATEGORY TREE ----- *}>
<{if $categories}>

<table class="d3downloads_categories">
	<tr>
	<{foreach from=$categories item=cat key=count}>
		<td class="d3downloads_categories">
			<{if $cat.imgurl != ""}>
				<a href="<{$mod_url}>/index.php?cid=<{$cat.cid}><{$cat_arg}>">
				<img src="<{$cat.imgurl}>" width="20" height="20" alt="<{$cat.title}>" title="<{$cat.title}>"></a>
			<{else}>
				<a href="<{$mod_url}>/index.php?cid=<{$cat.cid}><{$cat_arg}>">
				<img class="svg" src="<{$xoops_url}>/images/icons/folder.svg" width="20" height="20" alt="<{$cat.title}>" title="<{$cat.title}>"></a>
			<{/if}>
		</td>

		<td class="d3downloads_categories" width="33%">
			<a href="<{$mod_url}>/index.php?cid=<{$cat.cid}><{$cat_arg}>"><{$cat.title}></a>
			<span class="badge"><{$cat.subcat_total}></span>

			<{* -----Capture LIST | RSS | ATOM
			<{capture name="rss"}>
			<a href="<{$mod_url}>/index.php?page=filelist&amp;cid=<{$subcat.cid}><{if $intree}>&amp;intree=<{$intree}><{/if}>">[<{$smarty.const._MD_D3DOWNLOADS_FILELIST}>]</a>
			<a href="<{$mod_url}>/rss.php?cid=<{$subcat.cid}><{if $intree}>&amp;intree=<{$intree}><{/if}>">[RSS]</a>
			<!-- ATOM Correction for category is required -->
			<a href="<{$mod_url}>/index.php?page=atom&amp;cid=<{$subcat.cid}><{if $intree}>&amp;intree=<{$intree}><{/if}>">[ATOM]</a>
			<!-- RDF Correction for category is required -->
			<a href="<{$mod_url}>/index.php?page=rdf&amp;cid=<{$subcat.cid}><{if $intree}>&amp;intree=<{$intree}><{/if}>">[RDF]</a>
			<{/capture}>
			----- *}>

			<br>

			<{foreach from=$cat.subcategories item=subcat}>
			<{if $subcat.number_of_subcat}>
				<a href="<{$mod_url}>/index.php?cid=<{$subcat.cid}><{$cat_arg}>">
					<img class="svg" src="<{$xoops_url}>/images/icons/folder.svg" width="16" height="16" alt="<{$subcat.title}>" title="<{$subcat.title}>">
				</a>
				<a href="<{$mod_url}>/index.php?cid=<{$subcat.cid}><{$cat_arg}>"><{$subcat.title}></a>
				<span class="badge"><{$subcat.subcat_total}></span>
				<img class="svg" src="<{$xoops_url}>/images/icons/folder.svg" width="16" height="16" alt="folder">

			<{* ----- LIST | RSS | ATOM
			<{if trim($smarty.capture.rss)}>
			<{$smarty.capture.rss}>
			<{/if}>
			 ----- *}>

			<br>
			<{else}>
				<a href="<{$mod_url}>/index.php?cid=<{$subcat.cid}><{$cat_arg}>">
					<img class="svg" src="<{$xoops_url}>/images/icons/folder.svg" width="16" height="16" alt="<{$subcat.title}>" title="<{$subcat.title}>">
				</a>
				<a href="<{$mod_url}>/index.php?cid=<{$subcat.cid}><{$cat_arg}>"><{$subcat.title}></a>
				<span class="badge"><{$subcat.subcat_total}></span>

			<{* ----- LIST | RSS | ATOM
			<{if trim($smarty.capture.rss)}>
			<{$smarty.capture.rss}>
			<{/if}>
			----- *}>

			<br>
			<{/if}>
			<{/foreach}>

			<{if $cat.subcategories}>
				<div class="d3downloads_bcat_total">
					[ <{$smarty.const._MD_D3DOWNLOADS_BCAT_TOTAL}><{$cat.bcat_total}> ]
				</div>
			<{/if}>
		</td>
	<{if ($count+1) is div by 3}>
	</tr>
	<tr>
	<{/if}>
		<{/foreach}>
	</tr>
</table>
<{/if}>
