<div class="ui-dev-mode"><{$smarty.template}></div>


<{if $mod_config.show_breadcrumbs}>
	<{include file="db:`$mydirname`_inc_breadcrumbs.html"}>
<{/if}>



<{* CATEGORY CUSTOM IMAGE *}>
<{if $cat_image_url != "https://"}>
<img src="<{$cat_image_url}>" width="50" height="auto" alt="category image">
<{else}>
<img class="svg" src="<{$xoops_url}>/images/icons/folder.svg" width="20" height="20" alt="folder">
<{/if}>

<{if $mylink}>
<span class="d3downloads_mylink_info">1234567 <{$smarty.const._MD_D3DOWNLOADS_MYLINK_INFO}></span>
<{/if}>

<{* ----- CATEGORY DESCRIPTION ----- *}>

<{if $category_id && ! $mylink}>
<section layout="column my-4" class="category-top">

	<div layout="rows center-justify">
	<h3>
		<img class="svg folder" src="<{$xoops_url}>/images/icons/folder.svg" width="1em" height="1em" alt="<{$smarty.const._MD_D3DOWNLOADS_CATEGORY}>">
		<{$cat_title}>
	</h3>

	<{if $category_id}>
		<{* <a href="<{$mod_url}>/index.php?page=rdf&amp;cid=<{$category_id}><{if $intree}>&amp;intree=<{$intree}><{/if}><{if $mylink}>&amp;mylink=<{$mylink}><{/if}>">[RDF]</a> *}>
	<a href="<{$mod_url}>/rss.php?cid=<{$category_id}><{if $intree}>&amp;intree=<{$intree}><{/if}><{if $mylink}>&amp;mylink=<{$mylink}><{/if}>">
		<img class="svg" src="<{$xoops_url}>/images/icons/rss.svg" width="1em" height="1em" alt="RSS">
	</a>
		<{* <a href="<{$mod_url}>/index.php?page=atom&amp;cid=<{$category_id}><{if $intree}>&amp;intree=<{$intree}><{/if}><{if $mylink}>&amp;mylink=<{$mylink}><{/if}>">[ATOM]</a> *}>
		<{* <a href="<{$mod_url}>/index.php?page=filelist&amp;cid=<{$category_id}><{if $intree}>&amp;intree=<{$intree}><{/if}>">[<{$smarty.const._MD_D3DOWNLOADS_FILELIST}>]</a> *}>
	<{/if}>
	</div>

	<{if $cat_description}>
		<div self="p-2 my-4">
		<{$cat_description}>
		</div>
	<{/if}>

	<{if $module_admin}>
		<div layout="row p-2 my-4" class="activity permissions">
			<a class="ui-button" href="#details_info" title="<{$smarty.const._MD_D3DOWNLOADS_LABEL_READ_INFO}>">
				↧ <{$smarty.const._MD_D3DOWNLOADS_LABEL_READ_INFO}>
			</a>
			<{$canread_info}>
		</div>
	<{/if}>




	<{if $can_post || $module_admin}>
		<{* ////— ACTION-CONTROL —\\\\ *}>
		<section layout="row center-left" class="action-control">

			<{if $module_admin}>
				<a class="ui-button" href="<{$mod_url}>/admin/index.php?page=categoryedit&amp;cid=<{$category_id}>">
					<{$smarty.const._MD_D3DOWNLOADS_CAT_EDIT}>
				</a>
				<{$useraccess_edit}>
			<{/if}>

			<{if $can_post}>
				<a class="ui-button" href="<{$mod_url}>/index.php?page=submit&amp;cid=<{$category_id}>">
					<{$smarty.const._MD_D3DOWNLOADS_SUBMIT}> <{$smarty.const._MD_D3DOWNLOADS_NEWSUBMIT}>
				</a>
			<{/if}>
		</section>

	<{elseif $mylink}>
	<form name="delmylink" id="delmylink" action="<{$mod_url}>/index.php?page=mylink" method="post">
		<div class="d3downloads_submitlink">
			<input type="submit" class="d3downloads_submit" name="del_allmylink" id="del_allmylink" value="<{$smarty.const._MD_D3DOWNLOADS_DELALL_MYLINK}>" onclick="return confirm('<{$smarty.const._MD_D3DOWNLOADS_MSG_CONFIRMDELETECONTENT}>')">
		</div>
	</form>
	<{/if}>

	</section>
<{/if}>




<{* ----- SELECT CATEGORY ----- *}>
<form name="cid_select" action="<{$mod_url}>/index.php?cid=<{$category_id}>" method="get">
	<div layout="row center-justify p-2 my-4 sm-column" class="activity">
		<div self="px-2">
			<input name="orderby" value="<{$orderby}>" type="hidden">
			<{if ! $mypost}>
				<select name="cid" onchange="submit();">
				<{if $mylink}><option value=""><{$lang_directcatsel}></option><{/if}>
				<{html_options options=$category selected=$category_id}>
				</select>
			<{else}>
				<select name="submitter" onchange="submit();">
				<{html_options options=$submitter_select selected=$submitter}>
				</select>
			<{/if}>
			<{if $category_id}>
			<select name="intree" onchange="submit();">
				<{html_options options=$select_intree selected=$intree}>
			</select>
			<{/if}>
			<span><{$download_total_num}></span>
			<{if $module_admin && $invisible_num && ! $mypost}>
			<span data-before-text="<{$invisible_num}>" data-before-type="blue pill">
				<a href="<{$invisible_link}>"><{$smarty.const._MD_D3DOWNLOADS_INVISIBLE_NUM}></a>
			</span>
			<{/if}>
			<{if $mylink}>
			<input name="page" value="mylink" type="hidden">
			<{/if}>
		</div>
		<div self="px-2">
			<{$smarty.const._MD_D3DOWNLOADS_LABEL_PERPAGE}>
			<select name="perpage" onchange="submit();">
				<{html_options options=$perpage selected=$select_perpage}>
			</select>
		</div>
	</div>
</form>


<{* ----- SORT FILTER ----- *}>
<div class="d3downloads_sortedby">
	<{$smarty.const._MD_D3DOWNLOADS_SORTBY}> <{$smarty.const._MD_D3DOWNLOADS_TITLE}>
	(<a href="<{$argument}>&amp;orderby=titleA"><img src="images/up.gif" border="0" align="middle" alt=""></a>
	<a href="<{$argument}>&amp;orderby=titleD"><img src="images/down.gif" border="0" align="middle" alt=""></a>)&nbsp;
	<{$smarty.const._MD_D3DOWNLOADS_DATE}>
	(<a href="<{$argument}>&amp;orderby=dateA"><img src="images/up.gif" border="0" align="middle" alt=""></a>
	<a href="<{$argument}>&amp;orderby=dateD"><img src="images/down.gif" border="0" align="middle" alt=""></a>)&nbsp;
	<{$smarty.const._MD_D3DOWNLOADS_RATING}>
	(<a href="<{$argument}>&amp;orderby=ratingA"><img src="images/up.gif" border="0" align="middle" alt=""></a>
	<a href="<{$argument}>&amp;orderby=ratingD"><img src="images/down.gif" border="0" align="middle" alt=""></a>)&nbsp;
	<{$smarty.const._MD_D3DOWNLOADS_DOWNSUM}>
	(<a href="<{$argument}>&amp;orderby=hitsA"><img src="images/up.gif" border="0" align="middle" alt=""></a>
	<a href="<{$argument}>&amp;orderby=hitsD"><img src="images/down.gif" border="0" align="middle" alt=""></a>)
	<br>
	<small><{$lang_cursortedby}></small>
</div>



<{* ----- CATEGORY TREE ----- *}>

<{include file="db:`$mydirname`_inc_viewcat.html"}>


<{* ----- LIST FILES ----- *}>
	<section layout="column mt-6" id="category-downloads-list">

	<{if $file}>
		<!-- Start link loop -->
		<{section name=i loop=$file}>
			<div self="mb-6" class="category-top">
				<{include file="db:`$mydirname`_inc_download.html" down=$file[i]}>
			</div>
		<{/section}>
		<!-- End link loop -->
	<{else}>
		<div class="resultMsg"><{$smarty.const._MD_D3DOWNLOADS_NOMATCH}></div>
	<{/if}>

	</section>


<{* ----- PERMISSIONS ----- *}>

<{if $module_admin && $category_id && ! $mylink}>
<hr>

<h3 id="details_info"><{$smarty.const._MD_D3DOWNLOADS_LABEL_READ_INFO}></h3>

	<table class="outer">
		<thead>
		<tr style="text-align:center;font-size: small;">
			<th colspan="2"><{$smarty.const._MD_D3DOWNLOADS_GROUPNAME}></th>
			<th><{$smarty.const._MD_D3DOWNLOADS_CAN_READ_INFO}></th>
			<th><{$smarty.const._MD_D3DOWNLOADS_CAN_POST_INFO}></th>
			<th><{$smarty.const._MD_D3DOWNLOADS_CAN_EDIT_INFO}></th>
			<th><{$smarty.const._MD_D3DOWNLOADS_CAN_DELETE_INFO}></th>
			<th><{$smarty.const._MD_D3DOWNLOADS_POST_AUTO_APPROVED_INFO}></th>
			<th><{$smarty.const._MD_D3DOWNLOADS_EDIT_AUTO_APPROVED_INFO}></th>
			<th><{$smarty.const._MD_D3DOWNLOADS_CAN_HTML_INFO}></th>
			<th><{$smarty.const._MD_D3DOWNLOADS_CAN_UPLOAD_INFO}></th>
		</tr>
		</thead>
		<tbody>
		<{$group_trs}>
		</tbody>
	</table>

	<{if $user_trs}>
	<table class="outer">
		<thead>
		<tr style="text-align:center;font-size: small;">
			<th><{$smarty.const._MD_D3DOWNLOADS_UID}></th>
			<th colspan="2"><{$smarty.const._MD_D3DOWNLOADS_UNAME}></th>
			<th><{$smarty.const._MD_D3DOWNLOADS_CAN_READ_INFO}></th>
			<th><{$smarty.const._MD_D3DOWNLOADS_CAN_POST_INFO}></th>
			<th><{$smarty.const._MD_D3DOWNLOADS_CAN_EDIT_INFO}></th>
			<th><{$smarty.const._MD_D3DOWNLOADS_CAN_DELETE_INFO}></th>
			<th><{$smarty.const._MD_D3DOWNLOADS_POST_AUTO_APPROVED_INFO}></th>
			<th><{$smarty.const._MD_D3DOWNLOADS_EDIT_AUTO_APPROVED_INFO}></th>
			<th><{$smarty.const._MD_D3DOWNLOADS_CAN_HTML_INFO}></th>
			<th><{$smarty.const._MD_D3DOWNLOADS_CAN_UPLOAD_INFO}></th>
		</tr>
		</thead>
		<tbody>
		<{$user_trs}>
		</tbody>
		<tfoot>
		<tr>
			<td colspan="11">
				<{$useraccess_edit}>
			</td>
		</tr>
		</tfoot>
	</table>
	<{/if}>

<{/if}>


<{* ----- PAGINATION ----- *}>
<div class="pagination"><{$pagenav}></div>


<{* ----- NOTIFICATION ----- *}>
<hr>
<{if $category_id && ! $mylink}>
	<{include file='db:legacy_notification_select.html'}>
<{/if}>
