<div class="ui-dev-mode"><{$smarty.template}></div>


<{if $mod_config.show_breadcrumbs}>
	<{include file="db:`$mydirname`_inc_breadcrumbs.html"}>
<{/if}>


<h3><{$lang_reportbroken}> : <{$down.title}></h3>

<p><{$lang_thanksforhelp}></p>

<div class="resultMsg">
	<{$lang_forsecurity}>
</div>


	<form name="brokenreport" id="brokenreport" action="<{$mod_url}>/index.php?page=<{$page}>&amp;lid=<{$down.lid}>" method="POST">

		<{if $error_message}>
			<div class="errorMsg">
				<{$error_message}>
			</div>
		<{/if}>

		<input type="hidden" name="auth" id="auth" value="enable">
		<input type="hidden" name="lid" id="lid" value="<{$down.lid}>">
		<input type="hidden" name="cid" id="cid" value="<{$down.cid}>">
		<input type="hidden" name="url" id="url" value="<{$mod_url}>/index.php?page=ajax_load">
		<{if $message_option}>
			<div layout="column p-4 my-6">
				<p><{$smarty.const._MD_D3DOWNLOADS_BROKEN_MESSAGE}></p>

				<textarea name="message" id="message" cols="40" rows="4"><{$report.message}></textarea>

				<p><{$smarty.const._MD_D3DOWNLOADS_BROKEN_NAME}></p>
				<p><input type="text" name="name" id="name" size="30" maxlength="55" value="<{$report.name}>"></p>
				<p><{$smarty.const._MD_D3DOWNLOADS_BROKEN_EMAIL}></p>
				<p><input type="text" name="email" id="email" size="30" maxlength="65" value="<{$report.email}>"></p>
			</div>
		<{/if}>
		<div self="size-x1">
			<p><input class="button" type="submit" name="report_submit" id="report_submit" value="<{$smarty.const._MD_D3DOWNLOADS_SUBMIT}>">
			<input type=button name="report_cancel" id="report_cancel" value="<{$lang_cancel}>"></p>
		</div>
	</form>

<{if $message_option}>
<!-- LiveValidator START -->
<script>
<{$liveValidator}>
</script>
<!-- LiveValidator END -->
<{/if}>
