<{* Dev-Mode Toggle *}>
<div class="ui-dev-mode"><{$smarty.template}></div>


    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="index.php">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-inbox-fill mr-2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M3.81 4.063A1.5 1.5 0 0 1 4.98 3.5h6.04a1.5 1.5 0 0 1 1.17.563l3.7 4.625a.5.5 0 0 1-.78.624l-3.7-4.624a.5.5 0 0 0-.39-.188H4.98a.5.5 0 0 0-.39.188L.89 9.312a.5.5 0 1 1-.78-.624l3.7-4.625z"/>
                        <path fill-rule="evenodd" d="M.125 8.67A.5.5 0 0 1 .5 8.5h5A.5.5 0 0 1 6 9c0 .828.625 2 2 2s2-1.172 2-2a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 .496.562l-.39 3.124a1.5 1.5 0 0 1-1.489 1.314H1.883a1.5 1.5 0 0 1-1.489-1.314l-.39-3.124a.5.5 0 0 1 .121-.393z"/>
                    </svg> <{$smarty.const._MI_MESSAGE_NAME}></a>
            </li>
            <li class="breadcrumb-item active" aria-current="page"><{$smarty.const._MD_MESSAGE_SETTINGS}></li>
        </ol>
    </nav>


<div class="card mt-sm-5">

<{ include file="$xoops_theme/templates/message/inc_compo_nav.html" }>

<{* ------- /card-header *}>

    <div class="card-body">

        <div class="msg-callout msg-warning">
            <p><{$smarty.const._MI_MESSAGE_SAVEDAYS}> <span class="warning badge"><{$purgedays}></span> days.</p>
            <{if $purgetype == 1}>
            <p><{$smarty.const._MI_MESSAGE_DELTYPE_DESC}></p>
            <{/if}>
        </div>

        <form action="index.php?action=settings" method="post">

        <table class="table outer">
        <tr>
        <th width="30%"><{$smarty.const._MD_MESSAGE_SETTINGS_MSG1}></th>
            <td class="odd">
                <div class="custom-control custom-radio custom-control-inline">
                <{xoops_input type=radio class="custom-control-input" name=usepm default=$mActionForm->get('usepm') value=1}>
                <label class="custom-control-label" for="legacy_xoopsform_usepm_1"><{$smarty.const._YES}></label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                <{xoops_input type=radio class="custom-control-input" name=usepm default=$mActionForm->get('usepm') value=0}>
                <label class="custom-control-label" for="legacy_xoopsform_usepm_0"><{$smarty.const._NO}></label>
                </div>
            </td>
        </tr>
        <tr>
        <th><{$smarty.const._MD_MESSAGE_SETTINGS_MSG2}></th>
            <td class="even">
                <div class="custom-control custom-radio custom-control-inline">
                <{xoops_input type=radio class="custom-control-input" name=tomail default=$mActionForm->get('tomail') value=1}>
                <label class="custom-control-label" for="legacy_xoopsform_tomail_1"><{$smarty.const._YES}></label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                <{xoops_input type=radio class="custom-control-input" name=tomail default=$mActionForm->get('tomail') value=0}>
                <label class="custom-control-label" for="legacy_xoopsform_tomail_0"><{$smarty.const._NO}></label>
                </div>
            </td>
        </tr>
        <tr>
        <th><{$smarty.const._MD_MESSAGE_SETTINGS_MSG7}></th>
            <td class="odd">
                <div class="custom-control custom-radio custom-control-inline">
                <{xoops_input type=radio class="custom-control-input" name=viewmsm default=$mActionForm->get('viewmsm') value=1}>
                <label class="custom-control-label" for="legacy_xoopsform_viewmsm_1"><{$smarty.const._YES}></label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                <{xoops_input type=radio class="custom-control-input" name=viewmsm default=$mActionForm->get('viewmsm') value=0}>
                <label class="custom-control-label" for="legacy_xoopsform_viewmsm_0"><{$smarty.const._NO}></label>
                </div>
            </td>
        </tr>
        <tr>
        <th><{$smarty.const._MD_MESSAGE_SETTINGS_MSG8}></th>
            <td class="even">
            <{xoops_input type=text class="form-control col-sm-2" name=pagenum value=$mActionForm->get('pagenum')}>
            <{$smarty.const._MD_MESSAGE_SETTINGS_MSG9}>
            </td>
        </tr>
        <tr>
        <th><{$smarty.const._MD_MESSAGE_SETTINGS_MSG10}> <br>
            <a class="btn btn-outline-primary btn-sm" href="index.php?action=blacklist">
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-eye-fill mr-2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>
            <path fill-rule="evenodd" d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"/>
            </svg> <{$smarty.const._MD_MESSAGE_SETTINGS_MSG18}></a>
        </th>
            <td class="even">
            <{xoops_input type=text class="form-control" name=blacklist value=$mActionForm->get('blacklist') maxlength=255 size=60}>
            <{$smarty.const._MD_MESSAGE_SETTINGS_MSG11}>
            </td>
        </tr>

        <tr>
            <td colspan="2" class="foot" align="center"><{legacy_button id=Submit class="btn btn-primary btn-sm px-4" Text=$smarty.const._SUBMIT}></td>
        </tr>
        </table>

        <{xoops_token form=$mActionForm}>
        </form>

        </div>
</div>
