<{* Dev-Mode Toggle *}>
<div class="ui-dev-mode"><{$smarty.template}></div>


    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="<{$xoops_url}>/">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-house mr-2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M2 13.5V7h1v6.5a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5V7h1v6.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5zm11-11V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>
                        <path fill-rule="evenodd" d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z"/>
                    </svg></a>
                </li>
            <li class="breadcrumb-item">
                <a href="index.php">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-inbox-fill mr-2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M3.81 4.063A1.5 1.5 0 0 1 4.98 3.5h6.04a1.5 1.5 0 0 1 1.17.563l3.7 4.625a.5.5 0 0 1-.78.624l-3.7-4.624a.5.5 0 0 0-.39-.188H4.98a.5.5 0 0 0-.39.188L.89 9.312a.5.5 0 1 1-.78-.624l3.7-4.625z"/>
                        <path fill-rule="evenodd" d="M.125 8.67A.5.5 0 0 1 .5 8.5h5A.5.5 0 0 1 6 9c0 .828.625 2 2 2s2-1.172 2-2a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 .496.562l-.39 3.124a1.5 1.5 0 0 1-1.489 1.314H1.883a1.5 1.5 0 0 1-1.489-1.314l-.39-3.124a.5.5 0 0 1 .121-.393z"/>
                    </svg> <span self="sm-hide"><{$smarty.const._MI_MESSAGE_NAME}></span></a>
            </li>
            <li class="breadcrumb-item active" aria-current="page"><{$smarty.const._MD_MESSAGE_TEMPLATE7}></li>
        </ol>
    </nav>


    <div class="ui-tab-wrap">

    <{include file="$xoops_theme/templates/message/inc_compo_nav.html"}>

    <{* ------- /card-header *}>

    <div class="ui-tab-content">

        <form method="post" action="index.php?action=send" class="form-row">

            <div class="w-100 d-flex align-items-center justify-content-end my-4">

            <select name="touid" class="col-2 custom-select custom-select-sm">
            <option value="0">-<{$smarty.const._MD_MESSAGE_TEMPLATE9}></option>
            <{foreach item=fuser from=$select}>
            <option value="<{$fuser.uid}>"<{if $fuser.select==true}> selected="selected"<{/if}>><{$fuser.uname|xoops_escape}></option>
            <{/foreach}>
            </select>

            <div class="col-5 mx-0">
            <input type="text" class="form-control form-control-sm" name="subject" size="25" value="<{$subject|xoops_escape}>" placeholder="<{$smarty.const._MD_MESSAGE_TEMPLATE3}>">
            </div>
            <button type="submit" class="btn btn-primary btn-sm" name="subbtn" value="<{$smarty.const._MD_MESSAGE_SEARCH}>">
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-funnel mr-2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M1.5 1.5A.5.5 0 0 1 2 1h12a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.128.334L10 8.692V13.5a.5.5 0 0 1-.342.474l-3 1A.5.5 0 0 1 6 14.5V8.692L1.628 3.834A.5.5 0 0 1 1.5 3.5v-2zm1 .5v1.308l4.372 4.858A.5.5 0 0 1 7 8.5v5.306l2-.666V8.5a.5.5 0 0 1 .128-.334L13.5 3.308V2h-11z"/>
            </svg> <{$smarty.const._MD_MESSAGE_SEARCH}></button>

            </div>

        </form>

        <form method="post" action="index.php?action=deleteall">

            <table class="table" id="printhis">

            <{foreach item=val from=$ListData}>
            <tr>
                <td class="odd">
                    <input type="checkbox" name="delmsg[]" value="<{$val.outbox_id}>">
                </td>

                <td class="odd"><img src="<{$val.to_uid|xoops_user_avatarize}>" width="32" class="rounded-lg"> <{$val.fromname}></td>

            <td class="even"><a href="index.php?action=view&amp;inout=out&amp;outbox=<{$val.outbox_id}>"><{$val.title|truncate:50:"..."}></a></td>

            <td class="even small"><{$val.utime|xoops_formattimestamp:l}></td>

            </tr>
            <{/foreach}>

            </table>

            <input type="hidden" name="inout" value="out">
        </form>

    </div>

    <div class="card-footer">
        <button type="submit" class="btn btn-danger btn-sm" name="subbtn" value="<{$smarty.const._DELETE}>">
        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash-fill mr-2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5a.5.5 0 0 0-1 0v7a.5.5 0 0 0 1 0v-7z"/>
        </svg> <{$smarty.const._DELETE}></button>
    </div>

</div>

<nav aria-label="Messages page navigation">
    <div class="pagenavi pagination justify-content-center my-4" align="center"><{xoops_pagenavi pagenavi=$pageNavi}></div>
</nav>
