<{* Dev-Mode Toggle *}>
<div class="ui-dev-mode"><{$smarty.template}></div>

<ul id="usermenu" class="list-group list-group-flush shadow-sm">
    <li class="userMenuTop list-group-item"><a class="menuTop" href="<{$xoops_url}>/user.php"><{$smarty.const._MB_LEGACY_VACNT}></a></li>
    <li class="userMenuEdit list-group-item"><a href="<{$xoops_url}>/edituser.php"><{$smarty.const._MB_LEGACY_EACNT}></a></li>
    <li class="userMenuComments list-group-item"><a href="<{$xoops_url}>/notifications.php"><{$smarty.const._MB_LEGACY_NOTIF}></a></li>
    <li class="userMenuLogout list-group-item"><a href="<{$xoops_url}>/user.php?op=logout"><{$smarty.const._MB_LEGACY_LOUT}></a></li>
    <{if $block.flagShowInbox}>
        <{if $block.new_messages > 0}>
        <li class="userMenuEmail list-group-item"><a class="highlight d-flex justify-content-between align-items-center" href="<{$block.inbox_url}>"><{$smarty.const._MB_LEGACY_INBOX}> <span class="newMessages badge secondary px-2"><{$block.new_messages}></span></a> </li>
        <{else}>
        <li class="userMenuEmail list-group-item"><a href="<{$block.inbox_url}>"><{$smarty.const._MB_LEGACY_INBOX}></a></li>
        <{/if}>
    <{/if}>
    <{if $block.show_adminlink}>
        <li class="userMenuAdmin list-group-item"><a href="<{$xoops_url}>/admin.php"><{$smarty.const._MB_LEGACY_ADMENU}></a></li>
    <{/if}>
</ul>
