<{* Dev-Mode Toggle *}>
<div class="ui-dev-mode"><{$smarty.template}></div>


<{if $actionForm->hasError()}>
<div class="errorMsg">
  <ul>
    <{foreach item=message from=$actionForm->getErrorMessages()}>
      <li><{$message|xoops_escape}></li>
    <{/foreach}>
  </ul>
</div>
<{/if}>

<form action="<{$smarty.const.XOOPS_URL}>/search.php" method="get">
  <{xoops_input type=hidden name=action value=results}>
  <table class="outer" cellspacing="1" width="100%">
    <tr>
      <td class="head"><{$smarty.const._SR_KEYWORDS}></td>
      <td>
        <{xoops_input type=text name=query size=30 maxlength=255 value=$actionForm->get('query')}>
      </td>
    </tr>
    <tr>
      <td class="head"><{$smarty.const._SR_TYPE}></td>
      <td>
        <select name="andor">
          <option id="andor_AND" value="AND" <{if $actionForm->get('andor') == 'AND'}>selected="selected"<{/if}>><{$smarty.const._SR_ALL}></option>
          <option id="andor_OR" value="OR" <{if $actionForm->get('andor') == 'OR'}>selected="selected"<{/if}>><{$smarty.const._SR_ANY}></option>
          <option id="andor_exact" value="exact" <{if $actionForm->get('andor') == 'exact'}>selected="selected"<{/if}>><{$smarty.const._SR_EXACT}></option>
        </select>
      </td>
    </tr>
    <tr>
      <td class="head"><{$smarty.const._SR_SEARCHIN}></td>
      <td>
        <{foreach item=module from=$moduleArr}>
          <label><input type="checkbox" name="mids[]" value="<{$module.mid|xoops_escape:plain}>" <{if in_array($module.mid, $selectedMidArr)}>checked="checked"<{/if}>><{$module.name|xoops_escape}></label>
        <{/foreach}>
      </td>
    </tr>
    <tr>
      <td class="head"><{$smarty.const._SR_SEARCHRULE}></td>
      <td><{$searchRuleMessage}></td>
    </tr>
    <tr>
      <td class="head"></td>
      <td>
        <input type="submit" value="<{$smarty.const._SR_SEARCH}>" />
      </td>
    </tr>
  </table>
</form>
