<{* Dev-Mode Toggle *}>
<div class="ui-dev-mode"><{$smarty.template}></div>


<form action="#" method="post">
<table width="100%" class="outer">
  <tr>
    <td class="head"><{$smarty.const._MD_USER_LANG_NICKNAME}></td>
    <td>
      <{$registForm->get('uname')|xoops_escape}>
    </td>
  </tr>
  <tr>
    <td class="head"><{$smarty.const._MD_USER_LANG_EMAIL}></td>
    <td>
      <{$registForm->get('email')|xoops_escape}>
    </td>
  </tr>
  <tr>
    <td colspan="2" class="foot" style="text-align:center;">
      <input type="submit" value="<{$smarty.const._MD_USER_LANG_FINISH}>" />
      <input type="submit" value="<{$smarty.const._CANCEL}>" name="_form_control_cancel" />
    </td>
  </tr>
</table>
</form>
