<div>
<a href="<{$xoops_url}>/userinfo.php?uid=<{$actionForm->get('uid')|xoops_escape}>"><{$smarty.const._MD_USER_LANG_PROFILE}></a>
&nbsp;<span style="font-weight:bold;">&raquo;&raquo;</span>&nbsp;<{$smarty.const._MD_USER_LANG_EDITPROFILE}>
</div>

<{if $actionForm->hasError()}>
<div class="errorMsg">
  <ul>
    <{foreach item=message from=$actionForm->getErrorMessages()}>
      <li><{$message}></li>
    <{/foreach}>
  </ul>
</div>
<{/if}>

<form action="#" method="post" autocomplete="off">
<{xoops_token form=$actionForm}>
<{xoops_input name=uid type=hidden value=$actionForm->get('uid')}>

<h2><{$smarty.const._MD_USER_LANG_EDITPROFILE}></h2>

    <label class="head"><{$smarty.const._MD_USER_LANG_NICKNAME}></label>
    <div class="<{cycle values="odd,even"}>"><{$thisUser->getShow('uname')}></div>

    <label class="head"><{$smarty.const._MD_USER_LANG_NAME}></label>
    <div class="<{cycle values="odd,even"}>">
      <{xoops_input name=name size=30 maxlength=60 value=$actionForm->get('name')}>
    </div>

    <label class="head"><{$smarty.const._MD_USER_LANG_EMAIL}></label>
    <div class="<{cycle values="odd,even"}>">
      <{if $allow_chgmail}>
        <{xoops_input name=email size=30 maxlength=60 value=$actionForm->get('email')}><br>
      <{else}>
        <{$thisUser->getShow('email')}><br>
      <{/if}>
     <{xoops_input type=checkbox name=user_viewemail value=1 default=$actionForm->get('user_viewemail')}><{$smarty.const._MD_USER_LANG_USER_VIEWEMAIL}>
    </div>

    <label class="head"><{$smarty.const._MD_USER_LANG_WEBSITE}></label>
    <div class="<{cycle values="odd,even"}>">
      <{xoops_input name=url size=30 maxlength=100 value=$actionForm->get('url')}>
    </div>


    <label class="head"><{$smarty.const._MD_USER_LANG_TIMEZONE_OFFSET}></label>
    <div class="<{cycle values="odd,even"}>">
      <select name="timezone_offset">
        <{xoops_optionsArray id=timezone_offset label=zone_name value=offset from=$timezones default=$actionForm->get('timezone_offset')}>
      </select>
    </div>


  <!-- XCL2.2 TEST-->
  <{legacy_profile template=profile_inc_data_edit.html action=edit actionForm=$actionForm}>
  <{*

    <label class="head"><{$smarty.const._MD_USER_LANG_USER_ICQ}></label>
    <div class="<{cycle values="odd,even"}>">
      <{xoops_input name=user_icq size=15 maxlength=15 value=$actionForm->get('user_icq')}>
    </div>


    <label class="head"><{$smarty.const._MD_USER_LANG_USER_AIM}></label>
    <div class="<{cycle values="odd,even"}>">
      <{xoops_input name=user_aim size=18 maxlength=18 value=$actionForm->get('user_aim')}>
    </div>

    <label class="head"><{$smarty.const._MD_USER_LANG_USER_YIM}></label>
    <div class="<{cycle values="odd,even"}>">
      <{xoops_input name=user_yim size=25 maxlength=25 value=$actionForm->get('user_yim')}>
    </div>

    <label class="head"><{$smarty.const._MD_USER_LANG_USER_MSNM}></label>
    <div class="<{cycle values="odd,even"}>">
      <{xoops_input name=user_msnm size=30 maxlength=100 value=$actionForm->get('user_msnm')}>
    </div>

    <label class="head"><{$smarty.const._MD_USER_LANG_USER_FROM}></label>
    <div class="<{cycle values="odd,even"}>">
      <{xoops_input name=user_from size=30 maxlength=100 value=$actionForm->get('user_from')}>
    </div>

    <label class="head"><{$smarty.const._MD_USER_LANG_USER_OCC}></label>
    <div class="<{cycle values="odd,even"}>">
      <{xoops_input name=user_occ size=30 maxlength=100 value=$actionForm->get('user_occ')}>
    </div>

    <label class="head"><{$smarty.const._MD_USER_LANG_USER_INTREST}></label>
    <div class="<{cycle values="odd,even"}>">
      <{xoops_input name=user_intrest size=30 maxlength=150 value=$actionForm->get('user_intrest')}>
    </div>

  *}>
  <!-- XCL2.2 TEST END-->

    <label class="head"><{$smarty.const._MD_USER_LANG_USER_SIG}></label>
    <div class="<{cycle values="odd,even"}>">
      <{xoops_dhtmltarea name=user_sig value=$actionForm->get('user_sig')}><br>
      <{xoops_input type=checkbox name=attachsig value=1 default=$actionForm->get('attachsig')}><{$smarty.const._MD_USER_LANG_ATTACHSIG}>
    </div>

    <label class="head"><{$smarty.const._MD_USER_LANG_UMODE}></label>
    <div class="<{cycle values="odd,even"}>">
      <{html_options name=umode options=$umodeOptions selected=$actionForm->get('umode')}>
    </div>

    <label class="head"><{$smarty.const._MD_USER_LANG_UORDER}></label>
    <div class="<{cycle values="odd,even"}>">
      <{html_options name=uorder options=$uorderOptions selected=$actionForm->get('uorder')}>
    </div>

    <label class="head"><{$smarty.const._MD_USER_LANG_NOTIFY_METHOD}></label>
    <div class="<{cycle values="odd,even"}>">
      <{html_options name=notify_method options=$notify_methodOptions selected=$actionForm->get('notify_method')}>
    </div>

    <label class="head"><{$smarty.const._MD_USER_LANG_NOTIFY_MODE}></label>
    <div class="<{cycle values="odd,even"}>">
      <{html_options name=notify_mode options=$notify_modeOptions selected=$actionForm->get('notify_mode')}>
    </div>

    <label class="head"><{$smarty.const._MD_USER_LANG_BIO}></label>
    <div class="<{cycle values="odd,even"}>">
      <{xoops_textarea name=bio value=$actionForm->get('bio') rows=5 cols=50}>
    </div>

    <label class="head"><{$smarty.const._MD_USER_LANG_PASSWORD}><label>
    <{$smarty.const._MD_USER_LANG_TYPEPASSTWICE}>
    <div class="<{cycle values="odd,even"}>">
      <{xoops_input type=password name=pass size=10 maxlength=32 value=$actionForm->get('pass')}>
      <{xoops_input type=password name=vpass size=10 maxlength=32 value=$actionForm->get('vpass')}>
    </div>


    <label class="head"><{$smarty.const._MD_USER_LANG_USERCOOKIE}></label>
    <div class="<{cycle values="odd,even"}>">
      <{xoops_input type=radio name=usercookie value=1 default=$actionForm->get('usercookie')}><{$smarty.const._YES}>
      <{xoops_input type=radio name=usercookie value=0 default=$actionForm->get('usercookie')}><{$smarty.const._NO}>
    </div>

    <label class="head"><{$smarty.const._MD_USER_LANG_USER_MAILOK}></label>
    <div class="<{cycle values="odd,even"}>">
      <{xoops_input type=radio name=user_mailok value=1 default=$actionForm->get('user_mailok')}><{$smarty.const._YES}>
      <{xoops_input type=radio name=user_mailok value=0 default=$actionForm->get('user_mailok')}><{$smarty.const._NO}>
    </div>

    <label class="head">&nbsp;</label>
    <div class="<{cycle values="odd,even"}>">
      <input type="submit" value="<{$smarty.const._MD_USER_LANG_SAVECHANGES}>" />
    </div>

</form>
