/*
    Theme : XCL Flex Grid Admin
    Distribution : XCL 2.3 Alpha
    Version : 0.0.3
    Author : Nuno Luciano aka Gigamaster
    Date : 2019-11-01
	URL : https://github.com/xoopscube/xcl/

	-------------------- -------------------- -------------------- -------------------- BLOCK SECTION SEARCH */

	section.search { 

		align-items		: center;

		background		: var(--ui-card-bg1);

		border-color	: var(--ui-border-color);
		border-radius	: var(--ui-border-radius);
		border-style	: var(--ui-border-style);		
		border-width	: var(--ui-border-width);

		box-shadow		: var(--ui-shadow-md);

		display			: flex;
		flex-direction	: row;
		flex-wrap		: wrap;
		margin			: 1rem auto;
		padding			: var(--ui-space-xl);
		width			: 100%;

	  }

	  section.search article {

		flex			: 1 0 33%;

	  }

	  section .search-button {

		flex-basis		: 100%;
		padding-top		: 1rem;

	  }

/* -------------------- -------------------- -------------------- -------------------- BLOCK SECTION FILTER */

	section.filter { 

		align-items		: center;

		background		: var(--ui-card-bg1);

		border-color	: var(--ui-border-color);
		border-radius	: var(--ui-border-radius);
		border-style	: var(--ui-border-style);		
		border-width	: var(--ui-border-width);

		box-shadow		: var(--ui-shadow-md);

		display			: flex;
		flex-direction	: row;
		flex-wrap		: wrap;
		justify-content	: space-evenly;
		margin			: var(--ui-space-xl) auto;
		max-width		: 95%;
		padding			: var(--ui-space-md) 0;
			
	}

/* -------------------- -------------------- -------------------- -------------------- BLOCK STATE SWITCH */

	/* Switch Block - color indicator */
	.ui-update-change {

		transition		: all 1s;

	}
	.ui-block-type.ui-update-change {

		background		: var(--ui-color-red);

	} 
	.ui-update-change svg, 
	.ui-update-change > svg path.block-icon,
	.ui-update-change > svg text.block-name {

		color			: var(--ui-color-red);

	}
/* -------------------- -------------------- -------------------- -------------------- Module STATE SWITCH */

  /* Update indicator */
	.ui-update-change {

		transition		: all 1s;

	} 
	.ui-update-change a {

		background		: var(--ui-color-red);

	}
	.ui-update-change svg,
	.ui-update-change > svg path.module-icon,
	.ui-update-change > svg text.module-name {

		color			: var(--ui-color-red);

	}

/* -------------------- -------------------- -------------------- -------------------- BLOCK PREVIEW */

	.ui-block-admin-preview,
	.ui-block-permissions {

	}


/* -------------------- -------------------- -------------------- Table */

/* TODO 
Clean up D3 templates
Responsive tables and 
Alternative rendering of data
*/


	table {

		background		: var(--ui-card-bg1);
		border-collapse : collapse;
		border          : 1px solid var(--ui-bg2);
		width           : 100%;

	}

	tr,
	th,
	td {

		padding			: 1rem;

	}

	table.outer tbody tr:nth-of-type(odd),
	.table-striped tbody tr:nth-of-type(odd) {

		background		: var(--ui-table-odd);

	}

	table.outer tbody tr:hover,
	.table-striped tbody tr:hover {

		background		: var(--ui-card-light);
		color           : var(--ui-text);

	}

	div.foot,
	table.outer td.foot,
	table.outer > tr:last-child,
	.table-striped > tr:last-child {

		/* background: #212527db; */

	}

	div.foot,
	.pagenavi, 
	table td.foot,
	.legacy_list_id,
	.legacy_list_order,
	.legacy_list_date,
	.legacy_list_select,
	.legacy_list_control {

		text-align		: center;

	}

	table.altsys_mytplsadmin .dbtplset_active {

		background		: var(--ui-color-green);

	}

	table.altsys_mytplsadmin .dbtplset_active sup {

		/*display: none;*/

	}

	table.altsys_mytplsadmin .fingerprint1 {

		background		: var(--ui-color-green);

	}

	table.altsys_mytplsadmin .fingerprint2 {

		background		: var(--ui-color-green);

	}

	table.altsys_mytplsadmin .fingerprint3 {

		background		: var(--ui-color-amber);

	}

	table.altsys_mytplsadmin .fingerprint4 {

		background		: var(--ui-color-blue);

	}

	table.altsys_mytplsadmin .fingerprint5 {

		background		: var(--ui-color-orange);

	}

	table.altsys_mytplsadmin .fingerprint6 {

		background		: var(--ui-color-indigo);

	}

	table.altsys_mytplsadmin .fingerprint7 {

		background		: var(--ui-color-indigo);
	}


	div > input.blockposition {

		display			: flex;
		margin-right: 5px;

	}

/* 	div.unselected {

		background		: #37474f;

	} */

/* 	div.selected {

		background		: var(--ui-color-green);

	} */

	div.disabled {

		background		: var(--ui-color-red);
		
	}
