<script type="text/javascript" charset="utf-8">
'use strict';
(function($) {
$(function() {

var <{$dirname}>Edit = new XoonipsLibrary.edit('search.php', '<{$dirname}>', 'advancedsearchform', '');

$('#<{$dirname}>_advancedsearchform :input[rel="date"]').change(function(){
  <{$dirname}>Edit.changeDate($(this).attr('id'));
});
$('input.<{$dirname}>_search_block_checkbox').click(function(){
  $('#'+$(this).attr('id')+'_toggle').toggle();
});			
$('input.<{$dirname}>_search_block_checkbox').each(function(){
  if(!$(this).attr('checked')) {
    $('#'+$(this).attr('id')+'_toggle').hide();
  }
});

});
})(jQuery);
</script>

<{include file="db:`$dirname`_header.html"}>
<{include file="db:`$dirname`_search_tab.inc.html"}>
<h3><{$smarty.const._MD_XOONIPS_ITEM_ADVANCED_SEARCH_TITLE}></h3>
<form id="<{$dirname}>_advancedsearchform" action="<{$itemselect_url}>" method="post">
<input type="hidden" name="op" value="advanced">
<input type="hidden" name="search_parameter" value="">

<div style="text-align: center;">
<input class="formButton" type="submit" value="<{$smarty.const._MD_XOONIPS_ITEM_SEARCH_BUTTON_LABEL}>">
</div>
<br>

<{foreach item=block key=block_key from=$blocks}>
<div class="<{$dirname}>_padding">
<table class="outer">
<tr>
	<th align="left">
		<input type="checkbox" name="<{$block.itemtype_id|xoops_escape}>" class="<{$dirname}>_search_block_checkbox" id="<{$dirname}>_search_block_<{$block_key}>" value="on">
		<{$block.itemtype_name|escape}>
	</th>
</tr>
<tr class="<{$dirname}>_search_block" id="<{$dirname}>_search_block_<{$block_key}>_toggle">
	<td>
		<table class="outer">
			<{$block.itemtype_view}>
		</table>
	</td>
</tr>
</table>
</div>
<{/foreach}>

<div style="text-align: center;">
  <input class="formButton" type="submit" value="<{$smarty.const._MD_XOONIPS_ITEM_SEARCH_BUTTON_LABEL}>">
</div>
</form>
<{include file="db:`$dirname`_footer.html"}>
