<{include file="db:`$dirname`_header.html"}>
<h4><{$smarty.const._MD_XOONIPS_ITEM_DELETE_ITEM_CONFIRM}></h4>
<form id="<{$dirname}>_deleteconfirmform" name="<{$dirname}>_deleteconfirmform" action="edit.php" method="post">
<input type="hidden" name="item_id" value="<{$item_id|xoops_escape}>">
<div style="text-align: left; margin: 1px;">
<span id="<{$dirname}>_message_label_top">
	<{$smarty.const._MD_XOONIPS_ITEM_DELETE_CONFIRMATION_MESSAGE}>
</span>
</div>
<{$token_titcket}>
<{if !empty($confirmView)}>
	<table class="outer">
	<tr>
		<td class="head" width="25%"><{$smarty.const._MD_XOONIPS_ITEM_ITEM_TYPE_LABEL}></td>
		<td class="even"><{$itemtype_name|xoops_escape}></td>
	</tr>
	<{$confirmView}>
	</table>
<{/if}>
<div style="text-align: center; margin-top: 20px;">
<input class="formButton" type="submit" value="<{$smarty.const._MD_XOONIPS_ITEM_DELETE_BUTTON_LABEL}>" onclick="document.<{$dirname}>_deleteconfirmform.action='edit.php?op=delete'; submit();return false;">
</div>
</form>

<{include file="db:`$dirname`_footer.html"}>
