<script type="text/javascript" charset="utf-8">

var <{$dirname}>Edit = new XoonipsLibrary.edit('<{$xoops_url}>', '<{$dirname}>', 'editform', 'edit');

(function($) {
$(function() {

<{$dirname}>Edit.setMsgCss();
<{$dirname}>Edit.sortable();

$('#<{$dirname}>_editform :button[rel^="<{$mytrustdirname}>Popin"]').<{$mytrustdirname}>Popin({
  width : 400,
  height: 400,
  callback: function(id, value) {
    return <{$dirname}>Edit.userCallback(id, value);
  }
});

$('#<{$dirname}>_editform :button[rel^="relatedItemPopin"]').<{$mytrustdirname}>Popin({
  width : 800,
  height: 600,
  overflow: 'scroll',
  callback: function(id, value) {
    <{$dirname}>Edit.relatedItemCallback(id, value, <{$item_id|xoops_escape}>);
  }
});

$('#<{$dirname}>_editform :input[rel="date"]').change(function() {
  <{$dirname}>Edit.changeDate(jQuery(this).attr('id'));
});

$('#<{$dirname}>_editform :input[type=file]').change(function(){
  <{$dirname}>Edit.changeFile();	
});

<{if ($relation===false) }>
  alert('failed to get resources');
<{/if}>
});
})(jQuery);
</script>

<h4><{$smarty.const._MD_XOONIPS_ITEM_MODIFY_ITEM_TITLE}></h4>

<table><tr><td width="30%">
<b><{$smarty.const._MD_XOONIPS_ITEM_SELECT_SUB_INDEX_TREE}></b><br>
<script type="text/javascript" charset="utf-8">
jQuery(function(){
	jQuery('#<{$dirname}>_item_edit_index_tree_tabs').tabs({ 
        active: jQuery.cookie('edit_index_tree_selected_tab'),
        activate: function(event, ui) {
            edit_index_tree_selected_tab = ui.newTab.index();
            jQuery.cookie('edit_index_tree_selected_tab', edit_index_tree_selected_tab, { expires: 1 });
        },
	});
});
</script>
<script type="text/javascript">
jQuery(function(){
	var data = "action=Ajax&method=GetIndexesInfo&function=editItem";
	var url = window.location.href;
	if (url.lastIndexOf('?') != -1) {
		var parameters = url.substr(url.lastIndexOf('?') + 1);
		if (parameters != null && parameters != '') {
			data += "&" + parameters;
		}
	}
	jQuery.ajax({
		type: 'GET',
		scriptCharset: 'utf-8',
		dataType: 'json',
		url: '<{$smarty.const.XOOPS_URL}>/modules/xoonips/index.php',
		data: data,
		success: function(json) {
			jQuery.each(json.trees, function() {
				jQuery('#' + json.dirname + '_item_edit_index_tree_div_' + this.index_id).jstree({
                    "core" : {
                        "data" : this.html
                    },
                    "plugins" : [ "checkbox" ],
                    "checkbox" : {
                        "three_state" : false
                    }
				});
            });

           var formobj = jQuery('#' + json.dirname + '_editform');
           var checkedIndexId = formobj.find('#' + json.dirname + 'CheckedXID');
           jQuery("[id^=" + json.dirname + '_item_edit_index_tree_div_' + "]").bind("changed.jstree", function (e, data) {
                var checkedIndexes = [];
                jQuery("[id^=" + json.dirname + '_item_edit_index_tree_div_' + "]").each(function() {
                    checked = jQuery(this).jstree("get_selected", true);
                    jQuery.each(checked, function() {
                        checkedIndexes.push(this.id);
                    });
                });
                checkedIndexId.val(checkedIndexes.join(","));
                jQuery.cookie('edit_checked_indexes', checkedIndexes.join(":"), { expires: 1 });
            });

            jQuery('#' + json.dirname + '_edit_open_all').click(function(){
                jQuery("[id^=" + json.dirname + '_item_edit_index_tree_div_' + "]").each(function() {
                    jQuery(this).jstree('open_all');
                });
            });

            jQuery('#' + json.dirname + '_edit_close_all').click(function(){
                jQuery("[id^=" + json.dirname + '_item_edit_index_tree_div_' + "]").each(function() {
                    jQuery(this).jstree('close_all');
                });
            });

            jQuery('#' + json.dirname + '_index_tree_clear_button').click(function(){
                jQuery("[id^=" + json.dirname + '_item_edit_index_tree_div_' + "]").each(function() {
                    jQuery(this).jstree('uncheck_all');
                });
            });

            jQuery("[id^=" + json.dirname + '_item_edit_index_tree_div_' + "]").bind("open_node.jstree", function (e, data) {
                var nodes = jQuery.cookie("edit_opened_indexes");
                if (nodes == null) {
                    node = data.node.id;
                    jQuery.cookie('edit_opened_indexes', node, { expires: 1 });
                } else {
                    nodes = nodes + ":" + data.node.id;
                    jQuery.cookie('edit_opened_indexes', nodes, { expires: 1  });
                }
            });

            jQuery("[id^=" + json.dirname + '_item_edit_index_tree_div_' + "]").bind("close_node.jstree", function (e, data) {
                var nodes = jQuery.cookie("edit_opened_indexes");
                if (nodes == null) {
                    return false;
                }
                nodes = jQuery.cookie("edit_opened_indexes").split(":");
                close_node = data.node.id;
                edit_opened_indexes = "";
                first = true;
                for (i = 0; i < nodes.length; i++) {
                    if (nodes[i] != close_node && nodes[i] != null) {
                        if (first) {
                            edit_opened_indexes = nodes[i];
                            first = false;
                        } else {
                            edit_opened_indexes = edit_opened_indexes + ":" + nodes[i];
                        }
                    }
                }
                jQuery.cookie('edit_opened_indexes', edit_opened_indexes, { expires: 1 });
            });

            jQuery("[id^=" + json.dirname + '_item_edit_index_tree_div_' + "]").bind("scroll", function () {
                idName = jQuery(this).attr("id");
                jQuery.cookie(idName + '_scroll', jQuery(this).scrollTop(), { expires: 1 });
            });

            jQuery("[id^=" + json.dirname + '_item_edit_index_tree_div_' + "]").each(function() {
                idName = jQuery(this).attr("id");
                position = jQuery.cookie(idName + '_scroll');
                if (position != null) {
                    jQuery(this).animate({scrollTop:position});
                }
            });

			<{$dirname}>Edit.setIndexTreeButton('_item_edit');
		}
	});
});
</script>
<div id="<{$dirname}>_item_edit_treecontrol" style="float: none; clear: both; margin: 0px 0px 3px 0px; padding: 0px;">
<button class="formButton" id="<{$dirname}>_edit_open_all">open all</button>
<button class="formButton" id="<{$dirname}>_edit_close_all">close all</button>
<button class="formButton" id="<{$dirname}>_index_tree_clear_button">clear</button>
</div>
<div style="margin: 0px; padding: 0px;font-size:80%;" id="<{$dirname}>_item_edit_index_tree_tabs">
<ul>
<{foreach item=index from=$indexes}>
	<li><a href="#<{$dirname}>_item_edit_index_tree_div_<{$index.index_id|xoops_escape}>"><{$index.title|xoops_escape}></a></li>
<{/foreach}>
</ul>
<{foreach item=tree from=$trees}>
	<div id="<{$dirname}>_item_edit_index_tree_div_<{$tree.index_id|xoops_escape}>" style="width: 230px; height: 550px; overflow: auto; padding: 0px; margin: 0px;">
	<ul id="<{$dirname}>_item_edit_index_tree_<{$tree.index_id|xoops_escape}>" class="filetree">
	<!-- <{$tree.html}> -->
	</ul>
	</div>
<{/foreach}>
</div>
</td>

<td width="70%">
<{$errors}>
<form id="<{$dirname}>_editform" target="<{$dirname}>_uploadoutputiframe" name="<{$dirname}>_editform" action="<{$next_url}>" method="post" enctype="multipart/form-data">
<input type="hidden" name="itemtype_id" value="<{$itemtype_id|xoops_escape}>">
<input type="hidden" name="item_id" value="<{$item_id|xoops_escape}>">
<input id="<{$dirname}>_targetItemId" type="hidden" name="targetItemId" value="">
<input id="<{$dirname}>_fileuploadclick" type="hidden" name="fileuploadclick" value="0">
<{if !empty($editryView)}>
	<div style="text-align: center; margin: 10px;">
	<span id="<{$dirname}>_message_label_top">
	<{$smarty.const._MD_XOONIPS_ITEM_SELECT_PRIVATE_INDEX}>
	</span>
	</div>
<{/if}>
<{if !empty($system_message)}>
	<p><{$system_message}></p>
<{/if}>
<{if isset($num_of_items_current) && isset($num_of_items_max)}>
	<{if $num_of_items_max == 0}>
		<{$smarty.const._MD_XOONIPS_ITEM_NUM_OF_ITEM}>:<{$num_of_items_current}> / <{$smarty.const._MD_XOONIPS_LABEL_UNLIMIT}><br>
	<{else}>
		<{$smarty.const._MD_XOONIPS_ITEM_NUM_OF_ITEM}>:<{$num_of_items_current}> / <{$num_of_items_max}><br>
	<{/if}>
<{/if}>
<{if isset($storage_of_items_current) && isset($storage_of_items_max)}>
	<{if $storage_of_items_max == 0}>
		<{$smarty.const._MD_XOONIPS_ITEM_STORAGE_OF_ITEM}>:<{$storage_of_items_current}>MB / <{$smarty.const._MD_XOONIPS_LABEL_UNLIMIT}><br>
	<{else}>
		<{$smarty.const._MD_XOONIPS_ITEM_STORAGE_OF_ITEM}>:<{$storage_of_items_current}>MB / <{$storage_of_items_max}>MB<br>
	<{/if}>	
<{/if}>
<{if !empty($editryView)}>
	<table class="outer">
	<{$editryView}>
	</table>
<{/if}>
<{if !empty($editryView)}>
	<div style="text-align: center; margin: 10px;">
	<span id="<{$dirname}>_message_label_bottom">
	<{$smarty.const._MD_XOONIPS_ITEM_SELECT_PRIVATE_INDEX}>
	</span></div>
<{/if}>
<{if !empty($editryView)}>
	<div style="text-align: center">
	<input class="formButton" type="button" value="<{$smarty.const._MD_XOONIPS_ITEM_NEXT_BUTTON_LABEL}>" onclick="<{$dirname}>Edit.edit()">
	<input type="button" rel="close" value="<{$smarty.const._MD_XOONIPS_LABEL_CANCEL}>">
	</div>
	<iframe id="<{$dirname}>_uploadoutputiframe" name="<{$dirname}>_uploadoutputiframe" style="display:none;"></iframe>
<{/if}>
</td>
</tr>
</table>
</form>
