<{if $viewType eq 'input'}>
	<table>
		<{foreach item=field from=$fieldGroup}><{$field}><{/foreach}>
	</table>
	<{if $occurrence}>
		<hr><input type="button" value="<{$_LABEL_ADD}>" onclick="<{$dirname}>Edit.addFieldGroup('<{$id|xoops_escape}>')">
	<{/if}>
<{elseif $viewType eq 'edit'}>
	<{if $occurrence}>
		<div class=<{$dirname}>_sortableDiv>
	<{/if}>
	<{foreach item=fieldGroup from=$fieldGroups name=fieldGroup}>
		<{if !$smarty.foreach.fieldGroup.first}>
			<hr></div><div><table><input type="button" value="<{$_LABEL_DELETE}>" onclick="<{$dirname}>Edit.deleteFieldGroup('<{$fieldGroup.id|xoops_escape}>');">
		<{/if}>
		<div><table class=<{$dirname}>_cursor_title>
		<{foreach item=field from=$fieldGroup.fieldGroup}>
			<{$field}>
		<{/foreach}>
		</table>
	<{/foreach}>
	<{if $occurrence}>
		<hr></div><input type="button" value="<{$_LABEL_ADD}>" onclick="<{$dirname}>Edit.addFieldGroup('<{$id|xoops_escape}>')">
	<{/if}>
	</div></td>
<{elseif $viewType eq 'confirm'}>
	<{foreach item=fieldGroup from=$fieldGroups name=fieldGroup}>
		<{if !$smarty.foreach.fieldGroup.first}>
			<hr>
		<{/if}>
		<table style="word-wrap: break-word;">
		<{foreach item=field from=$fieldGroup}><{$field}><{/foreach}>
		</table>
	<{/foreach}>
	</td>
<{elseif $viewType eq 'detail'}>
	<{foreach item=fieldGroup from=$fieldGroups name=fieldGroup}>
		<{if !$smarty.foreach.fieldGroup.first}>
			<hr>
		<{/if}>
		<table style="word-wrap: break-word;" class="<{$dirname}>_outer1">
		<{foreach item=field from=$fieldGroup}><{$field}><{/foreach}>
		</table>
	<{/foreach}>
<{elseif $viewType eq 'search'}>
	<{if $hasGroup}>
		<table>
		<{foreach item=field from=$fieldGroup}><{$field}><{/foreach}>
		</table>
	<{/if}>
<{elseif $viewType eq 'simpleSearch'}>
	<table class="<{$dirname}>_outer1">
	<{foreach item=field from=$fieldGroup}><{$field}><{/foreach}>
	</table>
<{/if}>
