<b><{$smarty.const._MD_XOONIPS_INDEX_SUB_TITLE_DELETE}></b><br>
<form action="editindex.php" method="post">
<{$token_ticket}>
<input type="hidden" name="op" value="delete">
<input type="hidden" id="<{$dirname}>_callbackid"  name="callbackid" value="<{$callbackid|xoops_escape}>">
<input type="hidden" id="<{$dirname}>_callbackvalue" name="callbackvalue" value="">
<input type="hidden" name="index_id" value="<{$index.index_id|xoops_escape}>">
<table class="outer">
	<tr>
  		<td class="head" width="30%"><{$smarty.const._MD_XOONIPS_INDEX_NAME}></td>
  		<td class="even" width="70%"><{$index.title|xoops_escape}></td>
	</tr>
</table>
<{$smarty.const._MD_XOONIPS_INDEX_DELETE_CONFIRM_MESSAGE}>
<div style="text-align: center;">
<input type="submit" value="<{$smarty.const._MD_XOONIPS_INDEX_BUTTON_YES}>">
<input type="button" rel="close" value="<{$smarty.const._MD_XOONIPS_INDEX_BUTTON_NO}>">
</div>
</form>
