<{include file="db:`$dirname`_header.html"}>
<{include file="db:`$dirname`_itemimport_tab.inc.html"}>
<div style="text-align:right; margin-left: 10px; margin-bottom: 25px;">
</div>
<h3><{$smarty.const._MD_XOONIPS_ITEM_IMPORT_LOGDETAIL_TITLE}></h3>
<p style="color:blue">&nbsp;&nbsp;&nbsp;<{$smarty.const._MD_XOONIPS_ITEM_IMPORT_LOGDETAIL_DESC}></p>
<div style="text-align:right; margin-left: 10px; margin-bottom: 10px;">
</div>
<form style="margin-top: 0px;" action="itemimport.php" method="post" enctype="multipart/form-data">
<input type="hidden" name="op" value="">
<table width="100%" cellspacing="1" class="outer">
  <tbody>
  <tr>
    <th style="text-align: center;" colspan="2"><{$smarty.const._MD_XOONIPS_ITEM_IMPORT_LOGDETAIL_TITLE}></th>
  </tr>
  <tr>
    <td style="width: 20%; text-align: left;" class="head"><{$smarty.const._MD_XOONIPS_ITEM_IMPORT_LOG_TIME}></td>
    <td style="width: 80%; text-align: left;" class="even"><{$import.display_time}></td>
  </tr>
  <tr>
    <td style="width: 20%; text-align: left;" class="head"><{$smarty.const._MD_XOONIPS_ITEM_IMPORT_LOG_RESULT}></td>
    <td style="width: 80%; text-align: left;" class="odd">
		<{if $import.result==1}><{$smarty.const._MD_XOONIPS_ITEM_IMPORT_LOG_OK}>
    	<{else}><{$smarty.const._MD_XOONIPS_ITEM_IMPORT_LOG_NG}><{/if}>
    </td>
  </tr>
  <tr>
    <td style="width: 20%; text-align: left;" class="head"><{$smarty.const._MD_XOONIPS_ITEM_IMPORT_LOG_ITEMS}></td>
    <td style="width: 80%; text-align: left;" class="even"><{$import.items}></td>
  </tr>
  <tr>
    <td style="width: 100%; text-align: left;" class="head" colspan="2">
       <{$smarty.const._MD_XOONIPS_ITEM_IMPORT_LOG_CONT}>
       &nbsp;&nbsp;
       <a href="<{$xoops_url}>/modules/<{$dirname}>/index.php/import/<{$import.item_import_log_id}>/download"><img src="<{$xoops_url}>/modules/<{$dirname}>/image.php/icons/download.png" alt="<{$smarty.const._DELETE}>" title="<{$smarty.const._MD_XOONIPS_ITEM_DOWNLOAD_LABEL}>"></a>
    </td>
  </tr>
  <tr>
    <td style="width: 100%; text-align: left;" class="odd" colspan="2">
		<textarea cols="107" rows="40" readonly><{$import.log}></textarea>
    </td>
  </tr>
  </tbody>
</table>
<div style="text-align:right; margin-left: 10px; margin-bottom: 10px;">
</div>
<div style="text-align: left">
	<input class="formButton" type="button" value="<{$smarty.const._MD_XOONIPS_LABEL_BACK}>" onclick="window.location='itemimport.php?op=log'">
</div>
</form>
<{include file="db:`$dirname`_footer.html"}>
