<table>
 <tr>
  <td style="vertical-align:middle; text-align:center; width: 65px;">
   <a href="<{$xoops_url}>/modules/<{$dirname}>/<{$itemListUrl}>?index_id=<{$index.index_id|xoops_escape}>"><img src="<{$smarty.const.XOOPS_URL}>/modules/<{$dirname}>/image.php/folder.gif" alt="<{$index.title|xoops_escape}>"></a>
  </td> 
  <td>
   <a href="<{$xoops_url}>/modules/<{$dirname}>/<{$itemListUrl}>?index_id=<{$index.index_id|xoops_escape}>"><{$index.title|xoops_escape}></a>&nbsp;&nbsp; <{$index.description|xoops_escape}><br>
   <{$index.child_index_num|xoops_escape}> Indexes / <{$index.child_item_num|xoops_escape}> Items
  </td>
 </tr>
</table>
