<h3><{$lang_notifications}></h3>
<{if $xoops_notification.show}>
<form name="notification_select" action="<{$xoops_notification.target_page|xoops_escape}>" method="post">
<h4 style="text-align:center;"><{$smarty.const._NOT_ACTIVENOTIFICATIONS}></h4>
<input type="hidden" name="not_redirect" value="<{$xoops_notification.redirect_script|xoops_escape}>">
<table class="outer">
  <thead>
  <tr><th colspan="3"><{$smarty.const._NOT_NOTIFICATIONOPTIONS}></th></tr>
  <tr>
    <td class="head"><{$smarty.const._NOT_CATEGORY}></td>
    <td class="head"><input name="allbox" id="allbox" onclick="xoopsCheckAll('notification_select','allbox');" type="checkbox" value="<{$smarty.const._NOT_CHECKALL}>"></td>
    <td class="head"><{$smarty.const._NOT_EVENT}></td>
  </tr>
  </thead>
  <tbody>
  <{foreach name=outer item=category from=$xoops_notification.categories}>
  <{foreach name=inner item=event from=$category.events}>
  <tr>
    <{if $smarty.foreach.inner.first}>
    <td class="even" rowspan="<{$smarty.foreach.inner.total}>"><{$category.title|xoops_escape}></td>
    <{/if}>
    <td class="odd">
    <{counter assign=index}>
    <input type="hidden" name="not_list[<{$index|xoops_escape}>][params]" value="<{$category.name|xoops_escape}>,<{$category.itemid|xoops_escape}>,<{$event.name|xoops_escape}>">
    <input type="checkbox" id="not_list_<{$category.itemid|xoops_escape}>_<{$index|xoops_escape}>" name="not_list[<{$index|xoops_escape}>][status]" value="1" <{if $event.subscribed}>checked="checked"<{/if}>>
    </td>
    <td class="odd"><{$event.caption|xoops_escape}></td>
  </tr>
  <{/foreach}>
  <{/foreach}>
  </tbody>
  <tfoot>
  <tr>
    <td class="foot" colspan="3" align="center"><input class="ui-button" type="submit" name="not_submit" value="<{$smarty.const._NOT_UPDATENOW}>"></td>
  </tr>
  </tfoot>
</table>
<div align="center">
<{$smarty.const._NOT_NOTIFICATIONMETHODIS}>&nbsp;<{$user_method|xoops_escape}>&nbsp;&nbsp;[<a href="<{$xoonips_editprofile_url|xoops_escape:link}>"><{$smarty.const._NOT_CHANGE}></a>]
</div>
</form>
<{else}>
<div style="text-align: center; color: red; font-weight: bold;">Inline style Notification disabled</div>
<{/if}>
<br>
<br>
<br>
<br>
