<form action="user.php" method="post">
 <{xoops_token form=$actionForm}>
<input type="hidden" name="op" value="<{$op|xoops_escape}>">
<input type="hidden" name="uid" value="<{$uid|xoops_escape}>">
<input type="hidden" name="actkey" value="<{$actkey|xoops_escape}>">
<{$smarty.const._MD_XOONIPS_MESSAGE_PUSH_BUTTON_TO_ACTIVATE}><br>
<input type="submit" value="<{$smarty.const._MD_XOONIPS_LANG_ACTIVATE}>">
</form>
