<{include file="db:`$dirname`_user_header.html"}>
<script type="text/javascript" charset="utf-8">
'use strict';
(function($) {
$(function() {

function <{$xoops_dirname}>_setUser(uid) {
  $.ajax({
    type: 'GET',
    scriptCharset: 'utf-8',
    dataType: 'json',
    url: '<{$smarty.const.XOOPS_URL}>/modules/<{$dirname}>/index.php',
    data: 'action=Ajax&method=GetUserInfo&uid=' + uid,
    success: function(json) {
      $('#<{$xoops_dirname}>_su_form [name=uid]').val(json.uid);
      var username = json.uname;
      if (json.name != '')
        username = json.name + '(' + json.uname + ')';
      $('#<{$xoops_dirname}>_su_username').text(username);
    },
  });
}

<{if $uid != 0}>
<{$xoops_dirname}>_setUser(<{$uid}>);
<{else}>
$(':button[rel^="<{$mytrustdirname}>Popin"]').<{$mytrustdirname}>Popin({
  width : 400,
  height: 400,
  callback: function(id, value) {
    <{$xoops_dirname}>_setUser(value);
  }
});
<{/if}>

});
})(jQuery);
</script>
<h3><{"`$constpref`_USER_LANG_SU"|constant|xoops_escape}></h3>
<{"`$constpref`_USER_MESSAGE_SU_EXPLAIN"|constant|xoops_escape}>
<form id="<{$xoops_dirname}>_su_form" action="user.php?op=su" method="post">
<input type="hidden" name="uid" value="">
 <table class="outer">
  <tr>
   <td class="head" width="40%"><{"`$constpref`_USER_LANG_SU_TARGET_USER"|constant|xoops_escape}></td>
   <td class="even" width="60%"><span id="<{$xoops_dirname}>_su_username"></span>
<{if $uid == 0}>
   <input type="button" href="<{$smarty.const.XOOPS_URL}>/modules/<{$dirname}>/index.php?action=Ajax&amp;method=UserSelect&amp;mode=single&amp;callbackid=1;1;1" rel="<{$mytrustdirname}>Popin" value="<{$smarty.const._MD_XOONIPS_LANG_SEARCH}>">
<{/if}>
   </td>
  </tr>
  <tr>
   <td class="head"><{"`$constpref`_USER_LANG_SU_PASSWORD"|constant|xoops_escape}></td>
   <td class="odd">
    <input type="password" name="pass">
   </td>
  </tr>
 </table>
 <div style="text-align:center;">
  <input class="formButton" type="submit" value="<{$smarty.const._MD_XOONIPS_LABEL_GO}>">
 </div>
</form>
<{include file="db:`$dirname`_user_footer.html"}>
