<{if $viewType eq 'input'}>
	<{foreach key=key item=listName from=$list}>
		<label><input name="<{$radioName|xoops_escape}>" type="radio" value="<{$key|xoops_escape}>" <{if $key==$value}>checked="checked"<{/if}> onclick="<{$dirname}>Edit.changeRadioBox(this, '<{$fieldName|xoops_escape}>');"><{$listName|xoops_escape}></label>
	<{/foreach}>
	<input id="<{$fieldName|xoops_escape}>" name="<{$fieldName|xoops_escape}>" type="hidden" value="<{$value|xoops_escape}>">
<{elseif $viewType eq 'confirm'}>
	<{$valueName|xoops_escape}><input type="hidden" name="<{$fieldName|xoops_escape}>" value="<{$value|xoops_escape}>">
<{elseif $viewType eq 'detail'}>
	<{$valueName|xoops_escape}>
<{elseif $viewType eq 'search'}>
	<select name="<{$fieldName|xoops_escape}>">
	<option <{if $value===""}>selected<{/if}>> </option>
	<{foreach key=key item=listName from=$list}>
		<option value="<{$key|xoops_escape}>" <{if $value!=='' && $key==$value}>selected<{/if}>><{$listName|xoops_escape}></option>
	<{/foreach}>
	</select>
<{elseif $viewType eq 'list'}>
	<select name="list" onchange="listChange()" <{$disabled|xoops_escape}>>
	<{foreach item=selectValue from=$selectValues}>
		<option value="<{$selectValue|xoops_escape}>" <{if $selectValue==$value}>selected<{/if}>><{$selectValue|xoops_escape}></option>
	<{/foreach}>
	</select>
	<{if !empty($disabled)}>
		<input type="hidden" name="list" value="<{$value|xoops_escape}>">
	<{/if}>
<{elseif $viewType eq 'default'}>
	<{if count($selectValues) == 0}>
		<input type="hidden" name="default_value" value="<{$value|xoops_escape}>">
	<{else}>
		<{foreach item=selectValue from=$selectValues}>
			<input type="radio" name="default_value" value="<{$selectValue.title_id|xoops_escape}>" <{if $selectValue.title_id==$value}>checked="checked"<{/if}> <{$disabled|xoops_escape}>><{$selectValue.title|xoops_escape}>&nbsp;&nbsp;
		<{/foreach}>
		<{if !empty($disabled)}>
			<input type="hidden" name="default_value" value="<{$value|xoops_escape}>">
		<{/if}>
	<{/if}>
<{/if}>
