<{if $viewType eq 'input'}>
	<{if $len==-1}>
		<input type="text" name="<{$fieldName|xoops_escape}>" size="50" value="<{$value|xoops_escape}>">
	<{else}>
		<input type="text" name="<{$fieldName|xoops_escape}>" maxlength="<{$len|xoops_escape}>" size="<{if $len < 50}><{$len|xoops_escape}><{else}>50<{/if}>" value="<{$value|xoops_escape}>">
	<{/if}>
<{elseif $viewType eq 'confirm'}>
    <{$value|xoops_escape}><input type="hidden" name="<{$fieldName|xoops_escape}>" value="<{$value|xoops_escape}>">
<{elseif $viewType eq 'detail'}>
    <{if $value != ''}>
        <a href="<{$value|xoops_escape}>" target="_blank" onclick="return <{$dirname}>Edit.linkCountUp(<{$groupId|xoops_escape}>, <{$fieldId|xoops_escape}>);"><{$value|xoops_escape}></a>
    <{/if}>
<{/if}>
