<{if $viewType eq 'input'}>
	<select name="<{$fieldName|xoops_escape}>_m" id="<{$fieldName|xoops_escape}>_m" rel="date">
	<option></option>
	<{foreach key=key item=monthName from=$monthList}>
		<option value="<{$key|xoops_escape}>" <{if $key==$monthValue}>selected<{/if}>><{$monthName|xoops_escape}></option>
	<{/foreach}>
	</select>&nbsp;&nbsp;
	<select name="<{$fieldName|xoops_escape}>_d" id="<{$fieldName|xoops_escape}>_d" rel="date">
	<option></option>
	<{foreach key=key item=dayName from=$dayList}>
		<option value="<{$key|xoops_escape}>" <{if $key==$dayValue}>selected<{/if}>><{$dayName|xoops_escape}></option>
	<{/foreach}>
	</select>&nbsp;&nbsp;
	<input type="text" name="<{$fieldName|xoops_escape}>_y" maxlength="4" size="5" rel="date" id="<{$fieldName|xoops_escape}>_y" value="<{$yearValue|xoops_escape}>">
	<input type="hidden" name="<{$fieldName|xoops_escape}>" id="<{$fieldName|xoops_escape}>" value="<{$value|xoops_escape}>">
<{elseif $viewType eq 'confirm'}>
	<label><{$date|date_format|xoops_escape}></label>
	<input type="hidden" name="<{$fieldName|xoops_escape}>" value="<{$value|xoops_escape}>">
<{elseif $viewType eq 'detail'}>
	<label><{$date|date_format|xoops_escape}></label>
<{elseif $viewType eq 'search'}>
	<{if $scope=='1'}>From<{/if}>
	<select name="<{$fieldName|xoops_escape}>_from_m" id="<{$fieldName|xoops_escape}>_from_m" rel="date">
	<option></option>
	<{foreach key=key item=monthName from=$monthList}>
		<option value="<{$key|xoops_escape}>" <{if $key==$monthFromValue}>selected<{/if}>><{$monthName|xoops_escape}></option>
	<{/foreach}>
	</select>&nbsp;&nbsp;
	<select name="<{$fieldName|xoops_escape}>_from_d" id="<{$fieldName|xoops_escape}>_from_d" rel="date">
	<option></option>
	<{foreach key=key item=dayName from=$dayList}>
		<option value="<{$key|xoops_escape}>" <{if $key==$dayFromValue}>selected<{/if}>><{$dayName|xoops_escape}></option>
	<{/foreach}>
	</select>&nbsp;&nbsp;
	<input type="text" name="<{$fieldName|xoops_escape}>_from_y" maxlength="4" size="5" rel="date" id="<{$fieldName|xoops_escape}>_from_y" value="<{$yearFromValue|xoops_escape}>">
	<input type="hidden" name="<{$fieldName|xoops_escape}>[]" id="<{$fieldName|xoops_escape}>_from" value="<{$dateFromValue|xoops_escape}>">
	<{if $scope=='1'}>
		&nbsp;&nbsp;To
		<select name="<{$fieldName|xoops_escape}>_to_m" id="<{$fieldName|xoops_escape}>_to_m" rel="date">
		<option></option>
		<{foreach key=key item=monthName from=$monthList}>
			<option value="<{$key|xoops_escape}>" <{if $key==$monthToValue}>selected<{/if}>><{$monthName|xoops_escape}></option>
		<{/foreach}>
		</select>&nbsp;&nbsp;
		<select name="<{$fieldName|xoops_escape}>_to_d" id="<{$fieldName|xoops_escape}>_to_d" rel="date">
		<option></option>
		<{foreach key=key item=dayName from=$dayList}>
			<option value="<{$key|xoops_escape}>" <{if $key==$dayToValue}>selected<{/if}>><{$dayName|xoops_escape}></option>
		<{/foreach}>
		</select>&nbsp;&nbsp;
		<input type="text" name="<{$fieldName|xoops_escape}>_to_y" maxlength="4" size="5" rel="date" id="<{$fieldName|xoops_escape}>_to_y" value="<{$yearToValue|xoops_escape}>">
		<input type="hidden" name="<{$fieldName|xoops_escape}>[]" id="<{$fieldName|xoops_escape}>_to" value="<{$dateToValue|xoops_escape}>">
	<{/if}>
<{elseif $viewType eq 'default'}>
	<input type="hidden" name="default_value" value="">
<{/if}>
