<div class="adminnavi">
  <a href="<{$xoops_url}>/admin.php">Dashboard</a>
  &raquo;&raquo; <a href="./index.php"><{$smarty.const._MI_USER_NAME}></a>
  &raquo;&raquo; <span class="adminnaviTitle"><a href="./index.php?action=GroupList"><{$smarty.const._AD_USER_LANG_GROUP_LIST}></a></span>
</div>


<h2 class="admintitle"><{$smarty.const._AD_USER_LANG_GROUP_LIST}></h2>

<div class="ui-dev-mode"><{$smarty.template}></div>

<p><a href="index.php?action=GroupEdit" class="ui-btn"><{$smarty.const._AD_USER_LANG_GROUP_NEW}></a></p>


<table class="outer">
    <thead>
  <tr>
    <th>&nbsp;</th>
    <th><{$smarty.const._AD_USER_LANG_GROUP_GID}>
      <a href="<{$pageNavi->renderUrlForSort()}>&amp;sort=<{$smarty.const.GROUP_SORT_KEY_GROUPID}>"><img src="<{"icons/up.png"|theme}>" alt="<{$smarty.const._ASCENDING}>" title="<{$smarty.const._ASCENDING}>"></a>
      <a href="<{$pageNavi->renderUrlForSort()}>&amp;sort=-<{$smarty.const.GROUP_SORT_KEY_GROUPID}>"><img src="<{"icons/down.png"|theme}>" alt="<{$smarty.const._DESCENDING}>" title="<{$smarty.const._DESCENDING}>"></a></th>
    <th><{$smarty.const._AD_USER_LANG_GROUP_NAME}>
      <a href="<{$pageNavi->renderUrlForSort()}>&amp;sort=<{$smarty.const.GROUP_SORT_KEY_NAME}>"><img src="<{"icons/up.png"|theme}>" alt="<{$smarty.const._ASCENDING}>" title="<{$smarty.const._ASCENDING}>"></a>
      <a href="<{$pageNavi->renderUrlForSort()}>&amp;sort=-<{$smarty.const.GROUP_SORT_KEY_NAME}>"><img src="<{"icons/down.png"|theme}>" alt="<{$smarty.const._DESCENDING}>" title="<{$smarty.const._DESCENDING}>"></a></th>
    <th><{$smarty.const._AD_USER_LANG_GROUP_DESC}>
      <a href="<{$pageNavi->renderUrlForSort()}>&amp;sort=<{$smarty.const.GROUP_SORT_KEY_DESCRIPTION}>"><img src="<{"icons/up.png"|theme}>" alt="<{$smarty.const._ASCENDING}>" title="<{$smarty.const._ASCENDING}>"></a>
      <a href="<{$pageNavi->renderUrlForSort()}>&amp;sort=-<{$smarty.const.GROUP_SORT_KEY_DESCRIPTION}>"><img src="<{"icons/down.png"|theme}>" alt="<{$smarty.const._DESCENDING}>" title="<{$smarty.const._DESCENDING}>"></a></th>
    <th><{$smarty.const._AD_USER_LANG_GROUP_TYPE}>
      <a href="<{$pageNavi->renderUrlForSort()}>&amp;sort=<{$smarty.const.GROUP_SORT_KEY_GROUP_TYPE}>"><img src="<{"icons/up.png"|theme}>" alt="<{$smarty.const._ASCENDING}>" title="<{$smarty.const._ASCENDING}>"></a>
      <a href="<{$pageNavi->renderUrlForSort()}>&amp;sort=-<{$smarty.const.GROUP_SORT_KEY_GROUP_TYPE}>"><img src="<{"icons/down.png"|theme}>" alt="<{$smarty.const._DESCENDING}>" title="<{$smarty.const._DESCENDING}>"></a></th>
    <th><{$smarty.const._AD_USER_LANG_GROUP_AMMO}></th>
    <th><{$smarty.const._AD_USER_LANG_CONTROL}></th>
  </tr>
</thead>
<tbody>
  <{foreach item=group from=$objects}>
    <tr class="<{cycle values='odd,even'}>">
      <td class="user_list_image"><i title="<{$smarty.const._AD_USER_LANG_GROUP}>"><img src="<{"icons/icon-user-group.svg"|theme}>" class="svg"></i></td>
      <td class="user_list_id"><{$group->getShow('groupid')}></td>
      <td class="user_list_title"><{$group->getShow('name')}></td>
      <td class="user_list_description"><{$group->getShow('description')}></td>
      <td class="user_list_type"><{$group->getShow('group_type')}></td>
      <td class="user_list_number"><{$group->getUserCount()|xoops_escape}></td>
      <td class="user_list_control">
        <a href="index.php?action=GroupEdit&amp;groupid=<{$group->getShow('groupid')}>" title="<{$smarty.const._EDIT}>">
          <img src="<{"icons/icon-user-edit.svg"|theme}>" class="svg">
        </a>
        <{if $group->get('groupid') > $smarty.const.XOOPS_GROUP_ANONYMOUS }>
          <a href="index.php?action=GroupDelete&amp;groupid=<{$group->getShow('groupid')}>" title="<{$smarty.const._DELETE}>" class="red">
            <img src="<{"icons/icon-user-delete.svg"|theme}>" class="svg">
          </a>
        <{/if}>
        <a href="index.php?action=GroupProperty&amp;groupid=<{$group->getShow('groupid')}>" title="<{$smarty.const._AD_USER_LANG_GROUP_PROPERTY}>">
          <img src="<{"icons/icon-user-check.svg"|theme}>" class="svg">
        </a>
        <a href="index.php?action=GroupPerm&amp;groupid=<{$group->getShow('groupid')}>" title="<{$smarty.const._AD_USER_LANG_GROUP_PERMISSION}>">
          <img src="<{"icons/icon-user-permission.svg"|theme}>" class="svg">
        </a>
        <a href="index.php?action=GroupMember&amp;groupid=<{$group->getShow('groupid')}>" title="<{$smarty.const._AD_USER_LANG_GROUP_ASSIGN}>">
          <img src="<{"icons/icon-user-assign.svg"|theme}>" class="svg">
        </a>
      </td>
    </tr>
  <{/foreach}>
</tbody>
</table>

<div class="pagenavi"><{xoops_pagenavi pagenavi=$pageNavi}></div>

