<div class="adminnavi">
  <a href="./index.php"><{$smarty.const._MI_USER_NAME}></a>
  &raquo;&raquo; <span class="adminnaviTitle"><a href="./index.php?action=UserList"><{$smarty.const._AD_USER_LANG_USER_LIST}></a></span>
</div>

<{assign var="adminHelp" value="$legacy_module article#help-overview"}>
<{include file="./components/admin-help.html" }>

<{include file="./components/user-overview.html"}>

<{include file="./components/admin-help.html"}>

<h2 class="admintitle"><{$smarty.const._AD_USER_LANG_USER_LIST}></h2>

<div class="ui-dev-mode"><{$smarty.template}></div>

<div class="tips">
    <p><{$smarty.const._AD_USER_TIPS_USER_ADMIN}></p>
    <p><input class="switch" type="checkbox" id="user-search" onclick="slideToggle('.user-search', this)" value="0">
        <label for="user-search"> Display user search</label>
     <input class="switch" type="checkbox" id="user-filter" onclick="slideToggle('.user-filter', this)" value="0">
        <label for="user-filter"> Display user filter</label></p>

        <p>
            <a class="ui-btn ui-btn small" href="index.php?action=UserEdit"><{$smarty.const._AD_USER_LANG_USER_NEW}></a>

            <a class="ui-btn ui-btn small" href="index.php?action=GroupList"><{$smarty.const._AD_USER_LANG_GROUP_LIST}></a>

            <a class="ui-btn ui-btn small" href="<{$smarty.const.XOOPS_URL}>/modules/profile/admin/index.php?action=DefinitionsList">
            <{$smarty.const._AD_USER_LANG_USER_NEW_FIELD}></a>
        </p>
</div>


<{if $actionForm->hasError()}>
<div class="error">
  <ul>
    <{foreach item=message from=$actionForm->getErrorMessages()}>
      <li><{$message|xoops_escape}></li>
    <{/foreach}>
  </ul>
</div>
<{/if}>



<form name="userlistform" method="post" action="./index.php?action=UserList">
  <{xoops_token form=$actionForm}>

    <div class="user-search" style="display: none">
	<{include file="./components/user-search.html"}>
    </div>
    <div class="user-filter" style="display: none">
	<{include file="./components/user-filter.html"}>
    </div>

	<hr>

	<{* ---------- ---------- ---------- ---------- ---------- UI-GRID-BLOCKS *}>
	<div class="ui-grid-blocks">

    <{foreach item=user from=$objects}>

	<{include file="./components/user-card.html"}>

    <{/foreach}>
    </div>
    <{* /ui-grid-blocks *}>

		<div class="foot">
			<input type="submit" value="<{$smarty.const._SUBMIT}>" class="formButton">
		</div>

</form>

<{include file="./components/pagenavi.html"}>

