<div class="adminnavi">
  <a href="./index.php"><{$smarty.const._MI_USER_NAME}></a>
  &raquo;&raquo; <span class="adminnaviTitle"><a href="./index.php?action=UserList"><{$smarty.const._AD_USER_LANG_USER_LIST}></a></span>
</div>


<{ include file="./components/user-overview.html" }>


<h2 class="admintitle"><{$smarty.const._AD_USER_LANG_USER_LIST}></h2>

<div class="ui-dev-mode"><{$smarty.template}></div>

<div class="tips"><{$smarty.const._AD_USER_TIPS_USER_ADMIN}></div>


<{if $actionForm->hasError()}>
<div class="error">
  <ul>
    <{foreach item=message from=$actionForm->getErrorMessages()}>
      <li><{$message|xoops_escape}></li>
    <{/foreach}>
  </ul>
</div>
<{/if}>



<form name="userlistform" method="post" action="./index.php?action=UserList">
  <{xoops_token form=$actionForm}>


	<{ include file="./components/user-search.html" }>

	<{ include file="./components/user-filter.html" }>

	<hr>

	<{* ---------- ---------- ---------- ---------- ---------- UI-GRID-BLOCKS *}>
	<div class="ui-grid-blocks">
  <{foreach item=user from=$objects}>

	<{ include file="./components/user-card.html" }>

  <{/foreach}>
	</div><{* /ui-grid-blocks *}>

		<div class="foot">
			<input type="submit" value="<{$smarty.const._SUBMIT}>" class="formButton">
		<tdiv>

</form>

<{ include file="./components/pagenavi.html" }>

