<{if $xoops_isadmin}>
<div class="nav-sticky">
    <div id="nav-admin">
        <div id="button"><p class="scroll" onclick="location.href='#xclayout';">XCLayout Helper</p></div>
        <div id="button"><p class="scroll" onclick="location.href='#component';">Components Samples</p></div>
        <div id="button"><p class="scroll" onclick="location.href='#template';">Templates</p></div>
        <div id="button"><p class="scroll" onclick="window.open('theme-options.php','theme-options');">Theme Options</p></div>
        <div id="arrow_container">
            <div class="arrow" id="down"></div>
        </div>
    </div>
</div>
<{/if}>

<main>
    <section layout="column sm-p-0 sm-m-0" id="top">

        <!-- Row Header -->
            <div layout="rows-justify mr-0" self="size-x1 mx-0">
                <div self="size-x1 md-half sm-full">
                    <a href="<{$xoops_url}>/">
                        <img src="<{$xoops_url}>/images/logo.png" alt="<{$xoops_sitename}>" title="<{$xoops_sitename}> - <{$xoops_slogan}>">
                    </a>
                </div>
                <div self="right mr-0 md-half sm-full">
                    <{if $xoops_banner and $xoops_banner!=""}>
                    <{$xoops_banner}>
                    <{/if}>
                    <form action="<{$xoops_url}>/search.php" method="get" class="search" role="search">
                    <!-- Label and button -->
                    <label><input type="search" name="query" class="headerSearchField"></label>
                    <input type="hidden" name="action" value="results">
                    <button name="submit" type="submit" value="search" accesskey="F">Search</button>
                    </form>
                </div>
            </div>

        <!-- Row Content -->
        <div layout="lg-column" self="size-x1">

            <{if $xoops_showlblock==1}>
            <div self="size-x1 p-4 sm-p-0">
                <{include file="$xoops_theme/component/block_left.html"}>
            </div>
            <{/if}>


            <div self="size-x3 sm-first p-4 sm-p-0" data-tooltip="(first on small screen)">
            <{if !empty($xoops_contents)}>
            <div class="content"><{$xoops_contents}></div>
                <{else}>
                <{include file="$xoops_theme/component/front_page.html"}>
                <{/if}>
            </div>




            <{if $xoops_showrblock==1}>
            <div self="size-x1 p-4 sm-p-0">
                <{include file="$xoops_theme/component/block_right.html"}>
            </div>
            <{/if}>
        </div>

        <{if $xoops_showcblock==1}>

        <section class="full-width">

            <div layout="row center md-column sm-column m-0 p-0" self="center size-xlarge">

                <{if $xoops_clblocks}>
                <div self="size-x1 sm-first">
                    <{include file="$xoops_theme/component/block_center_left.html"}>
                </div>
                <{/if}>

                <{if $xoops_ccblocks}>
                <div self="size-x1 sm-full" data-tooltip="(first on small screen)">
                    <{include file="$xoops_theme/component/block_center_center.html"}>
                </div>
                <{/if}>

                <{if $xoops_crblocks}>
                <div self="size-x1 sm-full">
                    <{include file="$xoops_theme/component/block_center_right.html"}>
                </div>
                <{/if}>

            </div>

        </section>
        <{/if}>


        <div layout="rows-justify">

            <div self="sm-full">
                <{include file="$xoops_theme/component/footer_credits.html"}>
            </div>

            <div self="right sm-full">
                <a id="navtop" aria-label="Scroll to Top"></a>
            </div>

            <div self="sm-full">
                <{include file="$xoops_theme/component/footer_links.html"}>
            </div>

        </div>

    </section>
</main>
