<{* Dev-Mode Toggle *}>
<div class="ui-dev-mode"><{$smarty.template}></div>


    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="<{$xoops_url}>/">
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-house mr-2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M2 13.5V7h1v6.5a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5V7h1v6.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5zm11-11V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>
                    <path fill-rule="evenodd" d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z"/>
                </svg></a></li>
            <li class="breadcrumb-item"><{$smarty.const._MD_USER_LANG_PROFILE}></li>
            <li class="breadcrumb-item active" aria-current="page"><{$smarty.const._MD_USER_LANG_ALLABOUT|replace:"%s":$thisUser->getShow('uname')}></li>
        </ol>
    </nav>


<h4 class="block-title"><{$smarty.const._MD_USER_LANG_ALLABOUT|replace:"%s":$thisUser->getShow('uname')}></h4>

<div class="grid-x grid-margin-x">


    <div class="cell medium-6 large-4">

    <{* ------- User profile column with user-data *}>

    <{ include file="$xoops_theme/templates/user/inc_user_nav_left.html" }>

    <{* ------- /user-data column *}>

    </div>



    <{* ------- User profile column with tabs *}>
    <div class="cell medium-6 large-8">

        <div class="card">

            <{* ------- Nav Tabs *}>

            <{ include file="$xoops_theme/templates/user/inc_user_nav_tabs.html" }>

            <{* ------- /Nav Tabs *}>


            <{* ------- User profile tab-panel *}>
            <div class="tab-content">


                <{* ------- Tab-panel User Home *}>
                <{ include file="$xoops_theme/templates/user/inc_user_tab_home.html" }>
                <{* ------- /Tab-panel User Home *}>


                <{* ------- Tab Profile *}>
                <{ include file="$xoops_theme/templates/user/inc_user_tab_profile.html" }>
                <{* ------- /Tab-panel Profile *}>



                <{* ------- Tab Settings *}>
                <{* include file="$xoops_theme/templates/user/inc_user_tab_settings.html" *}>
                <{* ------- /Tab Settings *}>


            </div>
            <{* ------- /tab-content *}>


        </div><{* ------- /card *}>

    </div><{* ------- /Cell *}>



</div><{* ------- /grid-x *}>

