<{* Dev-Mode Toggle *}>
<div class="ui-dev-mode"><{$smarty.template}></div>


    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="<{$xoops_url}>/">
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-house mr-2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M2 13.5V7h1v6.5a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5V7h1v6.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5zm11-11V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>
                    <path fill-rule="evenodd" d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z"/>
                </svg></a></li>
            <li class="breadcrumb-item"><a href="<{$xoops_url}>/userinfo.php?uid=<{$actionForm->get('uid')|xoops_escape}>"><{$smarty.const._MD_USER_LANG_PROFILE}></a></li>
            <li class="breadcrumb-item active" aria-current="page"><{$smarty.const._MD_USER_LANG_EDITPROFILE}></li>
        </ol>
    </nav>


<h4 class="block-title"><{$smarty.const._MD_USER_LANG_EDITPROFILE}></h4>


    <{if $actionForm->hasError()}>
    <div class="errorMsg">
      <ul>
        <{foreach item=message from=$actionForm->getErrorMessages()}>
          <li><{$message}></li>
        <{/foreach}>
      </ul>
    </div>
    <{/if}>


<div class="row">


    <{* ------- User profile column with user-data *}>

    <{ include file="$xoops_theme/templates/user/inc_user_nav_left.html" }>

    <{* ------- /user-data column *}>


    <{* ------- User profile column with tabs *}>
    <divs class="col-lg-8 col-md-7">

        <div class="card">


            <{* ------- Nav Tabs *}>

            <ul class="nav nav-tabs edit-tab" role="tablist">

                <li class="nav-item">
                    <a class="nav-link" href="<{$xoops_url}>/userinfo.php">Profile</a>

                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#edituser" role="tab">
                        <svg class="pencil" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M11.293 1.293a1 1 0 0 1 1.414 0l2 2a1 1 0 0 1 0 1.414l-9 9a1 1 0 0 1-.39.242l-3 1a1 1 0 0 1-1.266-1.265l1-3a1 1 0 0 1 .242-.391l9-9zM12 2l2 2-9 9-3 1 1-3 9-9z"/>
                            <path fill-rule="evenodd" d="M12.146 6.354l-2.5-2.5.708-.708 2.5 2.5-.707.708zM3 10v.5a.5.5 0 0 0 .5.5H4v.5a.5.5 0 0 0 .5.5H5v.5a.5.5 0 0 0 .5.5H6v-1.5a.5.5 0 0 0-.5-.5H5v-.5a.5.5 0 0 0-.5-.5H3z"/>
                        </svg> <{$smarty.const._MD_USER_LANG_EDITPROFILE}></a>

                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#userpref" role="tab">userpref</a>

                <li class="nav-item">
                    <a class="nav-link" href="<{$xoops_url}>/notifications.php">
                        <svg class="bell" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2z"/>
                            <path fill-rule="evenodd" d="M8 1.918l-.797.161A4.002 4.002 0 0 0 4 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4.002 4.002 0 0 0-3.203-3.92L8 1.917zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0A5.002 5.002 0 0 1 13 6c0 .88.32 4.2 1.22 6z"/>
                        </svg> <{$smarty.const._MD_USER_LANG_NOTIFY}></a>


                <{if $user_ownpage == true && $enableSelfDelete == true && $xoops_isadmin == false}>
                <li class="nav-item">
                    <a class="nav-link text-danger" href="<{$xoops_url}>/user.php?op=delete" title="<{$smarty.const._MD_USER_LANG_DELACCOUNT}>">
                        <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="user-x">
                            <path d="M16 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"/><circle cx="8.5" cy="7" r="4"/><line x1="18" y1="8" x2="23" y2="13"/><line x1="23" y1="8" x2="18" y2="13"/>
                        </svg></a>

                <{elseif $xoops_isadmin == true}>
                <li class="nav-item">
                    <a class="nav-link text-danger" href="<{$xoops_url}>/modules/user/admin/index.php?action=UserDelete&amp;uid=<{$thisUser->getShow('uid')}>"  title="<{$smarty.const._MD_USER_LANG_DELACCOUNT}>">
                        <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="user-x">
                            <path d="M16 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"/><circle cx="8.5" cy="7" r="4"/><line x1="18" y1="8" x2="23" y2="13"/><line x1="23" y1="8" x2="18" y2="13"/>
                        </svg></a>

                <{/if}>

            </ul>

            <{* ------- /Nav Tabs *}>

            <form action="#" method="post" autocomplete="off">
                <{xoops_token form=$actionForm}>
                <{xoops_input name=uid type=hidden value=$actionForm->get('uid')}>


            <{* ------- User Edit Profile and Preferences *}>
            <div class="tab-content">

                <{* ------- Tab-panel User Edit *}>
                <{ include file="$xoops_theme/templates/user/inc_user_tab_edit.html" }>

                <{* ------- Tab-panel User Preferences *}>
                <{ include file="$xoops_theme/templates/user/inc_user_tab_pref.html" }>



            </div>
            <{* ------- /tab-content *}>


            </form>



        </div><{* ------- /card *}>

    </divs><{* ------- /Columns *}>

</div><{* ------- /Row *}>
